#scene ul{
    margin-top:0.2rem;
}
.scene_list{
    width:100%;
    height:4.16rem;
    overflow: hidden;
    position: relative;
}
.scene_img{
    width:7.5rem;
    height:4.16rem;
    border-bottom:1px solid #fff;
}
.scene_list .mark{
    position:absolute;
    width:100%;
    height:0.5rem;
    bottom:0.25rem;
    border:1px solid red;
    display: -webkit-flex;
}