<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>积分商城</title>
		<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>"/>
		<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/app/score/mall.css?v=<?php echo time(); ?>"/>
	</head>
	<body>
		<header>
			<img src="/views/mobile/skin/default/image/jmj/score/logo.png"/>
		</header>
		<section>
			<div id="top">
				<ul>
					<li>
						<img src="/views/mobile/skin/default/image/jmj/score/pic1.png" style="width: 0.4rem;height: 0.38rem;"/>
						<p>400积分</p>
					</li>
					<li>
						<img src="/views/mobile/skin/default/image/jmj/score/pic2.png" style="width: 0.37rem;height: 0.39rem;"/>
						<p>400积分</p>
					</li>
				</ul>
				<div id="xian">
					
				</div>
			</div>
			<div id="bottom">
				<img src="/views/mobile/skin/default/image/jmj/score/pic3.png"/>
			</div>
			<footer>
				<ul>
					<li>
						<img class="shop" src="/views/mobile/skin/default/image/jmj/score/pic4.png"/>
						<p class="p1">资生堂洗发水资生堂洗发水资生堂洗发水资生堂洗发水120ml</p>
						<p class="p2">
							<img src="/views/mobile/skin/default/image/jmj/score/pic5.png"/>
							<span>4000</span>
						</p>
						<p class="p3">还剩<span>13</span>件</p>
					</li>
					<li>
						<img class="shop" src="/views/mobile/skin/default/image/jmj/score/pic4.png"/>
						<p class="p1">资生堂洗发水资生堂洗发水资生堂洗发水资生堂洗发水120ml</p>
						<p class="p2">
							<img src="/views/mobile/skin/default/image/jmj/score/pic5.png"/>
							<span>4000</span>
						</p>
						<p class="p3">还剩<span>13</span>件</p>
					</li>
					<li>
						<img class="shop" src="/views/mobile/skin/default/image/jmj/score/pic4.png"/>
						<p class="p1">资生堂洗发水资生堂洗发水资生堂洗发水资生堂洗发水120ml</p>
						<p class="p2">
							<img src="/views/mobile/skin/default/image/jmj/score/pic5.png"/>
							<span>4000</span>
						</p>
						<p class="p3">还剩<span>13</span>件</p>
					</li>
					<li>
						<img class="shop" src="/views/mobile/skin/default/image/jmj/score/pic4.png"/>
						<p class="p1">资生堂洗发水资生堂洗发水资生堂洗发水资生堂洗发水120ml</p>
						<p class="p2">
							<img src="/views/mobile/skin/default/image/jmj/score/pic5.png"/>
							<span>4000</span>
						</p>
						<p class="p3">还剩<span>13</span>件</p>
					</li>
					<li>
						<img class="shop" src="/views/mobile/skin/default/image/jmj/score/pic4.png"/>
						<p class="p1">资生堂洗发水资生堂洗发水资生堂洗发水资生堂洗发水120ml</p>
						<p class="p2">
							<img src="/views/mobile/skin/default/image/jmj/score/pic5.png"/>
							<span>4000</span>
						</p>
						<p class="p3">还剩<span>13</span>件</p>
					</li>
					<li>
						<img class="shop" src="/views/mobile/skin/default/image/jmj/score/pic4.png"/>
						<p class="p1">资生堂洗发水资生堂洗发水资生堂洗发水资生堂洗发水120ml</p>
						<p class="p2">
							<img src="/views/mobile/skin/default/image/jmj/score/pic5.png"/>
							<span>4000</span>
						</p>
						<p class="p3">还剩<span>13</span>件</p>
					</li>
					<li>
						<img class="shop" src="/views/mobile/skin/default/image/jmj/score/pic4.png"/>
						<p class="p1">资生堂洗发水资生堂洗发水资生堂洗发水资生堂洗发水120ml</p>
						<p class="p2">
							<img src="/views/mobile/skin/default/image/jmj/score/pic5.png"/>
							<span>4000</span>
						</p>
						<p class="p3">还剩<span>13</span>件</p>
					</li>
				</ul>
			</footer>
		</section>
	</body>
</html>
