<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的积分</title>
    <link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>"/>
	<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/app/score/my_points.css?v=<?php echo time(); ?>"/>
</head>
<body>
	<div id="top">
		<p id="soure">400</p>
		<span>积分</span>
	</div>
	<div id="main">
		<ul>
			<li><a href="/score/obtain">
				<img src="/views/mobile/skin/default/image/jmj/score/pic9copy.png" style="width: 0.37rem;height: 0.39rem;"/>
				<span>如何获取积分</span>
			</a></li>
			<li><a href="">
				<img src="/views/mobile/skin/default/image/jmj/score/pic10.png" style="width: 0.43rem;height: 0.39rem;"/>
				<span>积分兑换好礼</span>
			</a></li>
			<li class="li_bg"><a href="/score/record">
				<img src="/views/mobile/skin/default/image/jmj/score/pic11.png" style="width: 0.30rem;height: 0.45rem;"/>
				<span>我的积分明细</span>
			</a></li>
			<li class="li_bg"><a href="/score/rule">
				<img src="/views/mobile/skin/default/image/jmj/score/pic12.png" style="width: 0.35rem;height: 0.38rem;"/>
				<span>积分规则说明</span>
			</a></li>
		</ul>
	</div>
	<footer>
		<img src="/views/mobile/skin/default/image/jmj/score/07.png" style="width: 6.9rem;height: 2.21rem;"/>
	</footer>
</body>
</html>