<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>如何获取积分</title>
    <link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>"/>
	<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/app/score/obtain.css?v=<?php echo time(); ?>"/>
</head>
<body>
	<section>
		<p class="qiandao">1、签到</p>
		<span class="span1 " style="height: 1.39rem;">在九猫家签到，签到1天分别得3分，连续签到2天得2分，连续签到3天及以上可得3分，如果连续签到中断则从头开始。</span>
		<p>2、购物领积分</p>
		<span style="height: 0.48rem;">在九猫家购买产品，最终成交金额折算积分。</span>
		<p style="margin-top: 0.42rem;">3、完善信息</p>
		<span style="height: 0.48rem;">完善身份证信息领取50积分。</span>
		<p style="margin-top: 0.64rem;">4，分享领积分</p>
		<span>任何页面分享给朋友领取50积分</span>
	</section>
</body>
</html>