<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>积分明细</title>
	<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>"/>
	<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/app/score/record.css?v=<?php echo time(); ?>"/
</head>
<body>
	<header>
		<img src="/views/mobile/skin/default/image/jmj/score/logo.png" style="width: 100%;"/>
	</header>
	<div id="jifen">
		当前可用积分<span>400</span>
	</div>
	<div id="mingxi">
		<div id="q">
			<div class="shouru">
				<p class="active">收入明细<span class="active1"></span></p>
			</div>
			<div class="zhichu">
				<p>支出明细<span></span></p>
			</div>
		</div>
		<ul>
			<li>
				<div class="left">
					<p class="xin">新用户注册</p>
					<p class="time"><span>2016-10-10</span> <span>06:12:52</span></p>
				</div>
				<div class="right">
					<p>+<span>400</span>积分</p>
				</div>
			</li>
			<li>
				<div class="left">
					<p class="xin">新用户注册</p>
					<p class="time"><span>2016-10-10</span> <span>06:12:52</span></p>
				</div>
				<div class="right">
					<p>+<span>400</span>积分</p>
				</div>
			</li>
		</ul>
	</div>
	<script src="" type="text/javascript" charset="utf-8"></script>
</body>
</html>