<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>积分规则说明</title>
    <link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>"/>
	<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/app/score/rule.css?v=<?php echo time(); ?>"/>
</head>
<body>
	<div id="top" style="background: #fff;">
		<section>
			<p>积分介绍</p>
			<span>积分是您在九猫家，进行签到、分享等操作时获得的通用积分，拥有积分后您不仅可以在积分商城参与幸运抽奖、积分换购等活动换取礼品，还可以使用积分抵扣金额。</span>
		</section>
		<footer>
			<p style="margin-top: 0.65rem;margin-bottom: 0.1rem; height: 0.32rem;">1、积分使用</p>
			<span style="height: 0.48rem;display: block;">不同活动有不同的积分消耗</span>
			<p style="margin-top: 0.27rem;height: 0.32rem;margin-bottom:0.14rem ;">2、积分换购</p>
			<span style="height: 0.48rem;display: block;">不同活动有不同的积分消耗</span>
			<p style="margin-top: 0.32rem;height: 0.32rem;margin-bottom:0.1rem ;">3、积分抵现</p>
			<span style="height: 0.47rem;display: block;">不同活动有不同的积分消耗</span>
			<p style="margin-top: 0.43rem;height: 0.32rem;margin-bottom:0.15rem ;">4、积分有效期</p>
			<span style="height: 0.78rem;display: block;">即日起积分的有效期将调整为每一年过期一次，即：每年1月1日-12月31日的积分，当年的12月31日过期；</span>
			<p style="margin-top: 0.38rem;height: 0.32rem;margin-bottom:0.14rem ;">5、积分查询</p>
			<span style="height: 1.01rem;display: block;">您可以在个人中心—我的积分中查看当前积分以及积分历史数据</span>
		</footer>
	</div>
	<div id="bottom" style="padding-top:0.3rem ;padding-left:0.28rem ;">
		<p>免责声明</p>
		<span>本积分规则由九猫家指定并保留所有解释权与修改权</span>
	</div>
</body>
</html>