{js:my97date}

<div class="headbar">
    <div class="position"><span>接口管理</span><span>></span><span>接口列表</span><span>></span><span>编辑</span></div>
</div>
<div class="content_box">
    <div class="content form_content">
        <form action="{url:/tools/api_edit}" method="post" name='api_update'>
            <input type='hidden' name='id' value="{echo:IReq::get('id')}"/>
            <table class="form_table">
                <col width="150px"/>
                <col/>
                <tr>
                    <th>接口路径：</th>
                    <td >
                        <label class='attr'>
                            <input name='url' type='text' value="{$data['url']}" class="normal" />
                        </label>
                    </td>
                </tr>
                <tr>
                    <th>接口名称：</th>
                    <td>
                        <label class='attr'>
                            <input name='name' type='text' value="{$data['name']}" class="normal" />
                        </label>
                    </td>
                </tr>

                <tr>
                    <th>作者：</th>
                    <td>
                        <label class='attr'>
                            <input name='author' type='text' value="{$data['author']}" class="normal" />
                        </label>
                    </td>
                </tr>

                <tr>
                    <th>返回参数说明：</th>
                    <td>
                        <label class='attr'>
                            <textarea name="parames_back" style="height:200px;resize:none;">{$data['parames_back']}</textarea>
                        </label>
                    </td>
                </tr>


                <tr>
                    <th>初始化：</th>
                    <td>
                        <label class='attr'>
                            <input name='isinit' type='checkbox' value="1" />
                        </label>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <button class="submit" type='button' onclick="page.update(this);"><span>确 定</span></button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


<script type='text/javascript'>

window.onload = function(){
    page.init();
};

var page = {
    loading     : false,
    //初始化
    init        : function(){
    },
    //更新
    update      : function (obj) {
        if(page.loading==true) return false;
        page.loading=true;
        var thisForm 	= $('form[name="api_update"]');
        $.post(thisForm.attr("action"),thisForm.serialize(),function(data,status){
            if(status=='success'){
                console.log(data);
                if(data.code==0){
                    _inform('操作成功',function () {
                        window.location.href="{url:/tools/api_list}";
                    });
                }
                _inform('操作失败');
            }
			page.loading = false;
        },'json');
    }
};

</script>