<div class="headbar">
	<div class="position"><span>工具</span><span>></span><span>专辑管理</span><span>></span><span>专辑列表</span></div>
	<div class="operating">
		<a href="javascript:void(0)" onclick="event_link('{url:/tools/article_edit}')"><button class="operating_btn" type="button"><span class="addition">添加专辑</span></button></a>
		<a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<a href="javascript:void(0)" onclick="delModel();"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a>
	</div>
	<div class="searchbar">
		<form action="{url:/tools/article_list}" method="post" name="searchListForm">
			<input class="small" name="article_title" type="text" value="<?php echo IFilter::act(IReq::get('article_title'),'string')?>">
			<select class="auto" name="type" >
				<option value="0" selected>全部</option>
				{query: name=article_category order=path}
					<option value="{$item['id']}" <?php if((isset($_POST['type']) && $_POST['type'] == $item['id']) || (ISession::get('article_list_type') == $item['id']) ) echo 'selected'; ?> >{$item['name']}</option>
				{/query}
			</select>

			<!--<input name="word" type="hidden" value="{$this->keyword}">-->
			<!--<button class="submit" type="submit" onclick="return checkForm()"><span>查询</span></button>-->
			<button class="btn" type="submit"><span class="sel">查  询</span></button>
			<?php
			$query = new IQuery("article as ar");
			$nums = count($query->find());
			echo "共计 " . $nums . " 条专辑";
			?>
		</form>
	</div>
</div>
<div class="content">
	<form action="{url:/tools/article_del}" method="post" name="article">
		<table class="list_table">
			<colgroup>
				<col width="40px" />
				<col width="250px" />
				<col width="100px" />
				<col width="150px" />
				<col width="60px" />
				<col width="60px" />
				<col width="60px" />
				<col width="110px" />
			</colgroup>

			<thead>
				<tr>
					<th>选择</th>
					<th>标题</th>
					<th>专辑分类</th>
					<th>发布时间</th>
					<th>展示</th>
					<th>首页推荐</th>
					<th>排序</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				<?php
				$query = new IQuery("article as ar");
				$query->page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;
				$query->join = "left join article_category as ac on ac.id = ar.category_id";
				$a = IFilter::act(IReq::get('article_title'),'string');
				if(!empty($a)){
					ISession::set('article_list_a', $a);
					$where = "ar.title like '%".$a."%'";
				} else {
					$where = '';
				}
				$type = IFilter::act(IReq::get('type'),'int');
				if(!empty($type)) {
					ISession::set('article_list_type', $type);
					if(!empty($where)){
						$where .= " and ar.category_id=".$type;
					} else {
						$where .= "ar.category_id=".$type;
					}
				}
				if($_POST){ISession::set('where',$where);}
				if(isset($_GET['page']) && $_GET['page'] > 0){
						if(!empty(ISession::get('where'))){
							$where = ISession::get('where');
						}
				}
				$query->where = $where;
				$query->order = "ar.sort desc,ar.id desc";
				$query->fields = "ar.id,ar.title,ar.create_time,ar.top,ar.style,ar.color,ar.sort,ar.visibility,ac.name";
				$items = $query->find();
				foreach($items as $key => $item){?>
				<tr>
					<td><input type="checkbox" name="id[]" value="{$item['id']}" /></td>
					<td><a href='{url:/tools/article_edit/id/$item[id]}'>{echo:Article::showTitle($item['title'],$item['color'],$item['style'])}</a></td>
					<td>{$item['name']}</td>
					<td>{$item['create_time']}</td>
					<td>{echo:($item['visibility']==1) ? '是':'否'}</td>
					<td>{echo:($item['top']==1) ? '是':'否'}</td>
					<td>{$item['sort']}</td>
					<td>
						<a href='{url:/tools/article_edit/id/$item[id]}'><img class="operator" src="{skin:images/admin/icon_edit.gif}" alt="编辑" title="编辑" /></a>
						<a target="_blank" href='{url:/site/article_detail/id/$item[id]}'><img class="operator" src="{skin:images/admin/icon_check.gif}" alt="查看" title="查看" /></a>
						<a href='javascript:void(0)' onclick="delModel({link:'{url:/tools/article_del/id/$item[id]}'});"><img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" title="删除" /></a>
					</td>
				</tr>
				<?php } ?>
			</tbody>
		</table>
	</form>
	<?php echo $query->getPageBar();?>
</div>
