{js:my97date}

<div class="headbar">
    <div class="position"><span>视频管理</span><span>></span><span>视频列表</span><span>></span><span>添加</span></div>
</div>
<div class="content_box">
    <div class="content form_content">
        <form action="{url:/tools/video_add}" method="post" name='video_update'>
            <table class="form_table">
                <col width="150px"/>
                <col/>
                <tr>
                    <th>标题：</th>
                    <td >
                        <label class='attr'>
                            <input name='title' type='text' value="" class="normal" />
                        </label>
                    </td>
                </tr>

                <tr>
                    <th>内容：</th>
                    <td>
                        <label class='attr'>
                            <input name='content' type='text' value="" class="normal" />
                        </label>
                    </td>
                </tr>

                <tr>
                    <th>视频地址：</th>
                    <td>
                        <label class='attr'>
                            <input name='url' type='text' value="" class="normal" />
                        </label>
                    </td>
                </tr>

                <tr>
                    <th>分类：</th>
                    <td>
                        <label class='attr'>
                            <select name="cat_id">
                                {query: name=video_category order=sort desc where=status eq 1}
                                <option value="{$item['id']}">{$item['name']}
                                {/query}
                            </select>
                        </label>
                    </td>
                </tr>

                <tr>
                    <th>排序：</th>
                    <td>
                        <label class='attr'>
                            <input name='sort' type='text' value="0" class="small" />
                        </label>
                    </td>
                </tr>

                <tr>
                    <th>状态：</th>
                    <td>
                        <label class='attr'>
                            <input name='status' type='radio' value="0" />禁用
                            <input name='status' type='radio' value="1" />启用
                        </label>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <button class="submit" type='button' onclick="page.update(this);"><span>确 定</span></button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


<script type='text/javascript'>

window.onload = function(){
    page.init();
};

var page = {
    loading     : false,
    //初始化
    init        : function(){
    },
    //更新
    update      : function (obj) {
        if(page.loading==true) return false;
        page.loading=true;
        var thisForm 	= $('form[name="video_update"]');
        $.post(thisForm.attr("action"),thisForm.serialize(),function(data,status){
            if(status=='success'){
                console.log(data);
                if(data.code==0){
                    _inform('操作成功',function () {
                        window.location.href="{url:/tools/video_list}";
                    });
                }
                _inform('操作失败');
            }
			page.loading = false;
        },'json');
    }
};

</script>