<div class="fl wfs bcf7">
<div class="wrapper clearfix">
	<div class="wrap_box">
        <div class="box" style="border: 1px solid #EAEAEA;padding: 20px;">
            <h3 class="notice" style="font-size: 18px;">密码重置</h3>
			<form action='{$this->formAction}' method='post'>
				<table class="form_table" cellpadding="0" cellspacing="0">
					<col width="200px" />
					<col />
					<tr>
						<th><span class="red">*</span>你想要的新密码：</th><td><input type='password' class="hl_input1" name="password" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' /><label>密码由英文字母、数字组成，长度6-32位</label></td>
					</tr>
					<tr>
						<th><span class="red">*</span>请再次输入新密码：</th><td><input type='password' class="hl_input1" name="repassword" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' bind='password' /><label>密码由英文字母、数字组成，长度6-32位</label></td>
					</tr>
					<tr>
						<td></td><td><label class="btn_gray"><input type="submit" style="color: #fff" value="修改密码" /></label><label class="btn_gray"><input type="reset" style="color: #fff"  value="取消" /></label></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
</div>