{set:$page = isset($_GET['page'])?intval($_GET['page']):1;}
{set:$catId = IFilter::act(IReq::get('id'),'int');$catRow = array();}
{set:$catRow = Api::run('getArticleCategoryInfo',$catId)}

{if:$catRow}
{set:$queryArticle = Api::run('getArticleListByCatid',$catRow['id'])}

{else:}
{set:$queryArticle = Api::run('getArticleList')}
{/if}
<div class="place fz12 wrapper" style="padding-left:0px;">
    您现在的位置：<a href="{url:}"> 首页</a> <code>&gt;</code>  {if:$catRow}{$catRow['name']}{else:}最新资讯{/if}
 </div>
<div class="wrapper clearfix container_2">
	<div class="sidebar f_l">
		
	<div class="help_c sidebar f_l box m_10">
	<div class="hc_title"><strong>资讯分类</strong></div>
		<ul class="list m_10">
			{foreach:items=Api::run('getArticleCategoryList',10)}
			<li><a title="{$item['name']}" href="{url:/site/article/id/$item[id]}">{$item['name']}</a></li>
			{/foreach}
		</ul>
	</div>
			
		<div class="clear"></div>
		<div class="box m_10 ">
			<div class="title">热卖商品</div>
			<div class="content">
				<ul class="ranklist">
					{foreach:items=Api::run('getCommendHot',5)}
					<li class='current'><a href="{url:/site/products/id/$item[id]}"><img src="{url:/pic/thumb/img/$item[img]/w/200/h/200}" width="200px" height="200px" alt="{$item['name']}" /></a><a title="{$item['name']}"  href="{url:/site/products/id/$item[id]}">{$item['name']}</a><b>￥{$item['sell_price']}</b></li>
					{/foreach}
				</ul>
			</div>
		</div>

	</div>
	<div class="main f_r">
		<div class="box m_10">
			<div class="title2" style="background:#fff;">{if:$catRow}{$catRow['name']}{else:}最新资讯{/if}</div>
			<div class="cont">
				<ul class="newslist">
				    {foreach:items = $queryArticle->find()}
					<li><a href="{url:/site/article_detail/id/$item[id]}">{$item['title']}</a><span>({$item['create_time']})</span></li>
					{/foreach}
				</ul>
				{$queryArticle->getPageBar()}
			</div>
		</div>
	</div>
</div>