<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>双十二折扣聚惠</title>
		<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>"/>
		<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/app/cosme/activity_goods_list.css?v=<?php echo time(); ?>"/>
	</head>
	<style type="text/css">
	</style>
	<body>
	<div id="activeInfo" v-cloak>
		<div id="top">
			<img src="/views/mobile/skin/default/image/jmj/active_goods_list/toplogo.png"/>
		</div>
		<div id="logo">
			<div class="logo1">
				<a href="#"><img src="/views/mobile/skin/default/image/jmj/active_goods_list/snackArea.png"/></a>
				<a href="#"><img src="/views/mobile/skin/default/image/jmj/active_goods_list/drugstoreArea.png"/></a>
				<a href="#"><img src="/views/mobile/skin/default/image/jmj/active_goods_list/protectionZone.png"/></a>
				<a href="#"><img src="/views/mobile/skin/default/image/jmj/active_goods_list/petArea.png"/></a>
				<a href="#"><img src="/views/mobile/skin/default/image/jmj/active_goods_list/petArea.png"/></a>	
			</div>
			<h1><img src="/views/mobile/skin/default/image/jmj/active_goods_list/title.png"/></h1>
			<div class="logo2">
				<img src="/views/mobile/skin/default/image/jmj/active_goods_list/zhuan.png"/>
				<div class="div1"></div>
				<div class="div2"></div>
				<div class="div3"></div>
				<div class="div4"></div>
			</div>
		</div>
		<div id="shop_list">
			<div id="list">
				<ul>
					<li v-for="item in newData">
						<a :href="item.url">
						<div class="img"><img :src="item.img"/></div>
						<p>{{item.name}}</p>
						<span class="xian">现价:￥<t class="pirce1">{{item.sell_price}}</t></span>
						<span class="yuanjia">原价:<s>￥<t class="pirce2">{{item.original_price}}</t></s></span>
						<i><img src="/views/mobile/skin/default/image/jmj/active_goods_list/num.png"/></i>
					</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
		<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
		<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
		<script>
			var stop=true;
			var vm=new Vue({
				el:"#activeInfo",
				data: {
					page:1,
					info:[],

				},
				computed:{
					newData: function(){
						this.info.map(function(item){
							item.url="/site/products?id="+item.id;
						})
						return this.info;
					}
				},
				mounted: function(){
					var self=this;
					getActiveInfo(self);
				}
			})
			function getActiveInfo(self){
					mui.ajax('/apic/activity_goods_list',{
						data:{
							page:self.page,
							cid:'',
							bid:''
						},
						dataType:'json',//服务器返回json格式数据
						type:'get',//HTTP请求类型
						timeout:10000,//超时时间设置为10秒；
						success:function(data){

							for(var i=0;i<data.data.length;i++){
								self.info.push(data.data[i])
							}
							if(data.data==''){
								stop=fasle;
							}else{
								self.page++;
								stop=true;
							}
						}
					});
			}
			//上拉加载
			$(window).bind('scroll', function() {
				if ($(window).scrollTop() + $(window).height() +1000 >= $(document).height() && $(window).scrollTop() > 50) {
					if(stop==true){
						stop=false;
						getActiveInfo(vm);
					}
				}
			});
		</script>
	</body>
</html>
