<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>双十二折扣聚惠</title>
		<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>"/>
		<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/app/cosme/activity_goods_list.css?v=<?php echo time(); ?>"/>
	</head>
	<style type="text/css">
	</style>
	<body>
		<div id="top">
			<img src="/views/mobile/skin/default/image/jmj/active_goods_list/toplogo.png"/>
		</div>
		<div id="logo">
			<div class="logo1">
				<a href="#"><img src="/views/mobile/skin/default/image/jmj/active_goods_list/snackArea.png"/></a>
				<a href="#"><img src="/views/mobile/skin/default/image/jmj/active_goods_list/drugstoreArea.png"/></a>
				<a href="#"><img src="/views/mobile/skin/default/image/jmj/active_goods_list/protectionZone.png"/></a>
				<a href="#"><img src="/views/mobile/skin/default/image/jmj/active_goods_list/petArea.png"/></a>
				<a href="#"><img src="/views/mobile/skin/default/image/jmj/active_goods_list/petArea.png"/></a>	
			</div>
			<h1><img src="/views/mobile/skin/default/image/jmj/active_goods_list/title.png"/></h1>
			<div class="logo2">
				<img src="/views/mobile/skin/default/image/jmj/active_goods_list/zhuan.png"/>
				<div class="div1"></div>
				<div class="div2"></div>
				<div class="div3"></div>
				<div class="div4"></div>
			</div>
		</div>
		<div id="shop_list">
			<div id="list">
				<ul>
					<li><a href="#">
						<div><img src=""/></div>
						<p>大放送大放送</p>
						<span class="xian">阿达:$<t class="pirce1">111</t></span>
						<span class="yuanjia">原价:<s>$<t class="pirce2">10.5</t></s></span>
						<i><img src="/views/mobile/skin/default/image/jmj/active_goods_list/eight.png"/></i>
					</a></li>
					<li><a href="#">
						<div><img src=""/></div>
						<p>大放送大放送少时诵诗书所所所所所所所所</p>
						<span class="xian">阿达:$<t class="pirce1">111</t></span>
						<span class="yuanjia">原价:<s>$<t class="pirce2">10.5</t></s></span>
						<i><img src="/views/mobile/skin/default/image/jmj/active_goods_list/eight.png"/></i>
					</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
