<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-orientation" content="portrait">
    <title></title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/articleList.css?v=<?php echo time(); ?>" />
</head>
<body>
<!--vue容器-->
<div id="articleList">
    <template >
        <section class="recommended line albumn_index" v-for="(item,key) in new_data" :style="key==0?style.firstArticle:style.ortherArticle">
            <div class="title">
                <span class="logo">
	                <img :src="item.icon" alt="" class="img-hot">
	            </span>
                <span class="name">
		            {{item.category_name}}
		        </span>
                <span class="num mui-pull-right favorite<%=dat.id %>">
	            	{{item.favorite_num}}
	            </span>
                <span class="like mui-pull-right">
	                <img :src="item.is_favorite==0?img1:img2"  alt="" class="img-like" @click="collection(item)" />
	            </span>
            </div>
            <a href="#" @click="store(item)" :id="item.product_id">
                <div class="content">
                    <div class="img">
                        <img :dataimg="item.image" alt="" width="100%" style="height:3.8rem;" src="/views/mobile/skin/default/image/jmj/icon/big_lazy.png"  class="samLazyImg"  />
                    </div>
                    <div class="mark1">{{item.goods_num}}件商品
                    </div>
                    <div class="mark2">
                        <img src="/views/mobile/skin/default/image/jmj/icon/read.png" alt="">
                        {{item.visit_num}}</div>
                </div>
            </a>
            <div class="single"></div>
            <div class="mark">
                <div class="product">
                    <div class="slider">
                        <div class="item" v-for="itemList in item.list" >
                            <a href="#" @click="store(itemList)" >
                                <div class="img"><img :dataimg="itemList.img" alt="" style="width:1.8rem;height:1.8rem;" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png" alt="" class="samLazyImg" /></div>
                                <div class="name hidewrap">{{itemList.name}}</div>
                                <div class="sellprice" style="font-size:0.26rem;">
                                    <span style="font-size:0.2rem;color:#ff4aa0;margin-right:-0.08rem;">￥</span> {{itemList.sell_price}} </div>
                            </a>
                            <div class="singleline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </template>
    <div style="height:0.2rem;"></div>
    <div class="fix-toTop hide" @click="fixToTop">
        <img src="/views/mobile/skin/default/image/jmj/icon/top-icon.png" alt=""  />
    </div>
</div>
<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/lazyload.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/jiumao/common.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/jiumao/articleList.js?v=<?php echo time(); ?>"></script>
</body>
</html>