<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>九猫商城</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css" />
</head>
<body>
<!--loading页开始-->
<div id="loading">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
<!--loading页结束-->
        <div class="article_title">
            <img src="/views/mobile/skin/default/image/jmj/img/banner01.png" alt="" width="100%" />
        </div>
        <div class="article_body">
            <h2>资深堂</h2>
            <p>拿回来就试了这个，特别的润，上色好，味道也很不错，只不过我最伤有点其他的颜色……
                拿回来就试了这个，特别的润，上色好，味道也很不错，只不过我最伤有点其他的颜色拿回来就试了这个，特别的润，上色好，味道也很不错，只不过我最伤有点其他的颜色。</p>
            <p>
                <img src="/views/mobile/skin/default/image/jmj/img/banner01.png" alt=""/>
            </p>
            <p>拿回来就试了这个,特别的润，上色好，味道也很不错，只不过我最伤有点其他的颜色……
                拿回来就试了这个，特别的润，上色好，味道也道</p>
            <div class="content_ware">
                <div class="img">
                    <a href=""><img src="/views/mobile/skin/default/image/jmj/img/1.png" alt="" style="width:2rem;"></a>
                </div>
                <div class="ware">
                    <div class="title">资生堂商品标题商品标题</div>
                    <div class="price">
                        <span class="price1">199.49</span>
                        <span class="art">日本售价:</span>
                        <span class="price2">5938.34</span>
                    </div>
                    <a href=""><div class="buy">立即购买</div></a>
                </div>
            </div>
            <h2>第二个titile</h2>
            <p>拿回来就试了这个，特别的润，上色好，味道也很不错，只不过我最伤有点其他的颜色……
                拿回来就试了这个，特别的润，上色好，味道也</p>
        </div>
        <div class="articledetail_ware">
            <div class="title"><span>~</span><span>推荐商品</span>~</div>
            <div class="content">
                <div class="item">
                    <a href=""><div class="img underline"><img src="/views/mobile/skin/default/image/jmj/img/ware1.png" alt=""/></div></a>
                    <div class="name">资生堂商品标题商品标题哈哈哈哈</div>
                    <div class="flexbox">
                        <div class="price">432.40</div>
                        <div class="buy">立即购买</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img underline"><img src="/views/mobile/skin/default/image/jmj/img/ware1.png" alt="" /></div>
                    <div class="name">资生堂商品标题商品标题哈哈哈哈</div>
                    <div class="flexbox">
                        <div class="price">432.40</div>
                        <div class="buy">立即购买</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img underline"><img src="/views/mobile/skin/default/image/jmj/img/ware1.png" alt=""/></div>
                    <div class="name">资生堂商品标题商品标题哈哈哈哈</div>
                    <div class="flexbox">
                        <div class="price">432.40</div>
                        <div class="buy">立即购买</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img underline"><img src="/views/mobile/skin/default/image/jmj/img/ware1.png" alt=""/></div>
                    <div class="name">资生堂商品标题商品标题哈哈哈哈</div>
                    <div class="flexbox">
                        <div class="price">432.40</div>
                        <div class="buy">立即购买</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img underline"><img src="/views/mobile/skin/default/image/jmj/img/ware1.png" alt=""/></div>
                    <div class="name">资生堂商品标题商品标题哈哈哈哈</div>
                    <div class="flexbox">
                        <div class="price">432.40</div>
                        <div class="buy">立即购买</div>
                    </div>
                </div>
            </div>
        </div>
<!--底部空隙-->
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/lazyload.js"></script>
<script src="/views/mobile/javascript/time.js"></script>
<script>
    //页面加载完成后调用的功能
    $(window).load(function(){
        $("#loading").fadeOut(300);
    })
    mui.init({
        pullRefresh: {
            container: '#pullrefresh',
            up: {
                contentrefresh: '正在加载...',
                callback: pullupRefresh
            }
        }
    });
    function pullupRefresh() {

    }

</script>
</body>
</html>
