<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-orientation" content="portrait">
    <title>海宝贝商城</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css?v=1.01" />
</head>
<style>video{width: 100%;height: auto;}</style>
<body>
<!--loading页开始-->
<div id="loading">
    <!-- <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div> -->
</div>
<!--loading页结束-->
<!--下拉刷新容器-->
<section>
    <div class="top_fixd">
        <a href="/site/index"><span>首页</span></a> <span>文章详情</span>
    </div>
    <div class="article_title">
        <img src="{webroot:$this->articleRow['image']}" alt="" width="100%" />
    </div>
    <div class="article_body">
        <?php
            $content = htmlspecialchars_decode($this->articleRow['content']);
        $x = explode('{{', $content);
        if (!empty($x['1'])){
        echo $x[0];
        for($i=1;$i<count($x);$i++){
        $y = explode('}}', $x[$i]);
        $goods_no = $y[0];
        if (!empty($goods_no)){
        $goods_no_data = Api::run('getGoodsInfoByGoodsNO',array('#goods_no#',$goods_no));
        if(!empty($goods_no_data)){
        ?>
        <div class="content_ware">
            <div class="img">
                <a href={url:/site/products?id=$goods_no_data['goods_id']}><img src="{url:/pic/thumb/img/$goods_no_data['img']/w/160/h/160}" alt="" style="width:2rem;"></a>
            </div>
            <div class="ware">
                <div class="title">{$goods_no_data['name']}</div>
                <div class="price">
                    <span class="price1 sellprice">海宝贝价:￥{$goods_no_data['sell_price']}</span>
                    <span class="price2">日本价:<?php echo explode('.',$goods_no_data['jp_price'])[0]; ?>円</span>
                    <span class="price3">国内价: ￥{$goods_no_data['market_price']}</span>
                </div>
                <a href="{url:/site/products?id=$goods_no_data['goods_id']}"><div class="buy">立即购买</div></a>
            </div>
        </div>

        <?php
        }
                        echo $y[1];
                    } else {
                        echo $content;
                    }
                }
            } else {
                echo $content;
            }
        ?>
        <?php $favorite_article = new IQuery('favorite_article'); $favorite_article->where='user_id = ' . $this->user['user_id'] . ' and aid=' . $this->articleRow['id']; if(!empty($favorite_article->find())){ ?>
            <div onclick="growGrass({$this->articleRow['id']})" class="articleState active">已种草</div>
        <?php } else { ?>
            <div onclick="growGrass({$this->articleRow['id']})" class="articleState">点我种草吧</div>
        <?php } ?>
    </div>

    <div class="articledetail_ware">
        <div class="title"><span>~</span><span>推荐商品</span>~</div>
        <div class="content" id="getArticleWare">

        </div>
    </div>
</section>
<script id="articleItem" type="text/html">
    <%if(data.length) {%>
        <% for(var i=0; i<data.length; i++){%>
            <%var dat =data[i] %>
            <div class="item">
                <a href="index.php?controller=site&action=products&id=<%=dat.goods_id %>">
                    <!--<div class="box1">-->
                        <div class="img"><img class="imgWare" src="<%=dat.img %>" alt=""/></div>
                        <div class="text">
                            <div class="name"><%=dat.name %></div>
                            <div class="box">
                                <div class="price">
                                    <div class="sellprice price1">国内价: ￥<%=dat.market_price %></div>
                                    <div class="sellprice price2">海宝贝价: ￥<%=dat.sell_price %></div>
                                </div>
                                <div class="buy">立即购买</div>
                            </div>
                        </div>
                    <!--</div>-->
                </a>
            </div>
        <% }%>
    <%} else {%>
        <div class="flexbox empty_product" style="width:100%;">
            <div class="img">
                <img src="/views/mobile/skin/default/image/jmj/icon/nomore.png" alt=""/>
            </div>
            <div class="content">
                <span>~</span>
                <span>憋拉了，到底了</span>
                <span>~</span>
            </div>
        </div>
    <%}%>
</script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script>
    //获取url的商品id
    var Request = new Object();
    Request = GetRequest();
    var getId=Request["id"];
    //文章商品分类
    var articlePageData ={
        page:1,
        id:getId
    };
    $(window).load(function(){
        $("#loading").fadeOut(300);
        pullupRefresh();
        mui('body').on('tap','a',function(){document.location.href=this.href;});
    })
    var articleItemStr="";
    //上拉加载
    var stop = true;
    $(window).bind('scroll', function() {
        if ($(window).scrollTop() + $(window).height() + 600 >= $(document).height() && $(window).scrollTop() > 50) {
            if (stop == true) {
                stop = false;
                pullupRefresh()
            }
        }
    });
    function pullupRefresh() {
        mui.ajax('index.php?controller=apic&action=article_rel_goods',{
            data:articlePageData,
            dataType:'json',	// 服务器返回json格式数据
            type:'get',		// HTTP请求类型
            timeout:10000,		// 超时时间设置为10秒；
            success:function(data){
                console.log(data);
                articlePageData.page++;
                var pageArticle={};
                pageArticle.data=data;
                var html=template('articleItem',pageArticle);
                articleItemStr+=html;
                document.getElementById("getArticleWare").innerHTML=articleItemStr;
//                mui('#pullrefresh').pullRefresh().endPullupToRefresh(data==false);
                if(data==false){
                    stop = false;
                }else{
                    stop = true;
                }
            },
            error:function(xhr,type,errorThrown){
                //异常处理；
                console.log(type);
            }
        });
    }
    //	获取url传递过来的参数
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    function growGrass(id){
        mui.ajax('index.php?controller=apic&action=favorite_article_add',{
            data:{
                id:id
            },
            dataType:'json',//服务器返回json格式数据
            type:'get',//HTTP请求类型
            timeout:10000,//超时时间设置为10秒；
            success:function(data){
                console.log(data);
                if(data.message=="收藏成功"){
                    $(".articleState").addClass("active")
                    $(".articleState").html("已种草");
                }else{
                    $(".articleState").removeClass("active")
                    $(".articleState").html("点我种草吧");
                }
            },
            error:function(xhr,type,errorThrown){
                //异常处理；
                console.log(type);
            }
        });
    }

</script>
<?php if(isset($this->wechat)){ $this->wechat->config['wechat_jsApiSDK']=1; $this->wechat->jsApiSDK();?>
<script>
    wx.config({debug:true})
    articleRow = <?php if(isset($this->articleRow)) echo json_encode($this->articleRow); ?>

    articleRow.link = "<?php echo IWeb::$app->config['image_host'] . '/site/article_detail/id/'; ?>"+articleRow.id;
    articleRow.share_img = "<?php echo IWeb::$app->config['image_host'] . IUrl::creatUrl('/pic/thumb/img/'.$this->articleRow['image'].'/w/200/h/200'); ?>"
    if(articleRow) wx.ready(function(){
        wx.onMenuShareAppMessage({
            title: articleRow.title, // 分享标题
            desc: $('.article_body').text().trim(), // 分享描述
            link: articleRow.link, // 分享链接
            imgUrl: articleRow.share_img, // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                console.log('fdf');
            },
            cancel: function () {
                console.log('fdf');
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareTimeline({
            title: articleRow.title, // 分享标题
            link: articleRow.link, // 分享链接
            imgUrl: articleRow.share_img, // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    })
</script>
<?php } ?>

<!-- 微信分享 -->
{if:IClient::isWechat() == true}
<?php 
    require_once __DIR__ . '/../../../../plugins/wechat/wechat.php';
    $this->wechat = new wechat();
    $this->wechat->config['wechat_jsApiSDK']=1;
    $this->wechat->jsApiSDK();
?>
<script src="/views/mobile/javascript/jiumao/wechat.share.js"></script>
<script type="text/javascript">
var wechat_share = {
    title       : "<?php if($this->articleRow['id']==284){echo '这是一个99%的妹子都希望收到的礼物';}else{echo $this->articleRow['title'];} ?>", //标题
    desc        : $('.article_body').text().trim().substring(0,100), //描述
    imgUrl      : "{echo:IWeb::$app->config['image_host'] . IUrl::creatUrl('/pic/thumb/img/'.$this->articleRow['image'].'/w/200/h/200')}", //图片
}
</script>
{/if}

</body>
</html>
