<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>九猫商城</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css" />
</head>
<body>
<!--loading页开始-->
<div id="loading">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
<!--loading页结束-->
<!--下拉刷新容器-->
<section>
    <div class="article_title">
        <img src="{webroot:$this->articleRow['image']}" alt="" width="100%" />
    </div>
    <div class="article_body">
        <?php
            $content = htmlspecialchars_decode($this->articleRow['content']);
        $x = explode('{{', $content);
        if (!empty($x['1'])){
        echo $x[0];
        for($i=1;$i<count($x);$i++){
        $y = explode('}}', $x[$i]);
        $goods_no = $y[0];
        if (!empty($goods_no)){
        $goods_no_data = Api::run('getGoodsInfoByGoodsNO',array('#goods_no#',$goods_no));
        if(!empty($goods_no_data)){
        ?>
        <div class="content_ware">
            <div class="img">
                <a href={url:/site/products?id=$goods_no_data['goods_id']}><img src="{url:/pic/thumb/img/$goods_no_data['img']/w/160/h/160}" alt="" style="width:2rem;"></a>
            </div>
            <div class="ware">
                <div class="title">{$goods_no_data['name']}</div>
                <div class="price">
                    <span class="price1">￥{$goods_no_data['sell_price']}</span>
                    <span class="art">日本售价:</span>
                    <span class="price2">{$goods_no_data['sell_price']}</span>
                </div>
                <a href="{url:/site/products?id=$goods_no_data['goods_id']}"><div class="buy">立即购买</div></a>
            </div>
        </div>

        <?php
        }
                        echo $y[1];
                    } else {
                        echo $content;
                    }
                }
            } else {
                echo $content;
            }
        ?>
        <?php $favorite_article = new IQuery('favorite_article'); $favorite_article->where='user_id = ' . $this->user['user_id'] . ' and aid=' . $this->articleRow['id']; if(!empty($favorite_article->find())){ ?>
            <div onclick="growGrass({$this->articleRow['id']})" class="articleState active">已种草</div>
        <?php } else { ?>
            <div onclick="growGrass({$this->articleRow['id']})" class="articleState">点我种草吧</div>
        <?php } ?>
    </div>

    <div class="articledetail_ware">
        <div class="title"><span>~</span><span>推荐商品</span>~</div>
        <div class="content" id="getArticleWare">
        </div>
    </div>
</section>
<script id="articleItem" type="text/html">
    <%if(data.length){%>
    <% for(var i=0; i<data.length; i++){%>
    <% var dat =data[i] %>
        <div class="item">
            <a href="index.php?controller=site&action=products&id=<%=dat.id %>">
                <div class="box1">
                    <div class="img"><img class="imgWare" src="<%=dat.img %>" alt=""/></div>
                    <div class="text">
                        <div class="name hidewrap"><%=dat.name %></div>
                        <div class="box">
                            <div class="sellprice price">￥ <%=dat.sell_price %></div>
                            <div class="buy">立即购买</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    <%}%>
    <%}else{%>
       <div class="flexbox empty_product">
            <div class="img">
                <img src="/views/mobile/skin/default/image/jmj/icon/nomore.png" alt=""/>
            </div>
           <div class="content">
               <span>~</span>
               <span>憋拉了，到底了</span>
               <span>~</span>
           </div>
       </div>
    <%}%>
</script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script>
    //获取url的商品id
    var Request = new Object();
    Request = GetRequest();
    var getId=Request["id"];
    //文章商品分类
    var articlePageData ={
        page:1,
        id:getId
    };
    //页面加载完成后调用的功能
    mui.init();
    $(window).load(function(){
        $("#loading").fadeOut(300);
        pullupRefresh();
        mui('body').on('tap','a',function(){document.location.href=this.href;});
    })
    var articleItemStr="";
    //上拉加载
    var stop = true;
    $(window).bind('scroll', function() {
        if ($(window).scrollTop() + $(window).height() + 600 >= $(document).height() && $(window).scrollTop() > 50) {
            if (stop == true) {
                stop = false;
                pullupRefresh()
            }
        }
    });
    function pullupRefresh() {
        mui.ajax('index.php?controller=apic&action=article_rel_goods',{
            data:articlePageData,
            dataType:'json',	// 服务器返回json格式数据
            type:'get',		// HTTP请求类型
            timeout:10000,		// 超时时间设置为10秒；
            success:function(data){
                console.log(data);
                articlePageData.page++;
                var pageArticle={};
                pageArticle.data=data;
                var html=template('articleItem',pageArticle);
                articleItemStr+=html;
                document.getElementById("getArticleWare").innerHTML=articleItemStr;
//                mui('#pullrefresh').pullRefresh().endPullupToRefresh(data==false);
                if(data==false){
                    stop = false;
                }else{
                    stop = true;
                }
            },
            error:function(xhr,type,errorThrown){
                //异常处理；
                console.log(type);
            }
        });
    }
    //	获取url传递过来的参数
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    function growGrass(id){
        mui.ajax('index.php?controller=apic&action=favorite_article_add',{
            data:{
                id:id
            },
            dataType:'json',//服务器返回json格式数据
            type:'get',//HTTP请求类型
            timeout:10000,//超时时间设置为10秒；
            success:function(data){
                console.log(data);
                if(data.message=="收藏成功"){
                    $(".articleState").addClass("active")
                    $(".articleState").html("已种草");
                }else{
                    $(".articleState").removeClass("active")
                    $(".articleState").html("点我种草吧");
                }
            },
            error:function(xhr,type,errorThrown){
                //异常处理；
                console.log(type);
            }
        });
    }
</script>
</body>
</html>
