<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>"/>
		<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/app/brand_detail.css?v=<?php echo time(); ?>"/>
	
	</head>
	<body>
		<!--               top                         -->
		<div id="band_top">
			<div id="top">
				
			</div>
			<div id="footer">
				<div><a href="#" id="logo"></a></div>
					<span id="name">
						
					</span>
					<dl>
						<dt><a href="#"><img src="/views/mobile/skin/default/image/jmj/brand_detail/shop01.png"/></a></dt>		
						<dd>商品<strong id="strong1"></strong>款</dd>
					</dl>
					<dl>
						<dt><a href="#"><img src="/views/mobile/skin/default/image/jmj/brand_detail/video01.png"/></a></dt>
						<dd>专辑<strong id="strong2"></strong>场</dd>
					</dl>
			</div>
		</div>
		
		<!--                  线条                                                    -->
		<div class="line"></div>
		
		<!--                  文章                                                    -->
			<!-- 收起     -->
		<div id="article">
			<div id="article_top" style="overflow : hidden;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 3;-webkit-box-orient: vertical;height: 0.88rem;">
				
			</div>
			<div class="article_footer">
				<img src="/views/mobile/skin/default/image/jmj/brand_detail/zhan.png"/>
			</div>
		</div>
			<!--- 展开  -->
		<div id="article1">
			<div id="article_top1">
				资生堂（Shiseido ），是日本著名的化妆品品牌。取名源自中文《易经》中的“至哉坤元，万物资生”，资生堂的涵义为孕育新生命，创造新价值“至哉坤元，万物资生”意为“赞美大地的美德，她哺育了新的生命，创造了新的价值。”这一名称正是资生堂公司形象的反映，是将东方的美学及意识与西方的技术及商业实践相结合，将先进技术与传统理念相结合，用西方文化诠释含蓄的东方文化。
			</div>
			<div class="article_footer">
				<img src="/views/mobile/skin/default/image/jmj/brand_detail/shou.png"/>
			</div>
		</div>
		
		<!--                 分割线                                                      -->
		<div class="divider"></div>
		
		<!--                  相关标签                                                 -->
		<div class="label">
			<div><img src="/views/mobile/skin/default/image/jmj/brand_detail/video02.png"/></div>
			<div class="label1">相关专辑</div>
		</div>
		
		<!--                  线条                                                    -->
		<div class="line"></div>
		<!--                   视频                                   -->
		<div class="mark">
			<div class="product">
				<ul class="slider">
					
				</ul>
			</div>	
		</div>
		<!--                   分割线                                                      -->
		<div class="divider divider1"></div>
		<!--                  相关标签                                                 -->
		<div class="label">
			<div><img src="/views/mobile/skin/default/image/jmj/brand_detail/shop02.png"/></div>
			<div class="label1">全部商品</div>
		</div>
		<!--                  线条                                                    -->
		<div class="line"></div>
		<!--                  list列表                                                    -->
		<div id="list_table">
			<ul id="list">
				<!--<li>
					<a href="#"><img src="/views/mobile/skin/default/image/jmj/brand_detail/shop02.png""/></a>
					<div class="right-list">
						<p class="p1">运动伴侣</p>
						<p class="p2">商品名称商品名称商品名称商品名称商品名称商品名称商品名称120ml</p>
						<span class="span1"><span class="span3">¥</span>286.36</span>
						<span class="span2">日本价：286.36円</span>
					</div>
				</li>-->
			</ul>
		</div>
		
		<input type="hidden" value="<?php echo $_GET['id']; ?>" id="phpnum" />
		<script src="/views/mobile/javascript/jquery.min.js"></script>
		<script src="/views/mobile/javascript/jiumao/brand_detail.js"></script>
		<script type="text/javascript">
			var oArticle_footer = document.getElementsByClassName("article_footer")[0];
			var oArticle_footer1 = document.getElementsByClassName("article_footer")[1];
			var oArticle = document.getElementById("article");
			var oArticle1 = document.getElementById("article1");
			oArticle_footer.onclick = function(){
					oArticle1.style.display = "block";
					oArticle.style.display = "none";
			}
			oArticle_footer1.onclick = function(){
					oArticle.style.display = "block";
					oArticle1.style.display = "none";
			}
		</script>
	</body>
</html>
