<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-orientation" content="portrait">
    <title>{echo:urldecode($_GET['title'])}</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/sitemap.css" />
</head>
<body>
<!--loading页开始-->
<div id="loading">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
<!--loading页结束-->
<!--三级分类-->
<section id="category">


</section>
<script type="text/html" id="category_third_temp">
    <div id="category_third">
    <% for(var i=0; i<data.length; i++){%>
    <% var category=data[i] %>
        <div class="product_item" id="product_item<%=category.id %>">
            <a href="/site/products?id=<%=category.id %>">
                <div class="img">
                    <img src="/views/mobile/skin/default/image/jmj/product/icon-third.png" alt="" class="img-logo"  />
                    <img src="/views/mobile/skin/default/image/jmj/icon/bg_lazy.jpg" alt="" class="samLazyImg img-ware" dataimg="<%=category.img%>" />
                </div>
                <div class="content">
                    <div class="name">
                        <%=category.name%>
                    </div>
                    <div class="price">
                        <span class="sellprice">¥<%=category.sell_price%></span>
                        <span class="japanprice">日本价：<%=parseInt(category.jp_price) %>円</span>
                        <span class="openprice">国内价：¥<%=category.market_price%></span>
                    </div>
                </div>
            </a>
        </div>
    <%}%>
    </div>
    <div class="flexbox empty_product">
        <div class="img">
            <img src="/views/mobile/skin/default/image/jmj/icon/nomore.png" alt=""/>
        </div>
        <div class="content">
            <span>~</span>
            <span>憋拉了，到底了</span>
            <span>~</span>
        </div>
    </div>
</script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/lazyload.js"></script>
<script src="/views/mobile/javascript/jiumao/common.js"></script>
<script src="/views/mobile/javascript/jiumao/wechat.js"></script>
<script>
    //页面加载动画的调用
    $(window).load(function(){
        $("#loading").fadeOut(300);
        getcategory_thirdInfo("{$_GET['id']}");
        // document.title = getinfo.name;
        //解决tab选项卡a标签无法跳转的问题
        mui('body').on('tap','a',function(){document.location.href=this.href;});
    })
</script>

<!-- 微信分享 -->
{if:IClient::isWechat() == true}
    <?php
        require_once __DIR__ . '/../../../../plugins/wechat/wechat.php';
        $this->wechat = new wechat();
        $this->wechat->config['wechat_jsApiSDK']=1;
        $this->wechat->jsApiSDK();
    ?>
<script>
//微信分享
var wechat_share = {
    title       : '九猫大百货-日本同价-东京直邮', //标题
    desc        : '欢迎来到九猫家', //描述
    link        : '',
    imgUrl      : "{echo:IWeb::$app->config['image_host'] . '/views/mobile/skin/default/image/jmj/img/cat-logo-small.png'}", //图片
}
wechat.share();
</script>
{/if}

</body>
</html>