<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>"/>
		<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/app/cosme.css?v=<?php echo time(); ?>"/>
		
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<!--                         header 							-->
		<div id="header">
			<img src="/views/mobile/skin/default/image/jmj/cosme/bd.png" style="width: 5.16rem;"/>
		</div>
		<!--                         logo1							-->
		<div class="logo">
			<img src="/views/mobile/skin/default/image/jmj/cosme/pic1.png" style="width: 100%;height: 2.88rem;"/>
			<div class="triangle">
				
			</div>
		</div>
		<!--                         showapp1 							-->
		<div class="showapp">
			<ul id="lastWeek">
			</ul>
			<div id="more1">
				<div class="more" num = "1">
					查看更多
				</div>
				<span class="span3"><img src="/views/mobile/skin/default/image/jmj/cosme/38A0A5D3-CBEF-4B86-A57E-97FC1D9C37FF@1x.png" style="width: 0.15rem;"/></span>
			</div>
		</div>
		<!--                         divider1 							-->
		<div class="divider">
			
		</div>
		<!--                         logo2							-->
		<div class="logo">
			<img src="/views/mobile/skin/default/image/jmj/cosme/pic1.png" style="width: 100%;height: 2.88rem;"/>
			<div class="triangle">
				
			</div>
		</div>
		
		<!--                         showapp2 							-->
		<div class="showapp">
			<ul id="lastWeek2">
				
			</ul>
			<div id="more2">
				<div class="more" num = "2">
					查看更多
				</div>
				<span class="span3"><img src="/views/mobile/skin/default/image/jmj/cosme/38A0A5D3-CBEF-4B86-A57E-97FC1D9C37FF@1x.png" style="width: 0.15rem;"/></span>
			</div>
		</div>
		<!--                         divider2 							-->
		<div class="divider">
			
		</div>
		<!--                         logo3 							-->
		<div class="logo">
			<img src="/views/mobile/skin/default/image/jmj/cosme/pic1.png" style="width: 100%;height: 2.88rem;"/>
			<div class="triangle">
				
			</div>
		</div>
		<!--                         showapp3 							-->
		<div class="showapp" style="margin-bottom: 1.4rem;">
			<ul id="lastWeek3">

			</ul>
			<div id="more3">
				<div class="more" num = "3">
					查看更多
				</div>
				<span class="span3"><img src="/views/mobile/skin/default/image/jmj/cosme/38A0A5D3-CBEF-4B86-A57E-97FC1D9C37FF@1x.png" style="width: 0.15rem;"/></span>
			</div>
		</div>
		<script src="/views/mobile/javascript/jquery.min.js"></script>
		<script src="/views/mobile/javascript/jiumao/cosme.js"></script>
	</body>
</html>
