<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <style>
        h2{
            text-align:center;
            font-size:0.48rem;
            margin-top:0.2rem;
        }
        p{
            font-size:0.36rem;
            color:#3d4245;
            padding:0.6rem 0.2rem;
        }
        .img{
            padding:0.8rem 0.5rem;
        }
        .img img{
            margin-bottom:0.2rem;
            width:100%;
            height:auto;
        }
    </style>
    <title>九猫家正品保证</title>
</head>
<body>
    <div class="container">
        <h2>九猫家正品保证</h2>
        <p>
            九猫家向您承诺所售商品均为日本原装，100%正品，让您享受和亲临日本线下药妆店相同的质量保证。
        </p>
        <div class="img">
            <img src="http://mmbiz.qpic.cn/mmbiz_jpg/nVEHFXNiahBWYJgYxcUg3RtWBjuIG8uaiaic1LibG5R3pwOeib5QY2c77b9a7ZIAO61FwwxpC4rHV0ibJHM0qgHL47gg/640?wx_fmt=jpeg&tp=webp&wxfrom=5&wx_lazy=1" alt="" />
            <img src="http://mmbiz.qpic.cn/mmbiz_jpg/nVEHFXNiahBWYJgYxcUg3RtWBjuIG8uaiaic1LibG5R3pwOeib5QY2c77b9a7ZIAO61FwwxpC4rHV0ibJHM0qgHL47gg/640?wx_fmt=jpeg&tp=webp&wxfrom=5&wx_lazy=1" alt="" />
            <img src="http://mmbiz.qpic.cn/mmbiz_jpg/nVEHFXNiahBWYJgYxcUg3RtWBjuIG8uaiaic1LibG5R3pwOeib5QY2c77b9a7ZIAO61FwwxpC4rHV0ibJHM0qgHL47gg/640?wx_fmt=jpeg&tp=webp&wxfrom=5&wx_lazy=1" alt="" />
            <img src="http://mmbiz.qpic.cn/mmbiz_jpg/nVEHFXNiahBWYJgYxcUg3RtWBjuIG8uaiaic1LibG5R3pwOeib5QY2c77b9a7ZIAO61FwwxpC4rHV0ibJHM0qgHL47gg/640?wx_fmt=jpeg&tp=webp&wxfrom=5&wx_lazy=1" alt="" />
            <img src="http://mmbiz.qpic.cn/mmbiz_jpg/nVEHFXNiahBWYJgYxcUg3RtWBjuIG8uaiaic1LibG5R3pwOeib5QY2c77b9a7ZIAO61FwwxpC4rHV0ibJHM0qgHL47gg/640?wx_fmt=jpeg&tp=webp&wxfrom=5&wx_lazy=1" alt="" />
        </div>
    </div>
</body>
</html>