<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-orientation" content="portrait">
    <title>我的种草</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/favorite.css" />
</head>
<body>
<!--loading页开始-->
<div id="loading">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
<!--loading页结束-->
<!--收藏页面-->
<section id="favorite">
    <template v-if="infoMessage.goods_data==''&&infoMessage.article_data==''">
        <div class="empty">
            <img src="/views/mobile/skin/default/image/jmj/icon/empty_grow.png" alt="" />
            <div class="content">收藏的内容和商品都在这里哦，赶紧去种草吧！</div>
            <a href="{url:/site/index}" class="gotoFind">去种草</a>
        </div>
    </template>
    <div class="favorite_content" v-else>
        <div class="head">
            <div class="left flexbox"   @click="changeFavorite(0)">
                <img :src="state==0?head_state.left_red:head_state.left_black" alt="" :style="head_state.img" />
                <span :style="state==0?head_state.bg2:head_state.bg1">商品</span>
            </div>
            <div class="right flexbox"   @click="changeFavorite(1)">
                <img :src="state==1?head_state.right_red:head_state.right_black" alt=""  :style="head_state.img" />
                <span :style="state==1?head_state.bg2:head_state.bg1">专辑</span>
            </div>
            <!--判断初始状态结束-->
        </div>
        <div class="bg"></div>
            <template v-if="state==0">
                <div class="favorite_item favorite_product" :style="changeBgcolor">
                    <template v-if="infoMessage.goods_data==''">
                        <div class="emptyFavorite">
                            <img src="/views/mobile/skin/default/image/jmj/icon/empty_grow.png" alt="" style="width:1.82rem;height:1.65rem;" />
                            <div class="content">
                                <span>~</span>
                                <span>收藏的商品都在这里哦，赶紧去种草吧！</span>
                                <span>~</span>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <div :class="item.cls" v-for="item in new_info_goods">
                            <div class="left">
                                <a :href="item.url"><img :src="item.img" alt="" /></a>
                            </div>
                            <div class="right">
                                <div class="top box">
                                    <a :href="item.url"><div class="name">{{item.name}}</div></a>
                                    <div class="del" @click="delFavoriteProduct(item)">
                                        <img src="/views/mobile/skin/default/image/jmj/icon/del_w.png" alt=""  />
                                    </div>
                                </div>
                                <div class="box">
                                    <a :href="item.url"><div class="price">
                                        <div class="sellprice">￥ {{item.sell_price}}</div>
                                        <div class="jpprice">
                                            日本价：{{item.jp_price}} 円
                                        </div>
                                    </div></a>
                                    <a :href="item.url"><div class="buy">立即购买</div></a>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </template>
            <template v-else>
                <div class="favorite_item favorite_article" :style="changeBgcolor">
                    <template v-if="infoMessage.article_data==''">
                        <div class="emptyFavorite">
                            <img src="/views/mobile/skin/default/image/jmj/icon/empty_grow.png" alt="" style="width:1.82rem;height:1.65rem;"/>
                            <div class="content">
                                <span>~</span>
                                <span>收藏的内容都在这里哦，赶紧去种草吧！</span>
                                <span>~</span>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <div :class="item.cls" v-for="item in new_article_goods">
                            <div class="left">
                                <a :href="item.url"><img :src="item.image" alt="" /></a>
                            </div>
                            <div >
                                <a :href="item.url">
                                    <div class="name hidewrap">{{item.title}}</div>
                                    <div class="discribtion">{{item.description}}</div>
                                </a>
                            </div>
                            <div class="del"  @click="delFavoriteArticle(item)">
                                <img src="/views/mobile/skin/default/image/jmj/icon/del_w.png" alt=""  />
                            </div>
                        </div>
                    </template>
                </div>
            </template>
        <div style="height:1rem;"></div>
    </div>
</section>
<footer>
    <nav class="mui-bar mui-bar-tab"  style="z-index:25">
        <a id="defaultTab" class="mui-tab-item home" href="{url:/site/index}">
                <span class="mui-icon nav-icon icon-home">
                    <img src="/views/mobile/skin/default/image/jmj/icon/home.png" data-img="home-ed.png"  alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">首页</div>
        </a>
        <a class="mui-tab-item" href="{url:/site/sitemap}">
                <span class="mui-icon nav-icon icon-classification">
                    <img src="/views/mobile/skin/default/image/jmj/icon/mune.png"  data-img="mune-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">分类</div>
        </a>
        <a class="mui-tab-item mui-active" href="{url:/site/favorite}">
                <span class="nav-icon icon-vedio">
                    <img src="/views/mobile/skin/default/image/jmj/icon/grass.png" data-img="grass.png"  alt="" class="img-move02">
                    <div class="grow">种草</div>
                    <span class="tab-mark"></span>
                </span>
        </a>
        <a class="mui-tab-item" href="{url:simple/cart}">
                <span class="mui-icon nav-icon icon-shopcar">
                    <img src="/views/mobile/skin/default/image/jmj/icon/buy.png"  data-img="buy-ed.png"  alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">购物车</div>
        </a>
        <a class="mui-tab-item" href="{url:/ucenter/index}">
                <span class="mui-icon nav-icon icon-my">
                    <img src="/views/mobile/skin/default/image/jmj/icon/my.png" data-img="my-ed.png"  alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">我的</div>
        </a>
    </nav>
</footer>
<!--<span class="mui-icon-extra mui-icon-extra-top" id="pagetop"></span>-->
<!--头信息结束-->
<script src="/views/mobile/javascript/vue.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<!--<script src="/views/mobile/javascript/template-native.js"></script>-->
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/jiumao/favorite.js"></script>
</body>
</html>

