<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>九猫商城</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/favorite.css" />
</head>
<body>
<!--loading页开始-->
<div id="loading">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
<!--loading页结束-->
<!--收藏页面-->
<section id="favorite">
    <div class="empty">
        <img src="/views/mobile/skin/default/image/jmj/icon/empty_grow.png" alt="" />
        <div class="content">收藏的内容和商品都在这里哦，赶紧去种草吧！</div>
        <a href="{url:/site/index}" class="gotoFind">去种草</a>
    </div>
    <!--<div class="favorite_content">-->
        <!--<div class="head">-->
            <!--<div class="item left active">商品</div>-->
            <!--<div class="item right">专辑</div>-->
        <!--</div>-->
    <!--</div>-->

</section>
<footer>
    <nav class="mui-bar mui-bar-tab">
        <a id="defaultTab" class="mui-tab-item home" href="{url:/site/index}">
            <span class="mui-icon nav-icon icon-home"></span>
            <div class="mui-tab-label">首页</div>
        </a>
        <a class="mui-tab-item" href="{url:/site/sitemap}">
            <span class="mui-icon nav-icon icon-classification"></span>
            <div class="mui-tab-label">分类</div>
        </a>
        <a class="mui-tab-item  mui-active" href="{url:/site/favorite}">
			<span class="nav-icon icon-vedio">
				<img src="/views/mobile/skin/default/image/jmj/icon/grass.png" alt="" class="img-move02">
				<div class="grow">种草</div>
				<span class="tab-mark"></span>
			</span>
        </a>
        <a class="mui-tab-item" href="{url:simple/cart}">
            <span class="mui-icon nav-icon icon-shopcar"></span>
            <div class="mui-tab-label">购物车</div>
        </a>
        <a class="mui-tab-item" href="{url:/ucenter/index}">
            <span class="mui-icon nav-icon icon-my"></span>
            <div class="mui-tab-label">我的</div>
        </a>
    </nav>
</footer>
<!--<span class="mui-icon-extra mui-icon-extra-top" id="pagetop"></span>-->
<!--头信息结束-->
<!--一级分类-->
<script type="text/html" id="controlTopTemp">
    <% var allstring =JSONreduce(data) %>
    <% var string =JSONstringfly(data[0].image) %>
    <li class="controlItem controlItem<%=data[0].id%> active" onclick="changeSite(<%=data[0].id%>,0,<%=allstring%>)">
        <div class="content">
            <%if(data[0].image){%>
            <img src="<%=JSONsplit(data[0].image)[0]%>" alt="" class="icon img-red icon_first" id="icon_first_<%=data[0].id%>">
            <%}%>
            <span class="name"><%=data[0].name%></span>
            <span class="bg"></span>
        </div>
    </li>
    <% for(var i=1; i<data.length; i++){%>
    <% var Fsite =data[i] %>
    <% var string1 =JSONstringfly(Fsite.image) %>
    <li class="controlItem controlItem<%=Fsite.id%>" onclick="changeSite(<%=Fsite.id%>,<%=i%>,<%=allstring%>)">
        <div class="content">
            <%if(Fsite.image){%>
            <img src="<%=JSONsplit(Fsite.image)[1]%>" alt="" class="icon img-dark icon_first" id="icon_first_<%=Fsite.id%>">
            <%}%>
            <span class="name"><%=Fsite.name %></span>
            <span class="bg"></span>
        </div>
    </li>
    <%}%>
</script>
<script type="text/html" id="contentToptemp">
    <!--首个二级分类-->
    <div class="siteid site<%=data[0].id%>">
        <%if(data[0].banner_image){%>
        <div class="banner">
            <img src="<%=data[0].banner_image %>" alt="">
        </div>
        <%}%>
        <div class="S_classification">
            <% for(var j=0; j<data[0].child.length; j++){%>
            <% var Ssite =data[0].child[j] %>
            <div class="type">
                <a href="index.php?controller=site&action=category_third&id=<%=Ssite.id %>">
                    <div class="img">
                        <img src="<%=Ssite.image %>" alt="" width="1.54rem" height="1.54rem" style=""/>
                    </div>
                    <div class="name">
                        <%=Ssite.name %>
                    </div>
                </a>
            </div>
            <%}%>
        </div>
    </div>
    <!--其余二级分类-->
    <% for(var i=1; i<data.length; i++){%>
    <% var Fsite =data[i] %>
    <div class="siteid site<%=Fsite.id%> hide">
        <%if(Fsite.banner_image){%>
        <div class="banner">
            <img src="<%=Fsite.banner_image %>" alt="">
        </div>
        <%}%>
        <div class="S_classification">
            <% for(var j=0; j<Fsite.child.length; j++){%>
            <% var Ssite =Fsite.child[j] %>
            <div class="type">
                <a href="index.php?controller=site&action=category_third&id=<%=Ssite.id %>">
                    <div class="img">
                        <img src="<%=Ssite.image %>" alt="" width="1.54rem" height="1.54rem" style=""/>
                    </div>
                    <div class="name">
                        <%=Ssite.name %>
                    </div>
                </a>
            </div>
            <%}%>
        </div>
    </div>
    <%}%>
</script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>

<script>
    //页面加载动画的调用
    $(window).load(function(){
        $("#loading").fadeOut(300);
        getFavoriteInfo();
        //解决tab选项卡a标签无法跳转的问题
        mui('body').on('tap','.mui-tab-item',function(){document.location.href=this.href;});
        mui('body').on('tap','a',function(){document.location.href=this.href;});
        $(".head .item").each(function(){
            $(this).click(function(){
                $(".head .item").removeClass("active");
                $(this).addClass("active");
            })
        })
    })
    template.helper('JSONsplit', function(obj){
        return obj.split(",")
    });
    template.helper('JSONreduce', function(obj){
        var arr=[];
        for(var m=0;m<obj.length;m++){
            arr.push(obj[m].image);
        }
        return JSON.stringify(arr)
    });
    template.helper('JSONstringfly', function(obj){
        return JSON.stringify(obj)
    });
    function getFavoriteInfo(){
        mui.ajax('/apic/favorite_list',{
            dataType:'json',
            type:'get',
            timeout:10000,
            success:function(data){
                console.log(data);
                var dat={};
                dat.data=data;
//                var html = template('controlTopTemp',dat);
//                document.getElementById("controlTop").innerHTML=html;
            },
            error:function(xhr,type,errorThrown){
                //异常处理；
                console.log(type);
            }
        });
    }
</script>
</body>
</html>

