<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{echo:IReq::get('title')}</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/sitemap.css" />
</head>
<body>
<!--loading页开始-->
<div id="loading">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
<!--loading页结束-->
<!--三级分类-->
<section id="category">

</section>
<script type="text/html" id="category_third_temp">
    <div id="category_third">
		{set:$category_id=IReq::get('category_id');$commend_id=IReq::get('commend_id');}
    	{query:name=goods as m join=left join commend_goods as d on d.goods_id eq m.id left join category_extend as e on e.goods_id eq m.id 
    		where=e.category_id in ($category_id) and d.commend_id eq $commend_id 
    		fields=m.id,m.name,m.sell_price,m.img,m.market_price 
    		limit=1000 
    		order=m.id desc}
        <div class="product_item" id="product_item{$item['id']}">
            <a href="{url:/site/products?id=$item['id']}">
                <div class="img">
                    <img src="{echo:IWeb::$app->config['image_host'].'/'.IUrl::creatUrl('/pic/thumb/img/'.$item['img'].'/w/360/h/360')}" alt="" class="samLazyImg" dataimg="{echo:IWeb::$app->config['image_host'].'/'.IUrl::creatUrl('/pic/thumb/img/'.$item['img'].'/w/360/h/360')}" />
                </div>
                <div class="content">
                    <div class="name">
                        {$item['name']}
                    </div>
                    <div class="price">
                        <span class="sellprice">¥{$item['sell_price']}</span>
                        <span class="openprice">国内价：¥{$item['market_price']}</span>
                    </div>
                </div>
            </a>
        </div>
        {/query}
    </div>
    <div class="flexbox empty_product">
        <div class="img">
            <img src="/views/mobile/skin/default/image/jmj/icon/nomore.png" alt=""/>
        </div>
        <div class="content">
            <span>~</span>
            <span>憋拉了，到底了</span>
            <span>~</span>
        </div>
    </div>
</script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/lazyload.js"></script>
<script src="/views/mobile/javascript/jiumao/common.js"></script>
<script>
    //页面加载动画的调用
    $(window).load(function(){
        $("#loading").fadeOut(300);
        var getinfo=getItem("siteMap");
        getcategory_thirdInfo(getinfo.id);
        //解决tab选项卡a标签无法跳转的问题
        mui('body').on('tap','a',function(){document.location.href=this.href;});
    })
</script>
</body>
</html>