<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-orientation" content="portrait">
    <title><?php echo !empty(ISession::get('shop_name')) ? ISession::get('shop_name') : '九猫家商城'?></title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/siteIndex.css?v=<?php echo time(); ?>" />
</head>
<body>
<!--下拉刷新容器-->
<!--<div id="pullrefresh" class="mui-content mui-scroll-wrapper">-->
<!--<div class="mui-scroll" id="muiScroll">-->
<!--头部-->
<section id="indexInfo"  v-cloak>
    <section class="homeHeader" id="homeHeader">
        <div class="nav-header">
            <div class="mui-input-row mui-search">
                <input type="search" id="searth"  :placeholder="searth" onfocus="getSearth()">
            </div>
        </div>
        <img src="/views/mobile/skin/default/image/jmj/icon/leftear.png" alt="" class="left-icon">
        <img src="/views/mobile/skin/default/image/jmj/icon/rightear.png" alt="" class="right-icon">
        <img src="/views/mobile/skin/default/image/jmj/icon/flower.png" alt="" class="img-flower">
    </section>
    <section id="nav-slider">
        <div  class="mui-slider">
            <div id="Control" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                <div class="mui-scroll">
                    <a class="mui-control-item mui-active locationA" href="{url:/site/index}">
                        <img src="/views/mobile/skin/default/image/jmj/icon/page1_bg1.png" alt=""  />
                        <span class="text">推荐</span>
                        <span class="bg"></span>
                    </a>
                    <a class="mui-control-item mui-control-item2 locationA" href="{url:/site/pro_list}?cat=126">
                        <img src="/views/mobile/skin/default/image/jmj/icon/page1_bg2.png" alt=""/>
                        <span class="text">药妆</span>
                        <span class="bg"></span>
                    </a>
                    <a class="mui-control-item mui-control-item3 locationA" href="{url:/site/pro_list}?cat=134">
                        <img src="/views/mobile/skin/default/image/jmj/icon/page1_bg3.png" alt=""  />
                        <span class="text">个护</span>
                        <span class="bg"></span>
                    </a>
                    <a class="mui-control-item mui-control-item4 locationA" href="{url:/site/pro_list}?cat=6">
                        <img src="/views/mobile/skin/default/image/jmj/icon/page1_bg4.png" alt="" />
                        <span class="text">宠物</span>
                        <span class="bg"></span>
                    </a>
                    <a class="mui-control-item mui-control-item5 locationA" href="{url:/site/pro_list}?cat=2">
                        <img src="/views/mobile/skin/default/image/jmj/icon/page1_bg5.png" alt="" />
                        <span class="text">健康</span>
                        <span class="bg"></span>
                    </a>
                    <a class="mui-control-item mui-control-item6 locationA" href="{url:/site/pro_list}?cat=7">
                        <img src="/views/mobile/skin/default/image/jmj/icon/page1_bg6.png" alt="" />
                        <span class="text">零食</span>
                        <span class="bg"></span>
                    </a>
                    <!--<a class="mui-control-item" href="#">-->
                    <!--<span class="text">宠物</span><span class="bg"></span>-->
                    <!--</a>-->
                    <!--<a class="mui-control-item " href="#">-->
                    <!--<span class="text">健康</span><span class="bg"></span>-->
                    <!--</a>-->
                </div>
            </div>
        </div>
    </section>
    <div id="slider1" class="mui-slider" >
        <div class="mui-slider-group mui-slider-loop">
            <div class="mui-slider-item mui-slider-item-duplicate">
                <a :href="indexInfo.banner[indexInfo.banner.length-1].url" class="locationA">
                    <img :src="indexInfo.banner[indexInfo.banner.length-1].img">
                </a>
            </div>
            <div class="mui-slider-item" v-for="item in indexInfo.banner">
                <a :href="item.url" class="locationA">
                    <img :src="item.img" class="samLazyImg">
                </a>
            </div>
            <div class="mui-slider-item mui-slider-item-duplicate">
                <a :href="indexInfo.banner[0].url" class="locationA">
                    <img :src="indexInfo.banner[0].img">
                </a>
            </div>
        </div>
        <div class="mui-slider-indicator" style="bottom:0.16rem;" >
            <div class="mui-indicator mui-active" style="margin-right:-3px"></div>
            <div class="mui-indicator" v-for="key in indexInfo.banner.length-1"></div>
        </div>
    </div>
    <div id="article_list">
        <div class="banner_img flexbox">
            <img src="/views/mobile/skin/default/image/xinzeng/baner_tip.png" alt="" />
        </div>
        <div class="hot_category">
            <div class="head flexbox">
                <span class="darkline"></span>
                <span>特别分类</span>
                <span class="darkline"></span>
            </div>
            <div >
                <div class="item_img">
                    <a href="#" @click="toArticle_list(item)" class="img"  v-for="item in indexInfo.article_category_list.ac">
                        <img  alt=""   :src="item.image"  class="samLazyImg" />
                    </a>
                </div>
            </div>
        </div>
        <div class="hot_article">
            <div class="head flexbox">
                <span class="darkline"></span>
                <span>特别推荐</span>
                <span class="darkline"></span>
            </div>
            <div v-for="item in indexInfo.article_category_list.ar">
                <div class="item_img">
                    <a href="#" @click="toArticle(item)">
                        <img :dataimg="item.image" alt="" width="100%"  src="/views/mobile/skin/default/image/jmj/icon/big_lazy.png"  class="samLazyImg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="recommended line albumn_index" v-for="(item,key) in new_data">
        <div class="title">
                <span class="logo" >
                <img :src="item.icon" alt="" class="img-hot">
            </span>
            <span class="name">
            {{item.category_name}}
            </span>
            <span class="num mui-pull-right favorite<%=dat.id %>">
            {{item.favorite_num}}
            </span>
            <span class="like mui-pull-right">
                <img :src="item.is_favorite==0?img1:img2"  alt="" class="img-like" @click="collection(item)" />
            </span>
        </div>
        <a href="#" @click="store(item)" :id="item.product_id">
            <div class="content">
                <div class="img">
                    <img :dataimg="item.image" alt="" width="100%" style="height:3.8rem;" src="/views/mobile/skin/default/image/jmj/icon/big_lazy.png"  class="samLazyImg"  />
                </div>
                <div class="mark1">{{item.goods_num}}件商品
                </div>
                <div class="mark2">
                    <img src="/views/mobile/skin/default/image/jmj/icon/read.png" alt="">
                    {{item.visit_num}}</div>
            </div>
        </a>
        <div class="single"></div>
        <div class="mark">
            <div class="product">
                <div class="slider">
                    <div class="item" v-for="itemList in item.list" >
                        <a href="#" @click="store(itemList)" >
                            <div class="img"><img :dataimg="itemList.img" alt="" style="width:1.8rem;height:1.8rem;" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png" alt="" class="samLazyImg" /></div>
                            <div class="name hidewrap">{{itemList.name}}</div>
                            <div class="sellprice" style="font-size:0.26rem;">
                                <span style="font-size:0.2rem;color:#ff4aa0">￥</span> {{itemList.sell_price}} </div>
                        </a>
                    </div>
                    <div class="singleline"></div>
                </div>
                <div class="mark"></div>
            </div>
        </div>
    </section>
    <div class="fix-toTop hide" @click="fixToTop">
        <img src="/views/mobile/skin/default/image/jmj/icon/top-icon.png" alt=""  />
    </div>
</section>
<!--专辑-->
<!--<section class="timePurchase line">-->
<!--<div class="timePurchase_title">-->
<!--<div class="logo">-->
<!--<img src="/views/mobile/skin/default/image/jmj/icon/Panicbuying01.png" alt="" class="img-pan1">-->
<!--<span>限时抢购</span>-->
<!--<img src="/views/mobile/skin/default/image/jmj/icon/Panicbuying02.png" alt="" class="img-pan2">-->
<!--</div>-->
<!--<div id="timer" data_timer="0000000000" class="timer">-->
<!--<span id="timer_h">00</span>-->
<!--<span id="timer_m">00</span>-->
<!--<span id="timer_s">00</span>-->
<!--</div>-->
<!--<div class="right">-->
<!--<span class="mui-icon mui-icon-forward mui-pull-right"></span>-->
<!--<a href="index.php?controller=site&action=time_purchase"><span class=" mui-pull-right">更多</span></a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="timePurchase_body" id="timePurchase_body">-->
<!--</div>-->
<!--</section>-->
<div style="padding-bottom:2.42rem;background:#f8f8f8"></div>
<div class="fix-nav">
    <div class="img"><img src="/views/mobile/skin/default/image/jmj/icon/rmb.png" alt="" class="img-rmb"/>
        <div class="content">
            <span><?php $siteConfig = new Config('site_config'); echo $siteConfig->exchange_rate_jp; ?></span>
        </div>
    </div>
</div>
<footer>
    <nav class="mui-bar mui-bar-tab"  style="z-index:25">
        <a id="defaultTab" class="mui-tab-item mui-active home" href="{url:/site/index}" >
                <span class="mui-icon nav-icon icon-home">
                    <img src="/views/mobile/skin/default/image/jmj/icon/home-ed.png" data-img="home-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">首页</div>
        </a>
        <a class="mui-tab-item" href="{url:/site/sitemap}" >
                <span class="mui-icon nav-icon icon-classification">
                    <img src="/views/mobile/skin/default/image/jmj/icon/mune.png" data-img="mune-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">分类</div>
        </a>
        <a class="mui-tab-item" href="{url:/site/favorite}">
                <span class="nav-icon icon-vedio">
                    <img src="/views/mobile/skin/default/image/jmj/icon/grass.png" data-img="grass.png" alt="" class="img-move02">
                    <div class="grow">种草</div>
                    <span class="tab-mark"></span>
                </span>
        </a>
        <a class="mui-tab-item" href="{url:simple/cart}">
                <span class="mui-icon nav-icon icon-shopcar">
                    <img src="/views/mobile/skin/default/image/jmj/icon/buy.png"  data-img="buy-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">购物车</div>
        </a>
        <a class="mui-tab-item" href="{url:/ucenter/index}">
                <span class="mui-icon nav-icon icon-my">
                    <img src="/views/mobile/skin/default/image/jmj/icon/my.png" data-img="my-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">我的</div>
        </a>
    </nav>
</footer>
<!--模态框-->
<div id="modalid-searth" class="hide">
    <div class="title">
        猫猫都在搜
    </div>
    <div class="searth-content">
    </div>
    <button type="button" id="button-submit"  onclick="searthSubmit();">确定</button>
    <button type="button" id="button-cancel"  onclick="searthCancel();">取消</button>
</div>
<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
<script id="searth_keyword" type="text/html">
    <% for(var i=0,m=data.length; i<m&&i<10; i++){%>
    <a href="#"  onclick="ToSearthPage('<%=data[i].word %>')"><%=data[i].word %></a>
    <%}%>
</script>
<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/template-native.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/lazyload.js?v=<?php echo time(); ?>"></script>
<!--<script src="/views/mobile/javascript/time.js"></script>-->
<script src="/views/mobile/javascript/jiumao/common.js?v=<?php echo time(); ?>"></script>

<!-- 微信分享 -->
{if:IClient::isWechat() == true}
<?php
    require_once __DIR__ . '/../../../../plugins/wechat/wechat.php';
    $this->wechat = new wechat();
$this->wechat->config['wechat_jsApiSDK']=1;
$this->wechat->jsApiSDK();
?>
<script>
    //微信分享
    var wechat_share = {
        title       : '九猫大百货-日本同价-东京直邮', //标题
        desc        : '欢迎来到九猫家', //描述
        imgUrl      : "{echo:IWeb::$app->config['image_host'] . '/views/mobile/skin/default/image/jmj/img/cat-logo-small.png'}", //图片
    }
</script>
<script src="/views/mobile/javascript/jiumao/wechat.share.js?v=<?php echo time(); ?>"></script>
{/if}

<script type="text/javascript" src="/views/mobile/javascript/jiumao/siteIndex.js?v=<?php echo time(); ?>"></script>
</body>
</html>
