<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="x5-orientation" content="portrait">
		<title>
			<?php echo !empty(ISession::get('shop_name')) ? ISession::get('shop_name') : '九猫大百货'?>
		</title>
		<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
		<link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
		<link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
		<link rel="stylesheet" href="/views/mobile/skin/default/css/app/siteIndex.css?v=<?php echo time(); ?>" />
	</head>
	<body>
		<section id="indexInfo" v-cloak>
			<!--		搜索样式展开 			-->
			<search-nav :search="search" :val="null" v-if="search_top"></search-nav>
			<!--		搜索样式			-->
			<div id="search_" @click="search_tops" v-if="search_top_small">
				<img src="/views/mobile/skin/default/image/jmj/home_redesign/search.png" style="width: 0.8rem;" />
			</div>

			<!--		底部导航					-->
			<head-nav :state="0"></head-nav>
			<!--		轮播图				-->
			<div id="slider1" class="mui-slider" style="height: 3.4rem;">
				<div class="mui-slider-group mui-slider-loop">
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a :href="indexInfo.banner[indexInfo.banner.length-1].url" class="locationA">
							<img :src="indexInfo.banner[indexInfo.banner.length-1].img" style="height: 3.4rem;">
						</a>
					</div>
					<div class="mui-slider-item" v-for="item in indexInfo.banner">
						<a :href="item.url" class="locationA">
							<img :src="item.img" class="samLazyImg" style="height: 3.4rem;">
						</a>
					</div>
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a :href="indexInfo.banner[0].url" class="locationA">
							<img :src="indexInfo.banner[0].img" style="height: 3.4rem;">
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator" style="bottom:0.16rem;">
					<div class="mui-indicator mui-active" style="margin-right:-3px"></div>
					<div class="mui-indicator" v-for="key in indexInfo.banner.length-1"></div>
				</div>
			</div>
			<!--		限时抢				-->
			<!--<div id="Timed_to_rob" v-if="shop_time" v-cloak>-->
			<div id="Timed_to_rob" v-if="shop_time" v-cloak>
				<div class="albumn_index" style="height: auto;">
					<h1>
		   				<img src="/views/mobile/skin/default/image/jmj/home_redesign/time.png" style="width: 0.34rem;"/>
		   				<p class="p1">限时福利</p>
		   				<span class="span1" style="margin-top: 0.1rem;">离结束还剩</span>
		   				<p class="p2"><span id="timer_hhh"></span> : <span id="timer_mmm"></span> : <span id="timer_sss"></span></p>
		   				<p class="p3" @click="Timed_to_">更多 <span><img src="/views/mobile/skin/default/image/jmj/home_redesign/more.png" style="width: 0.14rem;"/></span></p>
		   			</h1>
					<div class="line_time"></div>
					<div class="mark" style="background: #fff;">
						<div class="product">
							<div class="slider">
								<div class="item" v-for="item in shop_info_time">
									<a href="#" @click="time_shop(item.id)">
										<div class="img"><img :dataimg="item.img" alt="" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png" class="samLazyImg" style="width: 1.56rem; height: 1.56rem;"></div>
										<div class="name hidewrap">{{item.name}}</div>
										<div id="xian" class="sellprice" style="font-size: 0.3rem;"><span style="font-size: 0.2rem; color: #ff2f5c; margin-right: -0.08rem;">￥</span> {{item.sell_price}} </div>
										<div class="yuanjia">原价：<s style="font-size: 0.26rem;font-family: helvetica;">{{item.old_price}}</s></div>
									</a>
									<div class="singleline"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--						4个正品										-->
			<div id="z_special" style="margin-top: 0.2rem;">
				<ul>
					<li @click="Brand_pavilion(key)" v-for="item,key in info_z_special">
						<img :src="item.img" style="width: 1.2rem;" />
						<p>{{item.title}}</p>
					</li>
				</ul>
			</div>
			<!--						视频特辑								-->
			<div id="Video_special" style="padding-top:0.2rem ;">
				<div class="img_play">
					<img @click="Video_pro" class="img_video" src="/views/mobile/skin/default/image/jmj/home_redesign/video.png" style="width: 7rem;display: block;margin: auto;" />
				</div>
			</div>
			<!--							分类												-->
			<div id="article_list">
				<div class="hot_category">
					<div class="head flexbox">
						<div style="height: 0.4rem;width: 100%;position: relative;">
							<span class="darkline"></span>
							<p class="zhuan">热门榜单</p>
							<span class="darkline2"></span>
						</div>
						<p class="line_f" style="font-size: 0.22rem;color: #b8b8b8;">ホットアイテム</p>
					</div>
					<ul>
						<li v-for="key in 12">
							<img :src="'/views/mobile/skin/default/image/jmj/home_redesign/'+key+'.png'"  @click="list_index(key)" style="width:3.5rem;" />
						</li>
					</ul>
				</div>
			</div>
			<!--							图文专辑											-->
			<section class="recommended line albumn_index" v-for="item in article_list">
				<div>
					<div class="title" >
						<span class="logo">
							<img :src="item.icon" alt="" class="img-hot">
						</span>
						<span class="name">{{item.category_name}}</span>
						<img class="images" src="/views/mobile/skin/default/image/jmj/home_redesign/tuwen.png" style="width: 2rem;" />
						<span class="like mui-pull-right" v-if="">
							<img @click="collect(item.id,item)" :src="item.is_favorite ==0 ? img1:img2" style="width: 0.34rem;" alt="" class="img-like">
						</span>
						<span class="num mui-pull-right favorite" :style="item.num_color?color2:color1">{{item.favorite_num}}</span>
					</div>
					<a href="#" id="product_item286">
						<div class="content">
							<div class="img flexbox" style="background: #fff;"><img @click="wenzhang_pro(item.id)" :src="item.image" style="width: 7.1rem; border-radius: 0.1rem;"></div>
						</div>
					</a>
					<div class="single"></div>
					<div class="mark">
						<div class="product">
							<div class="slider">
								<div class="item" v-for="items in item.list">
									<a href="#" @click="tuwen(items.id)">
										<div class="img"><img :dataimg="items.img" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png" alt="" class="samLazyImg" style="width: 1.56rem; height: 1.56rem;"/></div>
										<div class="name hidewrap">{{items.name}}</div>
										<div class="sellprice" style="font-size: 0.28rem;"><span style="font-size: 0.2rem; color: #ff2f5c; margin-right: -0.08rem;">￥ </span> {{items.sell_price}} </div>
									</a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div id="the_zone" class="mark">
				<div class="hot_category product">
					<div class="head flexbox">
						<div style="height: 0.7rem;width: 100%;position: relative;">
							<span class="darkline" style="top: 0.28rem;"></span> 
							<p class="zhuan" style="margin-top: 0.1rem;">专区推荐</p> 
							<span class="darkline2" style="top: 0.28rem;"></span>
						</div>
						<p class="line_f" style="font-size: 0.22rem;color: #b8b8b8;">カテゴリのおすすめ</p>
					</div>
					<div class="post_shop" v-for="item in zhuan_index">
						<div class="banner" @click="zhuan_pro(item)"><img :src="item.banner" style="width: 7.1rem;"/></div>
						<div class="scrll">
							<ul class="slider">
								<li class="item" @click="zhuan_shop(item2.id)" v-for="item2 in item.goods_list">
									<img :dataimg="item2.img" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png" alt="" class="samLazyImg" style="width: 1.56rem;"/>
									<p>{{item2.name}}</p>
								</li>
							</ul>
						</div>
						<div class="xian_list" style="background:#f5f5f5 ;width:100%;height:0.2rem;"></div>
					</div>
				</div>
				
			</div>
			<div id="footer_index">
				<div class="index_top" @click="guan()">
					<span></span>
					<p><img src="/views/mobile/skin/default/image/jmj/home_redesign/index_bottom.png" style="width: 1.81rem;"/></p>
					<span></span>
				</div>
				<p class="index_kan" style="width:100%;text-align: center;">点击 , &nbsp; &nbsp;去 逛 逛 吧 </p>
			</div>
			</div>-->
			<footer-nav :state="0" :states="index_st"></footer-nav>
		</section>
		<script src="/views/mobile/javascript/jquery.min.js"></script>
		<script src="/views/mobile/javascript/vue.js"></script>
		<!--加载顶部导航-->
		<script src="/views/mobile/components/head_nav.js?v=<?php echo time(); ?>"></script>
		<!--article-list组件引入-->
		<script src="/views/mobile/components/article_list.js?v=<?php echo time(); ?>"></script>
		<!--搜索组件引入-->
		<script src="/views/mobile/components/search_nav.js?v=<?php echo time(); ?>"></script>
		<!--底部导航样式的引入-->
		<script src="/views/mobile/components/footer_nav.js?v=<?php echo time(); ?>"></script>
		<script src="/views/mobile/javascript/mui.js"></script>
		<script src="/views/mobile/javascript/lazyload.js"></script>
		<script src="/views/mobile/javascript/jiumao/common.js?v=<?php echo time(); ?>"></script>
		<script src="/views/mobile/javascript/jiumao/wechat.js?v=<?php echo time(); ?>"></script>

		<!-- 微信分享 -->
		{if:IClient::isWechat() == true}
		<?php 
    require_once __DIR__ . '/../../../../plugins/wechat/wechat.php';
    $this->wechat = new wechat();
    $this->wechat->setConfig();
    $this->wechat->config['wechat_jsApiSDK']=1;
    $this->wechat->jsApiSDK();
?>
		<script>
			//微信分享
			var wechat_share = {
				title: '九猫大百货-日本同价-东京直邮', //标题
				desc: '欢迎来到九猫家', //描述
				link: "{echo:IWeb::$app->config['image_host1']}/site/ticket_gain?pid={$this->user['user_id']}&aid={echo:(new Config('jmj_config'))->activity_id}&iid={echo:ISession::get('shop_identify_id')}",
				imgUrl: "{echo:IWeb::$app->config['image_host'] . '/views/mobile/skin/default/image/jmj/img/cat-logo-small.png'}", //图片
			}
			wechat.share();
		</script>
		{/if}
		<script type="text/javascript" src="/views/mobile/javascript/jiumao/siteIndex.js?v=<?php echo time(); ?>"></script>
	</body>
</html>