<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>分享</title>
		<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
    	<link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
    	<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/app/order_share.css?v=<?php echo time(); ?>"/>
	</head>
	<body>
		<div id="wrap_if" v-cloak>
            <!--loading页开始-->
            <div id="loading" style="display: none;position: absolute;left: 50%;top: 50%;margin-top: -0.5rem;margin-left: -0.5rem" >
                <div class="spinner">
                    <div class="spinner-container container1">
                        <div class="circle1"></div>
                        <div class="circle2"></div>
                        <div class="circle3"></div>
                        <div class="circle4"></div>
                    </div>
                    <div class="spinner-container container2">
                        <div class="circle1"></div>
                        <div class="circle2"></div>
                        <div class="circle3"></div>
                        <div class="circle4"></div>
                    </div>
                    <div class="spinner-container container3">
                        <div class="circle1"></div>
                        <div class="circle2"></div>
                        <div class="circle3"></div>
                        <div class="circle4"></div>
                    </div>
                </div>
            </div>

            <!--       内容        -->
			<header>
				<div class="top_share">
					<div v-if=sent_per>
						<img v-if="img1" src="/views/mobile/skin/default/image/buy_share/guide.png" />
						<img :name="img1" v-if="img1 == false" src="/views/mobile/skin/default/image/buy_share/img1.png" style="z-index: 10000;"/>
					</div>

				</div>
				<div class="congratulations">
					<img id="share_show_img" src="/views/mobile/skin/default/image/buy_share/index_.png"/>
				</div>
				<div class="hongbao">
					<div v-if="sent_per">获得 <span>现金红包</span> ×5</div>
					<div v-else>获得 <span>现金红包</span> ×1</div>
				</div>
			</header>
			<div id="logo" v-if="sent_per">
				<img src="/views/mobile/skin/default/image/buy_share/mainbody.png"/>
				<p id="share_show">将红包分享给多位微信好友,若有5位或更多好友领取红包后,您即可获得价值68元代金券!</p>
			</div>
			<div id="logo" v-else>
				<img src="/views/mobile/skin/default/image/buy_share/body.png"/>
				<p id="share_show">这是您的好友~谁是谁水~在九猫家下单后,特别为您分享个您的红包噢!快打开看看吧!</p>
			</div>
			<div id="btn">
				<div class="top_1" v-if="sent_per">
					<img src="/views/mobile/skin/default/image/buy_share/vouchers.png"/>
					<p>领取代金券</p>
					<div class="www"  @click="share_receive"></div>
				</div>
				<div class="top_1" v-else>
					<img src="/views/mobile/skin/default/image/buy_share/vouchers.png"/>
					<p>打开红包</p>
					<div class="www"  @click="share_receive2"></div>
				</div>
				<div class="bottom_1">
					<img src="/views/mobile/skin/default/image/buy_share/fanhui.png"/>
					<p>返回九猫家</p>
					<div class="www" @click="returns"></div>
				</div>
				
			</div>
			<div id="Popup_window" v-if="tan">
				<!--		普通领奖关注九猫家公众号 			-->
				<div>
					<!--<p class="window_1">恭喜您! 成功领取&nbsp;<span>68</span>&nbsp;元代金券!</p>-->
                    <div class="window_1" v-html="p_data"></div>
					<!--<p v-if="friends" class="window_2">代金券编号:&nbsp;<span>EEEEEEEEEEE</span></p>-->
					<img v-if = "friends" class="window_img1" src="/views/mobile/skin/default/image/buy_share/tatle.png"/>
					<!--<img v-if = "friends == false" src="/views/mobile/skin/default/image/buy_share/qq.png" style="width: 5.54rem;margin: 0.56rem auto 0.66rem;"/>-->
					<div class="window_div" v-if = "friends == true">
						<img class="window_img2" @click="returns" src="/views/mobile/skin/default/image/buy_share/return.png"/>
						<p>返回九猫家</p>
					</div>
                    <img v-if = "friends == false" src="{$this->image_path}" alt="图丢啦！" style="width: 2.54rem;display: block;margin: 0 auto">
					<span v-if = "friends == false"  style="font-size: 0.28rem; color: #898989;display: block;width: 100%;text-align: center;">长按二维码并关注,即可领取优惠券红包。</span>
					<t id="sssssss" style="width: 1px;height: 1.29rem;background: #fff; position: absolute;right:0.42rem ;top: 7.2rem; background: rgba(255,255,255,0.4);">
			    		<strong style="width: 0.5rem;height: 0.5rem;position: absolute;left: -0.25rem;top: 1.29rem;z-index: 88;">
			    			<img id="guan" @click="guan" src="/views/mobile/skin/default/image/jmj/ticket_gain/guan.png" style="width: 0.5rem;height: 0.5rem;"/>
			    		</strong>
			    	</t>
		    	</div>
			</div>
			
			<div id="backgrounds" v-if="bg">
				<img v-if="img1 == false" src="/views/mobile/skin/default/image/buy_share/img2.png"/>
			</div>
		
		</div>
		<!--底部空隙-->
		<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
		<!--加载动画载入-->
		<script src="/views/mobile/components/loadding.js?v=<?php echo time(); ?>"></script>
		<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
		<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
		<script src="/views/mobile/javascript/lazyload.js?v=<?php echo time(); ?>"></script>
		<script type="text/javascript">
             var sponsor = "{$this->sponsor}";
             var friends = "{$this->friends}";
             if(sponsor == 1){
                 sponsor = true;
             }else{
                 sponsor = false;
             }
             if(friends == 1){
                 friends = true;
             }else{
                 friends = false;
             }
			 var vm= new Vue({
				el:'#wrap_if',
				data:{
					tan:false,
					bg:false,
					img1:true,
					//分享人
					sent_per:sponsor,
					friends:friends,
					p_data:''
				},
				computed:{
					
				},
				mounted:function(){
					
				},
				updated:function(){
                    $("#loading").css({
                        "display":"none"
                    })
					if(vm.friends){
						$("#Popup_window").animate({
							top: "50%",
							marginTop: "-4.45rem",		
						});
					}else{

						$("#Popup_window").css({
							"background":" url(/views/mobile/skin/default/image/buy_share/ww.png)",
							"backgroundSize": "100% 100%",
							"height":"8.5rem"
						});
						$("#Popup_window").animate({
							top: "50%",
							marginTop: "-5.75rem",		
						});
						$("#sssssss").css({
							"top":"8.5rem"
						});
						$("#Popup_window .window_1").css({
							"marginTop":"2.3rem"
						})
					}
					
				},
				methods:{
					share_receive:function(){
                        $("#loading").css({
                            "display":"block"
                        })
                        mui.ajax('/apic/get_share_ticket',{
                            dataType:'json',
                            type:'get',
                            timeout:10000,
                            success:function(data){

                                vm.p_data = data.msg ;
                                vm.tan = true;
                                vm.bg = true;
                                vm.img1 = true;
                                document.body.scrollTop = 0
                                $(document).on('touchmove',function(event) { event.preventDefault(); }, false);
                            }
                        })
					},
					returns:function(){
						window.location.href = "/site/index";
					},
					guan:function(){
						this.tan = false;
						this.bg = false;
						$(document).unbind('touchmove');
					},
					share_receive2:function(){
							$("#share_show").css({
								"color":"#999",
								"zIndex":"1"
							});
							this.tan = true;
							this.bg = true;
							document.body.scrollTop = 0
							$(document).on('touchmove',function(event) { event.preventDefault(); }, false);
						}
					}
			})
			 
			 function index_share(){
			 	mui.ajax('/apic/get_share_ticket',{
		        dataType:'json',
		        type:'get',
		        timeout:10000,
		        success:function(data){
		        	vm.p_data = data.msg ;
		        	return true;
		        }
		    });
			 }
             window.onload=function(){


             }
		</script>
	</body>
    {if:common::jssdk()&&IClient::isWechat()}
    <script>
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: '您的好友分享红包给你啦', // 分享标题
                link: "{echo:IWeb::$app->config['image_host'].'/site/order_share/share_no/'.$this->scene_id}", // 分享链接
                imgUrl: "{echo:IWeb::$app->config['image_host'] . '/views/mobile/skin/default/image/buy_share/mainbody.png'}", // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareAppMessage({
                title: '您的好友分享红包给你啦', // 分享标题
                desc: '打开领取优惠券红包', // 分享描述
                link: "{echo:IWeb::$app->config['image_host'].'/site/order_share/share_no/'.$this->share_no}", // 分享链接
                imgUrl: "{echo:IWeb::$app->config['image_host'] . '/views/mobile/skin/default/image/buy_share/mainbody.png'}", // 分享图标
                type: 'link', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        })
    </script>
    {/if}
</html>
