<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>九猫商城</title>
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/pro_list.css" />
</head>
<body>
<!--loading页开始-->
<div id="loading">
	<div class="spinner">
		<div class="spinner-container container1">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container2">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container3">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
	</div>
</div>
<!--loading页结束-->
<!--下拉刷新容器-->
<!--<div id="pullrefresh" class="mui-content mui-scroll-wrapper">-->
<!--<div class="mui-scroll" id="muiScroll">-->
<!--头部-->
<section class="homeHeader">
	<div class="nav-header">
		<div class="mui-input-row mui-search">
			<input type="search" id="searth"  placeholder="">
		</div>
	</div>
	<img src="/views/mobile/skin/default/image/jmj/icon/leftear.png" alt="" class="left-icon">
	<img src="/views/mobile/skin/default/image/jmj/icon/rightear.png" alt="" class="right-icon">
	<img src="/views/mobile/skin/default/image/jmj/icon/flower.png" alt="" class="img-flower">
</section>
<section id="nav-slider">
	<div  class="mui-slider">
		<div id="Control" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
			<div class="mui-scroll">
				<a class="mui-control-item" href="{url:/site/index}">
					<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg1.png" alt=""  />
					<span class="text">推荐</span>
					<span class="bg"></span>
				</a>
				<a class="mui-control-item mui-control-item2" href="{url:/site/pro_list}?cat=2">
					<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg2.png" alt=""/>
					<span class="text">药妆</span>
					<span class="bg"></span>
				</a>
				<a class="mui-control-item mui-control-item3" href="{url:/site/pro_list}?cat=3">
					<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg3.png" alt=""  />
					<span class="text">个护</span>
					<span class="bg"></span>
				</a>
				<a class="mui-control-item mui-control-item4" href="{url:/site/pro_list}?cat=4">
					<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg4.png" alt="" />
					<span class="text">宠物</span>
					<span class="bg"></span>
				</a>
				<a class="mui-control-item mui-control-item5" href="{url:/site/pro_list}?cat=5">
					<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg5.png" alt="" />
					<span class="text">健康</span>
					<span class="bg"></span>
				</a>
                <a class="mui-control-item mui-control-item5" href="{url:/site/pro_list}?cat=6">
                    <img src="/views/mobile/skin/default/image/jmj/icon/page1_bg6.png" alt="" />
                    <span class="text">零食</span>
                    <span class="bg"></span>
                </a>
			</div>
		</div>
	</div>
</section>
<section id="pro_list" >
	<div class="prolistItem">
		<div class="bannerImg">
			<img src="/views/mobile/skin/default/image/jmj/img/banner01.png" alt=""/>
		</div>
		<div class="box new">
			<div class="left">
				<span class="logo"></span>
				<span class="name">最新品</span>
			</div>
			<div class="right">
				<a href="{url:/site/goods_more?commend_id=1&category_id=$this->childId}">
					<span>更多</span>
					<img src="/views/mobile/skin/default/image/jmj/icon/more.png" alt="" />
				</a>
			</div>
		</div>
		<div class="product">
			{query:name=goods as m join=left join commend_goods as d on d.goods_id eq m.id 
				where=m.search_words like '%,$this->tag,%' and d.commend_id eq 1 
				fields=m.id,m.name,m.sell_price,m.img 
				limit=3 
				order=m.id desc}
			<a href="{url:/site/products?id=$item['id']}">
				<div class="item">
					<div class="img">
						<img src="{echo:IWeb::$app->config['image_host'].'/'.IUrl::creatUrl('/pic/thumb/img/'.$item['img'].'/w/240/h/240')}" alt="" />
					</div>
					<div class="content">
						<div class="name hidewrap">{$item['name']}</div>
						<div class="sellprice price">¥{$item['sell_price']}</div>
					</div>
				</div>
			</a>
			{/query}
		</div>
	</div>
	<div class="prolistItem" style="margin-top:0.12rem;">
		<div class="box new">
			<div class="left">
				<span class="logo"></span>
				<span class="name">最热卖</span>
			</div>
			<div class="right">
				<a href="{url:/site/goods_more?commend_id=3&category_id=$this->childId}">
					<span>更多</span>
					<img src="/views/mobile/skin/default/image/jmj/icon/more.png" alt="" />
				</a>
			</div>
		</div>
		<div class="product">
			{query:name=goods as m join=left join commend_goods as d on d.goods_id eq m.id 
				where=m.search_words like '%,$this->tag,%' and d.commend_id eq 3 
				fields=m.id,m.name,m.sell_price,m.img 
				limit=3 
				order=m.id desc}
			<a href="{url:/site/products?id=$item['id']}">
				<div class="item">
					<div class="img">
						<img src="{echo:IWeb::$app->config['image_host'].'/'.IUrl::creatUrl('/pic/thumb/img/'.$item['img'].'/w/240/h/240')}" alt="" />
					</div>
					<div class="content">
						<div class="name hidewrap">{$item['name']}</div>
						<div class="sellprice price">¥{$item['sell_price']}</div>
					</div>
				</div>
			</a>
			{/query}
		</div>
		<div class="bannerImg">
			<img src="/views/mobile/skin/default/image/jmj/img/banner01.png" alt=""/>
		</div>
	</div>
</section>
<section id="relate_product">
	<div class="title"><span>~</span><span>推荐商品</span>~</div>
	<div class="content" id="getRelateWare">
			{query:name=goods as m join=left join commend_goods as d on d.goods_id eq m.id 
				where=m.search_words like '%,$this->tag,%' and d.commend_id eq 4 
			fields=m.id,m.name,m.sell_price,m.img 
			limit=100 
			order=m.id desc}
		<div class="item">
			<a href="{url:/site/products?id=$item['id']}"><div class="img underline"><img src="{echo:IWeb::$app->config['image_host'].'/'.IUrl::creatUrl('/pic/thumb/img/'.$item['img'].'/w/360/h/360')}" alt=""/></div>
				<div class="name">{$item['name']}</div>
				<div class="box">
					<div class="price">¥{$item['sell_price']}</div>
					<div class="buy">立即购买</div>
				</div></a>
		</div>
		{/query}
	</div>
</section>

<div style="padding-bottom:1.42rem;background:#f8f8f8"></div>
<div class="fix-toTop hide">
	<img src="/views/mobile/skin/default/image/jmj/icon/top-icon.png" alt=""  />
</div>
<footer>
	<nav class="mui-bar mui-bar-tab">
		<a id="defaultTab" class="mui-tab-item mui-active home" href="{url:/site/index}">
			<span class="mui-icon nav-icon icon-home"></span>
			<div class="mui-tab-label">首页</div>
		</a>
		<a class="mui-tab-item" href="{url:/site/sitemap}">
			<span class="mui-icon nav-icon icon-classification"></span>
			<div class="mui-tab-label">分类</div>
		</a>
		<a class="mui-tab-item" href="{url:/site/favorite}">
			<span class="nav-icon icon-vedio">
				<img src="/views/mobile/skin/default/image/jmj/icon/grass.png" alt="" class="img-move02">
				<div class="grow">种草</div>
				<span class="tab-mark"></span>
			</span>
		</a>
		<a class="mui-tab-item" href="{url:simple/cart}">
			<span class="mui-icon nav-icon icon-shopcar"></span>
			<div class="mui-tab-label">购物车</div>
		</a>
		<a class="mui-tab-item" href="{url:/ucenter/index}">
			<span class="mui-icon nav-icon icon-my"></span>
			<div class="mui-tab-label">我的</div>
		</a>
	</nav>
</footer>
<!--模态框-->
<div id="modalid-searth" class="hide">
	<div class="title">
		大家都在搜
	</div>
	<div class="searth-content">
		<a href="#">万圣节</a>
		<a href="#">爱丽小屋</a>
		<a href="#">吃饱撑着</a>
		<a href="#">哈哈哈</a>
		<a href="#">英文</a>
		<a href="#">数字</a>
		<a href="#">万圣节</a>
		<a href="#">万圣节</a>
		<a href="#">万圣节</a>
		<a href="#">万圣节</a>
		<a href="#">万圣节</a>
	</div>
	<button type="button" id="button-submit" class="mui-btn  mui-btn-outlined buttom-submit" onclick="searthSubmit();">确定</button>
	<button type="button" id="button-cancel" class="mui-btn  mui-btn-outlined buttom-cancel" onclick="searthCancel();">取消</button>
</div>
<!--专辑分页模板-->
<script id="pro_list_temp" type="text/html">
	<% for(var i=0; i<data.length; i++){%>
	<%}%>
</script>
<!--头信息结束-->
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script>
	//获取url的商品id
	var Request = new Object();
	Request = GetRequest();
	var getId=Request["cat"];
	$(".mui-control-item"+getId).addClass("mui-active");
	var pageData = {
		page:1
	};
	//页面加载完成后调用的功能
	window.onload=function(){
		$("#loading").fadeOut(300);
		getIndex();
		//解决tab选项卡a标签无法跳转的问题
		mui('body').on('tap','.mui-tab-item',function(){document.location.href=this.href;});
		mui('body').on('tap','a',function(){
			document.location.href=this.href;
		});
		//点击直达顶部
		mui("body").on("tap",".fix-toTop",function(){
			$("html,body").animate({scrollTop:0},0);
			return false;
		});
	}

	document.getElementById("searth").addEventListener('focus',function(){
		document.getElementById("modalid-searth").className="show";
		document.body.style.overflow = 'hidden';
	});
	//上拉加载
	var stop=true;
	$(window).bind('scroll', function() {
		if ($(window).scrollTop() + $(window).height() +600 >= $(document).height() && $(window).scrollTop() > 50) {
			if(stop==true){
				stop=false;
				pullupRefresh()
			}
		}
		if($(window).scrollTop()>100){
			$(".fix-toTop").show();
			$(".fix-toTop").css("position","fixed");
		}else{
			$(".fix-toTop").hide();
			$(".fix-toTop").css("position","fixed");
		}
	});
	function pullupRefresh() {
		mui.ajax('index.php?controller=apic&action=article_list',{
			data:pageData,
			dataType:'json',	// 服务器返回json格式数据
			type:'post',		// HTTP请求类型
			timeout:10000,		// 超时时间设置为10秒；
			success:function(data){
				console.log(data);
				var pageAlbum={};
				pageAlbum.data=data;
				var html3=template('albumPage',pageAlbum);
				var div = document.createElement('div');
				div.innerHTML=html3;
//				document.getElementById("pullContainer").appendChild(div);
//               mui('#pullrefresh').pullRefresh().endPullupToRefresh(pageData.page==data[0].totalpage);
				if(data[0].totalpage>pageData.page){
					stop = true;
				}else{
					stop = false;
				}
				pageData.page++;
			},
			error:function(xhr,type,errorThrown){
				//异常处理；
				console.log(type);

			}
		});
	}
	function searthCancel(){
		document.getElementById("modalid-searth").className="hide";
		document.body.style.overflow = 'auto';
	}
	function searthSubmit(){
		var subContent=document.getElementById("searth").value;
		if(subContent==""){
			searthCancel();
		}else{
			window.location.href="home.html?item="+subContent;
		}
	}
	function getIndex(){
		mui.ajax('index.php?controller=apic&action=banner_list',{
			dataType:'json',//服务器返回json格式数据
			type:'get',//HTTP请求类型
			timeout:10000,//超时时间设置为10秒；
			success:function(data){
				console.log(data);
				$(".mui-placeholder span").eq(1).html(data.goods_nums+"件商品等你来搜")
			},
			error:function(xhr,type,errorThrown){
				//异常处理；
			}
		});
	}
	//	获取url传递过来的参数
	function GetRequest() {
		var url = location.search; //获取url中"?"符后的字串
		var theRequest = new Object();
		if (url.indexOf("?") != -1) {
			var str = url.substr(1);
			strs = str.split("&");
			for(var i = 0; i < strs.length; i ++) {
				theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
			}
		}
		return theRequest;
	}
</script>
</body>
</html>

