<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="x5-orientation" content="portrait">
	<title>九猫百货</title>
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css?v=<?php echo time(); ?>" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/pro_list.css?v=<?php echo time(); ?>" />
</head>
<body>
<!--loading页开始-->
<div id="loading">
	<div class="spinner">
		<div class="spinner-container container1">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container2">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container3">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
	</div>
</div>
<!--pro_list页面的开始-->
<div id="prolistInfo">
	<section class="search-header" id="homeHeader">
		<div class="inputContent">
			<form onsubmit="searthSubmit()" action="/site/search_list">
				<input type="search" :placeholder="placeHolder" id="search" onfocus="getSearth();" />
				<img class="search_ico" src="/views/mobile/skin/default/image/jmj/new_active/index/search.png" alt="" />
			</form>
			<img src="/views/mobile/skin/default/image/jmj/new_active/index/leftear.png" alt="" class="left-icon" />
			<img src="/views/mobile/skin/default/image/jmj/new_active/index/rightear.png" alt="" class="right-icon" />
			<img src="/views/mobile/skin/default/image/jmj/new_active/index/flower.png" alt="" class="img-flower" />
			<div class="cancel hide" id="cancle" onclick="searthCancel();">取消</div>
		</div>
		<!--模态框-->
		<div id="modalid-search" class="hide">
			<div class="title">
				猫猫都在搜
			</div>
			<div class="search-content">
				<a href="#"  @click="ToSearthPage(item.word)" v-for="(item,key) in searchWord" v-if="key<10">{{item.word}}</a>
			</div>
			<button type="button" id="button-submit"  onclick="searthSubmit();">确定</button>
			<button type="button" id="button-cancel"  onclick="searthCancel();">取消</button>
		</div>
	</section>
	<section id="nav-slider">
		<div  class="mui-slider">
			<div id="Control" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<div class="mui-scroll">
					<a class="mui-control-item locationA" href="{url:/site/index}">
						<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg1.png" alt=""  />
						<span class="text">推荐</span>
						<span class="bg"></span>
					</a>
					<a class="mui-control-item mui-control-item1 locationA" href="{url:/site/pro_list}?cat=1">
						<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg2.png" alt=""/>
						<span class="text">药妆</span>
						<span class="bg"></span>
					</a>
					<a class="mui-control-item mui-control-item2 locationA" href="{url:/site/pro_list}?cat=2">
						<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg3.png" alt=""  />
						<span class="text">个护</span>
						<span class="bg"></span>
					</a>
					<a class="mui-control-item mui-control-item3 locationA" href="{url:/site/pro_list}?cat=3">
						<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg4.png" alt="" />
						<span class="text">宠物</span>
						<span class="bg"></span>
					</a>
					<a class="mui-control-item mui-control-item4 locationA" href="{url:/site/pro_list}?cat=4">
						<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg5.png" alt="" />
						<span class="text">健康</span>
						<span class="bg"></span>
					</a>
					<a class="mui-control-item mui-control-item5 locationA" href="{url:/site/pro_list}?cat=5">
						<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg6.png" alt="" />
						<span class="text">零食</span>
						<span class="bg"></span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!--热门分类-->
	<section id="pro_list" v-cloak>
		<!--热门分类-->
		<div class="categroyHot" v-cloak>
			<div class="title">
				<div class="top">
					<span class="line-h"></span>
					<span>热门分类</span>
					<span class="line-h"></span>
				</div>
				<div class="middle">
					ヒット分類
				</div>
			</div>
			<div class="mark">
				<div class="banner">
					<div class="wrapper">
						<a :href="item1.url" class="locationA" v-for="item1 in hotCat">
							<div class="item" >
								<img :dataimg="item1.image" alt=""  src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png"  class="samLazyImg" />
								<div class="name hidewrap">
									{{item1.name}}
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--最新品-->
		<div class="prolistItem" v-cloak>
			<div class="box new">
				<div class="left">
					<img src="/views/mobile/skin/default/image/jmj/product/new.png" alt="" style="width:3.07rem;height:0.66rem" />
				</div>
				<a href="#" @click="toGoodsMore(1)">
					<div class="right">
						<span>更多</span>
						<img src="/views/mobile/skin/default/image/jmj/icon/more.png" alt="" />
					</div>
				</a>
			</div>
			<div class="product">
				<a :href="item2.url"  class="locationA" v-for="item2 in goods1">
					<div class="item">
						<div class="img">
							<img :dataimg="item2.img" alt=""
								 src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png"  class="samLazyImg" />
						</div>
						<div class="content">
							<div class="name hidewrap">{{item2.name}}</div>
							<div class="sellprice price">¥{{item2.sell_price}}</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<!--随机专辑-->
		<section class="recommended line albumn_index" v-cloak>
			<a :href="article[0].url" class="locationA">
				<div class="content">
					<div class="img">
						<img :dataimg="article[0].image" alt="" width="100%" style="height:3.8rem;" src=""  class="samLazyImg"  />
					</div>
					<div class="mark1">{{article[0].goods_count}}件商品
					</div>
					<div class="mark2">
						<img src="/views/mobile/skin/default/image/jmj/icon/read.png" alt="">
						{{article[0].visit_num}}</div>
				</div>
			</a>
			<div class="single"></div>
			<div class="mark" v-if="article[0].len>3">
				<div class="product">
					<div class="slider">
						<div class="item" v-for="itemList in article[0].goods_list">
							<a :href="itemList.url" class="locationA">
								<div class="img"><img :dataimg="itemList.img" alt="" style="width:1.8rem;height:1.8rem;" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png" alt="" class="samLazyImg" /></div>
								<div class="name hidewrap">{{itemList.name}}</div>
								<div class="sellprice">¥{{itemList.sell_price}}</div>
							</a>
						</div>
						<div class="singleline"></div>
					</div>
					<div class="mark"></div>
				</div>
			</div>
		</section>
		<!--品牌-->
		<div class="relateBrand" v-cloak>
			<div class="title">
				<div class="top">
					<span class="line-h"></span>
					<span>热门品牌</span>
					<span class="line-h"></span>
				</div>
				<div class="middle">
					ヒットブランド
				</div>
			</div>
			<div class="banner">
				<div class="item" v-for="ite in brand">
					<a href="#" class="locationA" tip="如果要跳转 填ite.url即可">
						<img :src="ite.logo" :alt="ite.name" style="width:1.61rem;height:1.03rem" /></a>
				</div>
			</div>
		</div>
		<!--最热卖-->
		<div class="prolistItem" style="margin-top:0.12rem;" v-cloak>
			<div class="box new">
				<div class="left">
					<img src="/views/mobile/skin/default/image/jmj/product/hot.png" alt="" style="width:3.06rem;height:0.66rem" />
				</div>
				<div class="right">
					<a href="#" @click="toGoodsMore(2)">
						<span>更多</span>
						<img dataimg="/views/mobile/skin/default/image/jmj/icon/more.png" alt="" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png"  class="samLazyImg" />
					</a>
				</div>
			</div>
			<div class="product">
				<a :href="ite1.url"  class="locationA" v-for="ite1 in goods2">
					<div class="item">
						<div class="img">
							<img :dataimg="ite1.img" alt=""
								 src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png"  class="samLazyImg" />
						</div>
						<div class="content">
							<div class="name hidewrap">{{ite1.name}}</div>
							<div class="sellprice price">¥{{ite1.sell_price}}</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<!--随机专辑-->
		<section class="recommended line albumn_index" v-cloak>
			<a :href="article[1].url" class="locationA">
				<div class="content">
					<div class="img">
						<img :dataimg="article[1].image" alt="" width="100%" style="height:3.8rem;" src=""  class="samLazyImg"  />
					</div>
					<div class="mark1">{{article[1].goods_count}}件商品
					</div>
					<div class="mark2">
						<img src="/views/mobile/skin/default/image/jmj/icon/read.png" alt="">
						{{article[1].visit_num}}</div>
				</div>
			</a>
			<div class="single"></div>
			<div class="mark" v-if="article[1].len>3">
				<div class="product">
					<div class="slider">
						<div class="item" v-for="itemList in article[1].goods_list">
							<a :href="itemList.url" class="locationA">
								<div class="img"><img :dataimg="itemList.img" alt="" style="width:1.8rem;height:1.8rem;" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png" alt="" class="samLazyImg" /></div>
								<div class="name hidewrap">{{itemList.name}}</div>
								<div class="sellprice">¥{{itemList.sell_price}}</div>
							</a>
						</div>
						<div class="singleline"></div>
					</div>
					<div class="mark"></div>
				</div>
			</div>
		</section>
		<!--推荐商品	-->
		<section id="relate_product" v-cloak>
			<div class="title">
				<div class="box new">
					<div class="left">
						<img :src="info.pic" alt="" style="width:3.75rem;height:0.66rem" />
					</div>
					<a href="#" @click="toGoodsMore(3)">
						<div class="right">
							<span>更多</span>
							<img src="/views/mobile/skin/default/image/jmj/icon/more.png" alt="" />
						</div>
					</a>
				</div>
			</div>
			<div class="content" id="getRelateWare">
				<div class="item" v-for="ite3 in goods3">
					<a :href="ite3.url"  class="locationA" >
						<div class="img"><img :dataimg="ite3.img" alt="" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png"  class="samLazyImg" /></div>
						<div class="name">{{ite3.name}}</div>
						<div class="box">
							<div class="sellprice price">¥{{ite3.sell_price}}</div>
						</div></a>
				</div>
			</div>
		</section>
	</section>
</div>
<div style="height:1.42rem;background:#f8f8f8"></div>


<footer>
	<nav class="mui-bar mui-bar-tab"  style="z-index:25">
        <a id="defaultTab" class="mui-tab-item mui-active home" href="{url:/site/index}" >
                <span class="mui-icon nav-icon icon-home">
                    <img src="/views/mobile/skin/default/image/jmj/new_active/index/homeactive.png" data-img="home-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">首页</div>
        </a>
        <a class="mui-tab-item" href="{url:/site/sitemap}" >
                <span class="mui-icon nav-icon icon-classification">
                    <img src="/views/mobile/skin/default/image/jmj/new_active/index/mune.png" data-img="muneed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">分类</div>
        </a>
        <a class="mui-tab-item" href="{url:/site/favorite}">
                <span class="nav-icon icon-vedio">
                    <img src="/views/mobile/skin/default/image/jmj/new_active/index/grass.png" data-img="grass.png" alt="" class="img-move02">
                    <div class="grow" style="margin-top:0 ;">种草</div>
                    <span class="tab-mark"></span>
                </span>
        </a>
        <a class="mui-tab-item" href="{url:simple/cart}">
                <span class="mui-icon nav-icon icon-shopcar">
                    <img src="/views/mobile/skin/default/image/jmj/new_active/index/buy.png"  data-img="buy.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">购物车</div>
        </a>
        <a class="mui-tab-item" href="{url:/ucenter/index}">
                <span class="mui-icon nav-icon icon-my">
                    <img src="/views/mobile/skin/default/image/jmj/new_active/index/my.png" data-img="myed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">我的</div>
        </a>
    </nav>
</footer>
<!--专辑分页模板-->
<!--头信息结束-->
<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/template-native.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/lazyload.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/jiumao/common.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/jiumao/pro_list.js?v=<?php echo time(); ?>"></script>
</body>
</html>

