<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="x5-orientation" content="portrait">
	<title>九猫百货</title>
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=1.0.1" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/pro_list.css?v=1.0.1" />
</head>
<body>
<!--loading页开始-->
<div id="loading">
	<div class="spinner">
		<div class="spinner-container container1">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container2">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container3">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
	</div>
</div>
<!--loading页结束-->
<!--下拉刷新容器-->
<!--<div id="pullrefresh" class="mui-content mui-scroll-wrapper">-->
<!--<div class="mui-scroll" id="muiScroll">-->
<!--头部-->
<section class="homeHeader">
	<div class="nav-header">
		<div class="mui-input-row mui-search">
			<input type="search" id="searth"  placeholder="">
		</div>
	</div>
	<img src="/views/mobile/skin/default/image/jmj/icon/leftear.png" alt="" class="left-icon">
	<img src="/views/mobile/skin/default/image/jmj/icon/rightear.png" alt="" class="right-icon">
	<img src="/views/mobile/skin/default/image/jmj/icon/flower.png" alt="" class="img-flower">
</section>
<section id="nav-slider">
	<div  class="mui-slider">
		<div id="Control" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
			<div class="mui-scroll">
				<a class="mui-control-item locationA" href="{url:/site/index}">
					<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg1.png" alt=""  />
					<span class="text">推荐</span>
					<span class="bg"></span>
				</a>
				<a class="mui-control-item mui-control-item126 locationA" href="{url:/site/pro_list}?cat=126">
					<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg2.png" alt=""/>
					<span class="text">药妆</span>
					<span class="bg"></span>
				</a>
				<a class="mui-control-item mui-control-item134 locationA" href="{url:/site/pro_list}?cat=134">
					<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg3.png" alt=""  />
					<span class="text">个护</span>
					<span class="bg"></span>
				</a>
				<a class="mui-control-item mui-control-item6 locationA" href="{url:/site/pro_list}?cat=6">
					<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg4.png" alt="" />
					<span class="text">宠物</span>
					<span class="bg"></span>
				</a>
				<a class="mui-control-item mui-control-item2 locationA" href="{url:/site/pro_list}?cat=2">
					<img src="/views/mobile/skin/default/image/jmj/icon/page1_bg5.png" alt="" />
					<span class="text">健康</span>
					<span class="bg"></span>
				</a>
                <a class="mui-control-item mui-control-item7 locationA" href="{url:/site/pro_list}?cat=7">
                    <img src="/views/mobile/skin/default/image/jmj/icon/page1_bg6.png" alt="" />
                    <span class="text">零食</span>
                    <span class="bg"></span>
                </a>
			</div>
		</div>
	</div>
</section>
<section id="pro_list" >
	<!--热门分类-->
	<div class="categroyHot">
		<div class="title">
			<div class="top">
				<span class="line-h"></span>
				<span>热门分类</span>
				<span class="line-h"></span>
			</div>
			<div class="middle">
				ヒット分類
			</div>
		</div>
        <div class="mark">
		<div class="banner">
                <div class="wrapper">
                    {query:name=category 
                        where=parent_id eq $this->catId and visibility eq 1 
                        fields=id,name,image 
                        limit=1000 
                        order=sort desc}
                    <a href="/site/category_third/id/{$item['id']}/title/{$item['name']}" class="locationA">
                    <div class="item" >
                        <img dataimg="{echo:IWeb::$app->config['image_host'].'/'.$item['image']}" alt=""  src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png"  class="samLazyImg" />
                        <div class="name hidewrap">
                            {$item['name']}
                        </div>
                    </div>
                    </a>
                    {/query}
                </div>
            </div>
		</div>
	</div>
	<!--最新品-->
	<div class="prolistItem">
		<div class="box new">
			<div class="left">
				<img src="/views/mobile/skin/default/image/jmj/product/new.png" alt="" style="width:3.07rem;height:0.66rem" />
			</div>
			<a href="{url:/site/goods_more}?commend_id=1&category_id={$this->childId}&title={$this->name}-最新品"  class="locationA">
				<div class="right">
					<span>更多</span>
					<img src="/views/mobile/skin/default/image/jmj/icon/more.png" alt="" />
				</div>
			</a>
		</div>
		<div class="product">
			{query:name=goods as m join=left join commend_goods as d on d.goods_id eq m.id left join category_extend as c on c.goods_id eq m.id 
				where=m.is_del eq 0 and c.category_id in ($this->childId) and d.commend_id eq 1 
				fields=m.id,m.name,m.sell_price,m.img 
				group=m.id 
				limit=6 
				order=m.id desc}
			<a href="{url:/site/products?id=$item['id']}"  class="locationA">
				<div class="item">
					<div class="img">
						<img dataimg="{echo:IWeb::$app->config['image_host'].'/'.IUrl::creatUrl('/pic/thumb/img/'.$item['img'].'/w/220/h/220')}" alt=""
							 src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png"  class="samLazyImg" />
					</div>
					<div class="content">
						<div class="name hidewrap">{$item['name']}</div>
						<div class="sellprice price">¥{$item['sell_price']}</div>
					</div>
				</div>
			</a>
			{/query}
		</div>
	</div>
	<!--随机专辑1-->
	{if:!empty($this->article_list[0])}
	<section class="recommended line albumn_index">
		<!-- <div class="title">
            <span class="logo" >
                <img src="/views/mobile/skin/default/image/jmj/icon/hot.png" alt="" class="img-hot">
            </span>
			<span class="name">
				{$this->article_list[0]['name']}
            </span>
			<span class="num mui-pull-right favorite{$this->article_list[0]['id']}">
            	{$this->article_list[0]['favorite']}
            </span>
			<span class="like mui-pull-right">
				{if:$this->article_list[0]['is_favorite'] == 0}
                <img src="/views/mobile/skin/default/image/jmj/icon/like.png"  alt="" class="img-like shareContent{$this->article_list[0]['id']}" onclick="collection({$this->article_list[0]['id']})" />
                {else:}
                <img src="/views/mobile/skin/default/image/jmj/icon/like-ed.png"  alt="" class="img-like shareContent{$this->article_list[0]['id']}" onclick=collection({$this->article_list[0]['id']}) />
                {/if}
            </span>
		</div> -->
		<a href="index.php?controller=site&action=article_detail&id={$this->article_list[0]['id']}" class="locationA">
			<div class="content">
				<div class="img">
					<img dataimg="{$this->article_list[0]['image']}" alt="" width="100%" style="height:3.8rem;" src="{$this->article_list[0]['image']}"  class="samLazyImg"  />
				</div>
				<div class="mark1">{echo:count($this->article_list[0]['goods_list'])}件商品
				</div>
				<div class="mark2">
					<img src="/views/mobile/skin/default/image/jmj/icon/read.png" alt="">
					{$this->article_list[0]['visit_num']}</div>
			</div>
		</a>
		{if:count($this->article_list[0]['goods_list']) > 3}
		<div class="single"></div>
		<div class="mark">
			<div class="product">
				<div class="slider">
					{foreach:items=$this->article_list[0]['goods_list']}
					<div class="item">
						<a href="index.php?controller=site&action=products&id={$item['id']}" class="locationA">
							<div class="img"><img dataimg="{$item['img']}" alt="" style="width:1.8rem;height:1.8rem;" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png" alt="" class="samLazyImg" /></div>
							<div class="name hidewrap">{$item['name']}</div>
							<div class="sellprice">¥{$item['sell_price']}</div>
						</a>
					</div>
					<div class="singleline"></div>
					{/foreach}
				</div>
				<div class="mark"></div>
			</div>
		</div>
		{/if}
	</section>
	{/if}
	<!--品牌-->
	{if:!empty($this->data_brand)}
	<div class="relateBrand">
		<div class="title">
			<div class="top">
				<span class="line-h"></span>
				<span>热门品牌</span>
				<span class="line-h"></span>
			</div>
			<div class="middle">
				ヒットブランド
			</div>
		</div>
		<div class="banner">
			{foreach:items=$this->data_brand}
			<div class="item">
				<a href="{url:site/brand_detail}/id/{$item['id']}"  class="locationA"><img src="{$item['logo']}" alt="{$item['name']}" style="width:1.61rem;height:1.03rem" /></a>
			</div>
			{/foreach}
		</div>
	</div>
	{/if}
	<!--最热卖-->
	<div class="prolistItem" style="margin-top:0.12rem;">
		<div class="box new">
			<div class="left">
				<img src="/views/mobile/skin/default/image/jmj/product/hot.png" alt="" style="width:3.06rem;height:0.66rem" />
			</div>
			<div class="right">
				<a href="{url:/site/goods_more}?commend_id=3&category_id={$this->childId}&title={$this->name}-最热卖"  class="locationA">
					<span>更多</span>
					<img dataimg="/views/mobile/skin/default/image/jmj/icon/more.png" alt="" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png"  class="samLazyImg" />
				</a>
			</div>
		</div>
		<div class="product">
			{query:name=goods as m join=left join commend_goods as d on d.goods_id eq m.id left join category_extend as c on c.goods_id eq m.id 
				where=m.is_del eq 0 and c.category_id in ($this->childId) and d.commend_id eq 3 
				fields=m.id,m.name,m.sell_price,m.img 
				group=m.id 
				limit=6 
				order=m.id desc}
			<a href="{url:/site/products?id=$item['id']}"  class="locationA">
				<div class="item">
					<div class="img">
						<img dataimg="{echo:IWeb::$app->config['image_host'].'/'.IUrl::creatUrl('/pic/thumb/img/'.$item['img'].'/w/220/h/220')}" alt=""
							 src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png"  class="samLazyImg" />
					</div>
					<div class="content">
						<div class="name hidewrap">{$item['name']}</div>
						<div class="sellprice price">¥{$item['sell_price']}</div>
					</div>
				</div>
			</a>
			{/query}
		</div>
	</div>
	<!--随机专辑2-->
	{if:!empty($this->article_list[1])}
	<section class="recommended line albumn_index">
		<!-- <div class="title">
            <span class="logo" >
                <img src="/views/mobile/skin/default/image/jmj/icon/hot.png" alt="" class="img-hot">
            </span>
			<span class="name">
				{$this->article_list[1]['name']}
            </span>
			<span class="num mui-pull-right favorite{$this->article_list[1]['id']}">
            	{$this->article_list[1]['favorite']}
            </span>
			<span class="like mui-pull-right">
				{if:$this->article_list[1]['is_favorite'] == 0}
                <img src="/views/mobile/skin/default/image/jmj/icon/like.png"  alt="" class="img-like shareContent{$this->article_list[1]['id']}" onclick="collection({$this->article_list[1]['id']})" />
                {else:}
                <img src="/views/mobile/skin/default/image/jmj/icon/like-ed.png"  alt="" class="img-like shareContent{$this->article_list[1]['id']}" onclick=collection({$this->article_list[1]['id']}) />
                {/if}
            </span>
		</div> -->
		<a href="index.php?controller=site&action=article_detail&id={$this->article_list[1]['id']}" class="locationA">
			<div class="content">
				<div class="img">
					<img dataimg="{$this->article_list[1]['image']}" alt="" width="100%" style="height:3.8rem;" src="{$this->article_list[1]['image']}"  class="samLazyImg"  />
				</div>
				<div class="mark1">{echo:count($this->article_list[1]['goods_list'])}件商品
				</div>
				<div class="mark2">
					<img src="/views/mobile/skin/default/image/jmj/icon/read.png" alt="">
					{$this->article_list[1]['visit_num']}</div>
			</div>
		</a>
		{if:count($this->article_list[1]['goods_list']) > 3}
		<div class="single"></div>
	<div class="mark">
		<div class="product">
			<div class="slider">
				{foreach:items=$this->article_list[1]['goods_list']}
				<div class="item">
					<a href="index.php?controller=site&action=products&id={$item['id']}" class="locationA">
						<div class="img"><img dataimg="{$item['img']}" alt="" style="width:1.8rem;height:1.8rem;" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png"  class="samLazyImg" /></div>
						<div class="name hidewrap">{$item['name']}</div>
						<div class="sellprice">¥{$item['sell_price']}</div>
					</a>
				</div>
				<div class="singleline"></div>
				{/foreach}
			</div>
			<div class="mark"></div>
		</div>
	</div>
		{/if}
	</section>
	{/if}
</section>
<!--推荐商品-->
<section id="relate_product">
	<div class="title">
		<div class="box new">
			<div class="left">
				<img src="/views/mobile/skin/default/image/jmj/product/{$this->pic}.png" alt="" style="width:3.75rem;height:0.66rem" />
			</div>
			<a href="{url:/site/goods_more}?commend_id=4&category_id={$this->childId}&title={$this->title}"  class="locationA">
				<div class="right">
					<span>更多</span>
					<img src="/views/mobile/skin/default/image/jmj/icon/more.png" alt="" />
				</div>
			</a>
		</div>
	</div>
	<div class="content" id="getRelateWare">
		{query:name=goods as m join=left join commend_goods as d on d.goods_id eq m.id left join category_extend as c on c.goods_id eq m.id 
			where=m.is_del eq 0 and c.category_id in ($this->childId) and d.commend_id eq 4 
			fields=m.id,m.name,m.sell_price,m.img 
			limit=50 
			order=m.id desc}
		<div class="item">
			<a href="{url:/site/products?id=$item['id']}"  class="locationA"><div class="img"><img dataimg="{echo:IWeb::$app->config['image_host'].'/'.IUrl::creatUrl('/pic/thumb/img/'.$item['img'].'/w/360/h/360')}" alt="" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png"  class="samLazyImg" /></div>
				<div class="name">{$item['name']}</div>
				<div class="box">
					<div class="sellprice price">¥{$item['sell_price']}</div>
				</div></a>
		</div>
		{/query}
	</div>
</section>

<div style="padding-bottom:1.42rem;background:#f8f8f8"></div>
<div class="fix-toTop hide">
	<img src="/views/mobile/skin/default/image/jmj/icon/top-icon.png" alt=""  />
</div>
<footer>
	<nav class="mui-bar mui-bar-tab"  style="z-index:25">
		<a id="defaultTab" class="mui-tab-item mui-active home" href="{url:/site/index}">
                <span class="mui-icon nav-icon icon-home">
                    <img src="/views/mobile/skin/default/image/jmj/icon/home-ed.png" data-img="home-ed.png"  alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
			<div class="mui-tab-label">首页</div>
		</a>
		<a class="mui-tab-item" href="{url:/site/sitemap}">
                <span class="mui-icon nav-icon icon-classification">
                    <img src="/views/mobile/skin/default/image/jmj/icon/mune.png" data-img="mune-ed.png"  alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
			<div class="mui-tab-label">分类</div>
		</a>
		<a class="mui-tab-item" href="{url:/site/favorite}">
                <span class="nav-icon icon-vedio">
                    <img src="/views/mobile/skin/default/image/jmj/icon/grass.png" data-img="grass.png" alt="" class="img-move02">
                    <div class="grow">种草</div>
                    <span class="tab-mark"></span>
                </span>
		</a>
		<a class="mui-tab-item" href="{url:simple/cart}">
                <span class="mui-icon nav-icon icon-shopcar">
                    <img src="/views/mobile/skin/default/image/jmj/icon/buy.png" data-img="buy-ed.png"  alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
			<div class="mui-tab-label">购物车</div>
		</a>
		<a class="mui-tab-item" href="{url:/ucenter/index}">
                <span class="mui-icon nav-icon icon-my">
                    <img src="/views/mobile/skin/default/image/jmj/icon/my.png"  data-img="my-ed.png"  alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
			<div class="mui-tab-label">我的</div>
		</a>
	</nav>
</footer>
<!--模态框-->
<div id="modalid-searth" class="hide">
	<div class="title">
		猫猫都在搜
	</div>
	<div class="searth-content">
	</div>
	<button type="button" id="button-submit" class="mui-btn  mui-btn-outlined buttom-submit" onclick="searthSubmit();">确定</button>
	<button type="button" id="button-cancel" class="mui-btn  mui-btn-outlined buttom-cancel" onclick="searthCancel();">取消</button>
</div>
<!--专辑分页模板-->
<!--头信息结束-->
<script id="searth_keyword" type="text/html">
	<% for(var i=0; i<data.length&&i<10; i++){%>
	<a href="#"  onclick="ToSearthPage('<%=data[i].word %>')"><%=data[i].word %></a>
	<%}%>
</script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/lazyload.js"></script>
<script src="/views/mobile/javascript/jiumao/common.js"></script>
<script src="/views/mobile/javascript/jiumao/pro_list.js"></script>
</body>
</html>

