<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>商品详情</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/custombox.min.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/products.css?v=<?php echo time(); ?>" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/style.min.css?v=<?php echo time(); ?>" />
	<style>
		#goodsContent img{
			width:100%;
			height:auto;
		}
		#goodsContent .img_logo{
			width:0.3rem;
			height:0.3rem;
		}
		#goodsContent span,#goodsContent div{
			font-size:0.26rem !important;
		}
	</style>
	<link rel="stylesheet" href="../skin/default/css/app.css">
</head>
<body>
	<div class="top_fixd">
		<a href="/site/index" class="test11"><span>首页</span></a> <span>商品详情</span>
	</div>
	<div id="productInfo" v-if="showMessage">
		<!--轮播-->
		<section style="width:7.5rem;height:7.5rem;position:relative;background:#fff;margin-top:0.9rem;">
			<!--轮播开始-->
			<img src="/views/mobile/skin/default/image/jmj/product/left-log.png" alt="" class="leftlog">
			<img src="/views/mobile/skin/default/image/jmj/product/tokyo.png" alt="" class="bottomlog">
			<div id="carousel" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img :src="info.photo[info.photo.length-1].img">
						</a>
					</div>
					<div class="mui-slider-item" v-for="item in aaa">
						<a href="#">
							<img :src="item">
						</a>
					</div>
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img :src="info.photo[0].img">
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator" v-for="key in info.photo.length-1" v-if="key>0"></div>
				</div>
			</div>
		</section>
		<!--商品详情-->
		<section id="goods_detaile" v-cloak>
			<div class="top box">
				<div class="name">{{info.name}}</div>
				<div class="log">
					<img src="/views/mobile/skin/default/image/jmj/img/title_icon01.png" alt="" />
				</div>
			</div>
			<div class="mark">{{info.goods_no}}</div>
			<div class="rudice_price">
				<span >{{info.discount}}折</span><s>{{info.original_price}}</s>
				
			</div>
			<div class="price box">
				<div class="sell">
					<img src="/views/mobile/skin/default/image/jmj/product/jiumaoprice.png" alt="" />
					<span class="sellprice">￥ {{info.sell_price}}</span>
				</div>
				<div class="other_price box">
					<span class="china hidewrap">国内价:￥{{info.market_price}}</span>
					<span class="japen hidewrap"><img src="/views/mobile/skin/default/image/jmj/product/riya-logo.png" alt=""style="width:1.08rem;height:0.34rem" />
					{{parseInt(info.jp_price)}}円</span>
				</div>
			</div>
		</section>
		<!--弹窗窗口-->
		<section>
			<div class="postMethod">
				<a href="#serviceDescription">
					<ul>
						<li><img src="/views/mobile/skin/default/image/jmj/img/plane_icon.png"/>日本直邮</li>
						<li id="showUni" v-if="info.vendor==1">
							<img src="/views/mobile/skin/default/image/jmj/img/uni_icon.png" style="width:0.32rem;height:0.32rem;vertical-align: middle"/>
							universal入驻</li>
						<li><img src="/views/mobile/skin/default/image/jmj/img/man_icon.png"/>满
							<img src="/views/mobile/skin/default/image/jmj/product/288.png" style="width:0.64rem;"/>包邮</li>
						<li><span class="mui-icon mui-icon-arrowright"></span></li>
					</ul>
				</a>
			</div>
		</section>
		<!--服务说明-->
		<section>
			<!--服务说明弹出框-->
			<div id="serviceDescription" class="mui-popover mui-popover-action mui-popover-bottom">
				<div>服务说明<a href="#serviceDescription"><span class="mui-icon mui-icon-closeempty"></span></a></div>
				<div class="descContent">
					<p>
						<img src="/views/mobile/skin/default/image/jmj/img/plane_icon.png"/>
						<span>海外直邮</span>
					</p>
					<p>汇集日本本土尖货 千万人口碑信赖 价格透明 日本直邮 足不出户 轻松到手</p>
				</div>
				<div class="descContent">
					<p>
						<img src="/views/mobile/skin/default/image/jmj/img/man_icon.png"/>
						<span>新手满288包邮</span>
					</p>
					<p>全程物流透明 轻松下单 日本同价正品 满288包邮</p>
				</div>
				<div class="descContent">
					<p>
						<img src="/views/mobile/skin/default/image/jmj/img/shouhou.png"/>
						<span>售后服务</span>
					</p>
					<p>目前不支持无理由退换货服务。出现包装破损或者内件破损，商品错发的情况请拍照联系客服核实。我们会及时处理您的退换货事宜。</p>
				</div>
				<div class="descContent">
					<p>
						<img src="/views/mobile/skin/default/image/jmj/img/wuliu.png"/>
						<span>物流配送说明</span>
					</p>
					<p>订单支付后2-3天日本供应链配货至中转仓；5-7天内从日本中转仓发至国内玖猫专线。正常情况下10-15天货物就会到您手上哦~</p>
				</div>
			</div>
		</section>
		<!--相关专辑-->
		<section v-if="hides==true">
			<div class="relatedContent" id="showArticle" v-if="article">
				<p class="title">相关专辑</p>
				<div class="contentInfo">
					<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" style="height:1.67rem">
						<div class="mui-scroll" id="relateArticle">
							<div class="mui-control-item" v-for="item in article">
								<div class="info01"><a :href="item.url" class="test11"><img :src="item.image"/></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--商品的图文详情-->
		<section>
			<div class="graphicDetailsBox">
				<div class="title01">
					商品图文详情
					<div onclick="getActionSheet()">
						<img src="/views/mobile/skin/default/image/jmj/product/fanyi.png" class="mui-pull-right fanyiImg" />
					</div>
				</div>
				<div id="goodsContent" v-html="info.content">
				</div>
				<img src="/views/mobile/skin/default/image/xinzeng/authorization.jpg" alt="" style="width:100%;height:4.8rem;"/>
				<img src="/views/mobile/skin/default/image/jmj/icon/shuoming.png" style="width: 100%;height:8.09rem;"/>
			</div>
		</section>
		<!--翻译弹出-->
		<div id="sheet" class="mui-popover mui-popover-action mui-popover-bottom">
			<ul class="mui-table-view">
				<div class="title">
					翻译结果
				</div>
				<div class="parent" @touchstart="moveStart" @touchmove="move">
					<div class="text" :style="nowStyle">
						正在翻译，请稍等...
					</div>
				</div>
			</ul>
			<div id="close" style="text-align:center">

				<a href="#sheet" ><img src="/views/mobile/skin/default/image/jmj/icon/close.png"  style="width:0.62rem;margin-top:0.2rem;" ></a>
			</div>
			
		</div>
		<!--服务承诺-->
		<section>
			<div class="servicePromise">
				<p class="title01">服务承诺</p>
				<ul class="box">
					<li>
						<img src="/views/mobile/skin/default/image/jmj/product/zheng_icon.png"/>
						<p>自营自采<br/>只有正品</p>
					</li>
					<li>
						<img src="/views/mobile/skin/default/image/jmj/product/zhi_you.png"/>
						<p>每日直邮<br/>安全快捷</p>
					</li>
					<li>
						<img src="/views/mobile/skin/default/image/jmj/product/renbao.png"/>
						<p>产品<br/>质量保障</p>
					</li>
					<li>
						<img src="/views/mobile/skin/default/image/jmj/product/tongjia.png"/>
						<p>东京同价<br/>拒绝猫腻</p>
					</li>
				</ul>
			</div>
			<div class="tips" style="height: 4.4rem;">
				<img src="/views/mobile/skin/default/image/jmj/product/tip.png" alt="" />
			</div>

		</section>
		<!--加入购物车-->
		<section>
			<div class="footerBox">
				<div class="collection" id="collection_state"  @click="Collection()" >
					<img :src="info.is_favorite==0?img1:img2" alt="" class="collection_img"/>
					<span class="collection_text" :style="info.is_favorite==0?style1:style2">{{info.is_favorite==0?text1:text2}}</span>
				</div>
				<div class="joinButton"><div  id="joinButton" @click="popverCar(1)">加入购物车</div></div>
				<div class="buyBottom"><div   id="buyBottom" @click="popverCar1(2)">立即购买</div></div>
			</div>
		</section>
		<!--弹出购物车-->
		<div id="select_product" class="mui-popover mui-popover-action mui-popover-bottom">
			<div class="select_box">
				<div class="select_top">
					<div class="select_photo"><img :src="info.img"/></div>
					<div class="select_top_right">
						<div class="sel_title">
							<a href="#">{{info.name}}</a>
							<span class="storeNum" :data-store="info.store_nums">库存数量:{{info.store_nums}}</span>
							<span class="price">￥{{info.sell_price}}</span>
						</div>
						<a href="#select_product" class="a_da"><span class="mui-icon mui-icon-closeempty"></span></a>
					</div>
				</div>
				<div class="select_center">
					<h3 class="select_h3">数量</h3>
						<div class="select_center_a">
							<span id="buyReduceButton" @click="modified(-1)">-</span>
							<input type="text"  id="buyNums" v-model="goodsnum" />
							<span id="buyAddButton" @click="modified(1)">+</span>
						</div>
				</div>
				<button class="select_btn"  id="joinCarButton" v-if="showCar==1" @click="joinCar">确定</button>
				<button class="select_btn"  id="buyNowButton"  v-if="showCar==2" @click="buyNow">去付款</button>
			</div>
		</div>
	</div>
	<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/template-native.js?v=<?php echo time(); ?>"></script>
    <script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
	<!--<script src="/views/mobile/javascript/products.js?v=<?php echo time(); ?>"></script>-->
	<script src="/views/mobile/javascript/jiumao/common.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/jiumao/custombox.min.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/jiumao/wechat.js?v=<?php echo time(); ?>"></script>
    <script type="text/javascript" charset="utf-8">
		//	接收页面传过来的状态值
		var Request = new Object();
		Request = GetRequest();
		var statusOrder=Request["id"];
		//记录访问位置的id
		setItem("product",statusOrder);
		var vm = new Vue({
			el: '#productInfo',
			data: {
				showMessage:false,
				info:{
					photo:[{
						img:''
					}]
				},
				goodsnum:1,
				relateArticle:[],
				img1:'/views/mobile/skin/default/image/jmj/product/remove.png',
				img2:'/views/mobile/skin/default/image/jmj/product/already.png',
				text1:'种草',
				text2:'已种草',
				style1:'color:#979797',
				style2:'color:#ff4aa0',
				showCar:'',
				hides:false,
				y0:'',
				y01:'',
				y1:'',
				scroll:'',
				nowTop:0
			},
			computed: {
//				滚动位置的样式
				nowStyle:function(){
					return "top:"+this.nowTop+"px";
				},
				article: function(){
					this.relateArticle.map(function(item){
						item.url="/site/article_detail?id="+item.id;
					});
					
					
					return this.relateArticle;
				},
				spec: function(){
					var arr=[];
					for(var i in this.info.spec_array){
						arr.push(obj[i])
					}
					arr.map(function(item){
						item.size=item.value.split(",")
					});
					return arr;
				},
				aaa:function(){
					console.log(this.info)
					return this.info.photo;
					
				}
			},
			mounted: function(){
				var self=this;
				getProductDetail(statusOrder,self);
				getRelateArticle(statusOrder,self);

			},
			updated:function() {
				var gallery = mui('#carousel');
				gallery.slider({
					interval:2000//自动轮播周期，若为0则不自动播放，默认为0；
				});
				mui('.mui-scroll-wrapper').scroll({
					deceleration: 0.0005
				});

			},
			activated: function(){

			},
			methods: {
				Collection: function(){
					var self=this;
					Collection1(self);
				},
				popverCar: function(num){
					if(num==1){
						this.showCar=1
					}
					mui("#select_product").popover('show');
				},
				popverCar1: function(num){
					if(num==2){
						this.showCar=2
					}
					mui("#select_product").popover('show');
				},
				modified: function(num){
					this.goodsnum+=num;
					if(this.goodsnum>this.info.store_nums){
						this.goodsnum=parseInt(this.info.store_nums);
						return false;
					}
					if(this.goodsnum<1){
						this.goodsnum=1
						return false;
					}
				},
				joinCar: function(){
					var self=this;
					joinCartFun(self);
				},
				buyNow: function(){
					var self=this;
					buyNowFun(self);
				},
//				翻译弹窗事件
				moveStart: function(ev){
					this.y01=ev.touches[0].pageY;
					this.y0=this.scroll;

				},
				move: function(ev){
					var textTop=$('.text').height();
					var par=$('.parent').height();
					if(textTop>par){
						this.y1=ev.touches[0].pageY;
						this.scroll=this.y1-this.y01;
						this.nowTop=this.y0+this.scroll;
						if(this.nowTop>0){
							this.nowTop=0;
						};
						if((-par+textTop)<-this.nowTop&&(-par+textTop)>0){
							this.nowTop=-textTop+par;
						}
					}
				}

			}
		})

		$(window).load(function(){
			$("#loading").fadeOut(300);

            mui('body').on("tap",".test11",function(){
                window.location.href=this.href;
            })
            mui('.mui-scroll-wrapper').scroll({
                deceleration: 0.0005
            });
//
		});
		function getProductDetail(obj,self){
			var product_detail=obj;
			mui.ajax('/apic/goods_detail',{
				data:{id:product_detail},
				dataType:'json',//服务器返回json格式数据
				type:'get',//HTTP请求类型
				timeout:10000,//超时时间设置为10秒；
				success:function(data){
					//轮播图展示页面
					self.showMessage=true;
                   
					setItem("collection",data);
					self.info=data;
 					if(self.info.article_list.length>1){
						self.hides = true;
					}
				},
				error:function(xhr,type,errorThrown){
					//异常处理；
//					console.log(type);
				}
			});
		}
		function getRelateArticle(obj,self){
			mui.ajax('/apic/products_details_article',{
				data:{id:obj},
				dataType:'json',//服务器返回json格式数据
				type:'get',//HTTP请求类型
				timeout:10000,//超时时间设置为10秒；
				success:function(data){
//					console.log(data)
					self.relateArticle=data;
				}
			});
		}
		function Collection1(obj){
			var data=getItem("collection")
            mui.ajax('/simple/favorite_add/_paramKey_/_paramVal_',{
                data:{
					goods_id:data.id,
					random:Math.random()
                },
                dataType:'json',//服务器返回json格式数据
                type:'get',//HTTP请求类型
                timeout:10000,//超时时间设置为10秒；
                success:function(data){
                	console.log(data);
                   if(data.message==""){
                   	   obj.info.is_favorite=0;
				   }else{
				   	 obj.info.is_favorite=1;
				   }
				   console.log(obj);
                }
            });
        }
        function getActionSheet(){
           mui("#sheet").popover('toggle');
			translate.start()
		}

		//在线翻译
		var translate 	= {
			loading 	 		: false,
			start 				: function(){
				var thisContentObj 		= $('#goodsContent');
				var text 				= thisContentObj.text(); //原内容
				translate.getTranslateApi(text);
			},
			getTranslateApi 	: function(text){
				var url 			= '{url:site/translate}';
				if(translate.loading == true) return false;
				translate.loading = true;
				$.post(url,{text:text},function(data,status){
					if(status == 'success'){
						translate.end(data);
					}
					translate.loading = false;
				},'json');
			},
			end 				: function(data){
				$('#sheet').find('.text').text(data);
			}
		}

		//商品加入购物车
		 function joinCartFun(self)
		{
			var buyNums   = self.goodsnum;
			var price     = self.info.sell_price;
			var productId = $('#product_id').val();
			var type      = productId ? 'product' : 'goods';
			var goods_id  = (type == 'product') ? productId : self.info.id;

			$.getJSON(creatUrl("simple/joinCart"),{"goods_id":goods_id,"type":type,"goods_num":buyNums,"random":Math.random},function(content)
			{
				if(content.isError == false)
				{
					//获取购物车信息
					$.getJSON(creatUrl("simple/showCart"),{"random":Math.random},function(json)
					{
						$('[name="mycart_count"]').text(json.count);
						$('[name="mycart_sum"]').text(json.sum);
						mui('#select_product').popover('toggle');
						alert("加入购物车成功");
					});
				}
				else
				{
					alert(content.message);
				}
			});
		}
		function buyNowFun(self)
		{
			//设置必要参数
			var buyNums = self.goodsnum;
			var storeNum=self.info.store_nums;
			if(storeNum==0||buyNums>storeNum){
				alert("你所购买的商品库存不足")
				$('#buyNums').val(storeNum);
				return;
			}
			var id      = self.info.id;
			var type    = 'goods';
			//普通购买
			var url = "/simple/cart2?id="+id+"&num="+buyNums+"&type="+type;

			//有促销活动（团购，抢购）
			if(self.info.promo && self.info.activity)
			{
				url += "&promo="+self.info.promo+"&activity="+self.info.activity;
			}

			//页面跳转
			window.location.href = url;
		}

	</script>
<!-- 微信分享 -->
{if:IClient::isWechat() == true}
<?php 
	require_once __DIR__ . '/../../../../plugins/wechat/wechat.php';
	$this->wechat = new wechat();
	$this->wechat->setConfig();
	$this->wechat->config['wechat_jsApiSDK']=1;
	$this->wechat->jsApiSDK();
?>
<script type="text/javascript">
var wechat_share = {
    title       : '九猫大百货-日本同价-东京直邮', //标题
    desc        : '{$name}', //描述
    link        : "{echo:IWeb::$app->config['image_host1'] . '/site/products?id='.$this->product_id.'&iid='.ISession::get('shop_identify_id')}",
    imgUrl      : "{$img}", //图片
}
wechat.share();
</script>
{/if}

</body>
</html>
