<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>商品详情</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default//css/app/products.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css" />
</head>
<body>
    <!--<header>
        <span class="mui-icon mui-icon-arrowleft"></span>
        商品详情  
    </header>-->
    <section>
        <!--轮播开始-->
        <div id="carousel" class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="/views/mobile/skin/default/image/jmj/img/banner04.png">
                    </a>
                </div>
                <!-- 第一张 -->
                <div class="mui-slider-item mui-active">
                    <a href="#">
                        <img src="/views/mobile/skin/default/image/jmj/img/banner04.png">
                    </a>
                </div>
                <!-- 第二张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="/views/mobile/skin/default/image/jmj/img/banner04.png">
                    </a>
                </div>
                <!-- 第三张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="/views/mobile/skin/default/image/jmj/img/banner04.png">
                    </a>
                </div>
                <!-- 第四张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="/views/mobile/skin/default/image/jmj/img/banner04.png">
                    </a>
                </div>
                <!-- 第五张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="/views/mobile/skin/default/image/jmj/img/banner04.png">
                    </a>
                </div>
                <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="/views/mobile/skin/default/image/jmj/img/banner04.png">
                    </a>
                </div>
            </div>
            <div class="mui-slider-indicator">
                <div class="mui-indicator mui-active"></div>
                <div class="mui-indicator"></div>
                <div class="mui-indicator"></div>
                <div class="mui-indicator"></div>
                <div class="mui-indicator"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="goodsTitle">
            <a href="#"><span>资生堂商品标题商品标题</span></a>
            <div class="titleIcon">
                <a href="#"><img src="/views/mobile/skin/default/image/jmj/img/title_icon01.png"/></a>
                <a href="#"><img src="/views/mobile/skin/default/image/jmj/img/title_icon02.png"/></a>
            </div>
        </div>
    </section>
    <section>
        <div class="salePrice"> 
            <span class="bargainPrice">199.49</span>
            <span>日本售价：</span><span>8395.49</span>
        </div>
    </section>
    <section>
        <div class="postMethod">
        	<a href="#serviceDescription"> 
	            <ul>
	                <li><img src="/views/mobile/skin/default/image/jmj/img/plane_icon.png"/>日本直邮</li>
	                <li><img src="/views/mobile/skin/default/image/jmj/img/man_icon.png"/>满188包邮</li>
	                <li><span class="mui-icon mui-icon-arrowright"></span></li>
	            </ul>
	        </a>
        </div>
    </section>
    <section>
        <div class="relatedContent">
            <p class="title">相关内容</p> 
            <div class="contentInfo">
                <div class="info01"><a href="#"><img src="/views/mobile/skin/default/image/jmj/img/vedioImg.png"/></a></div> 
                <div class="info02">
                	<a href="#">
	                    <p>精彩回放</p>
	                    <p>视频名称视频名称视频名称</p>
	                    <p><img src="/views/mobile/skin/default/image/jmj/img/eye_icon.png"/>1.53万次</p>
	                </a>
                </div>   
            </div>  
        </div>
    </section>
    <section>
        <div class="evaluateBox">
            <div class="title01">
                心得（14）
                <div>
                	<a href="#">
	                    <span>查看全部心得</span>
	                    <span class="mui-icon mui-icon-arrowright"></span>
	                </a>
                </div>
            </div>
            <div class="concreteContent">
                <div>
                	<a href="#">
	                    <p><img src="/views/mobile/skin/default/image/jmj/img/girl02.png"/>南风薄荷<span>2016-10-01</span></p>
	                    <p>拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来</p>
	                </a>
                </div>    
            </div>
            <div class="concreteContent">
                <div>
                	<a href="#">
	                    <p><img src="/views/mobile/skin/default/image/jmj/img/girl02.png"/>南风薄荷<span>2016-10-01</span></p>
	                    <p>拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来拿回来</p>
	                </a>
                </div>    
            </div>
        </div>
    </section>
    <section>
    	<div class="graphicDetailsBox">
    		<section>
	    		<div class="title01">
	    			商品图文详情
	    		</div>
	    		<div>
	    			<p class="title02">商品描述</p>
	    			<p class="goodDetail">商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述</p>
	    		</div>
	    		<div>
	    			<p class="title02">图片描述</p>
	    			<img class="goodImg" src="/views/mobile/skin/default/image/jmj/img/good01.png"/>
	    			<img class="goodImg" src="/views/mobile/skin/default/image/jmj/img/good02.png"/>
	    		</div>
	    	</section>
	    	<section>
	    		<div class="title01">
	    			品牌介绍
	    			<div><a href="#">查看<span>10</span>件商品<span class="mui-icon mui-icon-arrowright"></span></a></div>
	    		</div>
	    		<div class="brand">
	    			<div class="brandBox">
		    			<a href="#"><img src="/views/mobile/skin/default/image/jmj/img/brand01.png"/></a>
		    		</div>
		    		<div class="brandDetail">
		    			<a href="#">
			    			<p>资生堂</p>
			    			<p>品牌简单介绍</p>
			    	   </a>
		    		</div>
		    		<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					    <div class="goodsList mui-scroll">
					        <div class="mui-control-item">
					        	<a href="#">
						            <img src="/views/mobile/skin/default/image/jmj/img/1.png"/>
				    				<p>商品名称商品名称</p>
				    				<p>¥ 423.40</p>
				    			</a>
					        </div>
					        <div class="mui-control-item">
					            <a href="#">
						            <img src="/views/mobile/skin/default/image/jmj/img/1.png"/>
				    				<p>商品名称商品名称</p>
				    				<p>¥ 423.40</p>
				    			</a>
					        </div>
					        <div class="mui-control-item">
					        	<a href="#">
						            <img src="/views/mobile/skin/default/image/jmj/img/1.png"/>
				    				<p>商品名称商品名称</p>
				    				<p>¥ 423.40</p>
				    			</a>
					        </div>
					        <div class="mui-control-item">
					        	<a href="#">
						            <img src="/views/mobile/skin/default/image/jmj/img/1.png"/>
				    				<p>商品名称商品名称</p>
				    				<p>¥ 423.40</p>
				    			</a>
					        </div>
					    </div>
					</div>
	    		</div>	    		
	    	</section>
    	</div>
    </section>
    <section>
    	<div class="servicePromise">
    		<p class="title01">服务承诺</p>
    		<ul>
    		    <li>
    		    	<img src="/views/mobile/skin/default/image/jmj/img/Zheng_icon.png"/>
    		    	<p>正品</p>
    		    </li>	
    		    <li>
    		    	<img src="/views/mobile/skin/default/image/jmj/img/price_icon.png"/>
    		    	<p>同价</p>
    		    </li>
    		    <li>
    		    	<img src="/views/mobile/skin/default/image/jmj/img/hegui_icon.png"/>
    		    	<p>合规</p>
    		    </li>
    		</ul>
    	</div>
    </section>
    <section>
    	<div class="footerBox">
    		<div>加入购物车</div>
    		<div>立即购买</div>
    	</div>
    </section>
    <section>
    	<!--服务说明弹出框-->
    	<div id="serviceDescription" class="mui-popover mui-popover-action mui-popover-bottom">
			<div>服务说明<a href="#serviceDescription"><span class="mui-icon mui-icon-closeempty"></span></a></div>
			<div class="descContent">
				<p>
					<img src="/views/mobile/skin/default/image/jmj/img/plane_icon.png"/>
					<span>海外直邮</span>
				</p>
				<p>海外直邮海外直邮海外直邮海外直邮海外直邮海外直邮海外直邮海外直邮海外直邮海外直邮海外直邮海外直邮海外直邮海外直邮</p>
			</div>
			<div class="descContent">
				<p>
					<img src="/views/mobile/skin/default/image/jmj/img/man_icon.png"/>
					<span>新手满188包邮</span>
				</p>
				<p>新手满188包邮新手满188包邮新手满188包邮新手满188包邮新手满188包邮新手满188包邮新手满188包邮新手满188包邮</p>
			</div>
		</div>
    </section>
    <script src="/views/mobile/javascript/mui.js"></script>
    <script type="text/javascript" charset="utf-8">
	    //banner图轮播
		var carousel  = mui("#carousel");
		carousel.slider({
			interval: 1000
		});
	</script>
</body>
</html>
