<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$this->shop_name}店铺待入账金额详情</title>
    <link rel="stylesheet" href="/views/mobile/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/views/mobile/bootstrap/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container" style="margin-top: 10px;">
    <div class="page-header">
        <h3>{$this->shop_name}店铺待入账金额&nbsp;&nbsp;<small>详情信息</small></h3>
    </div>
    <blockquote class="bg-info">
        <p><?php echo date('m',time())-1?>月份未完成</p>
    </blockquote>
    <div class="panel panel-default">
        <div class="panel-body">
            <dl class="dl-horizontal">
                {if:$this->last_month_distribute_order_ret}
                {foreach:$items = $this->last_month_distribute_order_ret}
                <dt>订单号</dt>
                <dd>{$item['order_no']}</dd>
                <dt>付款时间</dt>
                <dd>{$item['pay_time']}</dd>
                <dt>实际付款金额</dt>
                <dd>{$item['real_amount']}</dd>
                {/foreach}
                {/if}
            </dl>
        </div>
    </div>
    <blockquote class="bg-success">
        <p><?php echo date('m',time())?>月交易完成</p>
    </blockquote>
    <div class="panel panel-default">
        <div class="panel-body">
            <dl class="dl-horizontal">
                {if:$this->complete_order_ret}
                    {foreach:$items = $this->complete_order_ret}
                        <dt>订单号</dt><dd>{$item['order_no']}</dd>
                        <dt>付款时间</dt>
                        <dd>{$item['pay_time']}</dd>
                        <dt>实际付款金额</dt>
                        <dd>{$item['real_amount']}</dd>
                    {/foreach}
                {/if}
            </dl>
        </div>
    </div>
    <blockquote class="bg-danger">
        <p><?php echo date('m',time())?>月交易未完成</p>
    </blockquote>
    <div class="panel panel-default">
        <div class="panel-body">
            <dl class="dl-horizontal">
                {if:$this->distribute_order_ret}
                {foreach:$items = $this->distribute_order_ret}
                <dt>订单号</dt>
                <dd>{$item['order_no']}</dd>
                <dt>付款时间</dt>
                <dd>{$item['pay_time']}</dd>
                <dt>实际付款金额</dt>
                <dd>{$item['real_amount']}</dd>
                {/foreach}
                {/if}
            </dl>
        </div>
    </div>
    <hr>
    <p class="text-center">
        <a href="{url:/site/recommender_shop_tobe_booked}" class="btn btn-primary">返回</a>
        <a href="{url:/site/recommender_shop_income}" class="btn btn-info">查看收益信息</a>
    </p>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</body>
</html>