<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>九猫大百货</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/searth_list.css" />
    <script src="/views/mobile/javascript/vue.js"></script>
</head>
<body>
<!--loading页开始-->
<div id="loading">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
<!--loading页结束-->
<section class="homeHeader" id="homeHeader">
    <div class="nav-header">
        <div class="mui-input-row mui-search">
            <input type="search" id="searth"  placeholder="" onfocus="getSearth()">
        </div>
    </div>
    <img src="/views/mobile/skin/default/image/jmj/icon/leftear.png" alt="" class="left-icon">
    <img src="/views/mobile/skin/default/image/jmj/icon/rightear.png" alt="" class="right-icon">
    <img src="/views/mobile/skin/default/image/jmj/icon/flower.png" alt="" class="img-flower">
</section>
<div id="searth_container">
    <template v-if="showMessage && infoMessage.goods==''&&infoMessage.article==''" v-cloak>
        <div class="empty">
            <img src="/views/mobile/skin/default/image/jmj/icon/cat_car.png" alt="" style="width:1.94rem;height:1.33rem;">
            <div class="content">暂时没有你想要搜索的商品</div>
            <a href="{url:/site/index}" class="gotoFind">去逛逛</a>
        </div>
    </template>
    <div class="searth_container_content" v-else>
        <div class="head">
            <template v-if="state==0">
                <div class="item itemTop0 left active"   @click="changeSearth(0)">商品</div>
                <div class="item itemTop1 right"   @click="changeSearth(1)">内容</div>
            </template>
            <template v-else>
                <div class="item itemTop0 left"   @click="changeSearth(0)">商品</div>
                <div class="item itemTop1 right active"   @click="changeSearth(1)">内容</div>
            </template>
            <!--判断初始状态结束-->
        </div>
        <div class="bg"></div>
        <template v-if="state==0">
                <template v-if="showMessage && infoMessage.goods==''">
                    <div class="emptysearth_container">
                        <img src="/views/mobile/skin/default/image/jmj/icon/cat_car.png" alt="" style="width:1.94rem;height:1.33rem;">
                        <div class="content">
                            <span>~</span>
                            <span>暂时没有你所要搜索的商品</span>
                            <span>~</span>
                        </div>
                    </div>
                </template>
                <template v-else v-cloak>
                    <div class="searth_goods">
                        <div class="product_item" :id="item.idName" v-for="item in new_info_goods">
                            <a :href="item.url" class="locationA">
                                <div class="img">
                                    <img  :src="item.img" alt=""/>
                                </div>
                                <div class="content">
                                    <div class="name">
                                        {{item.name}}
                                    </div>
                                    <div class="price">
                                        <span class="sellprice">¥{{item.sell_price}}</span>
                                        <span class="japanprice">日本价:{{item.jp_price}}円</span>
                                        <span class="openprice">国内价：¥{{item.market_price}}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="flexbox empty_product" v-if="overMessage.goods==''">
                        <div class="img">
                            <img src="/views/mobile/skin/default/image/jmj/icon/nomore.png" alt=""/>
                        </div>
                        <div class="content">
                            <span>~</span>
                            <span>憋拉了，到底了</span>
                            <span>~</span>
                        </div>
                    </div>
                    <div style="margin-bottom:0.5rem;height:1rem"></div>
                </template>
        </template>
        <template v-else>
                <template v-if="showMessage && infoMessage.article==''">
                    <div class="emptysearth_container">
                        <img src="/views/mobile/skin/default/image/jmj/icon/cat_car.png" alt="" style="width:1.94rem;height:1.33rem;">
                        <div class="content">
                            <span>~</span>
                            <span>暂时没有你想要搜索的内容</span>
                            <span>~</span>
                        </div>
                    </div>
                </template>
                <template v-else v-cloak>
                    <div class="searth_article">
                        <div class="article_item" v-for="item in new_article_goods">
                            <div class="text">
                                <a :href="item.url" class="locationA">
                                    <div class="img"><img :src="item.image" alt="" /></div>
                                <div class="name">{{item.title}}</div></a>
                            </div>
                        </div>
                    </div>
                    <div class="flexbox empty_product over-article" v-if="overMessage.article==''">
                        <div class="img">
                            <img src="/views/mobile/skin/default/image/jmj/icon/nomore.png" alt=""/>
                        </div>
                        <div class="content">
                            <span>~</span>
                            <span>憋拉了，到底了</span>
                            <span>~</span>
                        </div>
                    </div>
                    <div style="padding-bottom:0.5rem;height:1rem;background:#fff"></div>
                </template>
        </template>
    </div>
</div>
<div class="fix-toTop hide">
    <img src="/views/mobile/skin/default/image/jmj/icon/top-icon.png" alt=""  />
</div>
<footer>
    <nav class="mui-bar mui-bar-tab"  style="z-index:25">
        <a id="defaultTab" class="mui-tab-item mui-active home" href="{url:/site/index}" >
                <span class="mui-icon nav-icon icon-home">
                    <img src="/views/mobile/skin/default/image/jmj/icon/home-ed.png" data-img="home-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">首页</div>
        </a>
        <a class="mui-tab-item" href="{url:/site/sitemap}" >
                <span class="mui-icon nav-icon icon-classification">
                    <img src="/views/mobile/skin/default/image/jmj/icon/mune.png" data-img="mune-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">分类</div>
        </a>
        <a class="mui-tab-item" href="{url:/site/favorite}">
                <span class="nav-icon icon-vedio">
                    <img src="/views/mobile/skin/default/image/jmj/icon/grass.png" data-img="grass.png" alt="" class="img-move02">
                    <div class="grow">种草</div>
                    <span class="tab-mark"></span>
                </span>
        </a>
        <a class="mui-tab-item" href="{url:simple/cart}">
                <span class="mui-icon nav-icon icon-shopcar">
                    <img src="/views/mobile/skin/default/image/jmj/icon/buy.png"  data-img="buy-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">购物车</div>
        </a>
        <a class="mui-tab-item" href="{url:/ucenter/index}">
                <span class="mui-icon nav-icon icon-my">
                    <img src="/views/mobile/skin/default/image/jmj/icon/my.png" data-img="my-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">我的</div>
        </a>
    </nav>
</footer>
<!--搜索模态框-->
<div id="modalid-searth" class="hide">
    <div class="title">
        猫猫都在搜
    </div>
    <div class="searth-content">
    </div>
    <button type="button" id="button-submit"  onclick="searthSubmit();">确定</button>
    <button type="button" id="button-cancel"  onclick="searthCancel();">取消</button>
</div>
<script id="searth_keyword" type="text/html">
    <% for(var i=0; i<data.length&&i<10; i++){%>
    <a href="#"  onclick="ToSearthPage('<%=data[i].word %>')"><%=data[i].word %></a>
    <%}%>
</script>
<!--头信息结束-->
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<!--<script src="/views/mobile/javascript/lazyload.js"></script>-->
<script src="/views/mobile/javascript/base64.js"></script>
<script src="/views/mobile/javascript/jiumao/common.js"></script>
<script>
    var page={
        page1:1,
        page2:1
    }
    //页面加载完成后调用的功能
    window.onload=function(){
       document.getElementById("loading").remove();
        $(".mui-placeholder span").eq(1).html(getItem("searth_word")).css("color","#3d4225");
//        $("#searth").val(getItem("searth_word"));
        hotSearth();
        mui('body').on('tap','.locationA',function(){document.location.href=this.href;});
        //解决tab选项卡a标签无法跳转的问题
        mui('body').on('tap','.mui-tab-item',function(){
            var srcimg= $(this).find('img').attr("data-img");
            $(this).find('img').attr("src","/views/mobile/skin/default/image/jmj/icon/"+srcimg);
            document.location.href=this.href;
        });
        var state=getSession('searthState');
        var wndObj=document.getElementsByTagName("body");
        if(state==0){
            wndObj[0].setAttribute("style","background:#f8f8f8")
        }else{
            wndObj[0].setAttribute("style","background:#fff");
        }
        //点击直达顶部
        mui("body").on("tap",".fix-toTop",function(){
            $("html,body").animate({scrollTop:0},0);
            return false;
        });
    };
    var vm = new Vue({
        el: '#searth_container',
        data: {
            showMessage:false,
            infoMessage:{
                goods:[],
                article:[]
            },
            overMessage:'',
            state:getSession('searthState')
        },
        computed: {
            // 读取和设置
            new_info_goods: function() {
                var self=this.infoMessage.goods;
                if(this.infoMessage.goods){
                    this.infoMessage.goods.map(function(item){
                        item.url="/site/products?id="+item.id;
                        item.idName="product_item"+item.id;
                    });
                }
                return  this.infoMessage.goods;
            },
            new_article_goods: function() {
                var self=this.infoMessage.article;
                if(this.infoMessage.article){
                    this.infoMessage.article.map(function(item){
                        item.url="/site/article_detail?id="+item.id;
                        item.cls="item box favoriteArticle"+item.id;
                    });
                }
                return  this.infoMessage.article;
            }
        },
        methods: {
            getData: function () {
                var self = this;
                getSearthList(self);
            },
            changeSearth: function (sta) {
                var wndObj=document.getElementsByTagName("body");
                this.state = sta;
                pushSession("searthState", sta);
                if(sta==1){
                    wndObj[0].setAttribute("style","background:#fff");
                }else{
                    wndObj[0].setAttribute("style","background:#f8f8f8")
                }
                changeState(sta)
            },
        }
    })
    vm.getData();
    function changeState(index){
        $(".head .item").removeClass("active");
        $(".itemTop"+index).addClass("active");
//        $(".favorite_item").addClass("hide");
//        $(".favorite_item").eq(index).removeClass("hide");
    }
    //上拉加载
    var stop=true;
    $(window).bind('scroll', function() {
        if ($(window).scrollTop() + $(window).height() +600 >= $(document).height() && $(window).scrollTop() > 50) {
            if(stop==true){
                stop=false;
                getSearthList(vm);
            }
        }
        if($(window).scrollTop()>100){
            $(".fix-toTop").show();
            $(".fix-toTop").css("position","fixed");
        }else{
            $(".fix-toTop").hide();
            $(".fix-toTop").css("position","fixed");
        }
    });
    function getSearthList(self){
        mui.ajax('/apic/search', {
            data:{
                word:getItem("searth_word"),
                gpage:page.page1,
                apage:page.page2
            },
            dataType: 'json',
            type: 'get',
            timeout: 10000,
            success: function (data) {
                console.log(data);
                self.$data.overMessage=data;
                for(var i=0;i<data.goods.length;i++){
                    self.$data.infoMessage.goods.push(data.goods[i]);
                }
                for(var j=0;j<data.article.length;j++){
                    self.$data.infoMessage.article.push(data.article[j]);
                }
                self.$data.showMessage = true;
                if(data.goods.length==0&&data.article.length==0){
                    stop=false;
                }else{
                    stop=true;
                }
                page.page1++;
                page.page2++;
//
            },
            error: function (xhr, type, errorThrown) {
                //异常处理；
                console.log(type);
            }
        });
    }
</script>
</body>
</html>

