<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>九猫大百货</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css" />
    <script src="/views/mobile/javascript/vue.js"></script>
</head>
<body>
<!--loading页开始-->
<div id="loading">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
<section class="homeHeader" id="homeHeader">
    <div class="nav-header">
        <div class="mui-input-row mui-search">
            <input type="search" id="searth"  placeholder="" onfocus="getSearth()">
        </div>
    </div>
    <img src="/views/mobile/skin/default/image/jmj/icon/leftear.png" alt="" class="left-icon">
    <img src="/views/mobile/skin/default/image/jmj/icon/rightear.png" alt="" class="right-icon">
    <img src="/views/mobile/skin/default/image/jmj/icon/flower.png" alt="" class="img-flower">
</section>
<div id="showapp">
    <!--头部导航栏-->

</div>
<!--loading页结束-->
<!--头信息结束-->
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<!--<script src="/views/mobile/javascript/lazyload.js"></script>-->
<!--<script src="/views/mobile/javascript/time.js"></script>-->
<script src="/views/mobile/javascript/base64.js"></script>
<script src="/views/mobile/javascript/jiumao/common.js"></script>
<script>
    window.onload=function() {
        $("#loading").fadeOut(300);
        $(".mui-placeholder span").eq(1).html(getItem("placeHolder")+"件商品等你来搜");
    }
    new Vue({
        el: '#showapp',
        data: {
            data1:getItem("showdata1") ,
            data2:getItem("showdata2"),
            data3:getItem("showdata3"),
            data4:getItem("showdata4")
        },
        watch:{
            data1: {
                handler: function (message) {
                    setItem("product_data",message);
                },
                deep: true
            },
            data2: {
                handler: function (message) {
                    setItem("product_data",message);
                },
                deep: true
            },
            data3: {
                handler: function (message) {
                    setItem("product_data",message);
                },
                deep: true
            },
            data4: {
                handler: function (message) {
                    setItem("product_data",message);
                },
                deep: true
            },
        },
        mounted:function() {
            pullupIndexRefresh();
        }
    })

//    ajax获取数据
    var pageData={
        page:1
//        page2:1,
//        page3:1,
//        page4:1,
    };
    var datArr={
        arr1:"",
        arr2:"",
        arr3:"",
        arr4:""

    }
    function pullupIndexRefresh() {
        mui.ajax('index.php?controller=apic&action=article_list',{
            data:pageData,
            dataType:'json',	// 服务器返回json格式数据
            type:'post',		// HTTP请求类型
            timeout:10000,		// 超时时间设置为10秒；
            success:function(data){
                datArr.arr1.push(data);
                console.log(datArr.arr1);
                setItem("showdata1",datArr.arr1);
                pageData.page++;
            },
            error:function(xhr,type,errorThrown){
                //异常处理；
                console.log(type);
            }
        });
    }

</script>
</body>
</html>