<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="x5-orientation" content="portrait">
	<title>九猫大百货</title>
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/sitemap.css" />
</head>
<body>
<!--loading页开始-->
<div id="loading">
	<div class="spinner">
		<div class="spinner-container container1">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container2">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container3">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
	</div>
</div>
<!--loading页结束-->
<!--头部-->
<section class="homeHeader" id="homeHeader">
	<div class="nav-header">
		<div class="mui-input-row mui-search">
			<input type="search" id="searth"  placeholder="" onfocus="getSearth()">
		</div>
	</div>
	<img src="/views/mobile/skin/default/image/jmj/icon/leftear.png" alt="" class="left-icon">
	<img src="/views/mobile/skin/default/image/jmj/icon/rightear.png" alt="" class="right-icon">
	<img src="/views/mobile/skin/default/image/jmj/icon/flower.png" alt="" class="img-flower">
</section>
<!--分类页面-->
<section class="box" id="scroll_sitemap">
	<div class="mui-scroll-wrapper" id="left-scroll">
		<div class="mui-scroll">
			<ul id="controlTop">
			</ul>
		</div>
	</div>
	<div class="mui-scroll-wrapper" id="right-scroll">
		<div class="mui-scroll" id="contentTop">
		</div>
	</div>
</section>
<footer>
	<nav class="mui-bar mui-bar-tab"  style="z-index:25">
		<a id="defaultTab" class="mui-tab-item home" href="{url:/site/index}">
                <span class="mui-icon nav-icon icon-home">
                    <img src="/views/mobile/skin/default/image/jmj/icon/home.png" data-img="home-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
			<div class="mui-tab-label">首页</div>
		</a>
		<a class="mui-tab-item mui-active" href="{url:/site/sitemap}">
                <span class="mui-icon nav-icon icon-classification">
                    <img src="/views/mobile/skin/default/image/jmj/icon/mune-ed.png"  data-img="mune-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
			<div class="mui-tab-label">分类</div>
		</a>
		<a class="mui-tab-item" href="{url:/site/favorite}">
                <span class="nav-icon icon-vedio">
                    <img src="/views/mobile/skin/default/image/jmj/icon/grass.png" data-img="grass.png"  alt="" class="img-move02">
                    <div class="grow">种草</div>
                    <span class="tab-mark"></span>
                </span>
		</a>
		<a class="mui-tab-item" href="{url:simple/cart}">
                <span class="mui-icon nav-icon icon-shopcar">
                    <img src="/views/mobile/skin/default/image/jmj/icon/buy.png"  data-img="buy-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
			<div class="mui-tab-label">购物车</div>
		</a>
		<a class="mui-tab-item" href="{url:/ucenter/index}">
                <span class="mui-icon nav-icon icon-my">
                    <img src="/views/mobile/skin/default/image/jmj/icon/my.png"  data-img="my-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
			<div class="mui-tab-label">我的</div>
		</a>
	</nav>
</footer>
<!--模态框-->
<div id="modalid-searth" class="hide">
	<div class="title">
		大家都在搜
	</div>
	<div class="searth-content">
	</div>
	<button type="button" id="button-submit" class="mui-btn  mui-btn-outlined buttom-submit" onclick="searthSubmit();">确定</button>
	<button type="button" id="button-cancel" class="mui-btn  mui-btn-outlined buttom-cancel" onclick="searthCancel();">取消</button>
</div>
<!--<span class="mui-icon-extra mui-icon-extra-top" id="pagetop"></span>-->
<!--头信息结束-->
<!--一级分类-->
<script type="text/html" id="controlTopTemp">
	<% var allstring =JSONreduce(data) %>
	<% var string =JSONstringfly(data[0].image) %>
	<% for(var i=0; i<data.length; i++){%>
	<% var Fsite =data[i] %>
	<% var string1 =JSONstringfly(Fsite.image) %>
		<!--判定状态开始-->
		<%if(state==Fsite.id){%>
		<li class="controlItem controlItem<%=Fsite.id%> active" onclick="changeSite(<%=Fsite.id%>,<%=i%>,<%=allstring%>)">
			<div class="content">
				<div class="flexbox">
					<img src="<%=JSONsplit(Fsite.image)[0]%>" alt="" class="icon img-dark icon_first" id="icon_first_<%=Fsite.id%>">
		<%}else{%>
		<li class="controlItem controlItem<%=Fsite.id%>" onclick="changeSite(<%=Fsite.id%>,<%=i%>,<%=allstring%>)">
			<div class="content">
				<div class="flexbox">
					<img src="<%=JSONsplit(Fsite.image)[1]%>" alt="" class="icon img-dark icon_first" id="icon_first_<%=Fsite.id%>">
		<%}%>
		<!--判定状态结束-->
					<span class="name"><%=Fsite.name %></span>
				</div>
				<span class="bg"></span>
			</div>
		</li>
	<%}%>
</script>
<script type="text/html" id="contentToptemp">
	<% for(var i=0; i<data.length; i++){%>
	<% var Fsite =data[i] %>
		<%if(state==Fsite.id){%>
		<div class="siteid site<%=Fsite.id%>">
		<%}else{%>
		<div class="siteid site<%=Fsite.id%> hide">
		<%}%>
		<%if(Fsite.banner_image){%>
			<div class="banner">
				<img src="<%=Fsite.banner_image %>" alt="">
			</div>
		<%}%>
		<div class="S_classification">
			<% for(var j=0; j<Fsite.child.length; j++){%>
			<% var Ssite =Fsite.child[j] %>
			<% var Ssitestring =JSONstringfly(Fsite.child[j]) %>
				<div class="type">
					<a href="{url:site/category_third}/id/<%=Ssite.id %>/title/<%=Ssite.name %>" class="locationA">
						<div class="img">
								<img dataimg="<%=Ssite.image %>" alt="" width="1.54rem" height="1.54rem" style=""
									 src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png" alt="" class="samLazyImg" />
						</div>
						<div class="name">
							<%=Ssite.name %>
						</div>
					</a>
				</div>
			<%}%>
		</div>
	</div>
	<%}%>
</script>
<script id="searth_keyword" type="text/html">
	<% for(var i=0; i<data.length&&i<10; i++){%>
	<a href="#"  onclick="ToSearthPage('<%=data[i].word %>')"><%=data[i].word %></a>
	<%}%>
</script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/lazyload.js"></script>
<script src="/views/mobile/javascript/jiumao/common.js"></script>

<script>
	//页面加载动画的调用
	$(window).load(function(){
		$("#loading").fadeOut(300);
		var temp=getItem("placeHolder");
		$(".mui-placeholder span").eq(1).html(temp+"件商品等你来搜");
		getSitemapInfo();
		hotSearth();
		//解决tab选项卡a标签无法跳转的问题
		mui('body').on('tap','.mui-tab-item',function(){
			var srcimg= $(this).find('img').attr("data-img");
			$(this).find('img').attr("src","/views/mobile/skin/default/image/jmj/icon/"+srcimg);
			document.location.href=this.href;});
		mui('body').on('tap','.locationA',function(){document.location.href=this.href;});
		mui('.mui-scroll-wrapper').scroll();
	})
</script>
</body>
</html>

