<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="x5-orientation" content="portrait">
	<title>九猫大百货</title>
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/sitemap.css?v=<?php echo time(); ?>" />
</head>
<body>
<!--loading页开始-->
<div id="loading">
	<div class="spinner">
		<div class="spinner-container container1">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container2">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container3">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
	</div>
</div>
<!--loading页结束-->
<!--头部-->
<section id="siteMap">
    <search-nav :search="hotWord" :val="null"></search-nav>
	<!--分类页面-->
	<section class="box" id="scroll_sitemap" v-if="showMessage">
		<div class="mui-scroll-wrapper" id="left-scroll" v-cloak>
			<div class="mui-scroll">
				<ul id="controlTop">
					<li :class="state==item1.id?item1.class1:item1.class2" @click="changeSite(item1,key)" v-for="(item1,key) in new_top_info">
						<div class="content">
							<div class="flexbox">
								<img :src="state==item1.id?item1.red:item1.black" alt="" class="icon img-dark icon_first" id="icon_first_<%=Fsite.id%>">
								<span class="name">{{item1.name}}</span>
							</div>
							<span class="bg"></span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="mui-scroll-wrapper" id="right-scroll" v-if='state==item2.id'  v-for="item2 in new_top_info" v-cloak>
			<div class="mui-scroll" id="contentTop">
				<div class="siteid" >
						<div class="banner" v-if="item2.banner_image">
							<img :src="item2.banner_image" alt="">
						</div>
						<div class="S_classification">
							<div class="type" v-for="item3 in item2.child">
								<a :href="item3.url" class="locationA">
									<div class="img">
										<img :dataimg="item3.image" alt="" width="1.54rem" height="1.54rem" style=""
											 src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png" alt="" class="samLazyImg" />
									</div>
									<div class="name">
										{{item3.name}}
									</div>
								</a>
							</div>
						</div>
					</div>
			</div>
		</div>
	</section>


	<footer-nav :state="1"></footer-nav>
</section>
<!--模态框-->

<!--<span class="mui-icon-extra mui-icon-extra-top" id="pagetop"></span>-->

<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
<!--搜索组件引入-->
<script src="/views/mobile/components/search_nav.js?v=<?php echo time(); ?>"></script>
<!--//底部导航样式的引入-->
<script src="/views/mobile/components/footer_nav.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/lazyload.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/jiumao/common.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/jiumao/wechat.js?v=<?php echo time(); ?>"></script>

<script>
		var vm=new Vue({
			el:'#siteMap',
			data:{
				showMessage:false,
				hotWord:[],
				info:[],
				state:''
			},
			computed:{
				new_top_info: function(){
					this.info.map(function(item){
						item.red=item.image.split(",")[0];
						item.black=item.image.split(",")[1];
						item.class1="controlItem active";
						item.class2="controlItem";
						item.child.map(function(itemList){
							itemList.url="/site/category_third/id/"+itemList.id+"/title/"+itemList.name;
						})
					});
					return this.info;
				}
			},
			mounted:function(){
				var self=this;
				hotSearth1(self);
				getSitemapInfo(self);
			},
			updated: function(){
				mui('.mui-scroll-wrapper').scroll();
				lazyload.init({
					anim:false,
					selectorName:".samLazyImg"
				});
			},
			methods:{
				changeSite:function(item,num){
					pushSession("siteMapState",item.id);
					this.state=item.id;
					mui('#right-scroll').scroll().scrollTo(0,0,100);
					if(num<6){
						mui('#left-scroll').scroll().scrollTo(0,0,100);
					}
					if(num>=6){
						mui('#left-scroll').scroll().scrollToBottom();
					}
				}
			}
		})
	//页面加载动画的调用
	$(window).load(function(){
		$("#loading").fadeOut(300);
		var temp=getItem("placeHolder");
//		document.getElementById("search").placeholder=temp+"件商品等你来搜"
		document.getElementById("search").placeholder = "圣诞神秘大礼等你来拿"
		mui('body').on('tap','.locationA',function(){document.location.href=this.href;});

	})
	
	//分类获取数据搜索
	function hotSearth1(self){
		mui.ajax('/apic/search_words',{
			dataType:'json',//服务器返回json格式数据
			type:'get',//HTTP请求类型
			timeout:10000,//超时时间设置为10秒；
			success:function(data){
				self.hotWord=data;
			}
		});
	}
	 //分类页面接口
		function getSitemapInfo(self){
			mui.ajax('/apic/category_top',{
				dataType:'json',
				type:'get',
				timeout:10000,
				success:function(data){
					self.showMessage=true;
					self.info=data;
					self.state=getSession("siteMapState")?getSession("siteMapState"):data[0].id;
					console.log(data);

//					var html = template('controlTopTemp',dat);
//					document.getElementById("controlTop").innerHTML=html;
//					var html2 = template('contentToptemp',dat);
//					document.getElementById("contentTop").innerHTML=html2;
				}
			});
		}
</script>

<!-- 微信分享 -->
{if:IClient::isWechat() == true}
<?php 
	require_once __DIR__ . '/../../../../plugins/wechat/wechat.php';
	$this->wechat = new wechat();
	$this->wechat->setConfig();
	$this->wechat->config['wechat_jsApiSDK']=1;
	$this->wechat->jsApiSDK();
?>
<script>
//微信分享
var wechat_share = {
    title       : '九猫大百货-日本同价-东京直邮', //标题
    desc        : '欢迎来到九猫家', //描述
    link        : "{echo:$_SERVER['SERVER_NAME'] .'/site/index'}",
    imgUrl      : "{echo:IWeb::$app->config['image_host'] . '/views/mobile/skin/default/image/jmj/img/cat-logo-small.png'}", //图片
}
wechat.share();
</script>
{/if}

</body>
</html>

