<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="x5-orientation" content="portrait">
		<title>全部分类</title>
		<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
		<link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
		<link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
		<link rel="stylesheet" href="/views/mobile/skin/default/css/app/sitemap.css?v=<?php echo time(); ?>" />
	</head>
	<body>
		<!--loading页开始-->
		<div id="loading">
			<div class="spinner">
				<div class="spinner-container container1">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container2">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container3">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
			</div>
		</div>
		<!--loading页结束-->
		<div id="wrap_list_" >
		<section id="siteMap">
			
		    <!--<header id="searchs">
		    	<input type="text" name="" id="" placeholder="2万多件好货等你带回家" />
		    	<img src="/views/mobile/skin/default/image/jmj/redesign/pic1.png" style="width: 0.24rem"/>
		    </header>-->
		    <div style="background: #b8b8b8;height: 1px;width: 100%;opacity: .3;"></div>
		    <section id="main" v-cloak>
		    	<search-nav :search="search" :val="null" style="position: relative;top: 0;left: 0;"></search-nav>
		    	<footer-nav :state="1"></footer-nav>
		    	<section id="main-nav">
		    		<div class="main-nav_left">
		    			<p @click="choose(0)" :style="chooses == 0?color2:color1">分类</p>
		    			<img :src="chooses == 0?img1:img2" style="width:0.66rem"/>
		    		</div>
		    		<div class="main-nav_right">
		    			<p @click="choose(1)" :style="chooses==1?color2:color1">品牌</p>
		    			<img :src="chooses == 1?img1:img2" style="width:0.66rem"/>
		    		</div>
		    	</section>
		    	
		    	<!--						  分类									-->
		    	
		    	
		    	<section id="main_content" v-if="chooses_show">
		    		<div class="fl_list" v-for="(item,key) in info" :name = "item.move_states" :id="key+1">
		    			<div @click="show_hide(item,key)" class="boximg" :id="'href_'+key"><a :href="'#href_'+key" style="display: block;">
		    				<!--<img :src="item.image" style="width: 100%;"/>-->
		    				<img :src="item.image" style="width: 100%;" class="wave"/>
		    			</a></div>
		    			<div :class="class_fe ? class2 : class1"  v-if="item.state">
		    				<div v-for="(item2,key) in item.list">
		    					<h1 @click="two_title(item2,key)"><!--<img :src="item2.image"/>-->{{item2.name}}</h1>
		    					<ul v-if="item2.state2">
			    					<li v-for="(item3,key) in item2.list"><span @click.stop="poducos(item3.id)">
			    						<!--<img :src="item3.image" width="1.4rem"/>-->
			    						<img :dataimg="item3.image" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png" alt="" class="samLazyImg" style="width:1.4rem;height: 1.4rem;"/>
			    						<p>{{item3.name}}</p>
			    					</span></li>
			    				</ul>
		    				</div>
		    			</div>
		    		</div>
		    	</section>
 		
		   		
		   		<!--						  品牌									-->
		   		
		   		<div id="main_brand" style="color: #000;" v-if="chooses_show  == false">
		   			<div class="brand1" v-for="item in info_brand">
		    			<div @click="show_brand(1)" class="boximg">
		    				<img :src="item.img" style="width: 100%;"/>
		    			</div>
		    			<div class="brand_list" >
		    				<ul class="brand_list_ul">
		    					<li @click="brand_shop(item2.id)" v-for="item2 in item.list" style="margin-right:0.06rem ;">
		    						<img :dataimg="item2.img" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png" class="samLazyImg" style="width: 2.4rem;"/>
		    					</li>
		    				</ul>
		    			</div>
		    		</div>
		    		<!--						全部品牌								-->
		    		<div id="brand_line">
		    			<div class="brand_top">全部品牌</div>
		    			<div class="brand_bottom" v-for="item_brand in info_brand_all">
		    				<h1>{{item_brand.name}}</h1>
		    				<div class="brand_line_li">
		    					<ul>
		    						<li @click="brand_shop(item_brand2.id)" v-for="item_brand2 in item_brand.list" style="">
		    							<!--<img src="/views/mobile/skin/default/image/jmj/redesign/buyong.png" style="width: 1.6rem;"/>-->
		    							<img :dataimg="item_brand2.logo" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png" alt="" class="samLazyImg" width="100%"/>
		    						</li>
		    					</ul>
		    				</div>
		    			</div>
		    		</div>
		   		</div>
		    </section>
			
		</section>
		<!--分类页面-->
		<div class="fix-toTop hide" @click="fixToTop" style="height: 1rem;">
	        <img src="/views/mobile/skin/default/image/jmj/icon/top-icon.png" alt=""  />
	    </div>
	    
		<div id="line_xx" style="height: 1rem;background: #f5f5f5;display: none;">
			
		</div>		
		</div>
	</body>
	
	<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
	<!--搜索组件引入-->
	<script src="/views/mobile/components/search_nav.js?v=<?php echo time(); ?>"></script>
	<!--//底部导航样式的引入-->
	<script src="/views/mobile/components/footer_nav.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/lazyload.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/jiumao/common.js?v=<?php echo time(); ?>"></script>
	<!--<script src="/views/mobile/javascript/jiumao/wechat.js?v=<?php echo time(); ?>"></script>-->
	
	<script>
			var ssss;
			var s_pull = false;
			var Request = new Object();
			Request = GetRequest();
			var statusOrder=Request["id"];
//			console.log(statusOrder)
			var vm=new Vue({
				el:'#main',
				data:{
					color1:"color:#949494 ;",
					color2:"color:#ff5959 ;", // ed
					img1:"/views/mobile/skin/default/image/jmj/redesign/img2.png",
					img2:"/views/mobile/skin/default/image/jmj/redesign/sitemap.png",
					chooses:0,   //分类和品牌切换
					chooses_show:true,
					search:[],
					info:[],
					info_brand:[],
					info_brand_all:[],
					class1:"public_main jingzhi",
					class2:"public_main active",
					class_fe:false,
				},
				computed:{
					one_title:function(){
						return this.info;
					}
				},
				mounted:function(){
					var self=this;
					console.log(self.info)
					if(getSession("state") || getSession("state2") ||getSession("keys")|| getSession("self_info") ||getSession("key2")){
						var keys = getSession("keys");
						self.info = getSession("self_info");
//						var keys2 = getSession("keys");
						self.info[keys].state = getSession("state");
						var key2_ = getSession("key2");
						if(getSession("s_pull")){
							self.info[keys].list[key2_].state2 = getSession("state2");			
						}else{
							self.info[keys].list[0].state2 = true;
						}
						
						s_pull = false;
						pushSession("s_pull",s_pull);
					}
					else{
						getSitemapInfo(self);
						brand_lista(self);
						hotSearth(self);
					}
				},
				updated: function(){
					     // 页面加载完成执行的函数;
				        lazyload.init({
				            anim:false,
				            selectorName:".samLazyImg"
				        });
				        var gallery = mui('#slider1');
				        gallery.slider({
				            interval:3000//自动轮播周期，若为0则不自动播放，默认为0；
				        });
					removeSessionItem("pinpai_infolist");
    				removeSessionItem("pinpai_page");
    				
    				//手指滑动时候
//					document.body.scrollTop = ;
				},
				methods:{
					choose:function(num){
						this.chooses = num;
						if(num == 0){
							this.chooses_show = true;
						}else if(num == 1){
							this.chooses_show = false;
						}
					},
					two_title:function(ids,key2){
						ids.state2 = !ids.state2
						s_pull = true;
						pushSession("key2",key2);
						pushSession("state2",ids.state2);
						pushSession("s_pull",s_pull);
					},
					show_hide:function(item,key){
						item.state = !item.state;
						item.list[0].state2 = !item.list[0].state2;
						var items = 'href_'+key;
//						$("#items").offsetTop();
						var scroll_item =  $("#"+items).offset().top;
						ssss = scroll_item;
						$("body,html").animate({
							"scrollTop":ssss
						});
						pushSession("state",item.state);
						
						pushSession("keys",key)
					},
					poducos:function(id){
						removeSessionItem("goodsinfo");
						removeSessionItem("goodspage");
						
						window.location.href="/site/goods_list?id="+id;
					},
					brand_shop:function(id_brand){
						
						removeSessionItem("pinpai_infolist");
    					removeSessionItem("pinpai_page");
						window.location.href = "/site/brand_detail?id="+id_brand;
					}
				}
			})
		//页面加载动画的调用
		$(window).load(function(){
			$("#loading").fadeOut(300);
			var temp=getItem("placeHolder");
	//		document.getElementById("search").placeholder=temp+"件商品等你来搜"
//			document.getElementById("search").placeholder = "圣诞神秘大礼等你来拿"
			mui('body').on('tap','.locationA',function(){document.location.href=this.href;});
	
		})
		
		//分类获取数据搜索
		function hotSearth1(self){
			mui.ajax('/apic/search_words',{
				dataType:'json',//服务器返回json格式数据
				type:'get',//HTTP请求类型
				timeout:10000,//超时时间设置为10秒；
				success:function(data){
					self.hotWord=data;
				}
			});
		}
		 //分类页面接口
		function getSitemapInfo(self){
			mui.ajax('/apic/category_list',{
				dataType:'json',
				type:'get',
				timeout:10000,
				success:function(data){
					
//						console.log(data.data);
					if(statusOrder=="3"){
						self.chooses_show = false;
						self.chooses = 1;
					}else{
						self.chooses_show = true;
						self.chooses = 0;
					}
					data.data.map(function(items){
						items.state=false;
						items.move_states = false;
						items.list.map(function(items2){
							items2.state2=false;
						})
//						data.data[0].list[0].state2=true;
//						data.data[0].state=true;
						data.data[0].move_states=true;
						self.info.push(items);
						
						if(items.state){
							self.class_fe = true;
						}else{
							self.class_fe = false;
						}
					})
					console.log(self.info.length)
					pushSession("self_info",self.info)
					
				}
			});
		}
		// 延迟
		setTimeout(function(){
			$("#line_xx").css({
				"display":"block"
			})
		},2000)
		// 品牌 页面 接口
		function brand_lista(self){
			mui.ajax('/apic/brand_list_index',{
				dataType:'json',
				type:'get',
				timeout:10000,
				success:function(data){
//					console.log(data.data.cat);
					data.data.cat.map(function(items){
						self.info_brand.push(items);	
					})
					data.data.all.map(function(items){
						self.info_brand_all.push(items);	
					})
				}
			});
		}
		
		//			缓存
 	function pushSession(key,value){
        var val=JSON.stringify(value)?JSON.stringify(value):[];
        if(window.sessionStorage){
            sessionStorage.setItem(key,val);
        }else{
            console.log("无法使用缓存");
            return "";
        }
    }
    function getSession(key){
        if(window.sessionStorage){
            var state=sessionStorage.getItem(key)?sessionStorage.getItem(key):0;
            return JSON.parse(state);
        }else{
            console.log("无法使用缓存");
            return "";
        }
    }
    function removeSessionItem(key){
        window.sessionStorage.removeItem(key);
    }

    //  搜索 函数
	function hotSearth(self){
    mui.ajax('/apic/search_words',{
        dataType:'json',//服务器返回json格式数据
        type:'get',//HTTP请求类型
        timeout:10000,//超时时间设置为10秒；
        success:function(data){
            self.search=data;
        }
    });
}
	function hotSearth(self){
    mui.ajax('/apic/search_words',{
        dataType:'json',//服务器返回json格式数据
        type:'get',//HTTP请求类型
        timeout:10000,//超时时间设置为10秒；
        success:function(data){
            self.search=data;
        }
    });
}
	function GetRequest() {
      var url = location.search; //获取url中"?"符后的字串
      var theRequest = new Object();
      if (url.indexOf("?") != -1) {
          var str = url.substr(1);
          strs = str.split("&");
          for(var i = 0; i < strs.length; i ++) {
              theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
          }
      }
      return theRequest;
}

	</script>
</html>
