<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>猫</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/mao.css" />
</head>
<body>
<video id="myVideo" autoplay="autoplay"></video>
1111111
<script>
    try {
        window.URL = window.URL || window.webkitURL || window.msURL	|| window.oURL;
        // Normalizes navigator.getUserMedia
        navigator.getUserMedia = navigator.getUserMedia	|| navigator.webkitGetUserMedia
                || navigator.mozGetUserMedia || navigator.msGetUserMedia;

        // Tries it with spec syntax
        navigator.getUserMedia({
            video : true
        }, successsCallback, errorCallback);
    } catch (err) {
        // Tries it with old spec of string syntax
        navigator.getUserMedia('video', successsCallback, errorCallback);
    }
</script>
<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
</body>
</html>

