<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>九猫大百货</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css" />
</head>
<body>
<section class="timePurchasePage">
    <div class="top flexbox">
        <a class="item nav-item" href="#timePurchaseContent1">
            <div class="time">11:00</div>
            <div class="state">明日再来</div>
        </a>
        <a class="item nav-item active" href="#timePurchaseContent2">
            <div class="time">16:00</div>
            <div class="state">抢购中</div>
        </a>
        <a class="item nav-item" href="#timePurchaseContent3">
            <div class="time">22:00</div>
            <div class="state">准备开抢</div>
        </a>
    </div>
    <div class="timePurchaseContent timePurchaseContent1" id="timePurchaseContent1"></div>
    <div class="timePurchaseContent timePurchaseContent2" id="timePurchaseContent2">
        <h6>限时限量抢购中……</h6>
        <div class="contentItem flexbox underline">
            <div class="img">
                <a href=""><img src="/views/mobile/skin/default/image/jmj/img/ware1.png" alt="" style="width:2.15rem;"/></a>
            </div>
            <div class="content">
                <div class="name">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</div>
                <div class="box price">
                    <span class="text1">抢购价</span>
                    <!--<span class="price_icon">¥</span>-->
                    <span class="price1">199.49</span>
                    <span class="text2">市场价 ¥</span>
                    <span class="price2"><s>199.49</s></span>
                </div>
                <div class="box">
                    <div class="num">
                        <span class="text">仅剩</span>
                        <span class="num1">12</span>
                        <span class="text">件</span>
                        <span class="bg" style="width:30%"></span>
                    </div>
                    <div class="buy">马上抢</div>
                </div>
            </div>
        </div>
        <div class="contentItem flexbox underline">
            <div class="img">
                <a href=""><img src="/views/mobile/skin/default/image/jmj/img/ware1.png" alt="" style="width:2.15rem;"/></a>
            </div>
            <div class="content">
                <div class="name">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</div>
                <div class="box price">
                    <span class="text1">抢购价</span>
                    <!--<span class="price_icon">¥</span>-->
                    <span class="price1">199.49</span>
                    <span class="text2">市场价 ¥</span>
                    <span class="price2"><s>199.49</s></span>
                </div>
                <div class="box">
                    <div class="num">
                        <span class="text">仅剩</span>
                        <span class="num1">12</span>
                        <span class="text">件</span>
                        <span class="bg" style="width:10%"></span>
                    </div>
                    <div class="buy">马上抢</div>
                </div>
            </div>
        </div>
        <div class="contentItem flexbox underline">
            <div class="img">
                <a href=""><img src="/views/mobile/skin/default/image/jmj/img/ware1.png" alt="" style="width:2.15rem;"/></a>
            </div>
            <div class="content">
                <div class="name">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</div>
                <div class="box price">
                    <span class="text1">抢购价</span>
                    <!--<span class="price_icon">¥</span>-->
                    <span class="price1">199.49</span>
                    <span class="text2">市场价 ¥</span>
                    <span class="price2"><s>199.49</s></span>
                </div>
                <div class="box">
                    <div class="num">
                        <span class="text">仅剩</span>
                        <span class="num1">12</span>
                        <span class="text">件</span>
                        <span class="bg" style="width:10%"></span>
                    </div>
                    <div class="buy">马上抢</div>
                </div>
            </div>
        </div>
        <div class="contentItem flexbox underline">
            <div class="img">
                <a href=""><img src="/views/mobile/skin/default/image/jmj/img/ware1.png" alt="" style="width:2.15rem;"/></a>
            </div>
            <div class="content">
                <div class="name">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</div>
                <div class="box price">
                    <span class="text1">抢购价</span>
                    <!--<span class="price_icon">¥</span>-->
                    <span class="price1">199.49</span>
                    <span class="text2">市场价 ¥</span>
                    <span class="price2"><s>199.49</s></span>
                </div>
                <div class="box">
                    <div class="num">
                        <span class="text">仅剩</span>
                        <span class="num1">12</span>
                        <span class="text">件</span>
                        <span class="bg" style="width:30%"></span>
                    </div>
                    <div class="buy">马上抢</div>
                </div>
            </div>
        </div>
        <div class="contentItem flexbox underline">
            <div class="img">
                <a href=""><img src="/views/mobile/skin/default/image/jmj/img/ware1.png" alt="" style="width:2.15rem;"/></a>
            </div>
            <div class="content">
                <div class="name">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</div>
                <div class="box price">
                    <span class="text1">抢购价</span>
                    <!--<span class="price_icon">¥</span>-->
                    <span class="price1">199.49</span>
                    <span class="text2">市场价 ¥</span>
                    <span class="price2"><s>199.49</s></span>
                </div>
                <div class="box">
                    <div class="num">
                        <span class="text">仅剩</span>
                        <span class="num1">12</span>
                        <span class="text">件</span>
                        <span class="bg" style="width:50%"></span>
                    </div>
                    <div class="buy">马上抢</div>
                </div>
            </div>
        </div>
        <div class="contentItem flexbox underline">
            <div class="img">
                <a href=""><img src="/views/mobile/skin/default/image/jmj/img/ware1.png" alt="" style="width:2.15rem;"/></a>
            </div>
            <div class="content">
                <div class="name">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</div>
                <div class="box price">
                    <span class="text1">抢购价</span>
                    <!--<span class="price_icon">¥</span>-->
                    <span class="price1">199.49</span>
                    <span class="text2">市场价 ¥</span>
                    <span class="price2"><s>199.49</s></span>
                </div>
                <div class="box">
                    <div class="num">
                        <span class="text">仅剩</span>
                        <span class="num1">0</span>
                        <span class="text">件</span>
                        <span class="bg"></span>
                    </div>
                    <div class="buy disabled">马上抢</div>
                </div>
            </div>
        </div>
    </div>
    <div class="timePurchaseContent timePurchaseContent3" id="timePurchaseContent3"></div>
</section>
<!--底部空隙-->
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/lazyload.js"></script>
<script src="/views/mobile/javascript/time.js"></script>
<script>
    //页面加载完成后调用的功能
    $(window).load(function(){
        $("#loading").fadeOut(300);
    })
    mui('body').on('tap','.nav-item',function(){
        $('.nav-item').removeClass("active");
        $(this).addClass('active');
        $('.timePurchaseContent').addClass('hide');
        $($(this).attr('href')).removeClass('hide');
    })
</script>
</body>
</html>
