<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>支付成功</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
</head>
<body>
<div class="top flexbox">
    <div class="img"><img src="/views/mobile/skin/default/image/jmj/product/icon_sucess.png" alt="" style="width:0.64rem;0.64rem;"/></div>
    <div class="tip">支付成功</div>
</div>
<div class="middle">

</div>
<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
<script>
    var vm=new Vue({})
</script>
</body>
</html>

