<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>限时秒杀</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/timePurchase.css?v=<?php echo time(); ?>" />
</head>
<body>
<section id="timePurchasePage" v-cloak>
    <loadding :mes="showloadding"></loadding>
      <header class="headerTitle flexbox" v-cloak>
          <div :class="initState==key?class2:class1" v-for="(item,key) in head" @click="changeState(key,item,item.id)">
              <div class="time">{{item.time}}</div>
              <div class="tip">{{head[key].now==2?"抢购中":(head[key].now==1?"准备开抢":"明天再来")}}</div>
          </div>
      </header>
    <div class="content" v-if="initState==0">
        <!--<div class="top">
            限时限量抢购中……
        </div>-->
        <div class="wareContent" v-cloak>
            <div class="item" v-for="item,key in new_data0" @click="ToBuy(item,info0,head[0].now)">
                <div class="img flexbox">
                    <img :src="item.img" alt="" />
                    <img :name="item.store_nums" v-if ="item.store_nums==0 || item.sale_nums==20" src="/views/mobile/skin/default/image/jmj/product/over.png"  class="over_img"  alt="" />
                </div>
                <div class="text">
                    <div class="name">
                        {{item.name}}
                    </div>
                    <div class="box box2">
                        <div class="price1"><span>抢购价</span>
                            <span style="margin-left:0.18rem;font-size:0.22rem">¥</span>
                            <span style="font-size:0.32rem">{{parseFloat(item.sell_price)}}</span></div>
                        <div class="price2"><span>市场价</span>
                            <s><span style="margin-left:0.11rem;font-size:0.22rem">¥</span>
                                <span style="font-size:0.26rem">{{item.market_price}}</span></s></div>
                    </div>
                    <div class="box bottom">
                    	<div class="num" v-if="item.store_nums==0">
                            仅剩 <span>0%</span>
                            <div  class="bg" style="width: 100%;">
                            </div>
                        </div>
                        <div class="num" v-if="item.store_nums != 0">
                            仅剩 <span>{{head[0].now == 2?(item.nums-item.sale_nums>10? (parseInt(head[0].numaa[key]/item.nums*100))+"%" :item.nums-item.sale_nums):(item.nums-item.sale_nums)/item.nums*100+"%"}}</span>
                            <div class="bg" :style="item.style">
                            </div>
                        </div>
                        <div class="buy" :style="head[0].shi_time == true?style2:style1" >
                            马上抢
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="content" v-if="initState==1">
          <!--<div class="top">
              限时限量抢购中……
          </div>-->
          <div class="wareContent" v-cloak>
              <div class="item" v-for="item,key in new_data1" @click="ToBuy(item,info,head[1].now)">
                    <div class="img flexbox">
                        <img :src="item.img" alt="" />
                        <img v-if ="item.store_nums==0 || item.sale_nums==20" src="/views/mobile/skin/default/image/jmj/product/over.png"  class="over_img"  alt="" />
                    </div>
                      <div class="text">
                            <div class="name">
                                {{item.name}}
                            </div>
                          <div class="box box2">
                              <div class="price1"><span>抢购价</span>
                                  <span style="margin-left:0.18rem;font-size:0.22rem">¥</span>
                                  <span style="font-size:0.32rem">{{item.sell_price}}</span></div>
                              <div class="price2"><span>市场价</span>
                                  <s><span style="margin-left:0.11rem;font-size:0.22rem">¥</span>
                                      <span style="font-size:0.26rem">{{item.market_price}}</span></s></div>
                          </div>
                          <div class="box bottom">
                          	<div class="num" v-if="item.store_nums==0">
                                    仅剩 <span>0%</span>
                                    <div class="bg" style="width: 100%;">
                                    </div>
                                </div>
                                <div class="num" v-if="item.store_nums!=0">
                                    仅剩 <span>{{head[1].now == 2?(item.nums-item.sale_nums>10? (parseInt(head[1].numaa[key]/item.nums*100))+"%" :(item.nums-item.sale_nums)/item.nums*100+"%"):(item.nums-item.sale_nums)/item.nums*100+"%"}}</span>
                                    <div class="bg" :style="item.style">
                                    </div>
                                </div>
                              <div class="buy" :id="head[1].shi_time" :style="head[1].shi_time == true?style2:style1" >
                                  马上抢
                              </div>
                          </div>
                      </div>
              </div>
          </div>
      </div>
    <div class="content" v-if="initState==2">
        <!--<div class="top">
            准备开抢……
        </div>-->
        <div class="wareContent" v-cloak>
        	
            <div class="item" v-for="item,key in new_data2" @click="ToBuy(item,info2,head[2].now)">
                <div class="img flexbox">
                    <img :src="item.img" alt="" />
                     <img v-if ="item.store_nums==0 || item.sale_nums==20" src="/views/mobile/skin/default/image/jmj/product/over.png"  class="over_img"  alt="" />
                </div>
                <div class="text">
                    <div class="name">
                        {{item.name}}
                    </div>
                    <div class="box box2">
                        <div class="price1"><span>抢购价</span>
                            <span style="margin-left:0.18rem;font-size:0.22rem">¥</span>
                            <span style="font-size:0.32rem">{{item.sell_price}}</span></div>
                        <div class="price2"><span>市场价</span>
                            <s><span style="margin-left:0.11rem;font-size:0.22rem">¥</span>
                                <span style="font-size:0.26rem">{{item.market_price}}</span></s></div>
                    </div>
                    <div class="box bottom">
                    	 <div class="num" v-if="item.store_nums==0">
                            仅剩 <span>0%</span>
                            <div class="bg" style="width: 100%;">
                            </div>
                        </div>
                        <div class="num" v-if="item.store_nums!=0">
                            仅剩 <span>{{head[2].now == 2?((item.nums-item.sale_nums>10?(parseInt(head[2].numaa[key]/item.nums*100))+"%" :(item.nums-item.sale_nums)/item.nums*100+"%")):((parseInt(item.nums)-item.sale_nums)/parseInt(item.nums)*100+"%")}}</span>
                            <div class="bg" :style="item.style">
                            </div>
                        </div>
                        <div class="buy" :id="head[2].shi_time" :style="head[2].shi_time == true?style2:style1" >
                            马上抢
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--底部空隙-->
<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
<!--加载动画载入-->
<script src="/views/mobile/components/loadding.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/lazyload.js?v=<?php echo time(); ?>"></script>
<script>
	var attr2 = []
	var Request = new Object();
    Request = GetRequest();
//  var statusOrder=Request["id"];
	var statusOrder="";
	console.log(statusOrder);
	
    var vm= new Vue({
        el:'#timePurchasePage',
        data:{
            showloadding:false,//是否显示加载动画
//            头部处理
//          head:[{time:'',tip:'明天再来',now:0},
//              {time:'',tip:'抢购中',now:0},
//              {time:'',tip:'准备开抢',now:0}],
			nows:0,
            head:[{time:'',tip:'',now:0,id:0,shi_time:"false",numaa:[]},
                {time:'',tip:'',now:0,id:0,shi_time:"false",numaa:[]},
                {time:'',tip:'',now:0,id:0,shi_time:"false",numaa:[]}],
//              shi_time:false,
            initState:0,
            class1:'title flexbox',
            class2:'title flexbox active',
//            限时购商品数据
            info:[],
            info0:[],
            info2:[],
//            对剩余数量进行处理
            style1:"opacity:0.5",
            style2:'opacity:1',
           onclick:false,
           time_list:[],
           qi_show:[{onclick:"false"},
           		{onclick:"false"},
           		{onclick:"false"}
           ]
        },
        computed: {
            new_data0: function(){
//              console.log(vm.head[0].now);
//              console.log(vm.head[1].now)
//              console.log(vm.head[2].now)
                for(var i = 0;i<this.info0.length;i++){
                	
                	 if(vm.head[0].now != 2){
                		this.info0[i].style="width:"+(100-(this.info0[i].nums-this.info0[i].sale_nums)*100/this.info0[i].nums)+"%";
                	}else{
                		 this.info0[i].style="width:"+((this.info0[i].nums-this.info0[i].sale_nums>10)? (100-vm.head[0].numaa[i]*100/this.info0[i].nums) :(100-(this.info0[i].nums-this.info0[i].sale_nums)*100/this.info0[i].nums)) +"%";
                	}
                }
                return this.info0; 
            },
            new_data1: function(){
            	for(var i = 0;i<this.info.length;i++){
                	 if(vm.head[1].now != 2){
                		this.info[i].style="width:"+(100-(this.info[i].nums-this.info[i].sale_nums)*100/this.info[i].nums)+"%";
                	}else{
                		 this.info[i].style="width:"+((this.info[i].nums-this.info[i].sale_nums>10)? (100-vm.head[1].numaa[i]*100/this.info[i].nums ):(100-(this.info[i].nums-this.info[i].sale_nums)*100/this.info[i].nums))+"%";
                	}
                }
                
                return this.info; 
            },
            new_data2: function(){
                for(var i = 0;i<this.info2.length;i++){
                	 if(vm.head[2].now != 2){
                		this.info2[i].style="width:"+(100-(this.info2[i].nums-this.info2[i].sale_nums)*100/this.info2[i].nums)+"%";
                		console.log(this.info2[i].style)
                	}else{
                		 this.info2[i].style="width:"+((this.info2[i].nums-this.info2[i].sale_nums>10)? (100-vm.head[2].numaa[i]*100/this.info2[i].nums) :(100-(this.info2[i].nums-this.info2[i].sale_nums)*100/this.info2[i].nums))+"%";
                	}
                	
                }
                return this.info2; 
            }
			
        },
        mounted: function(){
        	var self = this;
			time_xian(self);
        },
        methods: {
            changeState: function(num,item,id){
               this.initState = num;
               	statusOrder = id;     	
                time_xian(self,num);
                
            },
            ToBuy: function(obj,info,key){
            	console.log(key)
				if(key == 1){
					window.location.href = "/site/products?id="+obj.id;	
				}else{
					window.location.href = "/site/products?id="+obj.id;	
				}
            }
        },

    })
    function time_xian(self,num){
    	 mui.ajax('/apic/activity_speed_list', {
	        dataType: 'json',
	        type: 'get',
	        data:{
	        	type:1,
	        	time_id:statusOrder?statusOrder:""
	        },
	        success: function (data) {
	        	self.nows = data.data.now;
				var dd = new Date();
		        var tt =dd.getTime()/1000;
	        	for(var i =0;i<data.data.time_list.length;i++){
					if( self.nows == data.data.time_list[0].id){
		        		self.initState = 0;
		        	}else if(self.nows == data.data.time_list[1].id){
		        		self.initState = 1;
		        	}else if(self.nows == data.data.time_list[2].id){
		        		self.initState = 2;
		        	}
		        	console.log(vm.initState)
		        	if(vm.initState == 0){
		        		vm.info0 = data.data.goods_list;
		        	}else if(vm.initState == 1){
		        		vm.info = data.data.goods_list;
		        		
		        	}else if(vm.initState == 2){
		        		vm.info2 = data.data.goods_list;
		        		
		        	}
	        		var timestamp4 = new Date(parseInt(data.data.time_list[i].start_time)*1000);//直接用 new Date(时间戳) 格式转化获得当前时间
					vm.head[i].time = timestamp4.toTimeString().substr(0, 8); 
					vm.head[i].now =  data.data.time_list[i].conduct;
					vm.head[i].id =  data.data.time_list[i].id;
					if(data.data.time_list[i].start_time<tt){
						vm.head[i].shi_time = true;
						
					}
						vm.head[0].numaa[0] = 15;
						vm.head[0].numaa[1] =12;
						vm.head[0].numaa[2] =3;
						vm.head[0].numaa[3] =14;
						vm.head[0].numaa[4] =10;
						vm.head[1].numaa[0] = 5;
						vm.head[1].numaa[1] =13;
						vm.head[1].numaa[2] =12;
						vm.head[1].numaa[3] =17;
						vm.head[1].numaa[4] =10;
						vm.head[2].numaa[0] = 11;
						vm.head[2].numaa[1] =7;
						vm.head[2].numaa[2] =19;
						vm.head[2].numaa[3] =10;
						vm.head[2].numaa[4] =11;
//	        		vm.head[i].time = new Date(parseInt(tt - data.data.time_list[i].start_time)).getHours();
//		        	console.log(new Date(parseInt(data.data.time_list[i].start_time)).getMinutes());
//	        		vm.head[item].time = item.start_time;
	        	}
	        	if(data.data.time_list[2].end_time<tt){
                    vm.head.map(function(item){
                        item.tip="明天再来";
                        item.shi_time = false
                    })
				}
	        }
	    });
    }
    function GetRequest() {
      	var url = location.search; //获取url中"?"符后的字串
      	var theRequest = new Object();
      	if (url.indexOf("?") != -1) {
         	var str = url.substr(1);
          	strs = str.split("&");
          	for(var i = 0; i < strs.length; i ++) {
              theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
          	}
      }
      	return theRequest;
	}

</script>
</body>
</html>
