<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title></title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/ware.css" />

</head>
<body>
<!--loading页开始-->
<div id="loading">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
<!--活动开始-->
<!--头部信息-->
<header class="mui-bar mui-bar-nav album">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">视频活动</h1>
    <a class="mui-icon mui-icon-home mui-pull-right" style="margin-left:0.1rem;"></a>
    <a class="mui-icon mui-icon-extra mui-icon-extra-cart mui-pull-right ico-car">
        <span class="ico-badge">0</span>
    </a>
    <a class="mui-icon mui-icon-person mui-pull-right" style="margin-right:0.05rem;"></a>
</header>
    <div id="pullrefresh" class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <!--数据列表-->
            <div class="mui-table-vie">
                <section id="vedio">
                    <div id="liveVideo" class="liveVideo">
                        <video class="player" src="http://dianbo2.bolo.me/video/147462477410762.mp4" poster="https://img.bolo.me/9219147521963258398@!largeJpegLQ"
                               webkit-playsinline="" autoplay="" controls="controls" width="100%">
                        </video>
                    </div>
                    <div class="textVedio">
                        <div class="img">
                            <img alt="" src="https://img.bolo.me/147494683351874@!smallJpegLQ">
                        </div>
                        <div class="content">
                            <div>
                                KLAIRS
                            </div>
                            <div>
                                10月13日12:30 韩国 首尔klairs公司
                            </div>
                        </div>
                    </div>
                </section>
                <section id="album_vedio">
                    <div class="ware_album_item">
                        <div class="img">
                            <a href=""><img src="/views/mobile/skin/default/image/blm/w7-1.jpg" alt=""></a>
                        </div>
                        <div class="discription">
                            <a href=""><div class="pname">
                                KLAIRS蔻徕氏 午夜美肌粉蓝修护霜 30ml
                            </div>
                                <div class="pprice">
                                    <span class="big">￥174.5</span>
                                    <span class="line-through">
                         ￥270
                    </span>
                                    <span class="small">店头价：26950원</span>
                                </div>
                            </a>
                            <a href="#product_mask"><div class="addshop mui-pull-right">
                                加入购物
                            </div></a>
                        </div>
                    </div>
                    <div class="ware_album_item">
                        <div class="img">
                            <a href=""><img src="/views/mobile/skin/default/image/blm/w7-1.jpg" alt=""></a>
                        </div>
                        <div class="discription">
                            <a href=""><div class="pname">
                                KLAIRS蔻徕氏 午夜美肌粉蓝修护霜 30ml
                            </div>
                                <div class="pprice">
                                    <span class="big">￥174.5</span>
                                    <span class="line-through">￥270</span>
                                    <span class="small">店头价：26950원</span>
                                </div>
                            </a>
                            <a href="#product_mask"><div class="addshop mui-pull-right">
                                加入购物
                            </div></a>
                        </div>
                    </div>

                    <div class="ware_album_item">
                        <div class="img">
                            <a href=""><img src="/views/mobile/skin/default/image/blm/w7-1.jpg" alt=""></a>
                        </div>
                        <div class="discription">
                            <a href=""><div class="pname">
                                KLAIRS蔻徕氏 午夜美肌粉蓝修护霜 30ml
                            </div>
                                <div class="pprice">
                                    <span class="big">￥174.5</span>
                                    <span class="line-through">
                         ￥270
                    </span>
                                    <span class="small">店头价：26950원</span>
                                </div>
                            </a>
                            <a href="#product_mask"><div class="addshop mui-pull-right">
                                加入购物
                            </div></a>
                            <input type="hidden" value="dddd">
                        </div>
                    </div>
                    <div class="ware_album_item">
                        <div class="img">
                            <a href=""><img src="/views/mobile/skin/default/image/blm/w7-1.jpg" alt=""></a>
                        </div>
                        <div class="discription">
                            <a href=""><div class="pname">
                                KLAIRS蔻徕氏 午夜美肌粉蓝修护霜 30ml
                            </div>
                                <div class="pprice">
                                    <span class="big">￥174.5</span>
                                    <span class="line-through">
                         ￥270
                    </span>
                                    <span class="small">店头价：26950원</span>
                                </div>
                            </a>
                            <a href="#product_mask"><div class="addshop mui-pull-right">
                                加入购物
                            </div></a>
                            <input type="hidden" value="dddd">
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
<!--弹窗开始-->
<div id="product_mask" class="mui-popover mui-popover-action mui-popover-bottom">
    <div class="mui-table-view">
        <li class="mui-table-view-cell">
            <a href="#product_mask" class="mui-pull-right">x</a>
            <a href="#">这里填写title 商品价格 以及删除按钮</a>
        </li>
        <li class="mui-table-view-cell">
            <a href="#">这里填写商品类别</a>
        </li>
        <li class="mui-table-view-cell">
            <div class="submitWare">
                确定
            </div>
        </li>
    </div>
</div>
<!--弹窗结束-->
<!--loading页结束-->
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/lazyload.js"></script>
<script src="/views/mobile/javascript/time.js"></script>
<script>
    //页面加载动画的调用
    $(window).load(function(){
        $("#loading").fadeOut(300);

    })
    mui.init({
        pullRefresh: {
            container: '#pullrefresh',
            up: {
                contentrefresh: '正在加载...',
                contentnomore:'没有更多数据了',
                callback: function(){
                   setTimeout(function(){
                       mui('#pullrefresh').pullRefresh().endPullupToRefresh(true)
                   },1500)
                }
            }
        }
    });



</script>
</body>
</html>