/*头部导航样式*/
#nav-slider{
  height:0.7rem;
  background:#fff;
}
#nav-slider #Control{
  height:0.7rem;
}
#nav-slider .mui-scroll-wrapper{
  background:#fff !important;
}
#nav-slider .mui-scroll{
  height:0.7rem;
}
#nav-slider .mui-control-item{
  height:0.7rem;
  position:relative;
  display:inline-block;
  padding:0.1rem 0.15rem;
}
#nav-slider .mui-control-item img{
  width:0.5rem;
  vertical-align: middle;
  position:relative;
  top:-0.05rem
}
#nav-slider .mui-control-item .text{
  font-size:0.26rem;
  color:#646464;
}
.mui-control-item .bg{
  z-index:1 !important;
  width:60%;
  height:0.08rem;
  border-radius: 0.08rem;
  display:none;
  position:absolute;
  bottom:-0.01rem;
  left:20%;
}
.mui-scroll-wrapper{
  background:#f8f8f8 !important;
}
.mui-control-item.mui-active .text{
  color:#ff5959 !important;
  z-index:9;
}
.mui-control-item.mui-active .bg{
  display:block;
  background:#ff5959;
  z-index:2 !important;
}