/*空商品样式*/
.empty_product img{
  width:0.73rem;
  margin-top:0.65rem;
}
.empty_product .content{
  margin-top:0.25rem;
  margin-bottom:0.65rem;
  width:100%;
  text-align:center;
  font-size:0.28rem;

}
.empty_product .content span{
  color:#bbbbbb;
  padding-left:0.32rem;
}