{js:my97date}
<div class="content">

	<div class="headbar">
		<div class="position">订单<span>></span><span>订单管理</span><span>></span><span>订单列表</span></div>
		<div class="operating">
			<a href="javascript:void(0);"><button class="operating_btn" type="button" onclick="window.location='{url:/order/order_add_shop}'"><span class="addition">添加店铺</span></button></a>
		</div>
	</div>

	<table class="list_table">
		<colgroup>
			<col width="30px" />
			<col width="70px" />
			<col width="70px" />
			<col width="70px" />
			<col width="70px" />
		</colgroup>

		<thead>
		<tr>
			<th>店铺名称</th>
			<th>注册开店时间</th>
			<th>店铺二维码</th>
			<th>店铺类别</th>
			<th>操作</th>
		</tr>
		</thead>

		<tbody>
		{foreach:items = $this->shop_query->find()}
		<tr>
			<td title="{$item['name']}">{$item['name']}</td>
			<td title="{$item['register_time']}">{$item['register_time']}</td>
			<td title="{$item['register_time']}">
				<img src="<?php echo IWeb::$app->config['image_host'] . '/ucenter/qrcode/identify_id/' . $item['identify_id'];?>">
			</td>
			<td title="{$item['category_name']}">{$item['category_name']} / {$item['rebate']}</td>
			<td title="结算">
				<a href="{url:/order/order_shop_settlement}">结算</a>
			</td>
		</tr>
		{/foreach}
		</tbody>
	</table>
</div>
{$this->shop_query->getPageBar()}