{js:my97date}
<div class="headbar">
	<div class="position">订单<span>></span><span>订单管理</span><span>></span><span>订单列表</span></div>
	<div class="operating">
		<a href="javascript:void(0);">
			<button class="operating_btn" type="button" onclick="window.location='{url:/order/order_edit}'">
				<span class="addition">{$this->shop_data['name']}<?php echo date('m',time())-1 ?>月份的订单</span>
			</button>
		</a>
	</div>
</div>

	<div class="content">
		<table class="list_table">
			<colgroup>
				<col width="20px" />
				<col width="20px" />
				<col width="20px" />
				<col width="20px" />
				<col width="20px" />
				<col width="20px" />
				<col width="20px" />
			</colgroup>

			<thead>
			<tr>
				<th>订单编号</th>
				<th>订单付款时间</th>
				<th>订单完成时间</th>
				<th>下单时间</th>
				<th>订单总金额</th>
				<th>实际付款金额</th>
				<th>操作</th>
			</tr>
			</thead>

			<tbody>
			{foreach:items = $this->order_data}
			<tr>
				<td title="{$item['order_no']}">{$item['order_no']}</td>
				<td title="{$item['pay_time']}">{$item['pay_time']}</td>
				<td title="{$item['completion_time']}">{$item['completion_time']}</td>
				<td title="{$item['create_time']}">{$item['create_time']}</td>
				<td title="{$item['order_amount']}">{$item['order_amount']}</td>
				<td title="{$item['real_amount']}">{$item['real_amount']}</td>
				<td title="结算">
					<a href="{url:/order/order_shop_settlement/id/$item['id']}">结算</a>
				</td>
			</tr>
			{/foreach}
			</tbody>
		</table>
	</div>
	<!--{}-->