@font-face {
  font-family: 'HelveticaNeueLt';
  src:url('../font/HelveticaNeueLt.ttf')  format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {
  font-family: 'Impact';
  src:url('../font/Impact.TTF')  format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {
  font-family: 'WickedMouseDemo';
  src:url('../font/WickedMouseDemo.otf')  format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {
  font-family: 'petangueDEMO';
  src:url('../font/petangueDEMO.otf')  format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
[v-cloak]{
  display: none;
}
.v-cloak--block,.v-cloak--inline,.v-cloak--inlineBlock{
  display: none;
}
html, body, span, object,li,ul,img iframe, h1, h2, h3, h4, h5, h6, p, pre, a, em, img, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  color: #000000;
  font-weight:normal;
  -webkit-box-sizing:border-box;
  font-family: "Microsoft Yahei",'HelveticaNeueLt' ;
  text-decoration: none;
}
html{font-size:13.35vw;
      height: 100%;
}
body{
  font-size:0.24rem;
  width:100%;
}
.mui-content{
	width:100% !important;
	}
#pullrefresh{
	padding-bottom: 1rem;
}
.mui-active{
color:#ef4145 !important;}
.flexbox{
  display:flex;
  display:-webkit-flex;

}
.box{
  display: flex;
  display:-webkit-flex;

  -webkit-flex-wrap: nowrap;
  justify-content: space-between;
}
.box1{
  display:-webkit-flex;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
}
*{margin:0;padding:0;}
/*水波纹样式*/
.wave{
  display: block;
  position: relative;
  /*filter:wave(Freq=6,Strength=4,Phase=1);*/
}
/*页面加载动画*/
#loading {
  position:fixed;
  width:100%;
  height:100%;
  display:-webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  z-index: 999;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
   z-index: 9999;
}
 
.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color: #F3026A;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} 
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
} 
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
} 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
} 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
} 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
} 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
} 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/*做小于1px下划线*/
.underline:after{
  display: block;
  content: '';
  margin-top:0.03rem;
  height: 1px;
  background-color: black;
  transform:scaleY(0.1);
}
.upline{
  position:relative;
}

.upline:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  transform:scaleY(0.3);
}
.hide{
  display:none;
}
.show{
  display:block;
}
/*图标大小设定*/
.img-hot{
  width:0.48rem;
  position:relative;
  top:0.06rem;
}
.img-share{
  width:0.34rem;
}
.img-like{
  width:0.39rem;
}
.img-paper{
  width:0.35rem;
}
.img-pan1{
  width:0.56rem;
}
.img-pan2{
  width:0.37rem;
}
.img-vedio{
  width:0.48rem;
  position:relative;
  top:0.06rem;
}
.img-te{
  width:1.17rem;
}
.img-ren{
  width:1.17rem;
}
.img-dong{
  width:1.8rem;
}
.img-address{
  width:0.26rem;
}
.img-read{
  width:0.35rem;
  margin-right:0.19rem;
}
.img-click{
  width:1.02rem;
}
.left-icon{
  width:0.78rem;
}
.right-icon{
  width:0.78rem;
}
.img-rmb{
  width:1.47rem;
}
iframe{
  display:none;
}
/*特殊处理样式*/
.sellprice{
  /*font-family:'HelveticaNeueLt';*/
  font-size:0.3rem;
  color:#ff2f5c;
}
.hidewrap{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hideCamp{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.hideCamp4{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.flexbox{
  display:-webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.flexstart{
  display:-webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items:baseline;
  -webkit-justify-content:flex-start;
}
.flexs{
  display:-webkit-flex;
  -webkit-justify-content:flex-start;
}
.boxcenter{
  display:-webkit-flex;
  -webkit-flex-wrap: nowrap;
  -webkit-align-items:center;
  -webkit-justify-content:space-between;
}
/*底部导航样式*/
.mui-tab-item.mui-active .grow{
  color:#ff4aa0;
}

.mui-tab-item.mui-active{
  color:#ff4aa0 !important;
}
.tabBar_color{
  color:#929292;
}
.mui-control-content {
  display: block;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  background-color: #fff;
}
.site-control-item{
  display:block;
  height:0.86rem;
  line-height:0.86rem;
  text-align:center;
  font-size:0.28rem;
  color:#3d4245;
}
.site-control-item.mui-active{
  color:#ff4aa0 !important;
  background:#fff;
}
.mui-control-content{
  display:-webkit-flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding:1% 2% 0;
}
.mui-control-content .item{
  margin:2% 1% 0 0 ;
  width:32%;
  /*background:#fff;*/
}
.mui-control-content .title{
  width:100%;
  background:pink;
  line-height:1rem;
  text-align:center;
}
.mui-control-content .item .name{
  display:block;
  text-align:center;
  margin:0.14rem 0;
  color:#3d4225;
  font-size:0.26rem;
}
/*搜索框样式*/
.search-header{
  height:0.9rem;
  width:100%;
  /*background:url(../../../skin/default/image/jmj/new_active/index/logo1.png) ;*/
  /*background:#ff0000;*/
 background: #fff;
  background-size:7.5rem 1.2rem;
  position:relative;
  	border-bottom:1px solid #eee ;
}
#search{
  font-size:0.28rem;
  position:absolute;
  border:none;
  top:0.19rem;
  left:0.98rem;
  line-height:0.6rem;
  z-index:4;
  background:#f5f5f5;
	border-radius:1rem;
	width:5.60rem;
	height:0.54rem;

}
#search::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:#b8b8b8;
  font-size:0.28rem;
  /*opacity: 0.89;*/
  padding-left:0.3rem;
}
#search:focus{
  padding-left:0.6rem;
}
#search:focus~.search_ico{
  left:1.1rem;
}
.inputContent .cancel{
  position:absolute;
  font-size:0.31rem;
  right:0.2rem;
  top:0.4rem;
  color:#fff;
}
.search_ico{
  width:0.24rem;
  height:0.28rem;
  position:absolute;
  top:0.32rem;
  left:2.0rem;
  z-index:5;
}
.left-icon{
  display:inline-block;
  position:absolute;
  top:0.15rem;
  left:0.85rem;
  z-index:2;
}
.img-flower{
  width:0.62rem;
  /*width:0.77rem;*/
  position:absolute;
  top:0;
  /*top:0.06rem;*/
  right:0.78rem;
  z-index:5;
}
.right-icon{
  display:inline-block;
  position:absolute;
  top:0.15rem;
  right:0.8rem;
  z-index:2;
}
input[type='search']{
  position:relative;
  z-index:2;
  /*background:#fff !important;*/
  color:#3d4245;
  /*height:0.64rem !important;*/
}
.hide_img{
	display: none;
}

/*搜索页面*/
#modalid-search{
  position:fixed;
  top:0.9rem;
  left:0;
  width:100%;
  /*height:200%;*/
  min-height:200%;
  background:#fff;
  z-index:999;
  overflow: hidden;
}
#modalid-search .title{
  background:#f8f8f8;
  /*border:1px solid #eeeeee;*/
  width:100%;
  height:0.5rem;
  font-size:0.28rem;
  color:#bbbbbb;
  text-align:left;
  padding:0 0.15rem;
  line-height:0.5rem;
}
#modalid-search .search-content{
  width:100%;
  padding: 0 5% 6% 5%;
  display:-webkit-flex;
  -webkit-flex-wrap: wrap;
  justify-content: flex-start;
}
#modalid-search .search-content a{
  display:inline-block;
  width:auto;
  padding:0.11rem 0.33rem;
  text-align:center;
  margin:0.24rem 0.2rem 0.1rem 0;
  font-size:0.3rem;
  background:#f8f8f8;
  border-radius:0.04rem;
  height:0.62rem;
  color:#979797;
}
.no_margin{margin:0 !important;}
#modalid-search .search-content a.content_red{border:1px solid #ff4aa0;color:#ff4aa0;}
.no_margin_right{margin-right:0 !important;}
.search_element{width:100%;overflow:hidden;padding:0 1%;}
.search_element li{border-bottom:1px solid #eee;padding:5% .41rem;}
.search_element li a{
  margin-left:0.67rem;
  display:inline-block;
  font-size:0.3rem;
  color:#3d4245;
  text-align:left;

}
#button-submit{
  border:1px solid #ff44a0;
  border-radius:0.1rem;
  font-size:0.3rem;
  width:78%;
  height:0.96rem;
  margin:1.74rem 11% 0;
  color:#ff44a0;
}
#button-cancel{
  font-size:0.3rem;
  border:1px solid #bbb;
  border-radius:0.1rem;
  width:78%;
  height:0.96rem;
  margin:0.49rem 11% 1.2rem;
  color:#bbb;
}
.remove{
  width:80%;
  border:1px solid #bbbbbb !important;
  border-radius:10px !important;
  height:0.96rem;
  border-radius:5px;
  font-size:0.3rem;
  color:#bbbbbb !important;
}
/*空商品样式*/
.empty_product img{
  width:0.73rem;
  margin-top:0.65rem;
}
.empty_product .content{
  margin-top:0.25rem;
  margin-bottom:0.65rem;
  width:100%;
  text-align:center;
  font-size:0.28rem;

}
.empty_product .content span{
  color:#bbbbbb;
  padding-left:0.32rem;
}
/*专辑页面*/
.albumn_index{
  overflow-x: hidden;
  margin-top:0.22rem;
  background:#f8f8f8;
}


.albumn_index .title{
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: flex-start;
	padding:0 0.2rem ;
  height:0.9rem;
  width: 100%;
  font-size:0.3rem;
/*  line-height:0.9rem;*/
  background:#fff;
}
.albumn_index .title .logo{
  display: inline-block;
}
.albumn_index .title .paper{
  margin-left:0.24rem;
  top:0.07rem;
}
.albumn_index .title .name{
  margin-left:0.10rem;
  color:#3d4245;
  font-size:0.3rem;
  /*width: 1.8rem;*/
}
.mui-pull-right{
	float: none;
}
.albumn_index .title  .images{
	margin-left: 0.19rem;
}
.albumn_index .title .share{
  
}
.albumn_index .title .like{
 margin-left: 2.03rem;
}
.albumn_index .title .num{
  width:0.34rem;
  font-size:0.3rem;
  color:#171717;
  margin-left: 0.13rem;
  /*margin-top: -0.55rem;*/
}


.albumn_index .content{
  position:relative;
  width:7.5rem;
}
.albumn_index .content .mark1{
  position:absolute;
  width:1.28rem;
  height:0.38rem;
  line-height:0.38rem;
  text-align:center;
  top:0.24rem;
  left:4.29rem;
  background:rgba(0,0,0,0.5);
  border-radius:0.04rem;
  color:#fff;
  font-size:0.22rem;
}
.albumn_index .content .img img{
  position:relative;
}
.albumn_index .content .mark2{
  position:absolute;
  width:1.52rem;
  height:0.38rem;
  line-height:0.38rem;
  text-align:center;
  top:0.24rem;
  right:0.11rem;
  background:rgba(0,0,0,0.5);
  border-radius:0.04rem;
  color:#fff;
  font-size:0.22rem;
}
.albumn_index .content .mark2 img{
  width:0.33rem;
  margin-right:0.08rem;
}
.albumn_index .title .vedio_name{
  display:inline-block;
  position:relative;
  top:-0.15rem;
  margin-left:0.23rem;
  min-width:2rem;
  color:#3d4245;
  font-size:0.3rem;
  width:1.88rem;
}
.albumn_index .title .vedio_name span{
  position:absolute;
  left:0;
  top:0.34rem;
  font-size:0.22rem;
  color:#bbb;
}
.albumn_index .title .vedio_name span img{
  position:relative;
  top:0.05rem;
  margin-right:0.15rem;
}
.albumn_index .mark{
  /*margin-top:-0.06rem;*/
  z-index:12;
  height:3.07rem;
  overflow-y: hidden;
  width:100%;
}
.albumn_index .product{
  z-index:11;
  position:relative;
  height:3.32rem;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background:#fff;
  margin-top:-0.06rem;
}
.albumn_index .product .slider{
  z-index:13;
  position:absolute;
  height:3.3rem;
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
  -webkit-overflow-scrolling: touch;
}
.single{
  width:100%;
  position:relative;
}
.single:after{
  background:transparent;
  position:absolute;
  content:'';
  left:3.5rem;
  top:-0.23rem;
  z-index:24;
  width: 0;
  height: 0;
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  border-bottom: 0.25rem solid #fff;
}

.albumn_index .product .slider .item{
  position:relative;
  width:1.8rem;
  height:3rem;
  margin-top:0.2rem;
  margin-left:0.4rem;
}
.albumn_index .product .img{
  margin:0 auto;
  width:1.8rem;
  height:1.8rem;
}
.albumn_index .product .img img{
  width:1.8rem;
  height:1.8rem;
}
.albumn_index .product .name{
  width:1.8rem;
  font-size:0.24rem;
  color:#3d4225;
  margin-bottom:0.1rem;
  margin-top:0.17rem;
}
.singleline{
  position:absolute;
  top:0.1rem;
  left:1.95rem;
  width:1px;
  border-left:1px solid #b8b8b8;
  height:2.2rem;
}
/*弹出样式*/
.mui-popup-button{
  color:#ff4aa0;
  font-size:0.34rem;

}
.mui-popup{
  width:5.4rem;
  border-radius:0.26rem;
}
.mui-popup-inner {
  position: relative;
  padding: 0.3rem;
  border-radius: 0.26rem   0.26rem 0 0;
  background: rgba(255, 255, 255, .95);
  font-size:0.26rem;
}
.mui-popup-title {
  font-size: 0.34rem;
  font-weight: 500;
  text-align: center;
}
.mui-popup-title + .mui-popup-text {
  font-family: inherit;
  font-size: 0.28rem;
  margin: 0.1rem 0 0;
}
.mui-popup-buttons {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  height: 0.88rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;

}
.mui-popup-button:first-child{
  color:#3d4245;
  font-size:0.28rem;
  height:0.88rem;
  line-height:0.88rem;
}
.mui-popup-button.mui-popup-button-bold{
  font-weight:normal !important;
  height:0.88rem;
  line-height:0.88rem;
}
/*底部导航栏开始*/
.footerNav{
  width:100%;
  height:1rem;
  border-top:1px solid #eee;
  position:fixed;
  left:0;
  bottom:0;
  background:#fff;
  z-index:25;
  display: -webkit-flex;
  -webkit-justify-content: center;
  /*-webkit-align-items: center;*/
}
.footerNav .tabelitem{
  -webkit-flex:1;
  text-align: center;
  position:relative;
  z-index:24;
}
.footerNav .tabelitem.active .mui-tab-label{
  color:#ff0000 !important
}
.footerNav .tabelitem img{
  position:relative;
  top:0.05rem;
  width:0.52rem;
  height:0.52rem;
}
.footerNav .tabelitem .mui-tab-label{
  position: absolute;
  width:100%;
  text-align: center;
  z-index:26;
  bottom:0.05rem;
  font-size:0.20rem;
  color:#929292;
}
/*头部导航样式*/
#nav-slider{
  height:0.7rem;
  background:#fff;
}
#nav-slider #Control{
  height:0.7rem;
}
#nav-slider .mui-scroll-wrapper{
  background:#fff !important;
}
#nav-slider .mui-scroll{
  height:0.7rem;
}
#nav-slider .mui-control-item{
  height:0.7rem;
  position:relative;
  display:inline-block;
  padding:0.1rem 0.15rem;
}
#nav-slider .mui-control-item img{
  width:0.5rem;
  vertical-align: middle;
  position:relative;
  top:-0.05rem
}
#nav-slider .mui-control-item .text{
  font-size:0.26rem;
  color:#646464;
}
.mui-control-item .bg{
  z-index:1 !important;
  width:60%;
  height:0.08rem;
  border-radius: 0.08rem;
  display:none;
  position:absolute;
  bottom:-0.01rem;
  left:20%;
}
.mui-scroll-wrapper{
  background:#f8f8f8 !important;
}
.mui-control-item.mui-active .text{
  color:#ff5959 !important;
  z-index:9;
}
.mui-control-item.mui-active .bg{
  display:block;
  background:#ff5959;
  z-index:2 !important;
}