<div class="headbar">
	<div class="position"><span>营销</span><span>></span><span>活动</span><span>></span><span>限时活动</span></div>
	<div class="operating">
		<a href="javascript:;" onclick="event_link('{url:/market/activity_speed_add}')"><button class="operating_btn" type="button"><span class="addition">添加限时购</span></button></a>
		<a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<!-- <a href="javascript:void(0)" onclick="document.forms[0].action='{url:/market/ticket_discount_excel}';delModel({msg:'是否要生成excel表格'});"><button class="operating_btn" type="button"><span class="export">生成EXCEL</span></button></a> -->
		<!--<a href="javascript:void(0)" onclick="batch_del({link:'{url:/market/ticket_discount_del}'});"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a>-->
	</div>
</div>
<div class="content">
	<form method='post' action='#' name="ticket_discount">
		<table class="list_table">
			<colgroup>
				<col width="40px" />
				<col width="50px" />
				<col width="200px" />
				<col width="40px" />
				<col width="120px" />
				<col width="120px" />
				<col width="140px" />
			</colgroup>

			<thead>
				<tr>
					<th>选择</th>
					<th>类型</th>
					<th>时间段</th>
					<th>状态</th>
					<th>创建时间</th>
					<th>更新时间</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
				{query: name=activity_speed order=id desc page=$page}
				<tr>
					<td><input type='checkbox' name='id[]' value="{$item['id']}" /> {$item['id']}</td>
					<td><?php  switch($item['type']){
						case 1: echo '限时购'; break;
						case 2: echo '秒杀'; break;
					} ?></td>
					<td>{echo:date('Y-m-d H:i',$item['start_time'])}～{echo:date('Y-m-d H:i',$item['end_time'])}</td>
					<td><?php  switch($item['status']){
						case 0: echo '禁用'; break;
						case 1: echo '启用'; break;
					} ?></td>
					<td>{echo:$item['create_time']>0 ? date('Y-m-d H:i',$item['create_time']) : ''}</td>
					<td>{echo:$item['update_time']>0 ? date('Y-m-d H:i',$item['update_time']) : ''}</td>
					<td>
						<a href='{url:/market/activity_speed_edit/id/$item[id]}'>
							<img class="operator" src="{skin:images/admin/icon_edit.gif}" alt="编辑限时购" title="编辑活动商品" />
						</a>

						<!-- <a href='{url:/market/ticket_more_list/ticket_id/$item[id]}'>
							<img class="operator" src="{skin:images/admin/icon_check.gif}" alt="查看详情" title="查看详情" />
						</a>

						<a href='javascript:create_dialog("{$item['id']}");'>
							<img class="operator" src="{skin:images/admin/icon_add.gif}" alt="生成实体代金券" title="生成实体优惠券" />
						</a>

						
						<a href='javascript:void(0)' onclick="delModel({msg:'是否要生成excel表格？',link:'{url:/market/ticket_excel/id/$item[id]}'});">
							<img class="operator" src="{skin:images/admin/icon_down.gif}" alt="生成EXCEL" title="生成EXCEL" />
						</a> -->
						<a href='javascript:void(0)' onclick="delModel({link:'{url:/market/ticket_discount_del/id/$item[id]}'});">
							<img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" title="删除" />
						</a>
					</td>
				</tr>
				{/foreach}
			</tbody>
		</table>
	</form>
</div>
{$query->getPageBar()}

<script type='text/javascript'>
	//批量删除
	function batch_del(conf)
	{
		var flag = 0;
		$('input[name="id[]"]:checked').each(function(i){flag = 1;});
		if(flag == 0)
		{
			alert('请选择要删除的数据');
			return false;
		}
		$("form[name='ticket_discount']").attr('action',conf.link);
		confirm('确定要删除所选中的信息吗？','formSubmit(\'ticket_discount\')');
	}
</script>
