{js:my97date}

<div class="headbar clearfix">
	<div class="position"><span>营销</span><span>></span><span>活动</span><span>></span><span>添加活动</span></div>
	<ul class="tab" name="menu1">
		<li id="li_1" class="selected"><a href="javascript:void(0)" hidefocus="true" onclick="page.select_tab('1')">商品信息</a></li>
		<li id="li_2"><a href="javascript:void(0)" hidefocus="true" onclick="page.select_tab('2')">活动商品</a></li>
	</ul>
</div>
<div class="content_box">
	<div class="content form_content">
		<form action="{url:/market/activity_add}" name='activity_add'  method="post">
		<div id="table_box_1">
			<table class="form_table">
				<col width="150px" />
				<col />
				<tr>
					<th>活动名称：</th>
					<td>
						<input type='text' name='name' class='normal' pattern='required' alt='' />
						<label>* 请为此次活动命名</label>
					</td>
				</tr>
				<tr>
					<th>分享获得积分数：</th>
					<td><input name='share_score' type='text' class='small' pattern='int' alt='必须填写数字'/><label>* 分享获得的积分数</label></td>
				</tr>
				<tr>
					<th>可获得积分次数：</th>
					<td><input name='share_num' type='text' class='small' pattern='int' alt='必须填写数字' /><label>* 每人获得积分次数</label></td>
				</tr>
				<tr>
					<th>活动时间：</th>
					<td>
						<input type='text' name='start_time' class='Wdate' pattern='datetime' readonly=true onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" alt='请填写一个日期' /> ～
						<input type='text' name='end_time' class='Wdate' pattern='datetime' readonly=true onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" alt='请填写一个日期' />
						<label>* 活动时间段</label>
					</td>
				</tr>
				<tr>
					<th>活动类型：</th>
					<td>
						优惠券<input id="activity_type_1" type='checkbox' name='type[]' value="1" onchange="page.changeType(this);"/>　
						消费成长<input id="activity_type_2" type='checkbox' name='type[]' value="2" onchange="page.changeType(this);"/>
					</td>
				</tr>
				<tr class="ticket" style="background-color:#DBEAF9;display:none;">
					<th style="background-color:#DBEAF9;">包含优惠券：</th>
					<td class="datalist">
						<fieldset style="width:80%;" class="datainfo" id="htmlTicket">
							<legend ><input type="button" value="+" style="border:none;border-radius:20%;" onclick="page.datalistAdd(this);" />　<input type="button" value="-" style="border:none;border-radius:20%;" onclick="page.datalistDel(this);" /></legend>
							<label>优惠券名称：<input name="ticket_name[]" class="small" type="text" value="" /></label>　
							<label>类型：
								<select name="ticket_type[]" class="auto" onchange="page.changeTypeTicket(this);">
									<option value="1">满减券</option>
									<option value="2">无门槛券</option>
									<option value="3">折扣券</option>
									<option value="4">商务合作券</option>
									<option value="5">包邮券</option>
									<option value="6">税值券</option>
								</select>
							</label>
							<label id="rule_type">规则：
								<input name="ticket_rule[]" class="small" type="text" value=""/>
								<span id="rule_type_intro">
									<span>*满m元减n元，如满300减50写作“300,50”</span>
									<span>*抵扣金额，如抵50元则填“50”</span>
									<span>*折扣率，如：八折则填“0.8”</span>
									<span>*抵扣金额，如抵2000元则填“2000”</span>
								</span>
							</label>
							<label style="display:block;">有效时间段：
								<input type='text' name='ticket_start_time[]' class='Wdate' pattern='datetime' readonly=true onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" alt='请填写一个日期' /> ～
								<input type='text' name='ticket_end_time[]' class='Wdate' pattern='datetime' readonly=true onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" alt='请填写一个日期' />
							</label>
						</fieldset>
					</td>
				</tr>
				<tr class="ticket" style="background-color:#DBEAF9;display:none;">
					<th style="background-color:#DBEAF9;">优惠券总数量：</th>
					<td><input name='num' type='text' class='small' pattern='int' alt='必须填写数字' /><label>* 优惠券总数量</label></td>
				</tr>
				<tr class="grow" style="background-color:#FDEDE2;display:none;">
					<th style="background-color:#FDEDE2;">包含礼品：</th>
					<td class="datalist">
						<fieldset style="width:80%;" class="datainfo" id="htmlGrow">
							<legend ><input type="button" value="+" style="border:none;border-radius:20%;" onclick="page.datalistAdd(this);" />　<input type="button" value="-" style="border:none;border-radius:20%;" onclick="page.datalistDel(this);" /></legend>
							<label>消费金额数：<input name='grow_money[]' type='text' class='small' pattern='int' alt='必须填写数字' /></label>　
							<label>
								礼品类型：<select name="grow_type[]" class="auto" onchange="page.changeTypeGrow(this);">
									<option value="1">优惠券</option>
									<option value="2">商品</option>
								</select>
							</label>
							<div id="grow_ticket"></div>
							<div id="grow_goods">
								<button class='btn' type='button' onclick="page.searchGoods(this);"><span>选择商品</span></button>
								<div id="goodsListBox" style="border:1px solid #F99840;">
									<input type='hidden' name='goods_id[]' value='' />
								</div>
							</div>
						</fieldset>
					</td>
				</tr>
			</table>
		</div>
		<div id="table_box_2" cellpadding="0" cellspacing="0" style="display:none">
				<table class="form_table">
					<col width="150px" />
					<col />
					<tr>
						<th></th>
						<td>
							
						</td>
					</tr>
				</table>
			</div>
			<table class="form_table">
				<col width="150px" />
				<col />
				<tr>
					<td></td>
					<td><button class="submit" type='submit'><span>确 定</span></button>
					</td>
				</tr>
			</table>

		</form>
	</div>
</div>


<!--商品模板-->
<script type="text/html" id="goodsItemTemplate">
<tr>
	<td>
		<input value="{{<%=templateData['goods_no']%>}}">
	</td>
	<td>
		<input type='hidden' name='goods_id[]' value='<%=templateData['goods_id']%>' />
		<img src="<?php echo IUrl::creatUrl("")."<%=templateData['img']%>";?>" style="width:80px;" />
		<%=templateData['name']%>
	</td>
	<td>

		    <%if(templateData['is_del'] =='0'){%>
		        已上架
			<%}%>
            <%if(templateData['is_del'] =='1'){%>
				已删除
			<%}%>
            <%if(templateData['is_del'] =='2'){%>
				已下架
			<%}%>
            <%if(templateData['is_del'] =='3'){%>
				申请上架中
			<%}%>
	</td>
	<td style="text-align:center"><img src="<?php echo $this->getWebSkinPath()."images/admin/icon_del.gif";?>" alt="删除" title="删除" onclick="$(this).parent().parent().remove();" /></td>
</tr>
</script>


<script type='text/javascript'>
window.onload = function(){
	page.init();
};

var page = {
	loading 			: false,
	minlength 			: 1, //最少数据条数
	maxlength 			: 5, //最多数据条数
	htmlTicket 			: null, //优惠券的html
	htmlGrow 			: null, //礼品优惠券的html
	goodsList 			: null,
	//初始化
	init 	 			: function(){
		page.changeType( '#activity_type_1' ); //活动类型
		page.changeType( '#activity_type_2' ); //活动类型
		page.changeTypeTicket( 'select[name="ticket_type[]"]' ); //优惠券类型
		page.changeTypeGrow( 'select[name="grow_type[]"]' ); //礼包类型
		page.getHtmlTicketGrow(); 	//获取优惠券、礼包html
	},
	//更改活动类型
	changeType 			: function(obj){
		var thisObj 	= $(obj);
		// console.log(thisObj.prop('checked'));
		switch(thisObj.val()){
			//优惠券
			case '1':
				thisObj.prop('checked')==true ? $('.ticket').show() : $('.ticket').hide();
				break;
			//经验值活动
			case '2':
				thisObj.prop('checked')==true ? $('.grow').show() : $('.grow').hide();
				break;
		}
	},
	//更改礼包类型
	changeTypeGrow 				: function(obj){
		var thisObj 	= $(obj);
		var thisInfo 	= thisObj.parents('.datainfo');
		switch(thisObj.val()){
			case '1':
				thisInfo.find('#grow_ticket').show();
				thisInfo.find('#grow_goods').hide();
				break;
			case '2':
				thisInfo.find('#grow_ticket').hide();
				thisInfo.find('#grow_goods').show();
				break;
		}
	},
	//更改优惠券类型
	changeTypeTicket 			: function(obj){
		var thisObj 	= $(obj);
		var index 		= thisObj.val();
		if(index==5 || index==6){
			thisObj.parents('.datainfo').find('#rule_type_intro').find('span').hide();
		}else{
			thisObj.parents('.datainfo').find('#rule_type_intro').find('span').eq(index-1).show().siblings().hide();
		}
	},
	//添加一条数据
	datalistAdd 		: function(obj){
		var thisObj 	= $(obj);
		var thisList 	= thisObj.parents('.datalist');
		if(thisList.find('.datainfo').length == page.maxlength){
			_inform('最多填写'+page.maxlength+'条数据');
			return false;
		}
		switch(thisObj.parents('fieldset').attr('id')){
			case 'htmlTicket':
				var html 	= page.htmlTicket;
				break;
			case 'htmlGrow':
				var html 	= page.htmlGrow;
				break;
		}
		thisObj.parents('.datalist').append( html );
	},
	//删除一条
	datalistDel 		: function(obj){
		var thisObj 	= $(obj);
		if(thisObj.parents('.datalist').find('.datainfo').length == page.minlength){
			_inform('至少填写'+page.minlength+'条数据');
			return false;
		}
		thisObj.parents('.datainfo').remove();
	},
	//获取优惠券、礼包html
	getHtmlTicketGrow 		: function(){
		var html 			= $('#htmlTicket').clone(true);
		html.find('input:not(:button)').val(''); //清空内容
		page.htmlTicket 	= html.prop('outerHTML');

		//礼品优惠券
		html.find('input[name="ticket_name[]"]').attr('name','grow_ticket_name[]');
		html.find('select[name="ticket_type[]"]').attr('name','grow_ticket_type[]');
		html.find('input[name="ticket_rule[]"]').attr('name','grow_ticket_rule[]');
		html.find('input[name="ticket_start_time[]"]').attr('name','grow_ticket_start_time[]');
		html.find('input[name="ticket_end_time[]"]').attr('name','grow_ticket_end_time[]');
		html.find('legend').remove();
		$('#grow_ticket').append( html.html() ); //礼品优惠券html

		//礼包html
		var htmlGrow 		= $('#htmlGrow').clone(true);
		htmlGrow.find('input:not(:button)').val(''); //清空内容
		htmlGrow.find('#grow_ticket').show();
		htmlGrow.find('#grow_goods').hide();
		page.htmlGrow = htmlGrow.prop('outerHTML');
	},
	//开始搜索商品
	searchGoods 			: function(obj){
		page.goodsList 		= $(obj).next('#goodsListBox');
		searchGoods('{url:/block/search_goods/type/checkbox}',page.searchGoodsCallback);
	},
	//输入筛选商品的条件
	searchGoodsCallback 	: function(goodsList){
		var result = [];
		if(goodsList.length != 1){
			_inform('只能选择一件商品');
			return false;
		}
		goodsList.each(function(k,v){
			var temp = $.parseJSON($(this).attr('data'));
			if(temp.is_del != '0'){
				_inform('必须选择上架商品');
				return false;
			}
			result.push(temp);
		});
		page.createGoodsList(result);
	},
	//创建商品数据
	createGoodsList 		: function(goodsList){
		for(var i in goodsList){
			var templateHTML = template.render('goodsItemTemplate',{"templateData":goodsList[i]});
			page.goodsList.html(templateHTML);
		}
	},
	//tab标签切换
	select_tab 				: function(curr_tab){
		$("form[name='activity_add'] > div").hide();
		$("#table_box_"+curr_tab).show();
		$("ul[name=menu1] > li").removeClass('selected');
		$('#li_'+curr_tab).addClass('selected');
	},
}


</script>