{js:my97date}

<div class="headbar clearfix">
	<div class="position"><span>营销</span><span>></span><span>活动</span><span>></span><span>添加活动</span></div>
	<ul class="tab" name="menu1">
		<li id="li_1" class="selected"><a href="javascript:void(0)" hidefocus="true" onclick="page.select_tab('1')">商品信息</a></li>
	</ul>
</div>
<div class="content_box">
	<div class="content form_content">
		<form action="{url:/market/activity_goods_edit}" name='activity_goods_edit'  method="post">
		<input type="hidden" name="id" value="{echo:IReq::get('id')}">
		<div id="table_box_1">
			<table class="form_table">
				<col width="150px" />
				<col />
				<tr>
					<th>活动名称：</th>
					<td>
						<input type='text' class='normal' pattern='required' alt='' value="{$data['name']}" readonly />
					</td>
				</tr>
				<tr>
					<th>折扣率：</th>
					<td><input name='ratio' type='text' class='small' pattern='float' alt='必须填写数字' value="{$data['ratio']}"/><label>*折扣率，如八五折则填“0.85”</label></td>
				</tr>
				<tr>
					<th>活动商品：</th>
					<td>
						<button class='btn' type='button' onclick="page.searchGoods(this);"><span>选择商品</span></button>
						<div id="goodsListBox" style="">
							{if:!empty($data['list'])}
								{foreach:items=$data['list'] key=$k item=$v}
									<div class="goodsInfo" style="width:80%;border:1px solid #E1E1E1;display:-webkit-flex;-webkit-justify-content:flex-start;-webkit-align-items: center;">
										<input type='hidden' name='goods_id[]' value="{$v['id']}" />
										<div style="width:20%;">
											<input value="{{{$v['goods_no']}}}">
										</div>
										<div style="width:10%;">
											<img src="{echo:empty($v['img']) ? '' : IWeb::$app->config['image_host'].IUrl::creatUrl('/pic/thumb/img/'.$v['img'].'/w/500/h/500')}" style="width:80px;" />
										</div>
										<div style="width:50%;">
											{$v['name']}
										</div>
										<div style="width:10%;">
											<?php switch($v['is_del']){
												case '0':echo '已上架';break;
												case '1':echo '已删除';break;
												case '2':echo '已下架';break;
												case '3':echo '申请上架中';break;
											}?>
										</div>
										<div style="text-align:center;"><img src="<?php echo $this->getWebSkinPath().'images/admin/icon_del.gif';?>" alt="删除" title="删除" onclick="page.delGoods(this);" /></div>
									</div>
								{/foreach}
							{else:}
								<input type='hidden' name='goods_id[]' value='' />
							{/if}
						</div>
					</td>
				</tr>
			</table>
		</div>

			<table class="form_table">
				<col width="150px" />
				<col />
				<tr>
					<td></td>
					<td><button class="submit" type='submit'><span>确 定</span></button>
					</td>
				</tr>
			</table>

		</form>
	</div>
</div>


<!--商品模板-->
<script type="text/html" id="goodsItemTemplate">
<div class="goodsInfo" style="width:80%;border:1px solid #E1E1E1;display:-webkit-flex;-webkit-justify-content:flex-start;-webkit-align-items: center;">
	<input type='hidden' name='goods_id[]' value='<%=templateData['goods_id']%>' />
	<div style="width:20%;">
		<input value="{{<%=templateData['goods_no']%>}}">
	</div>
	<div style="width:10%;">
		<img src="<?php echo IWeb::$app->config['image_host']; ?>/<%=templateData['img']%>" style="width:80px;" />
	</div>
	<div style="width:50%;">
		<%=templateData['name']%>
	</div>
	<div style="width:10%;">
		    <%if(templateData['is_del'] =='0'){%>
		        已上架
			<%}%>
            <%if(templateData['is_del'] =='1'){%>
				已删除
			<%}%>
            <%if(templateData['is_del'] =='2'){%>
				已下架
			<%}%>
            <%if(templateData['is_del'] =='3'){%>
				申请上架中
			<%}%>
	</div>
	<div style="text-align:center"><img src="<?php echo $this->getWebSkinPath().'images/admin/icon_del.gif';?>" alt="删除" title="删除" onclick="page.delGoods(this);" /></div>
</div>
</script>


<script type='text/javascript'>
window.onload = function(){
	page.init();
};

var page = {
	loading 			: false,
	minlength 			: 1, //最少数据条数
	maxlength 			: 5, //最多数据条数
	htmlTicket 			: null, //优惠券的html
	htmlGrow 			: null, //礼品优惠券的html
	goodsList 			: null,
	//初始化
	init 	 			: function(){
	},
	//开始搜索商品
	searchGoods 			: function(obj){
		page.goodsList 		= $(obj).next('#goodsListBox');
		searchGoods('{url:/block/search_goods/type/checkbox}',page.searchGoodsCallback);
	},
	//输入筛选商品的条件
	searchGoodsCallback 	: function(goodsList){
		var result = [];
		goodsList.each(function(k,v){
			var temp = $.parseJSON($(this).attr('data'));
			if(temp.is_del != '0'){
				_inform('必须选择上架商品');
				return false;
			}
			result.push(temp);
		});
		page.createGoodsList(result);
	},
	//创建商品数据
	createGoodsList 		: function(goodsList){
		// console.log(goodsList);
		// return false;
		if(page.loading==true) return false;
		page.loading = true;
		$.post("{url:/market/activity_goods_edit}",{aid:"{echo:IReq::get('id')}",play:"add",data:goodsList},function(data,status){
			console.log(data);
			if(status == 'success'){
				if(data.code=='0'){
					for(var i in goodsList){
						var templateHTML = template.render('goodsItemTemplate',{"templateData":goodsList[i]});
						page.goodsList.append(templateHTML);
					}
				}
				_inform(data.msg);
			}
			page.loading = false;
		},'json');
		
	},
	//tab标签切换
	select_tab 				: function(curr_tab){
		$("form[name='activity_add'] > div").hide();
		$("#table_box_"+curr_tab).show();
		$("ul[name=menu1] > li").removeClass('selected');
		$('#li_'+curr_tab).addClass('selected');
	},
	//删除单条商品
	delGoods 				:function(obj){
		var thisGoods 		= $(obj).parents('.goodsInfo');
		if(page.loading==true) return false;
		page.loading = true;
		$.post("{url:/market/activity_goods_edit}",{play:"del",data:thisGoods.find('input[name="goods_id[]"]').val()},function(data,status){
			console.log(data);
			if(status == 'success'){
				if(data.code == '0'){
					thisGoods.remove();
				}
				_inform(data.msg);
			}
			page.loading = false;
		},'json');
	},
}


</script>