{js:my97date}

<div class="headbar">
	<div class="position"><span>营销</span><span>></span><span>优惠券活动</span><span>></span><span>批量添加优惠券</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form action="{url:/market/acticity_add}" name='ticket_edit'  method="post">
			<input type='hidden' name='id' />
			<table class="form_table">
				<col width="150px" />
				<col />
				<tr>
					<th>活动名称：</th>
					<td>
						<input type='text' name='name' class='normal' pattern='required' alt='' />
						<label>* 请为此次活动命名</label>
					</td>
				</tr>
				<tr>
					<th>包含优惠券：</th>
					<td class="datalist">
						<fieldset style="width:100%;" class="datainfo">
							<legend ><input type="button" value="+" style="border:none;border-radius:20%;" onclick="page.datalistAdd(this);" />　<input type="button" value="-" style="border:none;border-radius:20%;" onclick="page.datalistDel(this);" /></legend>
							<label>优惠券名称：<input name="ticket_name[]" class="small" type="text" value="" /></label>　
							<label>类型：
								<select name="ticket_type[]" class="auto" onchange="page.changeType(this);">
									<option value="1">满减券</option>
									<option value="2">无门槛券</option>
									<option value="3">折扣券</option>
									<option value="4">商务合作券</option>
									<option value="5">包邮券</option>
									<option value="6">税值券</option>
								</select>
							</label>　
							<label id="rule_type">规则：
								<input name="ticket_rule[]" class="small" type="text" value=""/>
								<span id="rule_type_intro">
									<span>*满m元减n元，如满300减50写作“300,50”</span>
									<span>*抵扣金额，如抵50元则填“50”</span>
									<span>*折扣率，如：八折则填“0.8”</span>
									<span>*抵扣金额，如抵2000元则填“2000”</span>
								</span>
							</label>
						</fieldset>
					</td>
				</tr>
				<tr>
					<th>优惠券总数量：</th>
					<td><input name='num' type='text' class='small' pattern='int' alt='必须填写数字' /><label>* 优惠券总数量</label></td>
				</tr>
				<tr>
					<th>分享获得积分数：</th>
					<td><input name='share_score' type='text' class='small' pattern='int' alt='必须填写数字'/><label>* 分享获得的积分数</label></td>
				</tr>
				<tr>
					<th>可获得积分次数：</th>
					<td><input name='share_num' type='text' class='small' pattern='int' alt='必须填写数字' /><label>* 每人获得积分次数</label></td>
				</tr>
				<tr>
					<th>活动时间：</th>
					<td>
						<input type='text' name='start_time' class='Wdate' pattern='date' readonly=true onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" alt='请填写一个日期' /> ～
						<input type='text' name='end_time' class='Wdate' pattern='date' readonly=true onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" alt='请填写一个日期' />
						<label>* 活动时间段</label>
					</td>
				</tr>
				<tr><td></td><td><button class="submit" type='submit'><span>确 定</span></button></td></tr>
			</table>
		</form>
	</div>
</div>

<script type='text/javascript'>
window.onload = function(){
	page.initTyle();
};

var page = {
	loading 			: false,
	minlength 			: 1, //最少数据条数
	maxlength 			: 5, //最多数据条数
	//更改优惠券类型
	changeType 			: function(obj){
		var thisObj 	= $(obj);
		var index 		= thisObj.val();
		if(index==5 || index==6){
			thisObj.parents('fieldset').find('#rule_type_intro').find('span').hide();
		}else{
			thisObj.parents('fieldset').find('#rule_type_intro').find('span').eq(index-1).show().siblings().hide();
		}
	},
	//初始化优惠券类型
	initTyle 			: function(){
		page.changeType( 'select[name="ticket_type[]"]' );
	},
	//添加一条数据
	datalistAdd 		: function(obj){
		var thisObj 	= $(obj);
		var thisList 	= thisObj.parents('.datalist');
		if(thisList.find('.datainfo').length == page.maxlength){
			_inform('最多填写'+page.maxlength+'条数据');
			return false;
		}
		var html 		= '';
		html 			+= '<fieldset style="width:100%;" class="datainfo"><legend ><input type="button" value="+" style="border:none;border-radius:20%;" onclick="page.datalistAdd(this);" />　<input type="button" value="-" style="border:none;border-radius:20%;" onclick="page.datalistDel(this);" /></legend>';
		html 			+= '<label>优惠券名称：<input name="ticket_name[]" class="small" type="text" value="" /></label>　<label>类型：<select name="ticket_type[]" class="auto" onchange="page.changeType(this);">';
		html 			+= '<option value="1">满减券</option><option value="2">无门槛券</option><option value="3">折扣券</option><option value="4">商务合作券</option><option value="5">包邮券</option><option value="6">税值券</option>';
		html 			+= '</select></label>　<span id="rule_type">';
		html 			+= '<label id="rule_type">规则：<input name="ticket_rule[]" class="small" type="text" value=""/><span id="rule_type_intro">';
		html 			+= '<span>*满m元减n元，如满300减50写作“300,50”</span><span style="display:none;">*抵扣金额，如抵50元则填“50”</span><span style="display:none;">*折扣率，如：八折则填“0.8”</span><span style="display:none;">*抵扣金额，如抵2000元则填“2000”</span>';
		html 			+= '</span></label></fieldset>';
		thisObj.parents('.datalist').append(html);
	},
	//删除一条
	datalistDel 		: function(obj){
		var thisObj 	= $(obj);
		if(thisObj.parents('.datalist').find('.datainfo').length == page.minlength){
			_inform('至少填写'+page.minlength+'条数据');
			return false;
		}
		thisObj.parents('.datainfo').remove();
	},
}
</script>