<div class="headbar">
	<div class="position"><span>营销</span><span>></span><span>优惠券管理</span><span>></span><span>优惠券列表</span></div>
	<div class="operating">
		<a href="javascript:;" onclick="event_link('{url:/market/ticket_activity_add}')"><button class="operating_btn" type="button"><span class="addition">添加优惠券</span></button></a>
		<a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<!-- <a href="javascript:void(0)" onclick="document.forms[0].action='{url:/market/ticket_discount_excel}';delModel({msg:'是否要生成excel表格'});"><button class="operating_btn" type="button"><span class="export">生成EXCEL</span></button></a> -->
		<!--<a href="javascript:void(0)" onclick="batch_del({link:'{url:/market/ticket_discount_del}'});"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a>-->
		<form action="{url:/tools/api_list}" method="get" name="searchListForm">
			<div class="search f_r">
				<button class="btn" type="submit"  onclick='changeAction()'><span class="sel">搜 索</span></button>
				关键词：<input class="small" name="search[keywords]" type="text" value="{echo:isset($_GET['search']['keywords']) ? $_GET['search']['keywords'] : ''}" placeholder="ID|名称" style="width:120px;" />
			</div>
		</form>
	</div>
</div>
<div class="content">
	<form method='post' action='#' name="ticket_discount">
		<table class="list_table">
			<colgroup>
				<col width="40px" />
				<col width="100px" />
				<col width="50px" />
				<col width="100px" />
				<col width="90px" />
				<col width="220px" />
				<col width="220px" />
				<col width="140px" />
			</colgroup>

			<thead>
				<tr>
					<th>ID</th>
					<th>名称</th>
					<th>类型</th>
					<th>优惠内容</th>
					<th>所属活动</th>
					<th>领取时间</th>
					<th>有效期</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				{foreach:items=$dataList key=$k item=$v}
				<tr>
					<td><input type='checkbox' name='id[]' value="{$v['id']}" /> {$v['id']}</td>
					<td>{$v['name']}</td>
					<td>{$v['type_format']}</td>
					<td>{$v['content']}</td>
					<td>{$v['ac_name']}</td>
					<td>{echo:(empty($v['start_time']) ? '' : date('Y-m-d H:i',$v['start_time'])).'～'.(empty($v['end_time']) ? '' : date('Y-m-d H:i',$v['end_time']))}</td>
					<td>{$v['valid_time']}</td>
					<td>
						<!--<a href='{url:/tools/api_edit/id/$v[id]}'>-->
							<!--<img class="operator" src="{skin:images/admin/icon_edit.gif}" alt="编辑" title="编辑" />-->
						<!--</a>-->
						<!--<a href='javascript:void(0)' onclick="delModel({link:'{url:/market/ticket_discount_del/id/$v[id]}'});">-->
							<!--<img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" title="删除" />-->
						<!--</a>-->
					</td>
				</tr>
				{/foreach}
			</tbody>
		</table>
	</form>
</div>
{$pageBar}

<script type='text/javascript'>
	//批量删除
	function batch_del(conf)
	{
		var flag = 0;
		$('input[name="id[]"]:checked').each(function(i){flag = 1;});
		if(flag == 0)
		{
			alert('请选择要删除的数据');
			return false;
		}
		$("form[name='ticket_discount']").attr('action',conf.link);
		confirm('确定要删除所选中的信息吗？','formSubmit(\'ticket_discount\')');
	}
</script>
