<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>大牌专区</title>
	<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>"/>
	<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/app/christmas_brand_list.css?v=<?php echo time(); ?>"/>
</head>
<body>
	<div id="wrap" v-clack>
	<header>
		<img src="/views/mobile/skin/default/image/jmj/new_active/banner/6.png" style="width: 100%;"/>
	</header>
	<section>
		<ul>
			<li v-for="items in brand_list"><a :href="items.url">
				<h1><img :src="items.img" style="width:2rem;margin-top:0.2rem ;"/></h1>
				<p class="p1">{{items.name}}</p>
				<p class="p2">¥<span>{{items.sell_price}}</span></p>
			</a></li>
		</ul>
	</section>
	<!--									品牌专区											-->
	<article>
		<span class="span1"></span>
		<p>品牌专区</p>
		<span class="span2"></span>
	</article>
	<!--									品牌												-->
	<div id="hot">
		<ul>
			<li v-for="item in brand_logo" @click="click(item.id)">
				<img :src="item.log" style="width: 0.71rem;height: 0.57rem;"/>
			</li>

		</ul>
	</div>
	<div id="subhot">
		<ul>
			<li v-for="items in brand_lists"><a :href="items.url">
				<h1><img :dataimg="items.img" src="/views/mobile/skin/default/image/jmj/product/ware_lazy.png" alt="" class="samLazyImg" style="width:2rem;margin-top: 0.2rem;"/></h1>
				<p class="p1">{{items.name}}</p>
				<p class="p2">¥<span>{{items.sell_price}}</span></p>
			</a></li>
		</ul>
	</div>
	 <footer>
        <div class="flexbox empty_product" style="background:#a5eced" v-if="infoState">
            <div class="img">
                <img src="/views/mobile/skin/default/image/jmj/icon/nomore.png" alt=""/>
            </div>
            <div class="content">
                <span style="color:#fff">~</span>
                <span style="color:#fff">憋拉了，到底了</span>
                <span style="color:#fff">~</span>
            </div>
        </div>
    </footer>
	<!-- 							回到顶部										-->
	<div class="fix-toTop" @click="fan()" style="right: 0.5rem;">
	    <img src="/views/mobile/skin/default/image/jmj/new_active/mainicon.png" alt="" style="width: 1.1rem;height: 1.1rem;" />
	</div>
	<div class="fix-toTop2" @click="fixToTop" style="position: fixed;right: 0.4rem;bottom: 1.8rem;display: none;">
        <img src="/views/mobile/skin/default/image/jmj/icon/top-icon.png" alt="" style="width: 0.8rem;" />
    </div>
	</div>
	<script src="/views/mobile/javascript/lazyload.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
	<script type="text/javascript">
		var em = new Vue({
			el:"#wrap",
			data:{
				info:[],
				infologo:[],
				infolist:[],
				aid:'',
				bid:"26,32,56,74,78,82,100",
				page:1,
				infoState:false
			},
			computed:{
				brand_list:function(){
					this.info.map(function(item){
						
						item.url="/site/products?id="+item.id;
						console.log(item.url)
					})
					return this.info;
				},
				brand_logo:function(){
					this.infologo.map(function(item){
						
					})
					return this.infologo;
				},
				brand_lists:function(){
					this.infolist.map(function(item){
						item.url="/site/products?id="+item.id;
					})
					return this.infolist;
				}
			},
			mounted:function(){
				var self = this;
				getActiveInfo(self);
				getActivelist(self);
			},
			methods:{
				click: function(id){
					 
					var self=this;
					self.infolist=[];
					self.page=1;
					self.bid=id
					getActivelist(self,id)
				},
				fan: function(){
	      			window.location.href = "/activity/christmas_index";
	      	},
	      	fixToTop: function(){
	            $("html,body").animate({scrollTop:0},0);
//	            return false;
	        },
			},
			updated:function() {
				// 页面加载完成执行的函数;
				lazyload.init({
					anim:false,
					selectorName:".samLazyImg"
				});
			}
		})
		function getActiveInfo(self){
			mui.ajax('/apic/christmas_brand_list', {
				data:{
				},
				dataType: 'json',
				type: 'get',
				timeout: 10000,
				success: function(data){
					console.log(data.data.goods_list)
					self.info = data.data.goods_list;
					self.infologo = data.data.brand_list;
					
				}
		
			});
		};
		function getActivelist(self,id){
			mui.ajax('/apic/activity_goods_list', {
				data:{
					page:self.page,
					bid:id?id:self.bid,
				},
				dataType: 'json',
				type: 'get',
				timeout: 10000,
				success: function(data){
					data.data.map(function(item){
	                    self.infolist.push(item);
	               });
					if(data.data==''){
	                    self.infoState=true;
	                    stop=false;
	                }else{
	                	self.infoState=false;
	                    stop=true; 
	                }       
	                self.page++;
				}
			
			});
		}
		$(window).bind('scroll', function() {
			if ($(window).scrollTop() + $(window).height() +1000 >= $(document).height() && $(window).scrollTop() > 50) {
	            if(stop==true){
	                stop=false;
	                getActivelist(em,self.bid);
	            }
	        }
		   
		    if($(window).scrollTop()>100){
		        $(".fix-toTop2").show();
		        $(".fix-toTop2").css("position","fixed");
		    }else{
		        $(".fix-toTop2").hide();
		        $(".fix-toTop2").css("position","fixed");
		    }
		});
//		
//		//			缓存
//  function pushSession(key,value){
//      var val=JSON.stringify(value)?JSON.stringify(value):[];
//      if(window.sessionStorage){
//          sessionStorage.setItem(key,val);
//      }else{
//          console.log("无法使用缓存");
//          return "";
//      }
//  }
//  function getSession(key){
//      if(window.sessionStorage){
//          var state=sessionStorage.getItem(key)?sessionStorage.getItem(key):0;
//          return JSON.parse(state);
//      }else{
//          console.log("无法使用缓存");
//          return "";
//      }
//  }
//  function removeSessionItem(key){
//      window.sessionStorage.removeItem(key);
//  }
	</script>
</body>
</html>