<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <title>情人节</title>
	    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
	    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
	    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/valentines.css?v=<?php echo time(); ?>" />
	</head>
	<body style="background:#ffd6d6">
		<header>
			<div class="morning_img">
				<img src="/views/mobile/skin/default/image/jmj/active_valentines/01.jpg"/>
				<img src="/views/mobile/skin/default/image/jmj/active_valentines/ 02.jpg"/>
				<img src="/views/mobile/skin/default/image/jmj/active_valentines/tjb.jpg" style="width: 100%;"/>
			</div>
			<div class="morning_shop">
				<ul>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
				</ul>
				<span class="more">更多推荐</span>
			</div>
			
		</header>
		<!--		中午			-->
		<section style="margin-top: 0.2rem;">
			<div class="morning_img">
				<img src="/views/mobile/skin/default/image/jmj/active_valentines/03.jpg"/>
				<img src="/views/mobile/skin/default/image/jmj/active_valentines/04.jpg"/>
				<img src="/views/mobile/skin/default/image/jmj/active_valentines/tjb.jpg" style="width: 100%;"/>
			</div>
			<div class="morning_shop">
				<ul>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
				</ul>
				<span class="more">更多推荐</span>
			</div>
			
		</section>
		<!--		晚上			-->
		<div id="evening" style="margin-top: 0.2rem;">
			<div class="morning_img">
				<img src="/views/mobile/skin/default/image/jmj/active_valentines/05.jpg"/>
				<img src="/views/mobile/skin/default/image/jmj/active_valentines/06.jpg"/>
				<img src="/views/mobile/skin/default/image/jmj/active_valentines/tjb.jpg" style="width: 100%;"/>
			</div>
			<div class="morning_shop">
				<ul>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
					<li>
						<img src=""/>
						<p>资生堂洗发水18资生堂洗发水18</p>
						<span>¥<span> 24.00</span></span>
					</li>
				</ul>
				<span class="more">更多推荐</span>
			</div>
			
		</div>
		<!--		说明			-->
		<div style="margin-top: 0.2rem;">
			<img src="/views/mobile/skin/default/image/jmj/active_valentines/07.jpg" alt="" style="width: 100%;"/>
		</div>
	</body>
</html>
