body{
	background:#ffc75b;
}
#top{
	width: 100%;
	height: 4.22rem;
}
li{
	list-style: none;
}
#top img{
	width: 100%;
}
#logo{
	margin-top: -0.01rem;
	width: 100%;
	background: url(../../../image/jmj/active_goods_list/bg.gif);
	background-size: 100% 100%;
	overflow: hidden;
	height: 6rem;
}
#logo .logo1{
	width: 100%;
	height:auto;
	display:-webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: center;
}
#logo .logo1 img{
	margin-left:0.2rem;
	margin-top:0.3rem;
	width: 2.2rem;
	height: 1.2rem;

}
#logo h1{
	text-align: center;
	margin-top:0.3rem;
}
#logo h1 img{
	width: 1.99rem;
	height: 0.32rem;
}
#logo .logo2{
	width: 100%;
	display: -webkit-flex;
	-webkit-justify-content: center;
	position:relative;
}
#logo .logo2 img{
	width: 7.1rem;
	height: 1.39rem;
}
#logo .logo2 div{
	position: absolute;
	width: 1.4rem;
	height: 1.2rem;
	
}
#logo .logo2 .div1{
	top: 0;
	left: 0.4rem;
}
#logo .logo2 .div2{
	top: 0.2rem;
	left:2.2rem;
	
}
#logo .logo2 .div3{
	top: 0rem;
	left:3.85rem;
}
#logo .logo2 .div4{
	top: 0.2rem;
	left:5.5rem;
	width: 1.6rem;
}
#list{ 
	width: 100%;
	background: #ffc75b;

}
#list ul{
	padding:0.1rem 0.2rem;
	width: 100%;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-flex-wrap: wrap;
}
#list ul li{
	height: 5.13rem;
	display: -webkit-box;
	background: #fff;
}
#list ul li p{
	margin-left:0.2rem ;
	margin-top: 0.12rem;
	overflow:hidden;
	display: -webkit-box;
	text-overflow:ellipsis;
	-webkit-line-clamp: 2;
	-o-text-overflow:ellipsis;
	width:90%;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
#list li{
	margin-top:0.2rem;
	width: 3.45rem;
	height: 5.12rem;
	float: left;
	position: relative;
	border-radius:0.2rem ;
	border: 1px solid #000;
}
#list li i{
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
}
#list li i img{
	width: 0.8rem;
	height: 0.8rem;
	border-bottom: 1px solid #000;
}
#list ul li .img{
	border-bottom: 1px solid #000;
	
}
#list .img img{
	display: block;
	width:3.4rem;
	height:3.4rem;
	border-radius:0.2rem 0.2rem 0 0;
}

#list ul li span{
	display: block;
	margin-left: 0.2rem;
}
#list li p{
	font-size: 0.24rem;
	color: #000;
}
#list li .xian{
	color: #ff5050;
	display: block;
	
	margin-bottom: 0.1rem ;
}
#list li .yuanjia{
	color: #999;
	font-size: 0.24rem;
}
#list ul li .xian{
	margin-bottom:0.01rem ;
}
#list ul .xian .pirce1{
	font-size:0.3rem ;
	
}
#wrap_logo{
	background: #ffc75b;
	height: 6rem;
	overflow: hidden;
}
#wrap_logo #logo{
	overflow: hidden;
}
.fix-toTop{
	position: fixed;
	right: 0.39rem;
    bottom: 0.7rem;
    z-index: 999;
    width: 0.84rem;
    height: 0.84rem;
}