<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>dsdhilujhklj</title>
	<title>dsdhilujhklj</title>
	<link type="image/x-icon" href="{webroot:favicon.ico}" rel="icon">
	<link rel="stylesheet" href="{skin:css/mui.css}" />
	<link rel="stylesheet" href="{skin:css/common.css}" />
	<link rel="stylesheet" href="{skin:css/icons-extra.css}" />
	<link rel="stylesheet" href="{skin:css/app/jiumao.css}" />
	{js:jquery}
	{js:form}
	{js:validate}
	{js:dialog}
	{js:artTemplate}
	<script type='text/javascript' src="{theme:javascript/mui.js}"></script>

</head>
<body class="index">
<!--loading页开始-->
	<div id="loading">
		<div class="spinner">
			<div class="spinner-container container1">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container2">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container3">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
		</div>
	</div>
	<!--loading页结束-->


	{viewcontent}


	<!--底部选项卡-->
	<footer>
		<nav class="mui-bar mui-bar-tab">
			<div class="mui-content">
				<a id="defaultTab" class="mui-tab-item mui-active" href="index.html">
					<span class="mui-icon mui-icon-home"></span>
					<span class="mui-tab-label">首页</span>
				</a>
				<a class="mui-tab-item" href="#">
					<span class="mui-icon mui-icon-list"></span>
					<span class="mui-tab-label">分类</span>
				</a>
				<a class="mui-tab-item" href="shopcar.html">
						<span class="mui-icon mui-icon-extra mui-icon-extra-cart">
							<span class="mui-badge">0</span>
							</span>
					<span class="mui-tab-label">购物车</span>
				</a>
				<a class="mui-tab-item" href="#">
					<span class="mui-icon mui-icon-contact"></span>
					<span class="mui-tab-label">个人中心</span>
				</a>
			</div>
		</nav>
	</footer>
<script type='text/javascript' src='{theme:javascript/time.js}'></script>
<script type='text/javascript' src='{theme:javascript/lazyload.js}'></script>
</body>
</html>
