{js:kindeditor}
{set:$swfloadObject = new Swfupload();$swfloadObject->show($this->admin['admin_name'],$this->admin['admin_pwd']);}
<div class="headbar">
	<div class="position"><span>商品</span><span>></span><span>商品分类管理</span><span>></span><span>编辑分类</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form action="{url:/goods/category_save}" method="post" enctype="multipart/form-data">
			<input name="id" value="" type="hidden" />
			<table class="form_table" cellpadding="0" cellspacing="0">
				<colgroup>
					<col width="150px" />
					<col />
				</colgroup>

				<tr>
					<th>分类名称：</th>
					<td>
						<input class="normal" name="name" type="text" value="" pattern="required" alt="分类名称不能为空" /><label>* 必选项</label>
					</td>
				</tr>
				<tr>
					<th>上级分类：</th>
					<td>
						<!--分类数据显示-->
						<span id="__categoryBox" style="margin-bottom:8px"></span>
						<button class="btn" type="button" name="_goodsCategoryButton"><span class="add">设置分类</span></button>
						{set:plugin::trigger('goodsCategoryWidget',array("name" => "parent_id","value" => isset($this->categoryRow['parent_id']) ? $this->categoryRow['parent_id'] : ""))}
						<label>如果不选择上级分类，默认为顶级分类</label>
					</td>
				</tr>
				<tr>
					<th>首页是否显示：</th>
					<td>
						<label class='attr'><input name="visibility" type="radio" value="1" checked="checked" /> 是 </label>
						<label class='attr'><input name="visibility" type="radio" value="0" /> 否 </label>
					</td>
				</tr>
				<tr>
					<th>分类banner图片：</th>
					<td>
						<input class="middle" type="text" disabled />
						<div class="upload_btn">
							<span id="uploadButton"></span>
						</div>
						<label>可以上传多张图片，分辨率3000px以下，大小不得超过{echo:IUpload::getMaxSize()}</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td id="divFileProgressContainer"></td>
				</tr>
				<tr>
					<td></td>
					<td id="thumbnails"></td>

					<!--图片模板-->
					<script type='text/html' id='picTemplate'>
						<span class='pic'>
							<input type="hidden" name="image" value="{webroot:<%=picRoot%>}">
							<input type='hidden' name="img" value="" />
							<input type='hidden' name="_imgList" value="" />
							<img name="picThumb" onclick="defaultImage(this);" style="margin:5px; opacity:1;width:100px;height:100px" src="{webroot:<%=picRoot%>}" alt="<%=picRoot%>" />
							<p>
								<a class='orange' href='javascript:void(0)' onclick="$(this).parents('.pic').insertBefore($(this).parents('.pic').prev());"><img src="{skin:images/admin/arrow_left.png}" title="左移动" alt="左移动" /></a>
								<a class='orange' href='javascript:void(0)' onclick="$(this).parents('.pic').remove();"><img src="{skin:images/admin/sign_cacel.png}" title="删除" alt="删除" /></a>
								<a class='orange' href='javascript:void(0)' onclick="$(this).parents('.pic').insertAfter($(this).parents('.pic').next());"><img src="{skin:images/admin/arrow_right.png}" title="右移动" alt="右移动" /></a>
							</p>
						</span>
					</script>
				</tr>

				<tr>
					<th>分类icon图片：</th>
					<td>
						{set:$icon=explode(',',$this->categoryRow['image'])}
						<input type="file" name="icon1" accept="image/gif,image/jpg,image/png"/>
						{if:$this->categoryRow['parent_id'] == 0}<input type="file" name="icon2" accept="image/gif,image/jpg,image/png"/>{/if}
						<div style="display:block;">
							{if:!empty($icon[0])}<img  src="{echo:IWeb::$app->config['image_host'].'/'.$icon[0]}" style="margin:5px; border:1px solid gray; opacity:1;max-width:100px;max-height:100px"/>{/if}
							{if:!empty($icon[1])}<img  src="{echo:IWeb::$app->config['image_host'].'/'.$icon[1]}" style="margin:5px; border:1px solid gray; opacity:1;max-width:100px;max-height:100px"/>{/if}
						</div>
						{if:$this->categoryRow['parent_id'] == 0}<label>左图为选中后图片，右图为未选中图片</label>{/if}
					</td>
				</tr>

				<tr>
					<th>排序：</th><td><input class="normal" name="sort" pattern='int' empty alt='排序必须是一个数字' type="text" value=""/></td>
				</tr>
				<tr>
					<th>SEO标题：</th><td><input class="normal" name="title" type="text" value="" /></td>
				</tr>
				<tr>
					<th>SEO关键词：</th><td><input class="normal" name="keywords" type="text" value="" /></td>
				</tr>
				<tr>
					<th>SEO描述：</th><td><textarea name="descript" cols="" rows=""></textarea></td>
				</tr>
				<tr>
					<th>贝海分类：</th>
					<td>
						<select class="auto" onchange="a(this)">
							<option value="0">无 </option>
							{foreach:items=$this->xloboCategoryRow item=$item}
							{if:$item->CategoryLevel == 1} <option value="{$item->CategoryID}">{$item->CategoryCnName}</option> {/if}
							{/foreach}
						</select>
						<select class="auto" name="xlobo">
							<option value="0">无 </option>
							{foreach:items=$this->xloboCategoryRow item=$item}
							{if:$item->CategoryLevel == 2} <option pids="pids" style="display: none" pid="{$item->CategoryParentId}" value="{$item->CategoryID}">{$item->CategoryCnName}</option> {/if}
							{/foreach}
						</select>
					</td>
				</tr>
				<tr>
					<td></td><td><button class="submit" type="submit" onclick="return checkForm()"><span>确 定</span></button></td>
				</tr>
			</table>
		</form>
	</div>
</div>

<script type="text/javascript">
$(function()
{
	var formObj = new Form();
	formObj.init({echo:JSON::encode($this->categoryRow)});

	//商品图片的回填
	{if:isset($this->categoryRow)}
	var categoryRow = {echo:JSON::encode($this->categoryRow)};
	if (categoryRow.banner_image){
		var picHtml = template.render('picTemplate',{'picRoot':categoryRow.banner_image});
		$('#thumbnails').append(picHtml);
//		var image = categoryRow.image.split(',');
//		for(var item in image)
//		{
//		}
	}
	{/if}
})
/**
 * 图片上传回调,handers.js回调
 * @param picJson => {'flag','img','list','show'}
 */
function uploadPicCallback(picJson)
{
	var picHtml = template.render('picTemplate',{'picRoot':picJson.img});
	$('#thumbnails').append(picHtml);

	//默认设置第一个为默认图片
	if($('#thumbnails img[name="picThumb"][class="current"]').length == 0)
	{
		$('#thumbnails img[name="picThumb"]:first').addClass('current');
	}
}
//提交表单前的检查
function checkForm()
{
	//整理商品图片
	var goodsPhoto = [];
	$('#thumbnails img[name="picThumb"]').each(function(){
		goodsPhoto.push(this.alt);
	});
	if(goodsPhoto.length > 0)
	{
		$('input[name="_imgList"]').val(goodsPhoto.join(','));
		$('input[name="img"]').val($('#thumbnails img[name="picThumb"][class="current"]').attr('alt'));
	}
	return true;
}
function a(obj) {
	$('option[pids="pids"]').css({'display':'none'})
	var pidv = $(obj).val();
	$('option[pid="'+pidv+'"]').css({'display':''})
}
</script>