<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/connect.css?v=<?php echo time(); ?>" />
    <title>联系客服</title>
</head>
<body>
	<header>
		<img src="/views/mobile/skin/default/image/jmj/icon/kefu_bg.png" style="width: 100%;"/>
	</header>
	<div id="kefu">
		<div class="top_kef">
			<span></span>
			<span></span>
			<p>微信客服</p>
		</div>
		<div class="center_kef">
			jiumaojia006
		</div>
		<div class="footer_kef">
			长按复制
		</div>
	</div>
	<footer>
		<div class="footer_top">
			<span></span>
			<span></span>
			<p>客服电话</p>
		</div>
		<div class="footer_bottom">
			138-6814-4337
		</div>
	</footer>
</body>
</html>