<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<title>查看物流</title>
	<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>"/>
	<link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/delivery.css?v=<?php echo time(); ?>"/>
</head>
<body>
	<div id="top">
		<img src="/views/mobile/skin/default/image/bd.png" style="width: 7.5rem;height: 1.94rem;"/>
	</div>
	<div id="sub_wuliu">
		<div id="sub_top">
			<div class="top_left">
				运输中
				<p><img src="/views/mobile/skin/default/image/6F65F4C3-37CD-417C-9B83-60BE30B0AB6D@1x.png" style="width: 0.76rem;height:0.76rem"/></p>
			</div>
			<div class="top_right">
				未签收
				<p><img src="/views/mobile/skin/default/image/18F173E7-1FCD-44C5-916F-752613041A00@1x.png" style="width: 0.44rem;height: 0.44rem;"/></p>
			</div>
		</div>
		<div id="sub_bottom">
			<ul>
				<li>物流状态：<span>运输中</span></li>
				<li>承运来源：<span>EMS</span></li>
				<li>订单编号：<span>248953500304506003666</span></li>
				<li>联系电话：<span>0571-11113333</span></li>
			</ul>
		</div>
	</div>
	
	<div id="foorter">
		
	</div>
	
	<div id="btm_foorter">
		<ul>
			<li>
				<p>浙江省杭州市滨江区EMS派件员张三正在为您排件文案文案，期待再次为您服务</p>
				<span>2016-09-23  15:05:39</span>
			</li>
			<li>
				<p>浙江省杭州市滨江区EMS派件员张三正在为您排件文案文案，期待再次为您服务</p>
				<span>2016-09-23  15:05:39</span>
			</li>
			<li>
				<p>浙江省杭州市滨江区EMS派件员张三正在为您排件文案文案，期待再次为您服务</p>
				<span>2016-09-23  15:05:39</span>
			</li>
			<li>
				<p>EMS 日本东京公司名称收件员已揽收</p>
				<span>2016-09-23  15:05:39</span>
			</li>
			<li>
				<p>包裹正在等待揽收</p>
				<span>2016-09-23  15:05:39</span>
			</li>
		</ul>
		<div class="wuliu_bom">
			<p id="active"></p>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
		</div>
	</div>
	<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
</body>
</html>
