<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-orientation" content="portrait">
    <title>个人中心</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css"/>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.picker.min.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.poppicker.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/personalCenter.css" />
    
</head>
<body>
<div id="loading">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
<!--loading页结束-->
    <!--<header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">个人中心</h1>
    </header>-->
    <section id="user_Info">
    </section>
    <section id="section-user-info">
            <ul class="myOrders mui-table-view">
                <li class="mui-table-view-cell">
                    <a class="" href="#" onclick="setState(0)">
                        我的订单<span class="mui-pull-right ico-pull">查看全部订单
                        <span class="mui-icon mui-icon-arrowright"></span></span>
                    </a>
                </li>
            </ul>
            {if:$this->user_shop_data}
                <ul class="myOrders mui-table-view">
                    <li class="mui-table-view-cell">
                        <a class="locationA" href="{url:/ucenter/order_u?status=0}">
                            顾客订单<span class="mui-pull-right ico-pull">查看全部订单
                            <span class="mui-icon mui-icon-arrowright"></span></span>
                        </a>
                    </li>
                </ul>
            {/if}
            <div class="order">
                <div class="mui-row">
                    <div class=" mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a  href="#" onclick="setState(1)">
                        <img src="/views/mobile/skin/default/image/jmj/img/order-icon03.png"/>
                        <div class="mui-media-body">待付款</div></a>
                    </div>
                    <div class="mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a href="#" onclick="setState(2)">
                        <img src="/views/mobile/skin/default/image/jmj/img/order-icon02.png"/>
                        <div class="mui-media-body">待发货</div></a>
                    </div>
                    <div class=" mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a href="#" onclick="setState(3)">
                        <img src="/views/mobile/skin/default/image/jmj/img/order-icon01.png"/>
                            <div class="mui-media-body">待收货</div></a>
                    </div>
                    <div class=" mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a href="#" onclick="setState(4)">
                        <img src="/views/mobile/skin/default/image/jmj/img/order-icon04.png"/>
                        <div class="mui-media-body">交易完成</div></a>
                    </div>
                </div>
            </div>
            <!--<ul class="mui-table-view" style="margin-top:0.1rem">
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right">
                        我的积分
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right">
                        积分商城
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right">
                        我的优惠券
                    </a>
                </li>
            </ul>-->
            <ul class="mui-table-view" style="margin-top:0.15rem">
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right locationA" href="{url:/simple/addresslist}">
                        <img src="/views/mobile/skin/default/image/jmj/icon/address-info.png" alt=""  style="vertical-align: middle;width:0.6rem" />
                        收货地址
                    </a>
                </li>
            </ul>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right locationA" href="{url:/site/favorite}">
                        <img src="/views/mobile/skin/default/image/jmj/icon/like-info.png" alt=""  style="vertical-align: middle;width:0.6rem" />
                        我的收藏
                    </a>
                </li>
            </ul>
        <ul class="mui-table-view">
            {if:$this->user_shop_data}
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right locationA" href="{url:/ucenter/shop_user/id/$this->user_shop_data[0]['identify_id']}">
                    <img src="/views/mobile/skin/default/image/jmj/icon/like-info.png" alt=""  style="vertical-align: middle;width:0.6rem" />
                    我的店铺
                </a>
            </li>
            {/if}
        </ul>
        <ul class="mui-table-view">
            {if:$this->user_shop_data}
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right locationA" href="{url:/ucenter/shop_income}">
                        <img src="/views/mobile/skin/default/image/jmj/icon/like-info.png" alt=""  style="vertical-align: middle;width:0.6rem" />
                        收益
                    </a>
                </li>
            {/if}
        </ul>
        <ul class="mui-table-view" style="margin-top: 0.12rem">
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right locationA" href="{url:/simple/credit}">
                    <img src="/views/mobile/skin/default/image/jmj/product/user_card.png" alt=""  style="vertical-align: middle;width:0.5rem" />
                    身份证实名认证
                </a>
            </li>
        </ul>
        <div style="height:1.3rem"></div>
            <!--<ul class="mui-table-view" style="margin-top: 25px;margin-bottom:0.7rem;">
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right">
                        身份证信息
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right">
                        客服中心
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right">
                        九猫微信号
                    </a>
                </li>
            </ul>-->
    </section>
<footer>
    <nav class="mui-bar mui-bar-tab"  style="z-index:25">
        <a id="defaultTab" class="mui-tab-item home" href="{url:/site/index}">
                <span class="mui-icon nav-icon icon-home">
                    <img src="/views/mobile/skin/default/image/jmj/icon/home.png"  data-img="home-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">首页</div>
        </a>
        <a class="mui-tab-item" href="{url:/site/sitemap}">
                <span class="mui-icon nav-icon icon-classification">
                    <img src="/views/mobile/skin/default/image/jmj/icon/mune.png" data-img="mune-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">分类</div>
        </a>
        <a class="mui-tab-item" href="{url:/site/favorite}">
                <span class="nav-icon icon-vedio">
                    <img src="/views/mobile/skin/default/image/jmj/icon/grass.png" data-img="grass.png"  alt="" class="img-move02">
                    <div class="grow">种草</div>
                    <span class="tab-mark"></span>
                </span>
        </a>
        <a class="mui-tab-item" href="{url:simple/cart}">
                <span class="mui-icon nav-icon icon-shopcar">
                    <img src="/views/mobile/skin/default/image/jmj/icon/buy.png" data-img="buy-ed.png"  alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">购物车</div>
        </a>
        <a class="mui-tab-item  mui-active" href="{url:/ucenter/index}">
                <span class="mui-icon nav-icon icon-my">
                    <img src="/views/mobile/skin/default/image/jmj/icon/my-ed.png" data-img="my-ed.png"  alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">我的</div>
        </a>
    </nav>
</footer>
<script id="userinfo" type="text/html">
    <div class="headBox">
        <div class="whiteBack">
            <%if(head_ico==null){%>
            <img src="/views/mobile/skin/default/image/jmj/img/cat_logo.png"/>
            <%}else{%>
            <img src="<%=head_ico %>"/>
            <%}%>
        </div>
    </div>
    <%if(username==null){%>
    <div class="userName">九猫家的小小猫</div>
    <%}else{%>
    <div class="userName"><%=username %></div>
    <%}%>


</script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/jiumao/common.js"></script>
<script>
    $(window).load(function(){
        $("#loading").fadeOut(300);
        getInfo();
        //解决tab选项卡a标签无法跳转的问题
        mui('body').on('tap','.mui-tab-item',function(){
            if(!$(this).hasClass("mui-active")){
                $(this).find(".mui-tab-label").addClass("tabBar_color");
                document.location.href=this.href;
            }
        });
        mui('body').on("tap",'.locationA',function(){
            window.location.href=this.href;
        })
    })
    function getInfo(){
        mui.ajax('index.php?controller=apic&action=info',{
            dataType:'json',	// 服务器返回json格式数据
            type:'get',		// HTTP请求类型
            timeout:10000,		// 超时时间设置为10秒；
            success:function(data){
                if(data){
                }else{
                    data={
                        head_ico:null,
                        username:null
                    }
                };
                var html=template('userinfo',data);
                document.getElementById("user_Info").innerHTML=html;

            },
            error:function(xhr,type,errorThrown){
                //异常处理；
                console.log(type);
            }
        });
    }
    function setState(sta){
        setItem('status',sta);
        document.location.href='/ucenter/order';
    }
</script>
</body>
</html>