<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-orientation" content="portrait">
    <title>个人中心</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css?v=<?php echo time(); ?>"/>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.picker.min.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.poppicker.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/personalCenter.css?v=<?php echo time(); ?>" />
</head>
<body>
<div id="loading">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
<!--loading页结束-->
    <!--<header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">个人中心</h1>
    </header>-->
    <section id="user_Info">
    	<div class="headBox">
	        <div class="whiteBack" v-cloak>
	            <img src="/views/mobile/skin/default/image/jmj/img/cat_logo.png" v-if='info.head_ico == null' />
	            <img :src="info.head_ico" v-else />
	        </div>
	        <div id="nameLogn" v-cloak>
			    <div class="userName hidewrap" v-if="info.username == null">九猫家的小小猫</div>
			    <div class="userName hidewrap" style="width:1.7rem;height: 0.5rem;" v-else>{{info.username}}</div>
	        </div>
	    </div>
        <footer-nav :state="4"></footer-nav>
    </section>
    <section id="section-user-info">
            <ul class="myOrders mui-table-view">
                <li class="mui-table-view-cell" style="padding: 0;">
                    <a class="" href="#" onclick="setState(0)" style="margin: 0;padding: 0;padding:0 0.3rem;display:block;height: 100%;line-height: 0.93rem;">
                        我的订单<span class="mui-pull-right ico-pull" style="font-size: 0.24rem;height: 100%;">查看全部订单
                        <span class="mui-icon mui-icon-arrowright"></span></span>
                    </a>
                </li>
            </ul>
            {if:$this->user_shop_data}
                <ul class="myOrders mui-table-view">
                    <li class="mui-table-view-cell">
                        <a class="locationA" href="{url:/ucenter/order_u?status=0}">
                            顾客订单<span class="mui-pull-right ico-pull">查看全部订单
                            <span class="mui-icon mui-icon-arrowright"></span></span>
                        </a>
                    </li>
                </ul>
            {/if}
            <!-- 									center								-->
           	<div id="center" style="height: 3.9rem;width: 100%;background: #eee;">
           		 <div class="order" style="height: 1.6rem;">
                <div class="mui-row">
                    <div class=" mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a  href="#" onclick="setState(1)" style="width: 0.5rem;height: 0.5rem;">
                        <img src="/views/mobile/skin/default/image/index/payment.png" style="width: 0.5rem;height: 0.5rem;margin-top:0.2rem ;"/>
                        <div class="mui-media-body">待付款</div></a>
                    </div>
                    <div class="mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a href="#" onclick="setState(2)" style="width: 0.5rem;height: 0.5rem;">
                        <img src="/views/mobile/skin/default/image/index/Waitingdelivery.png" style="width: 0.5rem;height: 0.5rem;margin-top:0.2rem"/>
                        <div class="mui-media-body">待发货</div></a>
                    </div>
                    <div class=" mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a href="#" onclick="setState(3)" style="width: 0.5rem;height: 0.5rem;">
                        <img src="/views/mobile/skin/default/image/index/Forthegoods.png" style="width: 0.5rem;height: 0.5rem;margin-top:0.2rem"/>
                            <div class="mui-media-body">待收货</div></a>
                    </div>
                    <div class=" mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a href="#" onclick="setState(4)" style="width: 0.5rem;height: 0.5rem;">
                        <img src="/views/mobile/skin/default/image/index/completed.png" style="width: 0.5rem;height: 0.5rem;margin-top:0.2rem"/>
                        <div class="mui-media-body">已完成</div></a>
                    </div>
                </div>
            </div>
            <!--						划分线						-->
            <div style="height: 0.3rem;"></div>
            <!--                                  第二排  种草 收货地址等                                      -->
            <div class="order" style="height: 2rem;">
                <div class="mui-row">
                    <div class=" mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a class="mui-navigate-right locationA" href="/site/ticket_list">
                        <img src="/views/mobile/skin/default/image/index/youhuijuan.png" style="height: 0.7rem;width: 0.7rem;margin-top: 0.2rem;"/>
                        <div class="mui-media-body" >我的优惠劵</div></a>
                    </div>
                    <div class="mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a href="/ucenter/error" class="locationA">
                        <img src="/views/mobile/skin/default/image/index/integral.png" style="height: 0.7rem;width: 0.7rem;margin-top: 0.2rem;"/>
                        <div class="mui-media-body">积分商城</div></a>
                    </div>
                    <div class=" mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a href="/ucenter/connect" class="locationA">
                        <img src="/views/mobile/skin/default/image/index/CustomerService.png" style="height: 0.7rem;width: 0.7rem;margin-top: 0.2rem;"/>
                            <div class="mui-media-body">客服与反馈</div></a>
                    </div>
                    <div class=" mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a class="mui-navigate-right locationA" href="/simple/addresslist">
                        <img src="/views/mobile/skin/default/image/index/positioning.png" style="height: 0.7rem;width: 0.7rem;margin-top: 0.2rem;"/>
                        <div class="mui-media-body">收货地址</div></a>
                    </div>
                </div>
            </div>
           </div>
            
            
            
            
            <!--							第三排  数据实名认证							-->
            <div class="order" style="height: 2.06rem;">
                <div class="mui-row">
                    <div class=" mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a class="mui-navigate-right locationA" href="{url:/simple/credit}" style="width: 100%;height: 100%;">
                        <img src="/views/mobile/skin/default/image/index/Idcertification.png" style="height: 0.7rem;width: 0.7rem;margin-top: 0.25rem;"/>
                        <div class="mui-media-body">实名认证</div></a>
                    </div>
                    <div class="mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a href="http://mp.weixin.qq.com/s/4dxweYcR2Cm9Eo15-N8PUQ" class="locationA" style="width: 100%;height: 100%;">
                        <img src="/views/mobile/skin/default/image/index/Aboutninecatshome.png" style="height: 0.7rem;width: 0.7rem;margin-top: 0.25rem;"/>
                        <div class="mui-media-body">关于九猫家</div></a>
                    </div>
                    <div class=" mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a href="/ucenter/uuu" class="locationA" style="width: 100%;height: 100%;">
                        <img src="/views/mobile/skin/default/image/index/public.png" style="height: 0.7rem;width: 0.7rem;margin-top: 0.25rem;"/>
                            <div class="mui-media-body">关注公众号</div></a>
                    </div>
                    <div class=" mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a href="/ucenter/recommendation" class="locationA" style="width: 100%;height: 100%;">
                        <img src="/views/mobile/skin/default/image/index/Goodrecommendation.png" style="height: 0.7rem;width: 0.7rem;margin-top: 0.25rem;"/>
                        <div class="mui-media-body">好货推荐</div></a>
                    </div>
                </div>
            </div>
            
            
             <!--							第四排  我的店铺							-->
             <div class="order" style="height: auto;border: 0;padding: 0;">
                <div class="mui-row">
                	{if:$this->user_shop_data}
                    <div class=" mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                    	<!--<p>{$this->user_shop_data[0]['identify_id']}</p>-->
                        <a class="mui-navigate-right locationA" href="{url:/ucenter/shop_user/id/$this->user_shop_data[0]['identify_id']}" style="width: 100%;height: 100%;">
                        <img src="/views/mobile/skin/default/image/index/Idcertification.png" style="height: 0.7rem;width: 0.7rem;margin-top: 0.25rem;"/>
                        <div class="mui-media-body">我的店铺</div></a>
                    </div>
                    <div class="mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a class="locationA" href="{url:/ucenter/shop_income}" style="width: 100%;height: 100%;">
                        <img src="/views/mobile/skin/default/image/index/Aboutninecatshome.png" style="height: 0.7rem;width: 0.7rem;margin-top: 0.25rem;"/>
                        <div class="mui-media-body">收益</div></a>
                    </div>
                    {/if}
                    {if:$this->user_data[0]['is_recommender']}
                    <div class=" mui-col-xs-3 mui-col-sm-3" style="text-align:center">
                        <a class="locationA" href="{url:/ucenter/recommender_shop}" style="width: 100%;height: 100%;">
                        <img src="/views/mobile/skin/default/image/index/public.png" style="height: 0.7rem;width: 0.7rem;margin-top: 0.25rem;"/>
                            <div class="mui-media-body">合伙人</div></a>
                    </div>
                    {/if}
                </div>
            </div>
        
        <div style="height:1.3rem"></div>
            <!--<ul class="mui-table-view" style="margin-top: 25px;margin-bottom:0.7rem;">
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right">
                        身份证信息
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right">
                        客服中心
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right">
                        九猫微信号
                    </a>
                </li>
            </ul>-->
    </section>

<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
<!--//底部导航样式的引入-->
<script src="/views/mobile/components/footer_nav.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/jiumao/common.js"></script>
<script>
    $(window).load(function(){
        $("#loading").fadeOut(300);
        //解决tab选项卡a标签无法跳转的问题
        mui('body').on("tap",'.locationA',function(){
            window.location.href=this.href;
        })
    })

    var em = new Vue({
    	el:"#user_Info",
		data:{
			info:""
		},

		mounted: function(){
			var self = this;
			getInfo(self);
		}
    })


    function getInfo(self){
        mui.ajax('/apic/info',{
            dataType:'json',	// 服务器返回json格式数据
            type:'get',		// HTTP请求类型
            timeout:10000,		// 超时时间设置为10秒；
            success:function(data){
            	console.log(data)
            	self.info=data
            }
//
        });
    }
    function setState(sta){
        setItem('status',sta);
        document.location.href='/ucenter/order';
    }
</script>
</body>
</html>