<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看物流</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/style.min.css">
</head>
<body>
     <section>
         <div class="logistic_bg"><img src="/views/mobile/skin/default/image/jmj/icon/bd.png" alt="" width="100%" /></div>
         <div class="logistic_state">
             <div class="item1">运输中</div>
             <div class="item2">未签收</div>
         </div>
     </section>
</body>
</html>