<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="x5-orientation" content="portrait">
	<title>订单详情</title>
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/order.css" />
	<script src="/views/mobile/javascript/vue.js"></script>
</head>
<body>
	<div id="loading">
	<div class="spinner">
		<div class="spinner-container container1">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container2">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container3">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
	</div>
	</div>
	<!--loading页结束-->
	<section id="order_detail">
		<template v-if="showMessage">
			<div class="orderState_head">
				<div class="bg"></div>
				<div class="state">
					<div :class="order_detailInfo.orderStatus==0?order_class.hot_state:order_class.state" v-if="order_detailInfo.orderStatus<3">
						<div class="img flexbox">
							<img :src="order_detailInfo.orderStatus==0?order_class.img_big:order_class.img_little" alt="" />
						</div>
						<div class="state_text">待支付</div>
					</div>
					<div :class="order_detailInfo.orderStatus==1?order_class.hot_state:order_class.state">
						<div class="img flexbox">
							<img :src="order_detailInfo.orderStatus==1?order_class.img_big:order_class.img_little" alt="" />
						</div>
						<div class="state_text">待发货</div>
					</div>
					<div :class="order_detailInfo.orderStatus==2?order_class.hot_state:order_class.state">
						<div class="img flexbox">
							<img :src="order_detailInfo.orderStatus==2?order_class.img_big:order_class.img_little" alt="" />
						</div>
						<div class="state_text">待收货</div>
					</div>
					<div :class="order_detailInfo.orderStatus==3?order_class.hot_state:order_class.state"  v-if="order_detailInfo.orderStatus==3">
						<div class="img flexbox">
							<img :src="order_detailInfo.orderStatus==3?order_class.img_big:order_class.img_little" alt="" />
						</div>
						<div class="state_text">已签收</div>
					</div>
				</div>
			</div>
			<div class="order_addAddr" v-cloak>
				<div class="topImage"></div>
				<div class="top box">
					<div class="name"><span>收货人：</span><div class="hidewrap">{{order_detailInfo.order_info.accept_name}}</div></div>
					<div class="phone">{{order_detailInfo.order_info.mobile}}</div>
				</div>
				<div class="addr">
					<span style="color:#bbb;padding-right:0.3rem;">收货地址：
					</span>
					<div class="hidewrap">
					{{order_detailInfo.order_info.province_str}}{{order_detailInfo.order_info.city_str}}{{order_detailInfo.order_info.area_str}}{{order_detailInfo.order_info.address}}			</div>
				</div>
				<div class="bottomImage"></div>
			</div>
			<section class="goodsList">
				<div class="order_menu_list"  v-cloak>
					<div class="top box">
						<div class="left">订单编号：{{order_detailInfo.order_info.order_no}}</div>
						<div class="status">{{order_detailInfo.order_info.orderStatusText}}</div>
					</div>
					<a :href="goodsListItem.url" v-for="goodsListItem in goods_new" class="locationA">
						<div class="goodsList">
							<div class="content">
								<div class="left flexbox">
									<img :src="goodsListItem.img" alt="" />
								</div>
								<div class="right">
									<div class="name">{{goodsListItem.goods_array.name}}</div>
									<div class="price">
										<span class="sellprice">￥{{goodsListItem.real_price}}</span>
										<span class="num">x{{goodsListItem.goods_nums}}</span>
									</div>
								</div>
							</div>
						</div>
					</a>
					<div class="goods_bottom" v-cloak>
						<div class="box payware">
							<span>合计</span>
							<span>{{order_detailInfo.order_info.order_amount}}（含运费{{order_detailInfo.order_info.real_freight}}元）</span>

						</div>
						<div class="payreal box">
							<span>实付</span>
							<span>¥ {{order_detailInfo.order_info.order_amount}}</span>
						</div>
					</div>
				</div>
			</section>
			<div class="order_time">
				<p><span>订单编号：</span><span>{{order_detailInfo.order_info.order_no}}</span></p>
				<p><span>开始时间：</span><span>{{order_detailInfo.order_info.create_time}}</span></p>
				<p v-if="order_detailInfo.order_info.completion_time==null"><span>结束时间：</span><span>订单未结束</span></p>
				<p v-else><span>结束时间：</span><span>{{order_detailInfo.order_info.completion_time}}</span></p>
			</div>
			<div style="height:1rem"></div>
			<!--代发货状态不显示按钮-->
			<div class="order_buttom" v-if="order_detailInfo.orderStatus!=1" v-cloak>
				<template v-if="buttonurl.button1=='查看物流'">
					<a href="#" class="buttom_fixd buttom_fixd1" @click="getDelivery(order_detailInfo.order_goods[0].delivery_id)">{{buttonurl.button1}}</a>
				</template>
				<template v-else>
					<a :href="buttonurl.button1Url" class="locationA buttom_fixd buttom_fixd1">{{buttonurl.button1}}</a>
				</template>
				<a :href="buttonurl.button2Url" class="locationA buttom_fixd buttom_fixd2">{{buttonurl.button2}}</a>
			</div>
		</template>
	</section>
	<section>
		<!--物流弹出菜单-->
		<div id="logistics" class="mui-modal">
			<header class="mui-bar mui-bar-nav">
				<a href="#logistics" class="mui-icon mui-icon-left-nav mui-pull-left locationA"></a>
				<h1 class="mui-title">物流详情</h1>
			</header>
			<div class="mui-content" style="height: 100%;" id="container">

			</div>
		</div>
	</section>

	<script src="/views/mobile/javascript/jquery.min.js"></script>
	<script src="/views/mobile/javascript/mui.js"></script>
<script>
	var Request = new Object();
	Request = GetRequest();
	var statusOrder=Request["id"];
	var vm = new Vue({
		el: '#order_detail',
		data: {
			showMessage:false,
			order_detailInfo:{
				order_info:{},
				order_goods:[]
			},
			order_class:{
				hot_state:'state_item hot',
				state:'state_item',
				img_little:'/views/mobile/skin/default/image/jmj/order/cat_small.png',
				img_big:'/views/mobile/skin/default/image/jmj/order/catbig.png'
			}
		},
		computed: {
			goods_new: function (){
				this.order_detailInfo.order_goods.map(function(item){
					item.url="/site/products?id="+item.goods_id;
				});
				return this.order_detailInfo.order_goods;
			},
			buttonurl: function (){
				if(this.order_detailInfo.orderStatus==0){
					this.order_detailInfo.button1='取消订单';
					this.order_detailInfo.button1Url='/ucenter/order_status/order_id/'+this.order_detailInfo.order_info.id+'/op/cancel';
					this.order_detailInfo.button2='去付款';
					this.order_detailInfo.button2Url='/block/doPay/order_id/'+this.order_detailInfo.order_info.id;
				};
				if(this.order_detailInfo.orderStatus==1){
					this.order_detailInfo.button1=false;
				};
				if(this.order_detailInfo.orderStatus==2){
					this.order_detailInfo.button1='查看物流';
					this.order_detailInfo.button2='确认收货';
					this.order_detailInfo.button2Url='/ucenter/order_status/order_id/'+this.order_detailInfo.order_info.id+'/op/confirm';
				};
				if(this.order_detailInfo.orderStatus==3){
					this.order_detailInfo.button1='删除订单';
					this.order_detailInfo.button1Url='/site/error';
					this.order_detailInfo.button2='评价';
					this.order_detailInfo.button2Url='/site/error';
				}
				return this.order_detailInfo;
			}
		},
		mounted:function() {
		},
		methods: {
			getData: function () {
				var self = this;
				getOrderDetail(self);
			},
			getDelivery: function(eid){
				Delivery(eid);
				mui("#logistics").popover('show');
				$('.mui-backdrop').hide();
			}
		}
	})
	vm.getData();





	$(window).load(function(){
		$("#loading").fadeOut(300);
		mui('body').on('tap','.locationA',function(){
			document.location.href=this.href;
		});
	});
	function getOrderDetail(self){
		mui.ajax('/apic/order_detail',{
			data:{id:statusOrder},
			dataType:'json',	// 服务器返回json格式数据
			type:'get',		// HTTP请求类型
			timeout:10000,		// 超时时间设置为10秒；
			success:function(data){
				self.order_detailInfo=data;
				self.showMessage=true;
			}
		});
	}
	//	获取url传递过来的参数
	function GetRequest() {
		var url = location.search; //获取url中"?"符后的字串
		var theRequest = new Object();
		if (url.indexOf("?") != -1) {
			var str = url.substr(1);
			strs = str.split("&");
			for(var i = 0; i < strs.length; i ++) {
				theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
			}
		}
		return theRequest;
	}
	function Delivery(id){
		//获取物流信息
		var urlVal = "{url:/block/freight/id/@id@}";
		urlVal = urlVal.replace("@id@", id);
		$.get(urlVal,function(response){
			var responseHtml=response.substring(response.indexOf('<div class="container">'),response.indexOf("</body>"));
			console.log(responseHtml);
			document.getElementById("container").innerHTML=responseHtml;
		})
	}
</script>
</body>
</html>
