<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>九猫首页</title>
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.picker.min.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.poppicker.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/personalCenter.css" />
</head>
<body>
<section>
	<div class="topBox" id="order_detail_top">

	</div>
</section>
<section id="getAddress">

</section>
<section>
	<div class="goodsInfo" id="order_goodlist">
	</div>
</section>
<section>
	<div class="orderInfo" id="orderInfo">

	</div>
</section>
<section>
	<div class="buttonBox" id="buttonBox">

	</div>
</section>
<script id="order_detail_top_temp" type="text/html">
	<%if(orderStatus==0){%>
	<div class="orderDesc">待付款</div>
	<ul class="orderStatus01">
		<li>
			<div class="outCircle"><img src="/views/mobile/skin/default/image/jmj/img/cat-logo-small.png"/></div>
		</li>
		<li>
			<div class="outCircle"><div class="inCircle"></div></div>
		</li>
		<li>
			<div class="outCircle"><div class="inCircle"></div></div>
		</li>
	</ul>
	<ul class="orderStatus02">
		<li class="statusActive">待付款</li>
		<li>待发货</li>
		<li >运输中</li>
	</ul>
	<%}%>
	<%if(orderStatus==1){%>
	<div class="orderDesc">已付款未发货</div>
	<ul class="orderStatus01">
		<li>
			<div class="outCircle"><div class="inCircle"></div></div>
		</li>
		<li>
			<div class="outCircle"><img src="/views/mobile/skin/default/image/jmj/img/cat-logo-small.png"/></div>
		</li>
		<li>
			<div class="outCircle"><div class="inCircle"></div></div>
		</li>
	</ul>
	<ul class="orderStatus02">
		<li>待付款</li>
		<li class="statusActive">待发货</li>
		<li>运输中</li>
	</ul>
	<%}%>
	<%if(orderStatus==2){%>
	<div class="orderDesc">已发货</div>
	<ul class="orderStatus01">
		<li>
			<div class="outCircle"><div class="inCircle"></div></div>
		</li>
		<li>
			<div class="outCircle"><img src="/views/mobile/skin/default/image/jmj/img/cat-logo-small.png"/></div>
		</li>
		<li>
			<div class="outCircle"><div class="inCircle"></div></div>
		</li>
	</ul>
	<ul class="orderStatus02">
		<li>待发货</li>
		<li class="statusActive">运输中</li>
		<li>已签收</li>
	</ul>
	<%}%>
	<%if(orderStatus==3){%>
	<div class="orderDesc">交易成功</div>
	<ul class="orderStatus01">
		<li>
			<div class="outCircle"><div class="inCircle"></div></div>
		</li>
		<li>
			<div class="outCircle"><div class="inCircle"></div></div>
		</li>
		<li>
			<div class="outCircle"><img src="/views/mobile/skin/default/image/jmj/img/cat-logo-small.png"/></div>
		</li>
	</ul>
	<ul class="orderStatus02">
		<li>已发货</li>
		<li>运输中</li>
		<li class="statusActive">已签收</li>
	</ul>
	<%}%>

</script>
<script id="order_address_temp" type="text/html">
	<div class="userInfo">
		<p><span>收货人：</span><span><%=order_info.accept_name%></span><span class="telNum"><%=order_info.mobile%></span></p>
		<p><span>收货地址：</span><span><%=order_info.province_str%><%=order_info.city_str%><%=order_info.area_str%><%=order_info.address%></span></p>
	</div>
</script>
<script id="order_goodlist_temp" type="text/html">
	<p>  </p>
	<% for(var i=0; i<order_goods.length; i++){%>
	<% var goodlist =order_goods[i] %>
	<ul class="goodsList">
		<li><img src="<%=goodlist.img%>"/></li>
		<% var size =JSONparse(goodlist.goods_array) %>
		<li class="goodsDesc"><p><%=size.name%></p><p><%=size.value%></p></li>
		<li class="goodsPrice"><p>¥<%=goodlist.goods_price%></p><br/><br/><p>x<%=goodlist.goods_nums%></p></li>
	</ul>
	<%}%>
	<div class="priceBox">
		<p><span>合计</span><span><%=order_info.real_amount%>(含运费<%=order_info.real_freight%>元)</span></p>
		<p><span>实付</span><span>¥<%=order_info.order_amount%></span></p>
	</div>
</script>
<script id="order_info_temp" type="text/html">
	<p><span>订单编号</span><span><%=order_info.order_no%> </span></p>
	<p><span>创建时间</span><span><%=order_info.create_time%></span></p>
	<%if(order_info.completion_time==null){%>
	<p><span>结束时间</span><span>订单未结束</span></p>
	<%}else{%>
	<p><span>结束时间</span><span><%=order_info.completion_time%></span></p>
	<%}%>
</script>
<script id="order_button_temp" type="text/html">
	<%if(orderStatus==0){%>
	<a href="{url:/ucenter/order_status/order_id/<%=order_info.order_id%>/op/cancel}" class="butt">取消订单</a>
	<a href="#" class="butt">去支付</a>
	<%}%>
	<%if(orderStatus==2){%>
	<a href="#" class="butt">查看物流</a>
	<a href="{url:/ucenter/order_status/order_id/<%=order_info.order_id%>/op/confirm}" class="butt">确认收货</a>
	<%}%>
	<%if(orderStatus==3){%>
	<a href="#" class="butt">评价</a>
	<%}%>
</script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script>
	var Request = new Object();
	Request = GetRequest();
	var getId=Request["id"];

	mui.ajax('index.php?controller=apic&action=order_detail',{
		data:{id:getId},
		dataType:'json',	// 服务器返回json格式数据
		type:'get',		// HTTP请求类型
		timeout:10000,		// 超时时间设置为10秒；
		success:function(data){
			console.log(data.order_step);
			console.log(data.order_step);
			var html=template('order_detail_top_temp',data);
			document.getElementById("order_detail_top").innerHTML=html;
			var html2=template('order_address_temp',data);
			document.getElementById("getAddress").innerHTML=html2;
			var html3=template('order_goodlist_temp',data);
			document.getElementById("order_goodlist").innerHTML=html3;
			var html4=template('order_info_temp',data);
			document.getElementById("orderInfo").innerHTML=html4;
			var html5=template('order_button_temp',data);
			document.getElementById("buttonBox").innerHTML=html5;
		},
		error:function(xhr,type,errorThrown){
			//异常处理；
			console.log(type);
			alert("failed");
		}
	});
	template.helper('JSONparse', function(obj){
		return JSON.parse(obj);
	});
	//	获取url传递过来的参数
	function GetRequest() {
		var url = location.search; //获取url中"?"符后的字串
		var theRequest = new Object();
		if (url.indexOf("?") != -1) {
			var str = url.substr(1);
			strs = str.split("&");
			for(var i = 0; i < strs.length; i ++) {
				theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
			}
		}
		return theRequest;
	}
</script>
</body>
</html>