<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>九猫首页</title>
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/personalCenter.css" />
</head>
<body>
<div id="loading">
	<div class="spinner">
		<div class="spinner-container container1">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container2">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container3">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
	</div>
</div>
<!--loading页结束-->
<!--订单详情页面-->
<div class="mui-content">
	<div id="slider" class="mui-slider mui-fullscreen" style="background:#fff;">
		<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" style="height:0.9rem;">
			<div class="mui-scroll">
				<a class="order-control-item mui-control-item  mui-control-item0 mui-active" href="#itemmobile0">
					全部订单
					<span></span>
				</a>
				<a class="order-control-item mui-control-item mui-control-item1" href="#itemmobile1">
					待付款
					<span></span>
				</a>
				<a class="order-control-item mui-control-item mui-control-item2" href="#itemmobile2">
					待发货
					<span></span>
				</a>
				<a class="order-control-item mui-control-item mui-control-item3" href="#itemmobile3">
					待收货
					<span></span>
				</a>
				<a class="order-control-item mui-control-item mui-control-item4" href="#itemmobile4">
					已完成订单
					<span></span>
				</a>
			</div>
		</div>
		<div class="mui-slider-group">
			<div id="itemmobile0" class="mui-slider-item mui-control-content mui-active">
				<div id="scroll1" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-table-view" id="main_panel0">
							<div class="order_menu upline">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="itemmobile1" class="mui-slider-item mui-control-content ">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-table-view" id="main_panel1">
							<div class="order_menu upline">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="itemmobile2" class="mui-slider-item mui-control-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-table-view" id="main_panel2">
							<div class="order_menu upline">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="itemmobile3" class="mui-slider-item mui-control-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-table-view" id="main_panel3">
							<div class="order_menu upline">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="itemmobile4" class="mui-slider-item mui-control-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-table-view" id="main_panel4">
							<div class="order_menu upline">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section>
	<!--物流弹出菜单-->
	<div id="logistics" class="mui-modal">
		<header class="mui-bar mui-bar-nav">
			<a href="#logistics" class="mui-icon mui-icon-left-nav mui-pull-left testClick1"></a>
			<h1 class="mui-title">物流详情</h1>
		</header>
		<div class="mui-content" style="height: 100%;" id="container">

		</div>
	</div>
</section>
<script id="orderSum" type="text/html">
	<%if(state.length==0){%>
		<div class="logoImg">
			<img src="/views/mobile/skin/default/image/jmj/icon/cat.png" style="width:1.98rem;height:2.66rem" alt="" />
		</div>
		<div class="load_text">
			<span>~</span>
			<span>暂时还没有订单哦</span>
			<span>~</span>
		</div>
	<%}else{%>
	<!--存在该订单详情-->
	<% for(var i=0; i<state.length; i++){%>
	<% var order =state[i] %>
	<div class="order_menu_list">
		<div class="box">
			<div class="orderNo">订单编号：<%=order.order_no%></div>
			<div class="orderstate"><%=order.orderStatusText%></div>
		</div>
		<!--展示商品状态-->
		<!--展示第1件商品-->
		<a href="{url:/ucenter/order_detail}?id=<%=order.id%>" class="toOrderDetail">
		<%if(order.goodslist){%>
		<div class="ware_item box">
			<div class="img">
				<img src="/<%=order.goodslist[0].img%>" alt="" width="100%" />
			</div>
			<div class="content">
				<div class="box">
					<div class="name"><%=order.goodslist[0].goods_array.name%></div>
					<div class="price">￥ <%=order.goodslist[0].goods_price%></div>
				</div>
				<div class="num mui-pull-right">x <%=order.goodslist[0].goods_nums%></div>
			</div>
		</div>
		<!--展示剩余商品-->
		<div class="last_ware">
			<% for(var j=1; j<order.goodslist.length; j++){%>
			<% var goodlist =order.goodslist[j] %>
			<div class="ware_item box">
				<div class="img">
					<img src="/<%=goodlist.img%>" alt="" width="100%" />
				</div>
				<div class="content">
					<div class="box">
						<div class="name"><%=goodlist.goods_array.name%></div>
						<div class="price">￥ <%=goodlist.goods_price%></div>
					</div>
					<div class="num mui-pull-right">x <%=goodlist.goods_nums%></div>
				</div>
			</div>
			<%}%>
		</div>
		</a>
		<div class="total">
			共计<%=order.goodslist.length%>件商品  合计 <%=order.order_amount%>（含运费10元）
		</div>
		<%}%>
		<!--不同的按钮状态-->
		<%if(order.orderStatusVal==6){%>
		<div class="action upline">
			<a href="#" class="button2 evaluate">评价</a>
		</div>
		<%}%>
		<%if(order.orderStatusVal==2){%>
		<div class="action upline">
			<a href="{url:/ucenter/order_status/order_id/<%=order.id%>/op/cancel}" class="button1 delOrder">取消订单</a>
			<a href="{url:/block/doPay/order_id/<%=order.id%>}" class="button2 evaluate">去付款</a>
		</div>
		<%}%>
		<%if(order.orderStatusVal==3){%>
		<div class="action upline">
			<a href="#" class="button1 testClick" data-v="<%=order.goodslist[0].delivery_id %>">查看物流</a>
			<a href="{url:/ucenter/order_status/order_id/<%=order.id%>/op/confirm}" class="button2 evaluate">确认收货</a>
		</div>
		<%}%>
	</div>
	<%}%>
	<!--存在商品结束-->
	<%}%>
</script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/mui.pullToRefresh.js"></script>
<script src="/views/mobile/javascript/mui.pullToRefresh.material.js"></script>
<script>
	$(window).load(function(){
		$("#loading").fadeOut(300);
	})
	mui('body').on('tap','.toOrderDetail',function(){
		document.location.href=this.href;
	});
	mui('body').on('tap','.testClick',function(){
		var attr=this.getAttribute("data-v");
		getDelivery(attr);
		mui("#logistics").popover('show');
		$('.mui-backdrop').hide();
	});
//	mui('body').on('tap','.testClick1',function(){
//		mui("#logistics").popover('hide');
//	});
	mui('body').on('tap','.delOrder',function(){
		document.location.href=this.href;
	});
	mui('body').on('tap','.button2',function(){
		document.location.href=this.href;
	});
//	接收页面传过来的状态值
	var Request = new Object();
	Request = GetRequest();
	var statusOrder=Request["status"];
//	模拟高亮画面
	$('.mui-control-item').removeClass('mui-active')
	$('.mui-control-item'+statusOrder).addClass('mui-active');
	$('.mui-slider-item').removeClass('mui-active')
	$('#itemmobile'+statusOrder).addClass('mui-active');
//	ajax 请求
	mui.ajax('index.php?controller=apic&action=order_list',{
		dataType:'json',//服务器返回json格式数据
		type:'get',//HTTP请求类型
		timeout:10000,//超时时间设置为10秒；
		success:function(data){
			var dat={}
			for(var i=0;i<5;i++){
				 dat[i]={};
				dat[i]['state']=data['state'+i];
				$('#main_panel'+i).append(template('orderSum', dat[i]));
			}
		},
		error:function(xhr,type,errorThrown){
			//异常处理；
			console.log(type);
		}
	});


	mui.init();
	mui('body').on('tap','.orderToDetaile',function(){
		document.location.href=this.href;
	});


	(function($) {
		var pageNum={
			pageNum0:0,
			pageNum1:0,
			pageNum2:0,
			pageNum3:0,
			pageNum4:0
		}
		//阻尼系数
		var deceleration = mui.os.ios?0.003:0.0009;
		$('.mui-scroll-wrapper').scroll({
			bounce: false,
			indicators: true, //是否显示滚动条
			deceleration:deceleration
		});
		$.ready(function() {
			//循环初始化所有下拉刷新，上拉加载。
			$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
				$(pullRefreshEl).pullToRefresh({
					down: {
						callback: function() {
							var self = this;
							setTimeout(function() {
								self.endPullDownToRefresh();
							}, 1000);
						}
					},
					up: {
						callback: function() {
							var self = this;
							var div = self.element.querySelector('.mui-table-view');
							var num=++pageNum['pageNum'+index];
							 pullRefreshOrder(num,div)
							self.endPullUpToRefresh();
						}
					}
				});
			});
			var createFragment = function(div, pageNum) {
				var fragment = document.createDocumentFragment();
				//	ajax 请求
				mui.ajax('index.php?controller=apic&action=order_list',{
					dataType:'json',//服务器返回json格式数据
					type:'get',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					success:function(data){
						var html1 = template('test',data);
						fragment.innerHTML = html1;
						return fragment;
					},
					error:function(xhr,type,errorThrown){
						//异常处理；
						console.log(type);
					}
				});

			};
		});
	})(mui)
//	获取url传递过来的参数
	function GetRequest() {
		var url = location.search; //获取url中"?"符后的字串
		var theRequest = new Object();
		if (url.indexOf("?") != -1) {
			var str = url.substr(1);
			strs = str.split("&");
			for(var i = 0; i < strs.length; i ++) {
				theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
			}
		}
		return theRequest;
	}
//	下拉刷新加载项目
	function pullRefreshOrder(num,div){


	}
	//快递跟踪
	function freightLine(doc_id){
		mui('.mui-popover').popover('toggle',document.getElementById("logistics_all"));
		var urlVal = "{url:/block/freight/id/@id@}";
		urlVal = urlVal.replace("@id@", doc_id);
//		window.location.href=urlVal;
	}
	function getDelivery(id){
		//获取物流信息
		var urlVal = "{url:/block/freight/id/@id@}";
		urlVal = urlVal.replace("@id@", id);
		$.get(urlVal,function(response){
			var responseHtml=response.substring(response.indexOf('<div class="container">'),response.indexOf("</body>"));
			console.log(responseHtml);
			document.getElementById("container").innerHTML=responseHtml;
		})
	}
</script>
</body>
</html>
