<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="x5-orientation" content="portrait">
	<title>九猫首页</title>
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/order.css" />
</head>
<body>
<div id="loading">
	<div class="spinner">
		<div class="spinner-container container1">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container2">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container3">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
	</div>
</div>
<!--loading页结束-->
<!--订单详情页面-->
<div class="mui-content" id="order_Total">
	<div id="slider" class="mui-slider mui-fullscreen" style="background:#eee;">
		<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" style="height:0.9rem;">
			<div class="mui-scroll">
				<a class="order-control-item mui-control-item  mui-control-item0" href="#order_state0" onclick="saveStatus(0)">
					全部订单
					<span></span>
				</a>
				<a class="order-control-item mui-control-item mui-control-item1" href="#order_state1" onclick="saveStatus(1)">
					待付款
					<span></span>
				</a>
				<a class="order-control-item mui-control-item mui-control-item2" href="#order_state2" onclick="saveStatus(2)">
					待发货
					<span></span>
				</a>
				<a class="order-control-item mui-control-item mui-control-item3" href="#order_state3" onclick="saveStatus(3)">
					待收货
					<span></span>
				</a>
				<a class="order-control-item mui-control-item mui-control-item4" href="#order_state4" onclick="saveStatus(4)">
					已完成订单
					<span></span>
				</a>
			</div>
		</div>
		<div class="mui-slider-group">
			<div id="order_state0" :class="contentClass">
				<div style="min-height:100%">
					<template v-if="showMessage && orderInfo_new.state0.length==0" v-cloak>
						<section class="nodata">
							<div class="emptyCart">
								<img src="/views/mobile/skin/default/image/jmj/icon/cat_car.png" alt="" style="width:1.94rem;height:1.33rem;"/>
							</div>
							<div class="content">
								<span>~</span>
								<span>暂无订单消息</span>
								<span>~</span>
							</div>
						</section>
					</template>
					<div class="order_menu_list" v-for="item in orderInfo_new.state0" v-else v-cloak>
						<div class="top box">
							<div class="left">订单编号：{{item.order_no}}</div>
							<div class="status">{{item.orderStatusText}}</div>
						</div>
						<a :href="item.url" class="locationA">
							<div class="goodsList" v-for="goodsListItem in item.goodslist">
								<div class="content">
									<div class="left flexbox">
										<img :src="goodsListItem.img" alt="" />
									</div>
									<div class="right">
										<div class="name">{{goodsListItem.goods_array.name}}</div>
										<div class="price">
											<span class="sellprice">￥{{goodsListItem.real_price}}</span>
											<span class="num">x{{goodsListItem.goods_nums}}</span>
										</div>
									</div>
								</div>
							</div>
						</a>
						<div class="orderToDo box">
							<div class="left">应付金额：<span style="color:#f3026a;margin-left:0.1rem;">¥{{item.order_amount}}</span></div>
							<div class="right" v-if="item.orderStatusVal==2">
								<a href="item.button1Url" class="button" @click="cancelOrder(item.button1Url)">{{item.button1}}</a>
								<a :href="item.button2Url" class="locationA button">{{item.button2}}</a>
							</div>
							<div class="right" v-if="item.orderStatusVal==3">
								<a href="#" class="button" @click="getDelivery(item.goodslist[0].delivery_id)">{{item.button1}}</a>
								<a :href="item.button2Url" class="locationA button">{{item.button2}}</a>
							</div>
							<div class="right" v-if="item.orderStatusVal==6">
								<a :href="item.button1Url" class="locationA button">{{item.button1}}</a>
							</div>
						</div>
					</div>
					<div style="height:0.2rem;background:#fff" v-if="showMessage && orderInfo_new.state0.length>0"></div>
					<div style="height:0.4rem;background:#eee"></div>
				</div>
			</div>
			<div id="order_state1" :class="contentClass">
				<div style="min-height:100%">
					<template v-if="showMessage && orderInfo_new.state1.length==0" v-cloak>
						<section class="nodata">
							<div class="emptyCart">
								<img src="/views/mobile/skin/default/image/jmj/icon/cat_car.png" alt="" style="width:1.94rem;height:1.33rem;"/>
							</div>
							<div class="content">
								<span>~</span>
								<span>购物车还是空的哦</span>
								<span>~</span>
							</div>
						</section>
					</template>
					<div class="order_menu_list" v-for="item in orderInfo_new.state1"  v-else v-cloak>
						<div class="top box">
							<div class="left">订单编号：{{item.order_no}}</div>
							<div class="status">{{item.orderStatusText}}</div>
						</div>
						<a :href="item.url" class="locationA">
							<div class="goodsList" v-for="goodsListItem in item.goodslist">
								<div class="content">
									<div class="left flexbox">
										<img :src="goodsListItem.img" alt="" />
									</div>
									<div class="right">
										<div class="name">{{goodsListItem.goods_array.name}}</div>
										<div class="price">
											<span class="sellprice">￥{{goodsListItem.real_price}}</span>
											<span class="num">x{{goodsListItem.goods_nums}}</span>
										</div>
									</div>
								</div>
							</div>
						</a>
						<div class="orderToDo box">
							<div class="left">应付金额：<span style="color:#f3026a;margin-left:0.1rem;">¥{{item.order_amount}}</span></div>
							<div class="right">
								<a :href="item.button1Url" class="button" @click="cancelOrder(item.button1Url)">{{item.button1}}</a>
								<a :href="item.button2Url" class="locationA button">{{item.button2}}</a>
							</div>
						</div>
					</div>
					<div style="height:0.2rem;background:#fff" v-if="showMessage && orderInfo_new.state1.length>0"></div>
					<div style="height:0.4rem;background:#eee"></div>
				</div>
			</div>
			<div id="order_state2" :class="contentClass">
				<div style="min-height:100%">
					<template v-if="showMessage && orderInfo_new.state2.length==0" v-cloak>
						<section class="nodata">
							<div class="emptyCart">
								<img src="/views/mobile/skin/default/image/jmj/icon/cat_car.png" alt="" style="width:1.94rem;height:1.33rem;"/>
							</div>
							<div class="content">
								<span>~</span>
								<span>暂无订单消息</span>
								<span>~</span>
							</div>
						</section>
					</template>
					<div class="order_menu_list" v-for="item in orderInfo_new.state2" v-else v-cloak>
						<div class="top box">
							<div class="left">订单编号：{{item.order_no}}</div>
							<div class="status">{{item.orderStatusText}}</div>
						</div>
						<a :href="item.url" class="locationA">
							<div class="goodsList" v-for="goodsListItem in item.goodslist">
								<div class="content">
									<div class="left flexbox">
										<img :src="goodsListItem.img" alt="" />
									</div>
									<div class="right">
										<div class="name">{{goodsListItem.goods_array.name}}</div>
										<div class="price">
											<span class="sellprice">￥{{goodsListItem.real_price}}</span>
											<span class="num">x{{goodsListItem.goods_nums}}</span>
										</div>
									</div>
								</div>
							</div>
						</a>
						<div class="orderToDo box">
							<div class="left">应付金额：<span style="color:#f3026a;margin-left:0.1rem;">¥{{item.order_amount}}</span></div>
							<div class="right">
							</div>
						</div>
					</div>
					<div style="height:0.2rem;background:#fff" v-if="showMessage && orderInfo_new.state2.length>0"></div>
					<div style="height:0.4rem;background:#eee"></div>
				</div>

			</div>
			<div id="order_state3" :class="contentClass">
				<div  style="min-height:100%">
					<template v-if="showMessage && orderInfo_new.state3.length==0" v-cloak>
						<section class="nodata">
							<div class="emptyCart">
								<img src="/views/mobile/skin/default/image/jmj/icon/cat_car.png" alt="" style="width:1.94rem;height:1.33rem;"/>
							</div>
							<div class="content">
								<span>~</span>
								<span>暂无订单消息</span>
								<span>~</span>
							</div>
						</section>
					</template>
					<div class="order_menu_list" v-for="item in orderInfo_new.state3" v-else v-cloak>
						<div class="top box">
							<div class="left">订单编号：{{item.order_no}}</div>
							<div class="status">{{item.orderStatusText}}</div>
						</div>
						<a :href="item.url" class="locationA">
							<div class="goodsList" v-for="goodsListItem in item.goodslist">
								<div class="content">
									<div class="left flexbox">
										<img :src="goodsListItem.img" alt="" />
									</div>
									<div class="right">
										<div class="name">{{goodsListItem.goods_array.name}}</div>
										<div class="price">
											<span class="sellprice">￥{{goodsListItem.real_price}}</span>
											<span class="num">x{{goodsListItem.goods_nums}}</span>
										</div>
									</div>
								</div>
							</div>
						</a>
						<div class="orderToDo box">
							<div class="left">应付金额：<span style="color:#f3026a;margin-left:0.1rem;">¥{{item.order_amount}}</span></div>
							<div class="right">
								<a href="#" class="button" @click="getDelivery(item.goodslist[0].delivery_id)">{{item.button1}}</a>
								<a :href="item.button2Url" class="locationA button">{{item.button2}}</a>
							</div>
						</div>
					</div>
					<div style="height:0.2rem;background:#fff" v-if="showMessage && orderInfo_new.state3.length>0"></div>
					<div style="height:0.4rem;background:#eee"></div>
				</div>
			</div>
			<div id="order_state4" :class="contentClass">
				<div style="min-height:100%">
					<template v-if="showMessage && orderInfo_new.state4.length==0" v-cloak>
						<section class="nodata">
							<div class="emptyCart">
								<img src="/views/mobile/skin/default/image/jmj/icon/cat_car.png" alt="" style="width:1.94rem;height:1.33rem;"/>
							</div>
							<div class="content">
								<span>~</span>
								<span>暂无订单消息</span>
								<span>~</span>
							</div>
						</section>
					</template>
					<div class="order_menu_list" v-for="item in orderInfo_new.state4"  v-else v-cloak>
						<div class="top box">
							<div class="left">订单编号：{{item.order_no}}</div>
							<div class="status">{{item.orderStatusText}}</div>
						</div>
						<a :href="item.url" class="locationA">
							<div class="goodsList" v-for="goodsListItem in item.goodslist">
								<div class="content">
									<div class="left flexbox">
										<img :src="goodsListItem.img" alt="" />
									</div>
									<div class="right">
										<div class="name">{{goodsListItem.goods_array.name}}</div>
										<div class="price">
											<span class="sellprice">￥{{goodsListItem.real_price}}</span>
											<span class="num">x{{goodsListItem.goods_nums}}</span>
										</div>
									</div>
								</div>
							</div>
						</a>
						<div class="orderToDo box">
							<div class="left">应付金额：<span style="color:#f3026a;margin-left:0.1rem;">¥{{item.order_amount}}</span></div>
							<div class="right">
								<a :href="item.button1Url" class="locationA button">{{item.button1}}</a>
							</div>
						</div>
					</div>
					<div style="height:0.2rem;background:#fff" v-if="showMessage && orderInfo_new.state4.length>0"></div>
					<div style="height:0.4rem;background:#eee"></div>
				</div>

			</div>
		</div>
	</div>


	<section>
		<!--物流弹出菜单-->
		<div id="div_action" :class="showContainer?leftClass:rightClass">
			<div class="head">
				<span @click="showContainer=false">返回</span><span>查看物流</span>
			</div>
			<div id="div_text">

			</div>
		</div>
	</section>
</div>

<script src="/views/mobile/javascript/vue.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/jiumao/order.js?v=1.0.1"></script>

</body>
</html>
