<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>九猫首页</title>
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.picker.min.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.poppicker.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/personalCenter.css" />
</head>
<body>
	<section>
		<div class="topBox" id="order_detail_top">

	    </div>
	</section>
    <section>
    	<div class="userInfo">
    		<p><span>收货人：</span><span>小迷猫</span><span class="telNum">182 3994 2399</span></p>
    		<p><span>收货地址：</span><span>浙江省杭州市滨江区泰林大厦6F</span></p>
    	</div>
    </section>
    <section>
    	<div class="goodsInfo">
    		<p>交易成功</p>
    		<ul class="goodsList">
    			<li><img src="/views/mobile/skin/default/image/jmj/img/4.png"/></li>
    			<li class="goodsDesc"><p>商品名称</p><p>颜色：黑色</p></li>
    			<li class="goodsPrice"><p>¥238.90</p><br/><br/><p>x1</p></li>
    		</ul>
    		<ul class="goodsList">
    			<li><img src="/views/mobile/skin/default/image/jmj/img/4.png"/></li>
    			<li class="goodsDesc"><p>商品名称</p><p>颜色：黑色</p></li>
    			<li class="goodsPrice"><p>¥238.90</p><br/><br/><p>x1</p></li>
    		</ul>
    		<div class="showMore"><span>展示更多</span></div>
    		<div class="priceBox">
    			<p><span>合计</span><span>238.90(含运费10元)</span></p>
    			<p><span>实付</span><span>¥238.90</span></p>
    		</div>
    	</div>
    </section>
    <section>
    	<div class="orderInfo">
    		<p><span>订单编号</span><span>24895350030450600366 </span></p>    		
    		<p><span>创建时间</span><span>2016-10-10 19:12:45</span></p>
    		<p><span>结束时间</span><span>2016-10-16 10:06:32</span></p>
    	</div>
    </section>
    <section>
    	<div class="buttonBox">
    		<div class="butt">删除订单</div>
    	    <div class="butt">评价</div>
    	</div>
    </section>
	<script id="order_detail_top_temp" type="text/html">
		<div class="orderDesc">交易成功</div>
		<ul class="orderStatus01">
			<li>
				<div class="outCircle"><div class="inCircle"></div></div>
			</li>
			<li>
				<div class="outCircle"><div class="inCircle"></div></div>
			</li>
			<li>
				<div class="outCircle"><img src="/views/mobile/skin/default/image/jmj/img/cat-logo-small.png"/></div>
			</li>
		</ul>
		<ul class="orderStatus02">
			<li>已发货</li>
			<li>运输中</li>
			<li class="statusActive">已签收</li>
		</ul>
	</script>
	<script src="/views/mobile/javascript/template-native.js"></script>
	<script src="/views/mobile/javascript/jquery.min.js"></script>
	<script src="/views/mobile/javascript/mui.js"></script>
	<script>
		var Request = new Object();
		Request = GetRequest();
		var getId=Request["id"];

		mui.ajax('index.php?controller=apic&action=order_detail',{
			data:{id:getId},
			dataType:'json',	// 服务器返回json格式数据
			type:'get',		// HTTP请求类型
			timeout:10000,		// 超时时间设置为10秒；
			success:function(data){
				var html=template('order_detail_top_temp',data);
				document.getElementById("order_detail_top").innerHTML=html;
			},
			error:function(xhr,type,errorThrown){
				//异常处理；
				console.log(type);
				alert("failed");
			}
		});
		//	获取url传递过来的参数
		function GetRequest() {
			var url = location.search; //获取url中"?"符后的字串
			var theRequest = new Object();
			if (url.indexOf("?") != -1) {
				var str = url.substr(1);
				strs = str.split("&");
				for(var i = 0; i < strs.length; i ++) {
					theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
				}
			}
			return theRequest;
		}
	</script>
</body>
</html>
