<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>旗下店铺</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/recommender/c.css?v=<?php echo time(); ?>">
</head>
<body>
<div id="shopContainer">
    <div class="header">
        <a href="{url:/ucenter/recommender_shop}" class="back">返回</a>
        <a href="#" class="title">旗下店铺</a>
    </div>
    <div class="shopList" v-cloak>
        <div class="shopListItem" v-for="(item,key) in shopList">
            <div class="no">
                {{key+1}}
            </div>
            <div class="img">
                <img :src="item.head_ico" alt="" style="">
            </div>
            <div class="name">
                {{item.name}}
            </div>
        </div>
    </div>

</div>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
<script>
    var vm=new Vue({
        el:'#shopContainer',
        data:{
            shopList:''
        },
        mounted: function(){
            var self=this;
            //发送ajax请求
            getShopList(self);
        }
    });
    function getShopList(self){
        self.shopList=<?php echo json_encode($this->data) ?>
    }
</script>
</body>
</html>