<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-orientation" content="portrait">
    <title>合伙人中心</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css"/>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.picker.min.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.poppicker.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/personalCenter.css" />

</head>
<body>
<div id="loading">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
<section id="user_Info">
</section>
<section id="section-user-info">
    <ul class="mui-table-view" style="margin-top:0.15rem">
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right locationA" href="{url:/ucenter/recommender_associate_shop}">
                <img src="/views/mobile/skin/default/image/jmj/icon/address-info.png" alt=""  style="vertical-align: middle;width:0.6rem" />
                旗下 {$this->shop_nums} 家店铺
            </a>
        </li>
    </ul>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right locationA" href="{url:/site/favorite}">
                <img src="/views/mobile/skin/default/image/jmj/icon/like-info.png" alt=""  style="vertical-align: middle;width:0.6rem" />
                账户余额
            </a>
        </li>
    </ul>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right locationA" href="{url:/ucenter/recommender_shops_tobe_booked}">
                <img src="/views/mobile/skin/default/image/jmj/icon/like-info.png" alt=""  style="vertical-align: middle;width:0.6rem" />
                待入账金额
            </a>
        </li>
    </ul>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right locationA" href="{url:/ucenter/recommender_shop_income}">
                <img src="/views/mobile/skin/default/image/jmj/icon/like-info.png" alt=""  style="vertical-align: middle;width:0.6rem" />
                收益
            </a>
        </li>
    </ul>
</section>
<footer>
    <nav class="mui-bar mui-bar-tab"  style="z-index:25">
        <a id="defaultTab" class="mui-tab-item home" href="{url:/site/index}">
                <span class="mui-icon nav-icon icon-home">
                    <img src="/views/mobile/skin/default/image/jmj/icon/home.png"  data-img="home-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">首页</div>
        </a>
        <a class="mui-tab-item" href="{url:/site/sitemap}">
                <span class="mui-icon nav-icon icon-classification">
                    <img src="/views/mobile/skin/default/image/jmj/icon/mune.png" data-img="mune-ed.png" alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">分类</div>
        </a>
        <a class="mui-tab-item" href="{url:/site/favorite}">
                <span class="nav-icon icon-vedio">
                    <img src="/views/mobile/skin/default/image/jmj/icon/grass.png" data-img="grass.png"  alt="" class="img-move02">
                    <div class="grow">种草</div>
                    <span class="tab-mark"></span>
                </span>
        </a>
        <a class="mui-tab-item" href="{url:simple/cart}">
                <span class="mui-icon nav-icon icon-shopcar">
                    <img src="/views/mobile/skin/default/image/jmj/icon/buy.png" data-img="buy-ed.png"  alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label">购物车</div>
        </a>
        <a class="mui-tab-item" href="{url:/ucenter/index}">
                <span class="mui-icon nav-icon icon-my">
                    <img src="/views/mobile/skin/default/image/jmj/icon/my-ed.png" data-img="my-ed.png"  alt="" style="width:0.5rem;height:0.5rem;"/>
                </span>
            <div class="mui-tab-label" style="color:#ff4aa0">个人中心</div>
        </a>
    </nav>
</footer>
<script id="userinfo" type="text/html">
    <div class="headBox">
        <div class="whiteBack">
            <%if(head_ico==null){%>
            <img src="/views/mobile/skin/default/image/jmj/img/cat_logo.png"/>
            <%}else{%>
            <img src="<%=head_ico %>"/>
            <%}%>
        </div>
    </div>
    <%if(username==null){%>
    <div class="userName">九猫家的小小猫</div>
    <%}else{%>
    <div class="userName"><%=username %></div>
    <%}%>


</script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/jiumao/common.js"></script>
<script>
    $(window).load(function(){
        $("#loading").fadeOut(300);
        getInfo();
        //解决tab选项卡a标签无法跳转的问题
        mui('body').on('tap','.mui-tab-item',function(){
            if(!$(this).hasClass("mui-active")){
                $(this).find(".mui-tab-label").addClass("tabBar_color");
                document.location.href=this.href;
            }
        });
        mui('body').on("tap",'.locationA',function(){
            window.location.href=this.href;
        })
    })
    function getInfo(){
        mui.ajax('index.php?controller=apic&action=info',{
            dataType:'json',	// 服务器返回json格式数据
            type:'get',		// HTTP请求类型
            timeout:10000,		// 超时时间设置为10秒；
            success:function(data){
                if(data){
                }else{
                    data={
                        head_ico:null,
                        username:null
                    }
                };
                var html=template('userinfo',data);
                document.getElementById("user_Info").innerHTML=html;

            },
            error:function(xhr,type,errorThrown){
                //异常处理；
                console.log(type);
            }
        });
    }
    function setState(sta){
        setItem('status',sta);
        document.location.href='/ucenter/order';
    }
</script>
</body>
</html>