<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>合伙人累计收益</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/recommender/recommender.css?v=<?php echo time(); ?>">
    <link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/mui.picker.min.css" />
    <style>
        input[type='submit'], .mui-btn-primary, .mui-btn-blue{
            color:#ff4aa0;
        }
    </style>
</head>
<body>
<div id="container_info">
    <div class="header">
        <a href="{url:/ucenter/recommender_shop}" class="back">返回</a>
        <a href="#" class="title">合伙人累计入账金额</a>
    </div>
    <div class="choMonth">
        <div class="left">
            当前月份
        </div>
        <div class="middle" id="month_content" v-cloak>
            <span style="color:#bbb;padding-right:0.1rem">{{year}}</span>年 <span style="color:#bbb;padding-right:0.1rem">{{month}}</span>月
        </div>
        <div class="right" id="cho_month" data-options='{"type":"month"}'>
            <img src="/views/mobile/skin/default/image/xinzeng/can.png" alt="" style="width:0.25rem;height:0.26rem;"/>
        </div>
    </div>
    <div class="top box">
        <div>交易总额：<span style="color:#ff4aa0;font-size:0.26rem;">{{recommender_total_goods_amount}}</span></div>
        <div>收益：<span style="color:#ff4aa0;font-size:0.26rem;">{{recommender_total_rebate_amount}}</span></div>
    </div>
    <div class="merchant" v-for="item in shopTobe" v-cloak>
        <div class="thead" @click="showOrder(item)">
            <div class="showmerchant">
                <div class="merchantImg">
                    <img src="" alt="" />
                </div>
            </div>
            <div class="name_me flexbox">
                <div class="name hidewrap">{{item.name}}</div>
            </div>
            <div class="profit flexbox">
                <div class="pro">{{item.price}}</div>
            </div>
        </div>
        <div class="order"  v-if="item.show_Order" >
            <div class="orderList" v-for="orderList in item.orders">
                <div class="box" @click="showGoods(item.orders,orderList)">
                    <div class="left">订单编号：{{orderList.order_no}}</div>
                    <div class="state">订单状态：{{orderList.orderStatusText}}</div>
                </div>
                <div class="goods" v-if="orderList.show_goods">
                    <div class="goodsList" v-for="goodList in orderList.goods_list">
                        <div class="content">
                            <div class="left flexbox">
                                <img :src="goodList.img" alt="" />
                            </div>
                            <div class="right">
                                <div class="name">{{goodList.good_info.name}}</div>
                                <div class="price">
                                    <span class="sellprice">￥{{goodList.real_price}}</span>
                                    <span class="num">x{{goodList.goods_nums}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="total">
                        结算收益金额：{{orderList.rebate_amount}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/mui.picker.min.js"></script>
<script>
    var vm = new Vue({
        el: '#container_info',
        data: {
            year:'2016',
            month:'12',
            showMessage:false,
            page:1,
            infoMessage:[],
            recommender_total_rebate_amount: '',
            recommender_total_goods_amount: ''
        },
        computed: {
            shopTobe: function(){
                return this.infoMessage;
            }
        },
        mounted: function(){
            var self=this;
            getInfo(self);
        },
        updated:function() {
        },
        methods: {
            showOrder: function(obj){
                if(obj.show_Order){
                    obj.show_Order=false;
                }else{
                    this.infoMessage.map(function(item){
                        item.show_Order=false;
                    });
                    obj.show_Order=true;
                }
            },
            showGoods: function(item,obj){
                if(obj.show_goods){
                    obj.show_goods=false;
                }else{
                    item.map(function(son){
                        son.show_goods=false;
                    })
                    obj.show_goods=true;
                }
            }
        }
    })
    function getInfo(self){
        mui.ajax('/apic/get_recommender_settlement_info',{
            data:{
                year:self.year,
                month:self.month,
            },
            dataType:'json',//服务器返回json格式数据
            type:'get',//HTTP请求类型
            timeout:10000,//超时时间设置为10秒；
            success:function(data){
                self.showMessage=true;
                data.map(function(item){
                    item.show_Order=false;
                    item.orders.map(function(orderList){
                        orderList.show_goods=false;
                    })
                });
                self.recommender_total_rebate_amount=data[0].recommender_total_rebate_amount
                self.recommender_total_goods_amount=data[0].recommender_total_goods_amount
                self.infoMessage=data;
            }
        });
    };
    window.onload=function(){
        (function($) {
            $.init();
            var cho=document.getElementById("cho_month")
            cho.addEventListener('tap', function() {
                var optionsJson = this.getAttribute('data-options') || '{}';
                var options = JSON.parse(optionsJson);
                var id = this.getAttribute('id');
                var picker = new $.DtPicker(options);
                picker.show(function(rs) {
                    vm.$data.year=rs.y.text;
                    vm.$data.month=rs.m.value;
                    getInfo(vm);
                    picker.dispose();
                });
            }, false);
        })(mui);
    }
</script>
<script>
</script>
</body>
</html>