<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-orientation" content="portrait">
    <title>分享赚钱</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/app/share/shareMoney.css?v=<?php echo time(); ?>"/>
</head>
<body>
	<div id="wrap_share">
		<sharemoney :share="data_s" @click="share_detail"></sharemoney>
		<div id="instructions" >
			<img src="/views/mobile/skin/default/image/buy_share/share_title.png"/>
		</div>
		<div id="">
		</div>
		<section>
			<h1>
				<p>最热分享</p>
			</h1>
			<ul>
				<li>
					<div class="shop_img">
						<img src=""/>
					</div>
					<div class="shop_title">
						<p>算得上是所所所所所所所萨达四大四大所是的发送到发送到所少时诵诗书</p>
						<div class="price_">
							<span>赚 ¥<span>7</span></span>
							<span>九猫价: ¥100.00</span>
							<span>开始分享</span>
						</div>
					</div>
					
				</li>
			</ul>
		</section>
	</div>
	<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
	<script src="/views/mobile/components/share_Money.js?v=<?php echo time(); ?>"></script>
	<script type="text/javascript">
		var data_s = {
			"img":"",
			"youbalance":"100.00",
			"nobalance":"60.00",
			"key":"1"
		}
		 var vm= new Vue({
			el:'#wrap_share',
			data:{
				data_s:data_s,
			},
			computed:{
				
			},
			mounted:function(){
				
			},
			updated:function(){
			},
			methods:{
				share_detail:function(){
					console.log(111);
				}
			}
			})
	</script>
</body>
</html>