<div class="headbar">
	<div class="position"><span>会员</span><span>></span><span>会员管理</span><span>></span><span>会员列表</span></div>

	<div class="operating">
		<div class="search f_r">
			<form name="searchuser" action="{url:/}" method="get">
				<input type='hidden' name='controller' value='member' />
				<input type='hidden' name='action' value='verified' />
				<select class="auto" name="search">
					<option value="u.sfz_name">身份证姓名</option>
					<option value="u.username">用户名</option>
					<option value="m.true_name">姓名</option>
					<option value="m.mobile">手机</option>
					<option value="m.email">Email</option>
				</select>
				<input class="small" name="keywords" type="text" value="{$keywords}" />
				<button class="btn" type="submit"><span class="sch">搜 索</span></button>
			</form>
		</div>

		<a href="javascript:void(0);"><button class="operating_btn" type="button" onclick="window.location='{url:/member/member_edit}'"><span class="addition">添加会员</span></button></a>
	</div>
</div>

<form action="{url:/member/member_reclaim}" method="post" name="member_list" onsubmit="return checkboxCheck('check[]','尚未选中任何记录！')">
	<div class="content">
		<table id="list_table" class="list_table">
			<colgroup>
				<col width="80px" />
				<col width="80px" />
				<col width="80px" />
				<col width="120px" />
				<col width="150px" />
				<col width="150px" />
				<col width="120px" />
			</colgroup>

			<thead>
				<tr>
					<th>用户名</th>
					<th>合伙人编号</th>
					<th>身份证姓名</th>
					<th>身份证号码</th>
					<th>证件照片1</th>
					<th>证件照片2</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
				{query: name=user as u join=left join member as m on m.user_id eq u.id fields=m.*,u.username,u.sfz_num,u.recommender_id,u.sfz_name,u.sfz_image1,u.sfz_image2,u.is_recommender where=m.status neq 2 and $where order=m.user_id desc page=$page}
				<tr>
					<td title="{$item['balance']}">{$item['username']}</td>
					<td title="{$item['balance']}">{$item['recommender_id']}</td>
					<td title="{$item['point']}">{$item['sfz_name']}</td>
					<td title="{$item['point']}">{$item['sfz_num']}</td>
					<td title="{$item['time']}">
						<img width="150" src='{echo:IWeb::$app->config["image_host"] . IUrl::creatUrl("/pic/thumb/img/" . $item["sfz_image1"] . "/w/140/h/140")}'>
					</td>
					<td title="{$item['time']}">
						<img width="150" src='{echo:IWeb::$app->config["image_host"] . IUrl::creatUrl("/pic/thumb/img/" . $item["sfz_image2"] . "/w/140/h/140")}'>
					</td>
					<td>
						{if:$item['is_recommender']}合伙人
						{else:}
						<a href="{url:/member/member_verified_success/uid/$item[user_id]}">审核</a>
						{/if}
					</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</div>
	{$query->getPageBar()}
</form>

<script language="javascript">
//预加载
$(function(){
	var formObj = new Form('searchuser');
	formObj.init({'search':'{$search}'});
})

//预付款管理入口
function balance_add()
{
	if(!checkboxCheck('check[]','请选择要进行预付款操作的用户！'))
	{
		return;
	}

	art.dialog.open("{url:/member/member_balance}",{
	    title: '预付款管理',
	    ok:function(iframeWin, topWin)
	    {
	    	var formObject = iframeWin.document.forms['balanceForm'];
	    	formObject.onsubmit();

	    	if($(formObject).find('.invalid-text').length > 0)
	    	{
	    		return false;
	    	}

	    	//进行post提交
	    	var postData = $('[name="member_list"]').serialize()+'&'+$(formObject).serialize();
	    	$.post('{url:/member/member_recharge}',postData,function(json){
	    		if(json.flag == 'success')
	    		{
	    			tips('操作成功');
	    			window.location.reload();
	    			return false;
	    		}
	    		else
	    		{
	    			alert(json.message);
	    			return false;
	    		}
	    	},'json');
	    	return false;
		}
	});
}
</script>
