#info .img{
    margin-bottom:-0.1rem;
}
#info .img img{
    width:100%;
}
img{
    width:100%;
}
#info .button{
    background:#aadcf3;
    height:3.7rem;
    display: -webkit-flex;
    -webkit-justify-content: center;
}
#info .button a{
    display: block;
    margin-top:0.7rem;
    background:#ffffff;
    border-radius:0.84rem;
    width:5.5rem;
    height:0.84rem;
    line-height:0.84rem;
    text-align:center;
    color:#ff9c9c;
    font-size:0.32rem;
}
/*麋鹿页面样式调整*/
#info .activeImg {
    position:relative;
}
#info .activeImg .bgimg{
    position:relative;
    z-index: 1;
}
#info .activeImg .button{
    width:0.86rem;
    height:0.86rem;
}
/*麋鹿的状态*/
#info .milu .miluImg{
    position:absolute;
    width:1.06rem;
    height:1.31rem;
    z-index: 2;
}
/*给四个按钮定位*/
#info .activeImg .position1 .button{
    position:absolute;
    z-index:2;
    top:0.9rem;
    left:1.9rem;
}
#info .activeImg .position2 .button{
    position:absolute;
    z-index:2;
    top:4rem;
    left:5.2rem;
}
#info .activeImg .position3 .button{
    position:absolute;
    z-index:2;
    top:4rem;
    left:1.33rem;
}
#info .activeImg .position4 .button{
    position:absolute;
    z-index:2;
    top:7.1rem;
    left:1.33rem;
}
/*给四个按钮定位*/
#info .activeImg .position1 .font{
    position:absolute;
    z-index:2;
    top:1.8rem;
    left:3.75rem;
}
#info .activeImg .position2 .font{
    position:absolute;
    z-index:2;
    top:5.88rem;
    left:4.1rem;
}
#info .activeImg .position3 .font{
    position:absolute;
    z-index:2;
    top:3.6rem;
    left:3.2rem;
}
#info .activeImg .position4 .font{
    position:absolute;
    z-index:2;
    top:8.77rem;
    left:3rem;
}
