body,html{
	width: 100%;
	height: 100%;
	background: #ff5151;
}
li{
	list-style: none;
}

#top{
	width: 100%;
	overflow: hidden;
}
#top img{
	width: 100%;
	display: block;
	margin-top:-0.02rem ;
}
#top{
	position: relative
}
#top p{
	width: 2rem;
	height: 1rem;
	position: absolute;
	bottom:2.6rem
}
/*				导航				*/
nav{
	width: 100%;
	overflow: hidden;
	background: #fff;
	position: absolute;
	left: 0;
	top: 7.6rem;
	background: url(../../image/jmj/new_active/index5-ed.png) no-repeat 8rem 0;
}
nav ul{
	width: 100%;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap:wrap ;
	-webkit-align-content: center;
	-webkit-align-items: center;
}
nav ul li{
	width: 20%;
	text-align: center;
}
nav ul li img{
	
	margin: 0 auto;
	display: block;
	width: 0.98rem;
}
nav ul li span{
	font-size:0.26rem;
	color:#d5bbeb;
}


#zhe{
	width: 100%;
	overflow: hidden;
	margin-top:0.15rem ;
	
	height: 3.6rem;
}
#zhe_ul{
	height: 3.8rem;
	width:7.5rem;
	overflow: hidden;
	overflow-x: scroll
}
#zhe ul{
	width: 25rem;
	height: 3.8rem;
	display: -webkit-flex;
	position: relative;
	overflow: hidden;
	-webkit-flex-wrap:nowrap;
}
#zhe ul li{
	width: 5rem;
	height: 3.8rem;
	background: #fff;
	position: relative;
	margin-left:0.12rem ;
	-webkit-flex-basis: 5rem;
	/*-webkit-flex-grow: ;*/
}
#zhe ul li img{
	display: block;
	margin: 0.2rem auto 0.4rem;
}
#zhe ul li .p2{
height: 0.65rem;
	margin-left:0.06rem ;
	margin-bottom:0.2rem ;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}
#zhe ul li .p3{
	margin-left:0.06rem ;
	font-size: 0.24rem;
	color: #ff82a0;
	height: 0.28rem;
	margin-bottom:0.2rem ;
}
#zhe ul li .p3 span{
	font-size:0.3rem;
	color:#ff82a0;
	width: 0.44rem;
	margin-left:0.08rem ;
}
#zhe ul li .p4{
	position: absolute;
	top: -0.10rem;
	left: 0.1rem;
}
#zhe .btn{
	width: 2.56rem;
	height: 0.48rem;
	background:#d4bbeb;
	border-radius:0.97rem;
	margin: 0.33rem auto 0;
}
#zhe .btn a{
	display: block;
	width: 2.56rem;
	height:0.48rem
	text-decoration: none;
	font-family:AdobeHeitiStd-Regular;
	font-size:0.28rem;
	color:#ffffff;
	line-height:0.48rem;
	text-align: center;
}
/*				大牌专场					*/
.t{
	width: 100%;
	overflow: hidden;
	margin-top: 0.3rem ;
	
}
.t .top_img{
	width: 100%;
}
.t ul{
	margin-top:0.3rem ;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-around;
	padding:0 0.13rem;
}
.t ul li{
	width: 2.36rem;
	height: 5.6rem;
	background: #fff;
	margin-bottom:0.16rem ;
}
.t ul li .p5 img{
	margin: 0.29rem auto 0.44rem;
	display: block;
}
.t ul li .p6{
	width: 2.25rem;
	margin-left: 0.09rem;
	overflow:hidden; 
	height: 0.7rem;
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	color: #3D4245;
	font-size: 0.24rem;
}
.t ul li .p7{
	float: left;
	font-family:HelveticaNeue;
	font-size:0.24rem;
	color:#ff82a0;
	width: 1.6rem;
}
.t ul li .p7 span{
	font-size:0.26rem;
	color:#ff82a0;
}
.t ul li .p8{
	float: left;
	font-size:0.26rem;
	color:#bbbbbb;
}
.t ul li .p9{
	margin-left: 0.09rem;
	font-size:0.24rem;
	color:#3d4245;
	
}
.t ul li .p9 span{
	font-size:0.26rem;
	color:#ff82a0;
}
.t ul li .p10{
	margin-left:0.06rem ;
	width: 100%;
	height: 0.4rem;
	overflow: hidden;
	position: relative;
}
.t ul li .p10 img{
	position: absolute;
	top: -0.13rem;
	left: -0.1rem;
}
