html,
body {
	height: 100%;
	overflow: hidden;
}
.mui-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.mui-control-content {
	background-color:#fff;
	min-height:40rem;
	height:auto;
}
.mui-control-content .mui-loading {
	margin-top: 50px;
}
.search-bar{
	margin-top:1rem;
	margin-bottom:-0.2rem;
}
.search-bar input{
	background:#fff;
}
#sliderSegmentedControl{
	background:#fff;
}
.mui-slider-item {
	border-top:0px solid transparent !important;
}
.class-item-size{
	width: 100%;
	height:7rem;
	display:-webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	background:#eee;
	font-size:1.2rem;
}
.class-row{
	border:1px solid gray;
}
.mui-grid-9{
	margin-bottom:1rem !important;
}
.mui-table-view-cell{
	background:#fff !important;
}
header.mui-bar{
	height:0px !important;
	
	}
