.homeHeader{
	position:relative;
}
.nav-header{
	height:0.9rem;
	padding:0.15rem 0;
	width:100%;
	background:#ff4aa0 !important;
}
.mui-search {
	background:rgba(255,255,255,0.2);
	border-radius:0.3rem !important;
	width:5.16rem;
	height:0.6rem;
	margin-left:1.17rem;
	z-index:23;
}
.left-icon{
	display:inline-block;
	position:absolute;
	top:0.15rem;
	left:1.1rem;
	z-index:1;
}
.right-icon{
	display:inline-block;
	position:absolute;
	top:0.15rem;
	right:1.06rem;
	z-index:1;
}
.mui-search .right-icon{

}
input[type='search']{
	background:#fe6db2 !important;
	height:0.6rem !important;
}
.mui-icon-search:before{
	color:rgba(255,255,255,0.5);
	position:relative;
	right:0.27rem;
	top:0.04rem;
	/*width:0.2rem !important;;*/
	/*height:0.2rem !important;*/
	font-size:0.4rem;
}
.mui-icon-search:after{
	color:rgba(255,255,255,0.5);
	position:absolute;
	top:0.17rem;
	right:0.63rem;
}
.mui-input-row.mui-active {
	color:rgba(255,255,255,0.5) !important;
}
.mui-search span:nth-child(2){
	color:rgba(255,255,255,0.5);
	font-size:0.28rem;
}
.mui-control-item{
	position:relative;
	width:100%;
	height:100%;
}
.mui-control-item .text{
	position:relative !important;
	left:-0.08rem;
	z-index:999;
	font-size:0.28rem;
	letter-spacing: 0.01rem;
	color:#979797 !important;
}
.mui-control-item .bg{
	z-index:1 !important;
	width:100%;
	height:60%;
	display:none;
	position:absolute;
	background:url('../../image/jmj/icon/button.png');
	background-size:100% 100%;
	bottom:0.15rem;
	left:0;
}
.mui-scroll-wrapper{
	background:#fff !important;
}
.mui-control-item.mui-active .text{
	color:#fff !important;
	z-index:999;
}
.mui-control-item.mui-active .bg{
	display:block;
	z-index:2 !important;


}
/*轮播图样式*/
.mui-slider-item img{
	width:100%;
	height:auto;
}
/*专辑样式*/
.timePurchase{
	margin-top:0.22rem;
	background:#fff;
}
.timePurchase_title{
	height:1.3rem;
	display:flex;
	flex-wrap:nowrap;
}
.timePurchase_title .logo{
	position:relative;
	width:2.5rem;
	height:1.3rem;
	/*background:url('../../image/jmj/icon/home.png') no-repeat;*/
}
.timePurchase_title .logo .img-pan1{
	position:absolute;
	left:0.12rem;
	top:0.17rem;
}
.timePurchase_title .logo .img-pan2{
	position:absolute;
	right:0;
	top:0.55rem;
}
.timePurchase_title .logo span{
	position:absolute;
	font-size:0.32rem;
	line-height:0.35rem;
	letter-spacing: 0.02rem;
	color:#3d4245;
	left:0.7rem;
	top:0.485rem;
}
#timer{
	width:3.4rem;
	margin-left:0.3rem;
	background:url('../../image/jmj/icon/time.png') no-repeat;
	background-size:100% 70%;
	background-position: 0 50%;
}
#timer_h, #timer_m, #timer_s{
	font-family:Impact;
	font-size:0.48rem;
	color:#ffffff;
	letter-spacing:0.0179rem;
	line-height:1.3rem;
	display: inline-block;
	width:0.7rem !important;
	overflow-x: hidden;
	text-align: center;
}
#timer_h{
	margin-left:0.1rem;
}
#timer_m{
	margin-left:0.5rem;
}
#timer_s{
	margin-left:0.45rem;
}
.timePurchase_title .right{
	padding-left:0.34rem;
}
.timePurchase_title .right span{
	font-size:0.28rem;
	color:#bbbbbb;
	margin-right:auto;
	line-height:1.3rem;
}
.mui-icon-forward{
	line-height:0.64rem;
	color:#bbbbbb;
}
#timePurchase{
	margin-top:0.22rem;
}
.timePurchase_body{
	width:100%;
	margin:1.3% 0;
	display:flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap:wrap;

}
.timePurchase_body .item{
	margin-left:1.3%;
	margin-bottom:0.1rem;
	width:31.5%;
}
.timePurchase_body .item .img{
	display:flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	margin:0.05rem 0 0.2rem;
	position:relative;
}
.timePurchase_body .item .img span{
	position:absolute;
	top:0;
	left:0;
	font-size:0.26rem;
	font-family:'WickedMouseDemo';
	color:#0104f0;
	text-shadow:0.01rem 0.02rem 0px #1d1d1d;
	width:1.08rem;
	height:0.78rem;
	line-height:0.78rem;
	text-align:center;
	/*display:inline-block;*/
	background:url('../../image/jmj/icon/tag.png');
	background-size:100% 100%;
}
.timePurchase_body .item .text{
	position:relative;

}
.timePurchase_body .item .text .title{
	margin-left:10%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size:0.22rem;
	color:#3d4245;
	line-height:0.35rem;
}
.timePurchase_body .item .text .price{
	text-align:center;
	font-family:'petangueDEMO';
	font-size:0.34rem !important;
	line-height:0.36rem;
	color:#bbbbbb;
	padding:0.1rem;
}
.timePurchase_body .item .text .price span{
	font-size:0.28rem;
	line-height:0.36rem;
	color:#bbbbbb;
}
.timePurchase_body .item:nth-child(3){
	margin-right:1.3%;
}
.timePurchase_body .item:nth-child(6){
	margin-right:1.3%;
}
/*专辑页面*/
.albumn_index{
	margin-top:0.22rem;
	background:#f8f8f8;
}
.albumn_index .title{
	height:0.9rem;
	font-size:0.3rem;
	position:relative;
	line-height:0.9rem;
	background:#fff;
}
.albumn_index .title .logo{
	margin-left:0.24rem;
	position:relative;
	top:0.05rem;
}
.albumn_index .title .paper{
	margin-left:0.24rem;
	position:relative;
	top:0.07rem;
}
.albumn_index .title .name{
	margin-left:0.23rem;
	color:#3d4245;
	font-size:0.3rem;
}
.albumn_index .title .share{
	margin-right:0.43rem !important;
	position:relative;
	top:0.05rem;
}
.albumn_index .title .like{
	margin-right:0.07rem !important;
	position:relative;
	top:0.07rem;
}
.albumn_index .title .num{
	width:0.55rem;
	margin-right:0.06rem !important;
	font-family:'HelveticaNeueLt';
	font-size:0.24rem;
	color:#979797;
}
.albumn_index .content{
	position:relative;
	width:7.5rem;
	height:3.8rem;
}
.albumn_index .content .mark1{
	position:absolute;
	width:1.28rem;
	height:0.38rem;
	line-height:0.38rem;
	text-align:center;
	top:0.24rem;
	left:4.29rem;
	background:rgba(0,0,0,0.5);
	border-radius:0.04rem;
	color:#fff;
	font-size:0.22rem;
}
.albumn_index .content .mark2{
	position:absolute;
	width:1.52rem;
	height:0.38rem;
	line-height:0.38rem;
	text-align:center;
	top:0.24rem;
	right:0.11rem;
	background:rgba(0,0,0,0.5);
	border-radius:0.04rem;
	color:#fff;
	font-size:0.22rem;
}
.albumn_index .content .mark2 img{
	width:0.33rem;
	margin-right:0.08rem;
}
.albumn_index .title .vedio_name{
	position:relative;
	top:-0.15rem;
	margin-left:0.23rem;
	color:#3d4245;
	font-size:0.3rem;
	width:1.88rem;
}
.albumn_index .title .vedio_name span{
    position:absolute;
	left:0;
	top:0.1rem;
	font-size:0.22rem;
	color:#bbb;
}
.albumn_index .title .vedio_name span img{
	position:relative;
	top:0.05rem;
	margin-right:0.15rem;
}

	/*.recommended .title .logo{*/
	/*position:absolute;*/
	/*top:0.3rem;*/
	/*left:0.24rem;*/
/*}*/
/*.recommended .title .share{*/
	/*position:absolute;*/
	/*top:0.3rem;*/
	/*left:5.66rem;*/
/*}*/
/*.recommended .title .logo{*/
	/*position:absolute;*/
	/*top:0.3rem;*/
	/*left:0.24rem;*/
/*}*/
/*.recommended .title .logo{*/
	/*position:absolute;*/
	/*top:0.3rem;*/
	/*left:0.24rem;*/
/*}*/
/*搜索页面*/
#modalid-searth{
	position:fixed;
	top:46px;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	z-index:999;
}
#modalid-searth .title{
	background-color: #eee;
	color: #65657b;
	height: .48rem;
	line-height: .48rem;
	padding: 0 5%;
}
#modalid-searth .searth-content{
	width:100%;
	padding: 0 5%;
	display:flex;
	flex-flow: wrap;
	justify-content: flex-start;
}
#modalid-searth .searth-content a{
	display:block;
	width:auto;
	padding:0.1rem;
	text-align:center;
	border:1px solid #dcdcdc;
	margin:0.2rem 0.2rem 0 0;
	color:rgb(62, 187, 91);
	border-radius:0.2rem;
	font-size:0.26rem;
}
#button-submit{
	display:block;
	width:80%;
	border-radius:33px ;
	border:1px solid #e53e42;
	margin:0.24rem auto;
	color:#e53e42;
}
#button-cancel{
	display:block;
	width:80%;
	margin:0 auto;
	border-radius:33px ;
}
/*视频专辑*/
.vedio{
	position:relative;
}
.vedioStyle .top{
	position:absolute;
	top:0.22rem;
	right:0.4rem;
	font-size:0.22rem;
	color:#ffffff;
}
.vedioStyle .bottom .name{
	position:absolute;
	bottom:0.3rem;
	left:0.21rem;
	font-size: 0.3rem;
	color:#fff !important;
}
.vedioStyle .middle{
	position:absolute;
	bottom:0.3rem;
	left:43.2%;
	top:36.5%;
}
.vedioStyle .time{
	position:absolute;
	bottom:0.24rem;
	right:0.38rem;
	color:#fff !important;
	display:inline-block;
	width:0.84rem;
	height:0.38rem;
	border-radius: 0.04rem;
	background:rgba(0,0,0,0.5);
	text-align:center;
	line-height:0.38rem;
	font-size:0.22rem;

}

/*nav*/
.icon-home{
	background:url('../../image/jmj/icon/home.png') no-repeat 100%;
	background-size:100% 100%;
}
.icon-classification{
	background:url('../../image/jmj/icon/classify.png') no-repeat 100% ;
	background-size:100% 100%;
}
.icon-shopcar{
	 background:url('../../image/jmj/icon/buy.png') no-repeat 100% ;
	background-size:100% 100%;
 }
.icon-my{
	background:url('../../image/jmj/icon/my.png') no-repeat 100% ;
	background-size:100% 100%;
}
.icon-vedio{
	display:inline-block;
	z-index:199;
	position:absolute;
	bottom:0;
	left:0;
	width:1.31rem;
	height:1.31rem;
	border-radius:50%;
	background:#fff;
}
.img-move02{
	width:1.06rem;
	margin-top:0.125rem;
}
.mui-tab-item.mui-active .icon-home{
	background:url('../../image/jmj/icon/home-ed.png') no-repeat 100%;
	background-size:100% 100%;
}
.mui-tab-item.mui-active .icon-classification{
	background:url('../../image/jmj/icon/classify-ed.png') no-repeat 100%;
	background-size:100% 100%;
}
.mui-tab-item.mui-active .icon-shopcar{
	background:url('../../image/jmj/icon/buy-ed.png') no-repeat 100%;
	background-size:100% 100%;
}
.mui-tab-item.mui-active .icon-my{
	background:url('../../image/jmj/icon/my-ed.png') no-repeat 100%;
	background-size:100% 100%;
}
.mui-tab-item.mui-active{
	color:#ff2525 !important;
}




/*.wareItem1{*/
	/*width:100%;*/
	/*background:#fff;*/
	/*border-top:0.01rem solid #eee;*/
	/*border-bottom:0.01rem solid #eee;*/
	/*margin-top:0.1rem;*/
/*}*/
/*.wareItem1-title{*/
	/*border-bottom:0.01rem solid #ccc;*/
	/*height:0.5rem;*/
	/*line-height: 0.45rem;*/
	/*position:relative;*/
	/*display:-webkit-flex;*/
	/*-webkit-align-items:center;*/
	/*!*-webkit-justify-content: center;*!*/
/*}*/
/*.wareItem1-title-panel{*/
	/*!*position:absolute;*/
	/*bottom:-1.5rem;*!*/
	/*width:60%;*/
	/*margin-bottom:-0.5rem;*/
	/*border:0.01rem solid #ccc;*/
	/*height:0.3rem;*/
	/*border-radius:0.15rem;*/
	/*background:#fff;*/
	/*z-index:1;*/
	/*line-height: 0.3rem;*/
	/*text-align:center;*/
/*}*/
/*.wareItem1-title-1{*/
	/*flex:1;*/
	/*margin-right:auto;*/
	/*font-size:0.1rem;*/
/*}*/
/*.wareItem1-title-1 span{*/
	/*display: inline-block;*/
/*}*/
/*.wareItem1-title-2{*/
	/*flex:1;*/
	/*font-size:0.1rem;*/
	/*display: -webkit-flex;*/
	/*-webkit-justify-content: flex-end;*/
/*}*/
/*.wareItem1-title-2 span{*/
	/*display: inline-block;*/
	/*margin-right:0.05rem;*/
/*}*/
/*#timer_h,#timer_m,#timer_s{*/
	/*background:#000;*/
	/*width:0.12rem;*/
	/*height:0.12rem;*/
	/*line-height: 0.3rem;*/
	/*color: #fff;*/
/*}*/
/*.wareItem1-body{*/
	/*margin-top:0.3rem;*/
	/*display: -webkit-flex;*/
/*}*/
/*.wareItem1-body-item{*/
	/*-webkit-flex:1;*/
	/*display: -webkit-flex;*/
	/*-webkit-flex-direction: column;*/
	/*-webkit-align-items:center;*/
	/*-webkit-justify-content: center;*/
/*}*/
/*.wareItem1-body-item-c-1{*/
	/*white-space:nowrap;*/
    /*overflow:hidden;*/
    /*text-overflow:ellipsis;*/
    /*font-size:0.1rem;*/
    /*line-height: 0.15rem;*/
/*}*/
/*.wareItem1-body-item-c-2,.wareItem1-body-item-c-3{*/
	/*font-size:0.1rem;*/
    /*line-height: 0.15rem;*/
/*}*/
/*.wareItem1-body-item-c-3{*/
	/*color:#999;*/
	/*margin-bottom:0.1rem;*/
/*}*/
/*.wareItem1-body-item-c-2 .item1{*/
	/*padding:0.01rem;*/
	/*height:0.12rem;*/
	/*color:#fff;*/
	/*background: red;*/
/*}*/
/*.wareItem1-body-item-c-2 .item2{*/
	/*color:red;*/
/*}*/
/*.wareItem{*/
	/*margin-top:.1rem;*/
	/*background:#fff;*/
/*}*/
/*.wareItem .ware{*/
	/*margin-top:0.05rem;*/
	/*display:-webkit-flex;*/
	/*-webkit-justify-content: space-around;*/
/*}*/
/*.wareItem .ware-item{*/
	/*width:30%;*/
	/*-webkit-flex-direction: column;*/
/*}*/
/*.wareItem .ware-img{*/
	/*border:0.01rem solid #ccc;*/
	/*position:relative;*/
/*}*/
/*.wareItem .buget{*/
	/*position:absolute;*/
	/*display: block;*/
	/*bottom:0;*/
	/*font-size:0.1rem;*/
	/*width:100%;*/
	/*text-align:center;*/
	/*background: red;*/
	/*color:#fff;*/
/*}*/
/*.wareItem .ware-name{*/
	/*margin-left:0.02rem;*/
	/*white-space:nowrap;*/
    /*overflow:hidden;*/
    /*text-overflow:ellipsis;*/
    /*font-size:0.1rem;*/
    /*line-height: 0.2rem;*/
/*}*/
/*.wareItem .ware-price{*/
	/*color:red;*/
	 /*font-size:0.1rem;*/
    /*line-height: 0.2rem;*/
/*}*/
/*.wareItem{*/
	/*margin-top:0.1rem;*/
	/*background:#fff;*/
/*}*/
/*.ware-content{*/
	/*width:90%;*/
	/*margin:0 auto;*/
/*}*/
/*.ware-content-head1{*/
	/*display:-webkit-flex;*/
	/*-webkit-align-items: center;*/
	/*-webkit-justify-content:center ;*/
	/*line-height:0.15rem;*/
/*}*/
/*.ware-content-head1 span{*/
	/*-webkit-flex:1;*/
/*}*/
/*.ware-content-head1 span:nth-child(2){*/
	/*color:#e53e42;*/
	/*text-align: right;*/
/*}*/
/*.ware-content-head1 img{*/
	/*height:0.13rem;*/
/*}*/
/*.ware-content-head2{*/
	/*display:-webkit-flex;*/
	/*-webkit-align-items: center;*/
	/*-webkit-justify-content:center ;*/
	/*line-height:0.2rem;*/
/*}*/
/*.ware-content-head2 span{*/
	/*-webkit-flex:1;*/
/*}*/
/*.ware-content-head2 span:nth-child(1){*/
	/*font-size:0.12rem;*/
	/*font-weight: 700;*/
/*}*/
/*.ware-content-head2 span:nth-child(2){*/
	/*color:#626262;*/
	/*text-align: right;*/
	/*font-size:0.1rem;*/
	/*line-height:0.2rem ;*/
/*}*/
/*.ware-content-body span{*/
	/*font-size:0.1rem;*/
	/*display:block;*/
	/*text-align: left;*/
	/**/
/*}*/
/*.ware-content-body span:nth-child(2){*/
	/*font-size:0.1rem;*/
    /*color: #626262;*/
    /*height: 0.5rem;*/
    /*line-height: 0.16rem;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 3;*/
    /*-webkit-box-orient: vertical;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
/*}*/
/*.title-img{*/
	/*position:relative;*/
/*}*/
/*.title-img .title-budget{*/
	/*position:absolute;*/
	/*top:0.2rem;*/
	/*left:0.2rem;*/
/*}*/
/*.title-img .title-budget img{*/
	/*width:0.6rem;*/
	/*height:0.6rem;*/
/*}*/
/*#pagetop{*/
	/*z-index: 10;*/
	/*display: block;*/
    /*width: 0.4rem;*/
    /*position: fixed;*/
    /*bottom: 1rem;*/
    /*right: 0.2rem;*/
    /*border-radius: 9999px;*/
    /*line-height: 0.4rem;*/
    /*background-color: hsla(0,0%,100%,.8);*/
    /*text-align: center;*/
    /*color: #e53e42;*/
    /*font-size: 0.24rem;*/
    /*border: 0.01px solid #eee;*/
/*}*/
