/*修正下拉刷新位置*/
.homeHeader {
	z-index:10;
    background-color: rgba(134,7,7,.8);
    width: 100%;
    height:8rem;
    position: fixed;
    top: 0;
    left: 0;
}
.nav-header{
	height:5rem;
	display:-webkit-flex;
	-webkit-align-items: center;
}
.nav-header .logo,.nav-header .mui-search,.nav-header .modal{
	    height: 3rem;
	    -webkit-flex-grow:1;
	    margin-left:1rem;
}
.nav-header .logo{
	height:80%;
	overflow: hidden;
	margin-top:0.4rem;
	-webkit-align-items: center;
}
.nav-header .logo img{
	height:75%;
}
.nav-header .mui-search,.modal{
	height:80%;
	-webkit-align-items: center;
}
.mui-search{
	width:70%;
}
.modal span{
	font-weight: bolder;
	color:#fff;
	-webkit-align-items: center;
}
input.mui-input-clear{
	display: block;
	background:#fff;
	color:#000;
	height:80%;
	-webkit-align-items: center;
}
.nav-body ul{
	list-style: none;
	width:100%;
	height:3rem;
	display:-webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content:center;
}
.nav-body ul li{
	-webkit-flex:1;
	text-align: center;
}
.nav-body ul li a{
	font-size:1.3rem;
	padding:0.42rem;
	color:#fff;
}
.nav-body-active{
	border-bottom:0.2rem solid #fff;
}
/*限时购专辑*/
#wareItem1{
	width:100%;
	background:#fff;
	border-top:0.1rem solid #eee;
	border-bottom:0.1rem solid #eee;
	margin-top:1rem;
}
.wareItem1-title{
	border-bottom:0.1rem solid #ccc;
	height:5rem;
	line-height: 4.5rem;
	position:relative;
	display:-webkit-flex;
	-webkit-align-items:center;
	/*-webkit-justify-content: center;*/
}
.wareItem1-title-panel{
	/*position:absolute;
	bottom:-1.5rem;*/
	width:60%;
	margin-bottom:-5rem;
	border:0.1rem solid #ccc;
	height:3rem;
	border-radius:1.5rem;
	background:#fff;
	z-index:1;
	line-height: 3rem;
	text-align:center;
}
.wareItem1-title-1{
	flex:1;
	margin-right:auto;
	font-size:1rem;
}
.wareItem1-title-1 span{
	display: inline-block;
}
.wareItem1-title-2{
	flex:1;
	font-size:1rem;
	display: -webkit-flex;
	-webkit-justify-content: flex-end;
}
.wareItem1-title-2 span{
	display: inline-block;
	margin-right:0.5rem;
}
#timer_h,#timer_m,#timer_s{
	background:#000;
	width:1.2rem;
	height:1.2rem;
	line-height: 3rem;
	color: #fff;
}
.wareItem1-body{
	margin-top:3rem;
	display: -webkit-flex;
}
.wareItem1-body-item{
	-webkit-flex:1;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-align-items:center;
	-webkit-justify-content: center;
}
.wareItem1-body-item-c-1{
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:1rem; 
    line-height: 1.5rem;      
}
.wareItem1-body-item-c-2,.wareItem1-body-item-c-3{
	font-size:1rem; 
    line-height: 1.5rem; 
}
.wareItem1-body-item-c-3{
	color:#999;
	margin-bottom:1rem;
}
.wareItem1-body-item-c-2 .item1{
	padding:0.1rem;
	height:1.2rem;
	color:#fff;
	background: red;
}
.wareItem1-body-item-c-2 .item2{
	color:red;
}
.wareItem3{
	margin-top:1rem;
	background:#fff;
}
.wareItem3 .ware{
	margin-top:0.5rem;
	display:-webkit-flex;
	-webkit-justify-content: space-around;
}
.wareItem3 .ware-item{
	width:30%;
	-webkit-flex-direction: column;
}
.wareItem3 .ware-img{
	border:0.1rem solid #ccc;
	position:relative;
}
.wareItem3 .buget{
	position:absolute;
	display: block;
	bottom:0;
	font-size:1rem;
	width:100%;
	text-align:center;
	background: red;
	color:#fff;
}
.wareItem3 .ware-name{
	margin-left:0.2rem;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:1rem; 
    line-height: 2rem; 
}
.wareItem3 .ware-price{
	color:red;
	 font-size:1rem; 
    line-height: 2rem;
}
.wareItem4{
	margin-top:1rem;
	background:#fff;
}
.ware-content{
	width:90%;
	margin:0 auto;
}
.ware-content-head1{
	display:-webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content:center ;
	line-height:1.5rem;
}
.ware-content-head1 span{
	-webkit-flex:1;
}
.ware-content-head1 span:nth-child(2){
	color:#e53e42;
	text-align: right;
}
.ware-content-head1 img{
	height:1.3rem;
}
.ware-content-head2{
	display:-webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content:center ;
	line-height:2rem;
}
.ware-content-head2 span{
	-webkit-flex:1;
}
.ware-content-head2 span:nth-child(1){
	font-size:1.2rem;
	font-weight: 700;
}
.ware-content-head2 span:nth-child(2){
	color:#626262;
	text-align: right;
	font-size:1rem;
	line-height:2rem ;
}
.ware-content-body span{
	font-size:1rem;
	display:block;
	text-align: left;
	
}
.ware-content-body span:nth-child(2){
	font-size: 1rem;
    color: #626262;
    height: 5rem;
    line-height: 1.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title-img{
	position:relative;
}
.title-img .title-budget{
	position:absolute;
	top:2rem;
	left:2rem;
}
.title-img .title-budget img{
	width:6rem;
	height:6rem;
}
#pagetop{
	z-index: 10;
	display: block;
    width: 4rem;
    position: fixed;
    bottom: 10rem;
    right: 2rem;
    border-radius: 9999px;
    line-height: 4rem;
    background-color: hsla(0,0%,100%,.8);
    text-align: center;
    color: #e53e42;
    font-size: 2.4rem;
    border: 1px solid #eee;
}
