/*全部订单页面*/
#sliderSegmentedControl{
    width:100%;
    height:0.91rem;
    background:#fff !important;
    border-bottom:1px solid #eee;
}
.order-control-item{
    display: inline-block;
    position:relative;
    font-size:0.3rem;
    color:#bbbbbb !important;
    line-height:0.7rem !important;
    height:0.9rem !important;

}
.order-control-item.mui-active{
    color:#ff4aa0 !important;
}
.order-control-item span{
    display: none;
    position:absolute;
    width:44%;
    height:0.06rem;
    background:#ff4aa0;
    left:28%;
    border-radius:0.04rem;
}
.order-control-item.mui-active span{
    display:block;
}
/*#order_Total .mui-slider-group{*/
    /*padding-top:0.4rem;*/
/*}*/
#order_Total .mui-slider-item{
    overflow-y: scroll !important;

}
.mui-slider .mui-slider-group .mui-slider-item{
    font-size: 14px;
    position: relative;
     display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    white-space: normal;
}
#order_Total .mui-control-content{
    padding:0;
}
.order_menu_list{
    margin-top:0.4rem;
    margin-bottom:-0.2rem;
    background:#fff;
}
.order_menu_list .top{
    height:0.9rem;
    line-height:0.9rem;
}
.order_menu_list .top .left{
    font-size:0.28rem;
    color:#bbbbbb;
    margin-left:0.3rem;
}
.order_menu_list .top .status{
    font-size:0.28rem;
    color:#ff4aa0;
    margin-right:0.36rem;
}
.order_menu_list .goodsList .content{
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    border-bottom:1px solid #eee;
}
.order_menu_list .goodsList .content .left{
    width:1.86rem;
    height:1.86rem;

}
.order_menu_list .goodsList .content .left img{
    width:1.23rem;
    height:1.23rem;
}
.order_menu_list .goodsList .content .right{
    position:relative;
    height:1.76rem;
}
.order_menu_list .goodsList .content .right .name{
    margin-top:0.29rem;
    width:5rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size:0.26rem;
    color:#3d4245;
    line-height:0.36rem;
    text-align:left;
}
.order_menu_list .goodsList .content .right .price{
    position:absolute;
    bottom:0.14rem;
    left:0;
}
.order_menu_list .goodsList .content .right .price .sellprice{
    font-size:0.34rem !important;
    color:#f3026a !important;
}
.order_menu_list .goodsList .content .right .price .num{
    font-size:0.28rem;
    color:#bbbbbb;
    padding-left:0.38rem;
}
.order_menu_list .orderToDo{
    height:1.03rem;
    line-height:1.03rem;
}
.order_menu_list .orderToDo .left{
    font-size:0.28rem;
    color:#3d4245;
    margin-left:0.3rem;
}
.order_menu_list .orderToDo .right .button{
    display: inline-block;
    border:1px solid #bbbbbb;
    border-radius:0.6rem;
    width:1.6rem;
    height:0.6rem;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.26rem;
    color:#bbb;
    margin-right:0.16rem;
}
.order_menu_list .orderToDo .right .button:nth-last-child(1){
    display: inline-block;
    border:none;
    background: #ff4aa0;
    border-radius:0.6rem;
    color: white;
    width:1.6rem;
    height:0.6rem;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.26rem;
    margin-right:0.26rem;
}
/*#container{*/
    /*position:absolute;*/
    /*left:0;*/
    /*top:44px;*/
    /*background:#f8f8f8;*/
/*}*/
/*#container .container{*/
    /*!*position:absolute;*!*/
    /*width:7.5rem;*/
    /*height:5rem;*/
    /*-webkit-overflow-scrolling: touch;*/
    /*overflow: hidden;*/
    /*!*border:1px solid yellow;*!*/
/*}*/
/*#container .container table{*/
    /*width:100%;*/
    /*height:100%;*/
    /*overflow-y: scroll;*/
/*}*/
/*#container td{*/
    /*font-size:0.26rem;*/
    /*color:#bbbbbb;*/
    /*line-height:0.3rem;*/
    /*text-align:left;*/
    /*padding:0.3rem 0.2rem 0.18rem 0.2rem;*/
/*}*/
/*#container td p{*/
    /*margin-top:0.1rem;*/
    /*font-size:0.28rem;*/
    /*color:#3d4225;*/
    /*line-height:0.36rem;*/
    /*text-align:left;*/

/*}*/
/*#container tr:nth-last-child(1) td {*/
    /*color:#ff4aa0;*/
/*}*/
/*#container tr:nth-last-child(1) td p{*/
    /*color:#ff4aa0;*/
/*}*/
.mui-bar-nav{
    box-shadow: 0 0 0 transparent;
}
.mui-bar .mui-icon{
    padding-top:10px !important;
}
.mui-bar-nav.mui-bar .mui-icon{
    margin-left:0 !important;
}
.nodata{
    background:#eee;
}
/*.empty_product img {*/
    /*width: 0.73rem !important;*/
    /*margin-top: 0.65rem;*/
/*}*/
.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item{
    border-top:1px solid transparent !important;
}
/*订单详情页面*/
#order_detail .orderState_head{
    width:100%;
    height:2.39rem;
    background:#fff;
    position:relative;
}
.orderState_head .bg{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:1.47rem;
    background:#ff86ba;
    z-index:1;
}
.orderState_head .state{
    position:absolute;
    width:100%;
    height:1.34rem;
    top:1.005rem;
    left:0;
    z-index: 2;
    display: -webkit-inline-flex;
    justify-content: center;
}
.orderState_head .state .state_item{
    width:2.5rem;
    -webkit-flex:1;
    text-align:center;
    position: relative;
}
.orderState_head .state .state_item .img{
    position: absolute;
    width:0.45rem;
    height:0.45rem;
    border-radius: 0.45rem;
    background: #fff;
    top:0.25rem;
    left:1rem;
}
.orderState_head .state .state_item .img img{
    width:0.41rem;
    height:0.41rem;
    border-radius: 0.41rem;
}
.orderState_head .state .state_item.hot .img{
    position: absolute;
    width:0.82rem;
    height:0.82rem;
    border-radius: 0.82rem;
    background: #fff;
    top:0;
    left:0.81rem;
}
.orderState_head .state .state_item.hot .img img{
    width:0.78rem;
    height:0.78rem;
    border-radius: 0.78rem;
}
.orderState_head .state .state_item .state_text{
    width:100%;
    font-size:0.28rem;
    color:#bbb;
    position:absolute;
    bottom:0.1rem;
    text-align: center;
}
.orderState_head .state .state_item.hot .state_text{
    color:#f3026a;
}
/*订单里面的地址页面*/
.order_addAddr{
    margin:0.2rem 0;
    width:100%;
    background:#fff;
    height:1.57rem;
    position:relative;
}
.order_addAddr .topImage{
    position:absolute;
    width:7.5rem;
    height:0.07rem;
    background:url("../../image/jmj/cart/line.png");
    background-size:contain;
    top:0;
    left:0;
}
.bottomImage{
    position:absolute;
    width:7.5rem;
    height:0.07rem;
    background:url("../../image/jmj/cart/line.png");
    background-size:contain;
    bottom:0;
    left:0;
}
.order_addAddr .top{
    padding-top:0.24rem;
    font-size:0.28rem;
    color:#3d4245;
}
.order_addAddr .top .name{
    margin-left:0.3rem;
}
.order_addAddr .top .name div{
    width:3.5rem;
    display: inline-block;
}
.order_addAddr .top span{
    position: relative;
    top:-0.05rem;
    display: inline-block;
    font-size:0.28rem;
    color:#bbbbbb;
    padding-right:0.3rem;
}
.order_addAddr .top .phone{
    margin-right:0.3rem;
}
.order_addAddr .addr{
    font-size:0.28rem;
    color:#3d4245;
    margin-top:0.2rem;
    margin-left:0.3rem;
}
.order_addAddr .addr span {
    display: inline-block;
}
.order_addAddr .addr div {
    display: inline-block;
    position:relative;
    top:0.1rem;
    width:4.8rem;
}
/*订单详情里面的商品页*/
.goods_bottom{
    width:100%;
    padding:0 0.26rem;
}
.goods_bottom .payware{
    border-bottom:1px solid #eee;
    height:0.86rem;
    line-height:0.86rem;
}
.goods_bottom .payware span:nth-child(1){
    font-size:0.26rem;
    color:#bbbbbb;
    padding-left:0.1rem;
}
.goods_bottom .payware span:nth-child(2){
    padding-right:0.1rem;
    font-size:0.26rem;
    color:#3d4245;
}
.goods_bottom .payreal{
    height:0.86rem;
    line-height:0.86rem;
}
.goods_bottom .payreal span:nth-child(1){
    font-size:0.26rem;
    color:#bbbbbb;
    padding-left:0.1rem;
}
.goods_bottom .payreal span:nth-child(2){
    padding-right:0.2rem;
    font-size:0.26rem;
    color:#f3026a;
}
.goodsList .order_menu_list{
    border-bottom: 1px solid #eee;
    margin-top:0.2rem !important;
}
.goodsList .order_menu_list .sellpri{
    font-size: 0.28rem !important;
    color: #f3026a !important;
}
.order_time{
    background:#fff;
    padding:0.27rem 0.42rem;
    margin-top:0.4rem;
    width:100%;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}
.order_time p{
    margin-top:0.28rem;
    font-size:0.26rem;

}
.order_time p:nth-last-child(1){
    margin-bottom:0.28rem;
}
.order_time p span{
    color:#bbbbbb;
}
.order_time p span:nth-child(2){
    padding-left:0.6rem;
}
.order_buttom{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:1rem;
    border-top:1px solid #eee;
    background:#fff;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
}
.order_buttom .buttom_fixd{
    border:1px solid #3d4245;
    border-radius:0.04rem;
    width:1.49rem;
    height:0.5rem;
    line-height: 0.5rem;
    text-align: center;
    display: inline-block;
    margin-right:0.31rem;
}
.order_buttom .buttom_fixd1{
    border:1px solid #3d4245;
    color: #3d4245;
}
.order_buttom .buttom_fixd2{
    border:1px solid #f3026a;
    color:#f3026a;
}
#slider.mui-fullscreen{
    z-index: 1;
}
/*弹出的问题*/
.showWrapper{
    overflow-y: scroll;
    width:100%;
    height:100%;
    position:absolute;
    background:#fff;
    left:0;
    top:0;
    z-index:2;
    -webkit-transition: left 0.5s;
}
.hideWrapper{
    overflow-y: scroll;
    width:100%;
    height:100%;
    position:absolute;
    background:#fff;
    left:-100%;
    top:0;
    bottom:0;
    z-index:2;
    -webkit-transition: left 0.5s;
}
/*详情页处理*/
.showWrapper1{
    overflow-y: scroll;
    width:100%;
    height:100%;
    position:fixed;
    background:#fff;
    left:0;
    top:0;
    bottom:0;
    z-index:2;
    -webkit-transition: left 0.5s;
}
.hideWrapper1{
    overflow-y: scroll;
    width:100%;
    height:100%;
    position:fixed;
    background:#fff;
    left:-100%;
    top:0;
    z-index:2;
    -webkit-transition: left 0.5s;
}
#div_action .head{
    width:100%;
    height:1rem;
    line-height:1rem;
    border:1px solid #eee;
    position:absolute;
    top:0;
    left:0;
    background:#fff;
}
/*.showWrapper1 .head{*/
    /*width:100%;*/
    /*height:1rem;*/
    /*line-height:1rem;*/
    /*border:1px solid #eee;*/
    /*position:fixed;*/
    /*top:0;*/
    /*left:0;*/
    /*background:#fff;*/
/*}*/
#div_action .head span:nth-child(1){
    font-size:0.2rem;
    color:#3d4245;
    padding-left:0.2rem;
}
#div_action .head span:nth-child(2){
    font-size:0.3rem;
    color:#ff4aa0;
    display: inline-block;
    width:80%;
    text-align:center;
    letter-spacing: 0.1rem;
}

#div_action .container table{
width:100%;
height:100%;
padding:0.2rem 0.2rem 0.2rem 0.5rem;
overflow-y: scroll;
overflow-x: hidden;
}
#div_action td{
font-size:0.26rem;
color:#bbbbbb;
line-height:0.3rem;
text-align:left;
padding:0.3rem 0.2rem 0.18rem 0.2rem;
}
#div_action td p{
margin-top:0.1rem;
font-size:0.28rem;
color:#3d4225;
line-height:0.36rem;
text-align:left;

}
#div_action tr:nth-last-child(1) td {
color:#ff4aa0;
}
#div_action tr:nth-last-child(1) td p{
color:#ff4aa0;
}

