/*全部订单页面*/
#sliderSegmentedControl{
    width:100%;
    height:0.91rem;
    background:#fff !important;
    border-bottom:1px solid #eee;
}
.order-control-item{
    display: inline-block;
    position:relative;
    font-size:0.3rem;
    color:#bbbbbb !important;
    line-height:0.7rem !important;
    height:0.9rem !important;

}
.order-control-item.mui-active{
    color:#ff4aa0 !important;
}
.order-control-item span{
    display: none;
    position:absolute;
    width:44%;
    height:0.06rem;
    background:#ff4aa0;
    left:28%;
    border-radius:0.04rem;
}
.order-control-item.mui-active span{
    display:block;
}
/*#order_Total .mui-slider-group{*/
    /*padding-top:0.4rem;*/
/*}*/
#order_Total .mui-slider-item{
    overflow-y: scroll !important;
}
#order_Total .mui-control-content{
    padding:0;
}
.order_menu_list{
    margin-top:0.4rem;
    margin-bottom:-0.2rem;
    background:#fff;
}
.order_menu_list .top{
    height:0.9rem;
    line-height:0.9rem;
}
.order_menu_list .top .left{
    font-size:0.28rem;
    color:#bbbbbb;
    margin-left:0.3rem;
}
.order_menu_list .top .status{
    font-size:0.28rem;
    color:#ff4aa0;
    margin-right:0.36rem;
}
.order_menu_list .goodsList .content{
    display: flex;
    -webkit-justify-content: flex-start;
    border-bottom:1px solid #eee;
}
.order_menu_list .goodsList .content .left{
    width:1.86rem;
    height:1.86rem;

}
.order_menu_list .goodsList .content .left img{
    width:1.23rem;
    height:1.23rem;
}
.order_menu_list .goodsList .content .right{
    position:relative;
    height:1.76rem;
}
.order_menu_list .goodsList .content .right .name{
    margin-top:0.29rem;
    width:5rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size:0.26rem;
    color:#3d4245;
    line-height:0.36rem;
    text-align:left;
}
.order_menu_list .goodsList .content .right .price{
    position:absolute;
    bottom:0.14rem;
    left:0;
}
.order_menu_list .goodsList .content .right .price .sellprice{
    font-size:0.34rem !important;
    color:#f3026a !important;
}
.order_menu_list .goodsList .content .right .price .num{
    font-size:0.28rem;
    color:#bbbbbb;
    padding-left:0.38rem;
}
.order_menu_list .orderToDo{
    height:1.03rem;
    line-height:1.03rem;
}
.order_menu_list .orderToDo .left{
    font-size:0.28rem;
    color:#3d4245;
    margin-left:0.3rem;
}
.order_menu_list .orderToDo .right .button{
    display: inline-block;
    border:1px solid #bbbbbb;
    border-radius:0.6rem;
    width:1.6rem;
    height:0.6rem;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.26rem;
    color:#bbb;
    margin-right:0.16rem;
}
.order_menu_list .orderToDo .right .button:nth-last-child(1){
    display: inline-block;
    border:none;
    background: #ff4aa0;
    border-radius:0.6rem;
    color: white;
    width:1.6rem;
    height:0.6rem;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.26rem;
    margin-right:0.26rem;
}
#container{
    background:#f8f8f8;
    overflow-y: scroll;
    padding-bottom:1rem;
}
#container td{
    font-size:0.26rem;
    color:#bbbbbb;
    line-height:0.3rem;
    text-align:left;
    padding:0.3rem 0.2rem 0.18rem 0.2rem;
}
#container td p{
    margin-top:0.1rem;
    font-size:0.28rem;
    color:#3d4225;
    line-height:0.36rem;
    text-align:left;

}
#container tr:nth-last-child(1) td {
    color:#ff4aa0;
}
#container tr:nth-last-child(1) td p{
    color:#ff4aa0;
}
.mui-bar-nav{
    box-shadow: 0 0 0 transparent;
}
.mui-bar .mui-icon{
    padding-top:10px !important;
}
.mui-bar-nav.mui-bar .mui-icon{
    margin-left:0 !important;
}
.nodata{
    background:#eee;
}
/*.empty_product img {*/
    /*width: 0.73rem !important;*/
    /*margin-top: 0.65rem;*/
/*}*/