ul,li{margin:0;padding:0;list-style: none;}
/*个人中心首页样式*/
.headBox{
	width:100%;
	height:3.1rem;
	background-image:url(../../image/index/bd@2x.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
	position:relative;
}
.headBox .whiteBack{
	width:1rem;
	height:1rem;
	background:#fff;
	border-radius:50%;
	position:absolute;
	left:0.28rem;
	bottom:0.31rem;
	z-index:2;
}
.whiteBack img{
	width:1rem;
	height:1rem;
	border: 0.02rem solid #fff;
	border-radius: 50%;
}
#nameLogn{
	width: 100px;
	height: 100px;
	position: absolute;
	width: 1.09rem;
	
	left: 1.51rem;
	bottom:0.4rem;
	z-index: 99;
}
.userName{
	/*background:#fff;
	display:-webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content:center;*/
	text-shadow: 1px 1px 1px black;
	font-size:0.3rem;
	color: white;
	font-size: 0.32rem;
	position: absolute;
	width: 1.09rem;
	height: 0.33rem;
	left: 0;
	bottom:0.10rem;
	z-index: 99;
}
#section-user-info .mui-table-view{
	background:#fff;
	font-size:0.3rem;
	height: 0.93rem;
	width: 100%;
}
.myOrders{
	background:#fff;
	margin-top:0.2rem;
	font-size:0.3rem;
}
.myOrders:before{
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0
    content: '';
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    background-color: #fff;
}
}
.myOrders li{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.ico-pull{
	color:#bbb;
}
.ico-pull span{
	color:#bbb;
}
.order{
	background:#fff;
	padding:0.2rem 0;
	border-bottom: 1px solid #eee;
}
.order img{
	width:0.5rem;
	height: 0.5rem;
}
.order .mui-media-body{
	font-size: 0.24rem;
}

/*订单详情页面样式*/
.topBox{position: relative;}
.orderDesc{background: #f3026a;width:100%;height:1.94rem;display: -webkit-flex;-webkit-flex-direction: row;-webkit-justify-content:center;-webkit-align-items:center;font-size: 0.4rem;color: #fff;}
.orderStatus01{background:#fff;width:100%;display: -webkit-flex;-webkit-flex-direction: row;-webkit-justify-content: space-around;padding-bottom:0.2rem;border-bottom:1px solid #eee;}
.outCircle{width:0.44rem;height:0.44rem;border-radius:50%;background:#fff;position:relative;top:-0.22rem;left:0.22rem;}
.inCircle{width:0.3rem;height:0.3rem;border-radius:50%;background:#f3026a;position:absolute;left:0.3rem;top:0.2rem;}
.orderStatus01  .outCircle{left:0.1rem;}
.orderStatus01  .outCircle{width:0.88rem;height:0.88rem;top:-0.44rem;left:0.11rem;}
.orderStatus01  .outCircle img{width:0.66rem;height:0.66rem;position: absolute;top:0.11rem;left:0.11rem;}
.orderStatus02{position:absolute;bottom:0.2rem;width:100%;display:-webkit-flex;-webkit-flex-direction: row;-webkit-justify-content: space-around;-webkit-align-items: center;}
.orderStatus02 li{font-size:0.3rem;color:#bbb;}
.orderStatus02 li.statusActive{color:#f3026a;}
.userInfo{background:#fff;border-top:1px solid #eee;border-bottom: 1px solid #eee;margin-top:0.2rem;padding-top:0.2rem;}
.userInfo p{margin-bottom:0.2rem;padding:0 0.2rem;font-size:0.28rem;color:#3d4245;}
.userInfo p span:first-child{color:#bbb;}
.userInfo p .telNum{float:right;}
.goodsInfo{margin-top:0.2rem;border-top:1px solid #eee;border-bottom:1px solid #eee;overflow: hidden;}
.goodsInfo p:first-child{color:#f3026a;font-size: 0.24rem;text-align: right;background:#fff;padding:0.2rem 0.2rem;margin-bottom:0.2rem;}
.goodsList{width:100%;padding:0.1rem 0.2rem;float:left;}
.goodsList li{width:33.333%;float:left;}
.goodsList li img{width:1.6rem;height:1.6rem;}
.goodsList .goodsDesc p{color:#3d4245;font-size:0.24rem;text-align:left;background:transparent;padding:0;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.goodsList .goodsDesc p:last-child{color:#bbb;}
.goodsList .goodsPrice p{font-size:0.28rem;text-align:right;color:#f3026a;background:transparent;padding:0;}
.goodsList .goodsPrice p:last-child{color:#bbb;}
.showMore{display: -webkit-flex;-webkit-flex-direction: row;-webkit-justify-content: center;width:100%;padding:0.1rem 0;}
.showMore span{background:#fff;padding:0.2rem;font-size:0.26rem;color:#3d4245;}
.priceBox{padding:0 0.2rem;clear: both;background:#fff;}
.priceBox p{background:transparent;padding:0;text-align: left;padding:0.2rem;}
.priceBox p:first-child{text-align:left;padding:0;padding:0.2rem;margin:0;border-bottom:1px solid #eee;}
.priceBox p span{color:#bbb;}
.priceBox p span:last-child{float:right;color:#f3026a;}
.priceBox p:first-child span:last-child{float:right;color:#3d4245;}
.orderInfo{background:#fff;margin-top:0.2rem;border-top:1px solid #eee;border-bottom:1px solid #eee;padding:0.2rem 0.2rem 0;}
.orderInfo p{padding-bottom: 0.2rem;}
.orderInfo p span{color:#bbb;font-size:0.26rem;display:inline-block;}
.orderInfo p span:last-child{margin-left:0.4rem;}
.buttonBox{background:#fff;margin-top:0.2rem;display:-webkit-flex;-webkit-flex-direction:row;-webkit-justify-content: flex-end;padding:0.2rem 0;}
.butt{width:20%;border:1px solid #3D4245;border-radius: 4px;margin:0 0.2rem;text-align:center;font-size:0.24rem;
padding:0.1rem 0.2rem;}
.buttonBox .butt:last-child{border-color: #f3026a;color:#f3026a;}


.mui-navigate-right:after{
	display: none;
	font-family: Muiicons;
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    display: inline-block;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    text-decoration: none;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
}
.myOrders{
	margin-top:0 ;
}
.mui-icon-arrowright{
	font-size: 0.35rem;
}