@charset "utf-8";
@font-face {
  font-family: 'ArialUnicodeMS';
  src:url(../../font/arialunicodems.ttf)) format('truetype'); /* chrome、firefox */
}
@font-face {
  font-family: 'HelveticaNeueLt';
  src:url(../../font/HelveticaNeueLt.ttf)  format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {
  font-family: 'WickedMouseDemo';
  src:url(../../font/WickedMouseDemo.otf)  format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
ul li{padding:0;margin:0;list-style:none;}
header{background:#000;color:#fff;text-align:center;font-size:0.36rem;height:0.72rem;line-height:0.72rem;}
header span{color:#fff;float:left;margin-top:0.1rem;}
#carousel{background:#fff;}
.goodsTitle{padding:0 0.29rem 0 0.21rem;background:#fff;overflow:hidden;}
.goodsTitle span:first-child{font-size:0.32rem;color:#3d4245;letter-spacing:0.6px;line-height:35px;text-align:left;white-space: nowrap;width:100%;overflow: hidden;text-overflow: ellipsis;}
.titleIcon{float:right;}
.titleIcon img:first-child{width:1.2rem;height:0.55rem;}
.titleIcon img:last-child{width:0.6rem;height:0.6rem;margin-left:0.24rem;}
.salePrice{padding:0 0.29rem 0 0.21rem;background:#fff;}
.bargainPrice{font-family:WickedMouseDemo;font-size:0.34rem;color:#fff900;letter-spacing:0px;text-align:left;text-shadow: 0.03rem 0.03rem 0 #0104f0, 0.03rem -0.03rem 0 #0104f0, -0.03rem -0.03rem 0 #0104f0, -0.03rem 0.03rem 0 #0104f0, 0.03rem 0.02rem 0 #0104f0, 0.03rem -0.02rem 0 #0104f0, -0.03rem -0.02rem 0 #0104f0, -0.03rem 0.02rem 0 #0104f0, 0.03rem 0.01rem 0 #0104f0, 0.03rem -0.01rem 0 #0104f0, -0.03rem -0.01rem 0 #0104f0, -0.03rem 0.01rem 0 #0104f0, 0.03rem 0px 0 #0104f0, 0.03rem 0px 0 #0104f0, -0.03rem 0px 0 #0104f0, -0.03rem 0px 0 #0104f0, 0.02rem 0.03rem 0 #0104f0, 0.02rem -0.03rem 0 #0104f0, -0.02rem -0.03rem 0 #0104f0, -0.02rem 0.03rem 0 #0104f0, 0.02rem 0.02rem 0 #0104f0, 0.02rem -0.02rem 0 #0104f0, -0.02rem -0.02rem 0 #0104f0, -0.02rem 0.02rem 0 #0104f0, 0.02rem 0.01rem 0 #0104f0, 0.02rem -0.01rem 0 #0104f0, -0.02rem -0.01rem 0 #0104f0, -0.02rem 0.01rem 0 #0104f0, 0.02rem 0px 0 #0104f0, 0.02rem 0px 0 #0104f0, -0.02rem 0px 0 #0104f0, -0.02rem 0px 0 #0104f0, 0.01rem 0.03rem 0 #0104f0, 0.01rem -0.03rem 0 #0104f0, -0.01rem -0.03rem 0 #0104f0, -0.01rem 0.03rem 0 #0104f0, 0.01rem 0.02rem 0 #0104f0, 0.01rem -0.02rem 0 #0104f0, -0.01rem -0.02rem 0 #0104f0, -0.01rem 0.02rem 0 #0104f0, 0.01rem 0.01rem 0 #0104f0, 0.01rem -0.01rem 0 #0104f0, -0.01rem -0.01rem 0 #0104f0, -0.01rem 0.01rem 0 #0104f0, 0.01rem 0px 0 #0104f0, 0.01rem 0px 0 #0104f0, -0.01rem 0px 0 #0104f0, -0.01rem 0px 0 #0104f0, 0px 0.03rem 0 #0104f0, 0px -0.03rem 0 #0104f0, 0px -0.03rem 0 #0104f0, 0px 0.03rem 0 #0104f0, 0px 0.02rem 0 #0104f0, 0px -0.02rem 0 #0104f0, 0px -0.02rem 0 #0104f0, 0px 0.02rem 0 #0104f0, 0px 0.01rem 0 #0104f0, 0px -0.01rem 0 #0104f0, 0px -0.01rem 0 #0104f0, 0px 0.01rem 0 #0104f0, 0px 0px 0 #0104f0, 0px 0px 0 #0104f0, 0px 0px 0 #0104f0, 0px 0px 0 #0104f0, 0 0 0 #0104f0;}
.salePrice span:nth-child(2){font-size:0.26rem;color:#bbb;margin-left:0.52rem;}
.salePrice span:last-child{font-family:HelveticaNeueLt;color:#bbb;font-size:0.26rem;}
.postMethod{padding:0 0.13rem;overflow:hidden;background:#fff;}
.postMethod ul{border-top:1px solid #eee;float:left;width:100%;margin:0.2rem 0;padding-top:0.2rem;}
.postMethod ul li{float:left;font-size:0.26rem;color:#bbb;margin-right:0.2rem;height:0.32rem;line-height:0.32rem;text-align:center;}
.postMethod ul li:first-child img{margin-right:0.1rem;width:0.41rem;height:0.2rem;}
.postMethod ul li:nth-child(2) img{vertical-align:top;margin-right:0.1rem;width:0.32rem;height:0.32rem;}
.postMethod ul li:last-child{float:right;}
.postMethod ul li:last-child span{font-size:0.32rem;color:#bbb;}
.relatedContent{background:#fff;margin-top:0.3rem;padding:0 0.13rem;border-top:1px solid #eee;border-bottom:1px solid #eee;}
.relatedContent .title{font-size:0.32rem;padding:0.2rem 0;border-bottom:1px solid #eee;}
.contentInfo{padding:0.2rem 0;}
.contentInfo .info01{display:inline-block;}
.contentInfo .info01 img{width:2.49rem;height:1.26rem;}
.contentInfo .info02{display:inline-block;margin-left:0.2rem;}
.contentInfo .info02 p:first-child{font-size:0.26rem;color:#3d4245;letter-spacing:0px;}
.contentInfo .info02 p:nth-child(2){font-size:0.26rem;color:#bbbbbb;letter-spacing:0px;margin-top:0.1rem;}
.contentInfo .info02 p:last-child{font-size:0.22rem;color:#bbb;margin-top:0.2rem;}
.contentInfo .info02 p:last-child img{width:0.32rem;height:0.19rem;margin-right:0.3rem;}
.evaluateBox{padding:0.1rem 0.13rem;background:#fff;margin-top:0.2rem;border-top:1px solid #eee;border-bottom: 1px solid #eee;;}
.evaluateBox .title01{font-size:0.3rem;color:#3d4245;overflow:hidden;padding:0.1rem 0;}
.evaluateBox .title01 div{float:right;margin-right:0.2rem;}
.evaluateBox .title01 div span{font-size:0.24rem;color:#bbb;}
.evaluateBox .title01 div span:last-child{font-size:0.32rem;}
.concreteContent{border-top:1px solid #eee;padding:0.1rem 0;}
.concreteContent div p:first-child{height:0.6rem;line-height:0.6rem;}
.concreteContent div p:first-child img{width:0.6rem;height:0.6rem;vertical-align:middle;margin-right:0.2rem;}
.concreteContent div p:first-child span{float:right;color:#bbb;font-size:0.26rem;margin-right:0.3rem;}
.concreteContent div p:last-child{margin-top:0.2rem;color:#3d4245;font-size:0.26rem;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.graphicDetailsBox{background:#fff;margin-top:0.2rem;border-top: 1px solid #eee;border-bottom: 1px solid #eee;padding:0 0.13rem 0.2rem;}
.graphicDetailsBox .title01{font-size:0.3rem;color:#3d4245;padding:0.1rem 0 0.2rem;border-bottom: 1px solid #eee;}
.graphicDetailsBox .title01 div{font-size:0.24rem;color:#bbb;float:right;}
.graphicDetailsBox .title01 div span:first-child{color:red;}
.graphicDetailsBox .title01 div span:last-child{color:#bbb;font-size:0.32rem;}
.graphicDetailsBox .title02{padding:0.2rem 0;font-size:0.28rem;color:#3d4245;}
.goodDetail{color:#bbb;font-size:0.28rem;}
.goodImg{width:7rem;height:5.9rem;}
.brand{position: relative;overflow: hidden;}
.brandBox{width:1rem;height:1rem;background-image:url(../../image/jmj/img/brandBox.png);background-repeat: no-repeat; background-size:100% 100%;position: relative;margin-top:0.2rem;display: inline-block;}
.brandBox img{width:0.91rem;height:0.32rem;position:absolute;top:35%;left:4%;}
.brandDetail{position:absolute;top:0.3rem;left:1.2rem;}
.brandDetail p:first-child{color:#3d4245;font-size: 0.28rem;margin-bottom:0.1rem;}
.brandDetail p:last-child{color:#bbb;font-size: 0.26rem;}
/*覆盖mui样式*/
.mui-slider-indicator.mui-segmented-control{background:#fff;}
.mui-segmented-control.mui-scroll-wrapper{height:3.5rem;}
.mui-segmented-control.mui-scroll-wrapper .mui-scroll{height:3.5rem;}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item{padding:0.125rem 0;}

.goodsList{width:100%;height:6rem;}
.goodsList div{font-size:0.24rem;}
.goodsList div img{width:1.8rem;height:1.8rem;}
.goodsList div p:first-child{color:#3d4245;}
.goodsList div p:last-child{color:#fe0000;}
.servicePromise{background:#fff;margin-top:0.2rem;padding:0 0.13rem;border-top: 1px solid #eee;overflow:hidden;}
.servicePromise p:first-child{padding:0.1rem 0;font-size:0.3rem;color:#3d4245;border-bottom: 1px solid #eee;}
.servicePromise ul{width:100%;float:left;padding:0.3rem 0;}
.servicePromise ul li{width:33.333%;float:left;text-align:center;}
.servicePromise ul li img{width:0.64rem;height:0.64rem;}
.servicePromise ul li p{color:#bbb;font-size: 0.28rem;}
.footerBox{clear:both;width:100%;float:left;overflow: hidden;}
.footerBox div{width:50%;float:left;font-size:0.34rem;text-align: center;height:1.2rem;line-height: 1.2rem;}
.footerBox div:first-child{color: #ff4aa0;}
.footerBox div:last-child{color:#fff;background:#ff4aa0;}

/*弹出框样式*/
#serviceDescription{background:#fff;width: 100%;}
#serviceDescription div:first-child{padding:0.2rem 0;text-align: center;font-size:0.32rem;position: relative;}
#serviceDescription div:first-child span{position: absolute;right:0.2rem;}
.mui-active {color:#3d4245 !important;}
.descContent{padding:0.13rem 0.2rem;border-top: 1px solid #eee;}
.descContent p:first-child img{width:0.41rem;height: 0.2rem;margin-right:0.22rem;}
.descContent p:last-child{padding:0.2rem 0.2rem 0.2rem 0.7rem;}
#serviceDescription .descContent:last-child p:first-child img{width:0.3rem;height:0.3rem;}
