/*轮播图样式*/
ul li{
    list-style: none;
}
/*覆盖mui样式*/
.mui-slider-indicator.mui-segmented-control{background:#fff !important;}
.mui-segmented-control.mui-scroll-wrapper{height:3.5rem;}
.mui-segmented-control.mui-scroll-wrapper .mui-scroll{height:3.5rem;}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item{padding:0.125rem 0;}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{border:none;}
 .leftlog{
    position:absolute;
    width:1.4rem;
    height:0.81rem;
    z-index:2;
     left:0.4rem;
     top:0.6rem;
}
.bottomlog{
    position:absolute;
    width:2.09rem;
    height:1.72rem;
    z-index:2;
    right:0.1rem;
    bottom:0.30rem;
}
#carousel{background:#fff}
#carousel img{
    width:6rem;
    height:6rem;
    margin:0.75rem;
}
.mui-slider-indicator .mui-indicator{
    margin:0.1rem 0.1rem 0 0;
}
.mui-slider-indicator .mui-indicator:nth-child(1){
    margin-left:0.1rem;
    margin-right:0.03rem !important;
}
/*商品简介样式*/
#goods_detaile{
    background:#fff;
}
#goods_detaile .top .head_logo img{
    width:0.53rem;
    margin:0.1rem 0.05rem 0 0.2rem;
}
#goods_detaile .top .name{
    width:5rem;
    font-size:0.32rem;
    color:#3d4245;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-left:0.3rem;
}
#goods_detaile .top img{
    width:1.2rem;
    margin-right:0.25rem;
}
#goods_detaile .mark{
    margin-top:0.1rem;
    font-size:0.3rem;
    color:#3d4245;
    letter-spacing:0.0056rem;
    line-height:0.35rem;
    margin-left:0.35rem;
}
#goods_detaile .price{
    margin-top:0.2rem;
    padding:0 0.2rem;
}
#goods_detaile .price .sell img{
    width:0.79rem;
    vertical-align: middle;
    display:inline-block;
}
#goods_detaile .price .other_price{
    width:4.5rem;
    line-height:0.54rem;
}
#goods_detaile .price .other_price span{
    font-size:0.26rem;
    color:#bbbbbb;
    display:inline-block;
    width:2.2rem;
}
#goods_detaile .price .other_price .japen img{
    position:relative;
    top:0.1rem;
}
.graphicDetailsBox{background:#fff;margin-top:0.2rem;border-top: 1px solid #eee;border-bottom: 1px solid #eee;padding:0 0.13rem;}
.graphicDetailsBox .title01{font-size:0.3rem;color:#3d4245;padding:0.1rem 0 0.2rem;border-bottom: 1px solid #eee;}
.graphicDetailsBox .title01 div{font-size:0.24rem;color:#bbb;float:right;}
.graphicDetailsBox .title01 div span:first-child{color:red;}
.graphicDetailsBox .title01 div span:last-child{color:#bbb;font-size:0.32rem;}
.graphicDetailsBox .title02{padding:0.2rem 0;font-size:0.28rem;color:#3d4245;}
.goodDetail{color:#bbb;font-size:0.28rem;}
.goodImg{width:7rem;height:5.9rem;}
.brand{position: relative;overflow: hidden;}
.brandBox{width:1rem;height:1rem;background-image:url(../../image/jmj/img/brandBox.png);background-repeat: no-repeat; background-size:100% 100%;position: relative;margin-top:0.2rem;display: inline-block;}
.brandBox img{width:0.91rem;height:0.32rem;position:absolute;top:35%;left:4%;}
.brandDetail{position:absolute;top:0.3rem;left:1.2rem;}
.brandDetail p:first-child{color:#3d4245;font-size: 0.28rem;margin-bottom:0.1rem;}
.brandDetail p:last-child{color:#bbb;font-size: 0.26rem;width:3rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}


.goodsList{width:100%;height:6rem;}
.goodsList .mui-control-item img{width:1.8rem;height:1.8rem;}
.goodsList .mui-control-item p{color:#3d4245;font-size:0.24rem;width:2rem;overflow: hidden;text-overflow: ellipsis;}
.goodsList .mui-control-item p:last-child{color:#fe0000;}
.servicePromise{background:#fff;margin-top:0.2rem;padding:0 0.13rem;border-top: 1px solid #eee;overflow:hidden;height:3.5rem;}
.servicePromise p:first-child{padding:0.1rem 0;font-size:0.3rem;color:#3d4245;border-bottom: 1px solid #eee;}
.servicePromise ul{
    display:-webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    flex-wrap: nowrap;
}
.servicePromise ul li{
    flex:1;
    text-align: center;
}
.servicePromise ul li img{
    margin-top:0.4rem;
    width:0.7rem;
}
.servicePromise ul li p{
    font-size:0.24rem;
    margin-top:0.14rem;
    color:#bbb;
}
.tips{
    height:4.5rem;
    width:100%;
    overflow-x: hidden;
    display: -webkit-flex;
    /*align-items: center;*/
    justify-content: center;
    padding-bottom:2rem;
    background:#fff;
}
.tips img{
    width:7.25rem;
    height:2.34rem;
}
#goodsContent{
    font-size:0.28rem;
    color:#3d4245;
    text-align:justify;
}
.footerBox{
    position:fixed;bottom:0;z-index:2;
    display:inline-flex;
    width:100%;
    -webkit-justify-content: flex-start;
}
.footerBox div{
    flex:1;
}
.joinButton{
    min-width:3rem;
}
.buyBottom{
    min-width:3rem;

}
.footerBox .collection{
    border-top:0.01rem solid #eee;
    height:1rem;
    background:#fff;
    font-size:0.24rem;
    color:#979797;
    display:-webkit-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footerBox .collection img{
    margin-top:0.2rem;
    width:0.4rem;
}
.footerBox .collection span{
    display:inline-block;
    width:100%;
    text-align:center;
    color:#979797;
}
.footerBox #joinButton{
    display:block;
    min-width:3rem;
    background:#eee;
    color:#ff4aa0;
    font-size:0.3rem;text-align: center;height:1rem;line-height: 1rem;
}
.footerBox #buyBottom{
    display:block;
    min-width:3rem;
    background:#f3026a;
    color:#fff;
    font-size:0.3rem;text-align: center;height:1rem;line-height: 1rem;
}




/*弹出框样式*/
#serviceDescription{background:#fff;width: 100%;}
#serviceDescription div:first-child{padding:0.2rem 0;text-align: center;font-size:0.32rem;position: relative;}
#serviceDescription div:first-child span{position: absolute;right:0.2rem;}
.mui-active {color:#3d4245 !important;}
.descContent{padding:0.13rem 0.2rem;border-top: 1px solid #eee;}
.descContent p:first-child img{width:0.3rem;height: 0.3rem;margin-right:0.22rem;}
.descContent p:first-child span{font-size: 0.28rem;}
.descContent p:last-child{padding:0.2rem 0.2rem 0.2rem 0.6rem;font-size: 0.26rem;}
#serviceDescription .descContent:last-child p:first-child img{width:0.3rem;height:0.3rem;}
