.homeHeader{
    position:relative;
}
.nav-header{
    height:1.2rem;
    padding:0.3rem 0;
    width:100%;
    background:#ff4aa0 !important;
}
.mui-search {
    background:#fff !important;
    border-radius:0.32rem !important;
    width:5.16rem;
    height:0.64rem;
    margin-left:1.17rem;
    z-index:23;
}
.mui-search.mui-active:before{
    color:#ff4aa0 !important;
}
.mui-icon-search:before{
    color:#ff4aa0 !important;
}
.left-icon{
    display:inline-block;
    position:absolute;
    top:0.15rem;
    left:1.1rem;
    z-index:1;
}
.img-flower{
    width:0.77rem;
    position:absolute;
    top:0.07rem;
    right:1.0rem;
    z-index:100;
}
.right-icon{
    display:inline-block;
    position:absolute;
    top:0.15rem;
    right:1.06rem;
    z-index:1;
}
.mui-search .right-icon{

}
input[type='search']{
    background:#fff !important;
    height:0.64rem !important;
}
.mui-icon-search:before{
    color:rgba(255,255,255,0.5);
    position:relative;
    right:0.27rem;
    top:0.04rem;
    /*width:0.2rem !important;;*/
    /*height:0.2rem !important;*/
    font-size:0.4rem;
}
.mui-icon-search:after{
    color:rgba(255,255,255,0.5);
    position:absolute;
    top:0.17rem;
    right:0.63rem;
}
.mui-input-row.mui-active {
    color:rgba(255,255,255,0.5) !important;
}
.mui-search span:nth-child(2){
    margin-top:0.02rem;
    color:#ff44a0;
    font-size:0.28rem;
}
/*首页导航样式*/
#nav-slider{
    height:1.23rem;
    background:#fff;
}
#nav-slider #Control{
    height:1.23rem;
}
#nav-slider .mui-scroll-wrapper{
    background:#fff !important;
}
#nav-slider .mui-scroll{
    height:1.23rem;

}
#nav-slider .mui-control-item{
    height:1.23rem;
}
#nav-slider .mui-control-item{
    position:relative;
    display:inline-block;

}
#nav-slider .mui-control-item img{
    z-index:2;
    width:0.6rem;
    display: block;
}
#nav-slider .mui-control-item .text{
    position:relative !important;
    z-index:9;
    font-size:0.24rem;
    color:#979797;
    top:-0.1rem;
}
.mui-control-item .bg{
    z-index:1 !important;
    width:100%;
    height:60%;
    display:none;
    position:absolute;
    background:url('../../image/jmj/icon/button.png');
    background-size:100% 100%;
    bottom:-0.3rem;
    left:0.1rem;
}
.mui-scroll-wrapper{
    background:#f8f8f8 !important;
}
.mui-control-item.mui-active .text{
    color:#ff44a0 !important;
    z-index:9;
}
.mui-control-item.mui-active .bg{
    display:block;
    z-index:2 !important;
}

/*分类样式*/
#left-scroll{
    width:2.19rem;
    margin:1.2rem 0 1.01rem 0;
    padding-right:0.19rem;
    background:#fff !important;
}

#left-scroll li{
    background:#f8f8f8;
    width:2rem;
    height:1rem;
}
#left-scroll li .icon{
    width:0.5rem;
    height:0.5rem;
}
#left-scroll li .content{
    position:relative;
    height:1rem;
    border-bottom:0.01rem solid #eee;
}
#left-scroll li.active{
    background:#fff;
    border-bottom:0.01rem solid transparent;
}
#left-scroll li img{
    margin-top:0.25rem;
    display:inline-block;
}
#left-scroll li.active .bg{
    display:block;
    color:#ff4aa0;
}
#left-scroll li.active .name{
    display:inline-block;
    color:#ff4aa0;
}
#left-scroll li .name{
    /*margin:0.1rem 0;*/
    display:inline-block;
    margin-bottom:0.1rem;
    font-size:0.26rem;
    color:#3d4225;
    width:1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#left-scroll li .bg{
    display:none;
    text-align:center;
    background:#ff4aa0;
    border-radius:0.06rem;
    width:90%;
    height:3px !important;
    position:relative;
    left:5%;
    bottom:-0.1rem;
}
#right-scroll{
    width:5.28rem;
    background:#fff !important;
    margin:1.2rem 0.03rem 1rem 2.19rem;
}
#right-scroll .banner img{
    margin-top:0.18rem;
    width:5.20rem;
    min-height:1.54rem;
}
#right-scroll .S_classification{
    display:flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}
#right-scroll .S_classification .type{
    width:31%;
    margin-right:2%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#right-scroll .S_classification .type .img{
    margin-top:0.12rem;
    width:1.54rem;
    height:1.54rem;
}
#right-scroll .S_classification .type img{
    width:auto;
    height:1.54rem;
}
#right-scroll .S_classification .type .name{
    font-size:0.26rem;
    color:#3d4245;
    width:1.56rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align:center;
    margin:0.14rem 0;
}
/*三级分类页面*/
body{
    background:#f8f8f8;
}
#category_third{
    display:-webkit-flex;
    -webkit-flex-wrap:wrap;
    -webkit-justify-content: flex-start;
    margin:0.3rem 0.1rem 0 0.19rem;

}
#category_third .product_item{
    background:#ffffff;
    border-radius:0.2rem;
    width:3.5rem;
    height:5.32rem;
    margin-right:0.09rem;
    margin-bottom:0.2rem;
}
#category_third .product_item img{
    width:3.5rem;
    height:3.5rem;
    border-radius:0.2rem 0.2rem 0 0;
    border-bottom:0.01rem solid #eee;
}
#category_third .product_item .name{
    margin-top:0.1rem;
    font-size:0.28rem;
    color:#3d4245;
    line-height:0.33rem;
    width:3.3rem;
    display:inline-block;
    padding:0 0.1rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#category_third .product_item .sellprice{
    margin-top:0.1rem;
    display:block;
    padding-left:0.1rem;
}
#category_third .product_item .openprice{
    margin-top:0.1rem;
    font-family:'HelveticaNeueLt';
    font-size:0.26rem;
    color:#bbb;
    letter-spacing:0;
    padding-left:0.1rem;
}
