body{
    background:#f5f5f5;
}
/*	视频顶部导航	*/
.headnav{
    background:#fff;
    height:2rem;
    width:100%;
    overflow: hidden;
}
.headnav .mart{
	width: 100%;
	overflow: hidden;
	height: 1.8rem;
}
.headnav ul{
    width:100%;
    overflow-x:scroll ;
    height: 2rem;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-flex-wrap: nowrap;
}
.headnav li{
	margin-left: 0.18rem;
    list-style: none;
    width: 2.88rem;
    height: 1.7rem;
}
.headnav li.active{
    color:#ff5959;
    border-bottom:3px solid #ff5959 ;
}
#vedioList .content{
    margin-top:0.2rem;
    background:#f5f5f5;
}
#vedioList .content .item{
    width:100%;
    height:3.9rem;
    background: #fff;
    padding-top:0.31rem ;
    /*padding:0.2rem 0.2rem 0;*/
   margin-top: 0.1rem;
}
#vedioList .content .item .img{
    position: relative;
    width:100%;
    height:2.8rem;
    border-radius:0.1rem ;

}
#vedioList .content .item .img .bgimg{
    position:relative;
    z-index:1;
}
#vedioList .content .item .img .bg{
    top:0;
    left:50%;
    margin-left: -3.55rem;
    position: absolute;
    background:rgba(0,0,0,.2);
    z-index:2;
    width:7.1rem;
    height:2.8rem;
    border-radius:0.1rem ;
}
#vedioList .content .item .img .play{
    width:0.88rem;
    height:0.88rem;
    position:absolute;
    top:0.96rem;
    left:3.11rem;
    z-index:4
}
#vedioList .content .item .img .dis{
    width:7.1rem;
    /*padding:0 0.2rem;*/
    /*font-size:0.32rem;*/
   height: 0.76rem;
   position: relative;
   display: -webkit-flex;
   -webkit-align-items: center;
}
#vedioList .content .item .img .dis .distribution{
    width:5.3rem;
    color:#1f1f1f;
    font-size:0.28rem;
    padding-left:0.2rem;
}
#vedioList .content .item .img .dis .watch {
    /*width:1.2rem;*/
    padding-right:0.3rem;
    height:0.32rem;
    border-radius: 0.05rem;
    background:rgba(0,0,0,.3);
    position: relative;
}
#vedioList .content .item .img .dis .watch img{
    position:relative;
    left:0.1rem;
    top:-0.02rem;
}
#vedioList .content .item .img .dis .watch span{
    font-size:0.2rem;
    color:#fff;
    line-height: 0.32rem;
    position: relative;
    top: -0.02rem;
    left: 0.15rem;
}
.collection{
    position: absolute;
    top:0.2rem;
    right:0.4rem;
    height:0.32rem;
    line-height:0.32rem;
    z-index:4
}
.collection img{
    vertical-align: middle;
}
.collection span{
    font-size:0.24rem;
    color:rgba(255,255,255,0.5);
    position:relative;
    top:0.03rem;
}
/*视频详情页面样式*/
.detail_header{
    background:#fff;
    margin-top:-0.05rem;
    height:1.1rem;
    margin-bottom:0.2rem;
}
.detail_header .left{
    padding:0.2rem;
}
.detail_header .left .p1{
    font-size:0.32rem;
    color:#4d4d4d;
    width:6rem;
}
.detail_header .left .p2{
    font-size:0.24rem;
    color:#999;
    width:6rem;
    line-height:0.38rem;
}
.detail_header .right{
   margin:0.2rem 0;
    width:1rem;
    border-left:1px solid #e6e6e6;
}
.detail_header .right .num{
    width:100%;
    text-align: center;
    font-size:0.24rem;
    position: relative;
    top:-0.05rem;
}
.goods_list{
    background:#fff;
}
.goods_list .title{
    font-size:0.28rem;
    color:#4d4d4d;
    height:0.64rem;
    line-height:0.64rem;
    border-bottom:1px solid #eee;
    padding-left:0.2rem;
}
.goods_list .item .img{
    width:1.8rem;
    height:1.8rem;
    margin:0.2rem;
}
.goods_list .item  .right{
    width:5.2rem;
    margin-top:0.3rem;
}
.goods_list .item  .right h5{
    color:#4d4d4d;
    font-size:0.28rem;
    height:0.7rem;
    line-height: 0.35rem;
}
.goods_list .item  .right .price{
    padding-top:0.2rem;
    width:3.9rem;
}
.goods_list .item  .right .buy{
    width:1.2rem;
    height:0.56rem;
    line-height:0.56rem;
    font-size:0.28rem;
    text-align: center;
    color: #ff5959;
    border:1px solid #ff5959;
    border-radius:0.05rem;
}
.relateList{
    margin-top:0.2rem;
}
.relateList .title{
    font-size:0.28rem;
    color:#4d4d4d;
    height:0.64rem;
    line-height:0.64rem;
    padding-left:0.2rem;
    background:#fff;
}
.relateContainer{
    margin-top:0.08rem;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-between;
}
.relateContainer .item{
    margin-bottom:0.08rem;
    width:3.712rem;
    background:#fff;
}
.relateContainer .item .img{
    width:3.712rem;
    height:3.712rem;
}
.relateContainer .item .name{
    padding:0 0.2rem;
    height:0.7rem;
    line-height:0.35rem;
    font-size:0.28rem;
    color:#4d4d4d;
}
.relateContainer .item .price{
    padding:0 0.2rem 0.2rem;
}
#vedioList .contents{
	background: #f5f5f5;
}


/*改版*/
.banner{
	margin-top: 0.2rem;
	width: 100%;
	height: 1rem;
	background: #fff;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}
.banner img{
	width: 0.4rem;
}
.banner p{
	margin-left: 0.12rem;
	font-size:0.32rem;
	color:#1f1f1f;
}
/*空商品样式*/
.empty_product img{
  width:0.73rem;
  margin-top:0.65rem;
}
.empty_product .content{
  margin-top:0.25rem;
  margin-bottom:0.65rem;
  width:100%;
  text-align:center;
  font-size:0.28rem;

}
.empty_product .content span{
  color:#bbbbbb;
}