<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>新增收货地址</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.picker.min.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.poppicker.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/style.min.css" />

</head>
<body>
<!--loading页开始-->
<div id="loading">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
<!--loading页结束-->
<!--购物车界面-->
    <div id="addressNew">
        <div class="inputName">
            <input type="text"  placeholder="输入收货人的姓名" id="username" onblur=check()>
        </div>
        <div class="inputContent">
            <input type="text"  placeholder="输入手机号"  id="userphone" onchange=checkPhone()>
            <input type="text"  placeholder="选择城市"  id="usercity">
            <input type="text"  placeholder="详细收货地址"  id="useraddr" onblur=check()>
            <input type="text" class="mui-input-clear" placeholder="邮编"  id="useryoubian" onblur=check()>
        </div>
    </div>
<footer>
    <div id="footer-fixed">
        <div class="add_newAddrSub">
            <button id="submitAdd" disabled="disabled" class="submitAdd">保存</button>
        </div>
    </div>
</footer>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/mui.picker.min.js"></script>
<script src="/views/mobile/javascript/mui.poppicker.js"></script>
<script src="/views/mobile/javascript/city.data-3.js" type="text/javascript" charset="utf-8"></script>
<script>
    mui.init();
    var pro,cit,are;
    $(window).load(function(){
        $("#loading").fadeOut(300);

    })

    var cityPicker3 = new mui.PopPicker({
        layer: 3
    });
    cityPicker3.setData(cityData3);
    var showCityPickerInput = document.getElementById('usercity');
    showCityPickerInput.onfocus=function(event) {
        cityPicker3.show(function(items) {
            showCityPickerInput.value = (items[0] || {}).text + " " + (items[1] || {}).text + " " + (items[2] || {}).text;
            //返回 false 可以阻止选择框的关闭
            pro=(items[0] || {}).value;
            cit=(items[1] || {}).value;
            are=(items[2] || {}).value;
            //return false;
            console.log(pro);
        });
    }
    //  获取登录的表单信息
    var username=document.getElementById("username");
    var phone=document.getElementById("userphone");
    var address=document.getElementById("useraddr");
    var useryoubian=document.getElementById("useryoubian");
    var submitaddr=document.getElementById("submitAdd");
    submitaddr.addEventListener('tap',function(){
        var addaddressInfo={
            accept_name:username.value,
            province:pro,
            city:cit,
            area:are,
            address:address.value,
            mobile:phone.value,
            zip:useryoubian.value
        };
            var self=this;
            mui.ajax('index.php?controller=apic&action=address_add',{
                data:addaddressInfo,
                dataType:'json',	// 服务器返回json格式数据
                type:'post',		// HTTP请求类型
                timeout:10000,		// 超时时间设置为10秒；
                success:function(data){
                    document.location.href="{url:/simple/addresslist}";
                },
                error:function(xhr,type,errorThrown){
                    //异常处理；
                    console.log(type);
                    alert("failed");
                }
            });

    });
    function checkPhone(){
        var phone = document.getElementById('userphone').value;
        if(!(/^1[34578]\d{9}$/.test(phone))){
            mui.alert('', '请输出正确的电话号码');
            document.getElementById('userphone').value="";
            return false;
        }
    }
    function check(){
        if(username.value&&address.value&&phone.value&&showCityPickerInput.value){
            submitaddr.disabled='';
        }else{
            submitaddr.disabled='disabled';
        }
    }
</script>
</body>
</html>