<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>新增收货地址</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=1483685603" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=1483685603" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/icons-extra.css?v=1483685603" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css?v=1483685603" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.picker.min.css?v=1483685603" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.poppicker.css?v=1483685603" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/style.min.css?v=1483685603" />
</head>
<body>
   <div id="addAddress">
       <div id="addressNew">
           <div class="inputName">
               <input type="text" class="mui-input-clear" v-model="info.accept_name" placeholder="输入收货人的姓名" id="username" >
           </div>
           <div class="inputContent">
               <input type="number" class="mui-input-clear" v-model="info.mobile" placeholder="输入手机号"  id="userphone" >
               <input type="text" class="mui-input-clear" v-model="info.text" placeholder="选择城市"  id="usercity" @focus="checkCity" >
               <input type="text" class="mui-input-clear"v-model="info.address" placeholder="详细收货地址"  id="useraddr" >
               <input type="text" class="mui-input-clear" v-model="info.zip" placeholder="邮编"  id="useryoubian">
               <input type="number" name="" id="" v-model="info.card" placeholder="收货人身份证号" />
        </div>
        <div class="title"><span>收货人身份证正反面照片</span><span>请务必保证收货人姓名与身份证姓名一致!</span></div>
        <div id="cart">
        	<div class="left_cart">
        		<div><img src="/views/mobile/skin/default/image/jmj/icon/add.png"/></div>
        		<p>上传收货人身份正面</p>
        	</div>
        	<div class="right_cart">
        		<div><img src="/views/mobile/skin/default/image/jmj/icon/add.png"/></div>
        		<p>上传收货人身份反面</p>
        	</div>
        </div>

           
       </div>
       <footer>
           <div id="footer-fixed">
               <div class="add_newAddrSub">
                   <button id="submitAdd" :disabled="new_dis" class="submitAdd"  @click="submitAdd">保存</button>
               </div>
           </div>
       </footer>
   </div>
<script src="/views/mobile/javascript/jquery.min.js?v=1483685603"></script>
<script src="/views/mobile/javascript/vue.js?v=1483685603"></script>
<script src="/views/mobile/javascript/mui.js?v=1483685603"></script>
<script src="/views/mobile/javascript/mui.picker.min.js?v=1483685603"></script>
<script src="/views/mobile/javascript/mui.poppicker.js?v=1483685603"></script>
<script src="/views/mobile/javascript/city.data-3.js?v=1483685603" type="text/javascript" charset="utf-8"></script>
<script>

    //初始化cityPicker
    var cityPicker3 = new mui.PopPicker({
        layer: 3
    });
    cityPicker3.setData(cityData3);
    //	接收页面传过来的状态值
    var Request = new Object();
    Request = GetRequest();
    var statusOrder=Request["from"];
    var statusOrder1=Request["rev"];

    var vm=new Vue({
        el:"#addAddress",
        data:{
            info:{
                accept_name:'',
                province:'',
                city:'',
                area:'',
                address:'',
                mobile:'',
                text:'',
                zip:'',
                card:"",
                dis:true
            }
        },
        computed:{
            new_dis:function(){
                if(this.info.accept_name&&this.info.text&&this.info.address&&this.info.mobile&&this.info.card){
                    this.dis=false;
                }else{
                    this.dis=true;
                }
                return this.dis;
            }
        },
        methods:{
            //验证并填写收货城市
            checkCity: function(){
                var self=this;
                document.activeElement.blur();
                cityPicker3.show(function(items) {
                    item3=(items[2] || {}).text?(items[2] || {}).text:'';
                    self.info.text = (items[0] || {}).text + " " + (items[1] || {}).text + " " + item3;
                    //返回 false 可以阻止选择框的关闭
                    self.info.province=(items[0] || {}).value;
                    self.info.city=(items[1] || {}).value;
                    self.info.area=(items[2] || {}).value?(items[2] || {}).value:'';
                    //return false;

                });
            },
            submitAdd: function(){
                var self=this;
                subaddr(self);
            }
        }
    });
    //收货地址提交加bug
    function subaddr(self){
        if(!(/^1[34578]\d{9}$/.test(self.info.mobile))){
            alert( '请输出正确的电话号码');
            self.info.mobile='';
            return false;
        }else{
        	if(!(/^[1-9]{1}[0-9]{14}$|^[1-9]{1}[0-9]{16}([0-9]|[xX])$/.test(self.info.card))){
        		alert( '输入的身份证不正确');
        		self.info.card='';
        		return false;
        	}else{
        		 mui.ajax('/apic/address_add',{
	                data:self.info,
	                dataType:'json',	// 服务器返回json格式数据
	                type:'post',		// HTTP请求类型
	                timeout:10000,		// 超时时间设置为10秒；
	                success:function(data){
	                    console.log(data);
	                    if(statusOrder=="cart2"){
	                        document.location.href=getItem('cart2url');
	                    }else if(statusOrder1=="cart_order"){
	                        document.location.href="/simple/addresslist?rev=cart_order1";
	                    }else{
	                        document.location.href="/simple/addresslist";
	                    }
	                }
	            });
        	}
           
        }
    }
    //	获取url传递过来的参数
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    function setItem(key,value){
        var val=JSON.stringify(value)?JSON.stringify(value):[];
        window.localStorage.setItem(key,val);
    }
    function getItem(key){
        var getter= window.localStorage.getItem(key);
        return JSON.parse(getter);
    }
</script>
</body>
</html><script type="text/javascript">
_webUrl = "/_controller_/_action_/_paramKey_/_paramVal_";_themePath = "/views/mobile/";_skinPath = "/views/mobile/skin/default/";
//创建URL地址
function creatUrl(param)
{
	var urlArray   = [];
	var _tempArray = param.split("/");
	for(var index in _tempArray)
	{
		if(_tempArray[index])
		{
			urlArray.push(_tempArray[index]);
		}
	}

	if(urlArray.length >= 2)
	{
		var iwebshopUrl = _webUrl.replace("_controller_",urlArray[0]).replace("_action_",urlArray[1]);

		//存在URL参数情况
		if(urlArray.length >= 4)
		{
			iwebshopUrl = iwebshopUrl.replace("_paramKey_",urlArray[2]);

			//卸载原数组中已经拼接的数据
			urlArray.splice(0,3);

			if(iwebshopUrl.indexOf("?") == -1)
			{
				iwebshopUrl = iwebshopUrl.replace("_paramVal_",urlArray.join("/"));
			}
			else
			{
				var _paramVal_ = "";
				for(var i in urlArray)
				{
					if(i == 0)
					{
						_paramVal_ += urlArray[i];
					}
					else if(i%2 == 0)
					{
						_paramVal_ += "="+urlArray[i];
					}
					else
					{
						_paramVal_ += "&"+urlArray[i];
					}
				}
				iwebshopUrl = iwebshopUrl.replace("_paramVal_",_paramVal_);
			}
		}
		return iwebshopUrl;
	}
	return '';
}

//切换验证码
function changeCaptcha()
{
	$('#captchaImg').prop('src',creatUrl("site/getCaptcha/random/"+Math.random()));
}
</script>