<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>店铺累计入账金额</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/recommender/recommender.css?v=<?php echo time(); ?>">
    <link rel="stylesheet" type="text/css" href="/views/mobile/skin/default/css/mui.picker.min.css" />
    <style>
        input[type='submit'], .mui-btn-primary, .mui-btn-blue{
            color:#ff4aa0;
        }
    </style>
</head>
<body>
<div id="container_info">
    <div class="header">
        <a href="{url:/site/recommender_shop}" class="back">返回</a>
        <a href="#" class="title">商铺累计收入金额</a>
    </div>
    <div class="choMonth">
        <div class="left">
            当前月份
        </div>
        <div class="middle" id="month_content" v-cloak>
            <span style="color:#bbb;padding-right:0.1rem">{{year}}</span>年 <span style="color:#bbb;padding-right:0.1rem">{{month}}</span>月
        </div>
        <div class="right" id="cho_month" data-options='{"type":"month"}'>
            <img src="/views/mobile/skin/default/image/xinzeng/can.png" alt="" style="width:0.25rem;height:0.26rem;"/>
        </div>
    </div>
    <div class="top box">
        <div v-cloak>店铺名称：<span style="color:#ff4aa0;font-size:0.26rem;">{{infoMessage.name}}</span></div>
        <div>收益：<span style="color:#ff4aa0;font-size:0.26rem;">8555.00</span></div>
    </div>
    <div class="merchant1" v-for="item in shopTobe.order" v-cloak>
        <div class="box" @click="showGoods(item)">
            <div class="left">订单编号：{{item.order_num}}</div>
            <div class="state">订单状态：{{item.status}}</div>
        </div>
        <div class="goods" v-if="item.show_goods">
            <div class="goodsList" v-for="goodList in item.goods">
                <div class="content">
                    <div class="left flexbox">
                        <img :src="goodList.img" alt="" />
                    </div>
                    <div class="right">
                        <div class="name">{{goodList.name}}</div>
                        <div class="price">
                        	{{aaa}}
                            <span class="sellprice">￥{{goodList.price}}</span>
                            <span class="num">x{{goodList.goods_price}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="total">
                总计收益金额：{{item.price}}
            </div>
        </div>
    </div>
</div>
<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/mui.picker.min.js"></script>
<script>
    var vm = new Vue({
        el: '#container_info',
        data: {
            year:'2016',
            month:'12',
            showMessage:false,
            page:1,
            infoMessage:[]
        },
        computed: {
        	aaa:function(){
                return this.month+"yue";
            }
            shopTobe: function(){
                return this.infoMessage;
            }
        },
        mounted: function(){
            var self=this;
            getInfo(self);
        },
        updated:function() {
        },
        methods: {
            showGoods: function(obj){
                if(obj.show_goods){
                    obj.show_goods=false;
                }else{
                    this.infoMessage.order.map(function(son){
                        son.show_goods=false;
                    })
                    obj.show_goods=true;
                }
            }
        }
    })
    function getInfo(self){
        mui.ajax('/apic/test',{
            data:{
                year:self.year,
                month:self.month
            },
            dataType:'json',//服务器返回json格式数据
            type:'get',//HTTP请求类型
            timeout:10000,//超时时间设置为10秒；
            success:function(data){
            	self.$data.showMessage=true;
//              self.showMessage=true;
                data.order.map(function(item){
                    item.show_goods=false;
                });
                self.infoMessage=data;
            }
        });
    };
    window.onload=function(){
        (function($) {
            $.init();
//            var result = document.getElementById("month_content");
            var cho=document.getElementById("cho_month")
            cho.addEventListener('tap', function() {
                var optionsJson = this.getAttribute('data-options') || '{}';
                var options = JSON.parse(optionsJson);
                var id = this.getAttribute('id');
                var picker = new $.DtPicker(options);
                picker.show(function(rs) {
                    console.log(rs);
                    vm.$data.year=rs.y.text;
                    vm.$data.month=rs.m.value;
                    getInfo(vm);
                    console.log(vm);
//                    result.innerText = rs.y.text+"年"+rs.m.value+"月";
                    picker.dispose();
                });
            }, false);
        })(mui);
    }
</script>
</body>
</html>