<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="x5-orientation" content="portrait">
	<title>九猫首页</title>
	<link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/jiumao.css" />
	<link rel="stylesheet" href="/views/mobile/skin/default/css/app/shopcar.css" />
	<script src="/views/mobile/javascript/orderFormClass.js"></script>
</head>
<body>
<!--loading页开始-->
<div id="loading">
	<div class="spinner">
		<div class="spinner-container container1">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container2">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container3">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
	</div>
</div>
<!--loading页结束-->
<section>
	<div id="defaultAddress" class="defaultAddress">
	</div>
</section>
<section>
	<div id="orderBox" class="orderBox">

	</div>
</section>
<section>
	<form action='{url:/simple/cart3}' class="form" method='post' name='order_form' onsubmit='return orderFormInstance.isSubmit()' id="testForm">
	</form>
</section>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/lazyload.js"></script>
<script id="test" type="text/html">
	<%if(addressList.length==0){%>
	<!--如果没有收货地址-->
	<a href="{url:/simple/addaddress}?from=cart2">
		<div class="order_addAddr flexbox">
			<div class="img">
				<img src="/views/mobile/skin/default/image/jmj/icon/add.png" alt="" />
			</div>
			<div class="tex">添加收货地址</div>
		</div>
	</a>
	<%}else{%>
	<a href="{url:/simple/addresslist}?rev=cart_order" class="">
		<div class="box">
			<div class="name">
				<span class="text1">收货人：</span>
				<span class="text2"><%=addressList[0].accept_name%></span>
			</div>
			<div class="phone">
				<%=addressList[0].mobile%>
			</div>
		</div>
		<div class="addr flexbox">
			<div class="text1">收货地址：</div>
			<div class="text2"><%=addressList[0].province_val%><%=addressList[0].city_val%><%=addressList[0].area_val%><%=addressList[0].address%></div>
			<div class="text3"><img src="/views/mobile/skin/default/image/jmj/icon/right.png" alt="" /></div>
		</div>
	</a>
	<%}%>
</script>
<script id="wareList" type="text/html">
	<% for(var i=0; i<goodsList.length; i++){%>
	<% var product =goodsList[i] %>
	<div class="orderNum">
		商品编号:<%=product.goods_no%>
	</div>
	<div class="order_product flexbox">
		<div class="img">
			<img src="<%=product.img%>" alt="" />
		</div>
		<div class="content">
			<div class="name"><%=product.name%></div>
			<!--如果存在展示size的第一类-->
			<%if(product.spec_array){%>
			<% var size =JSONsize(product.spec_array) %>
			<div class="size"><%=size[0]%></div>
			<%}%>
			<div class="flexbox">
				<div class="price">￥ <%=product.sell_price%></div>
				<div class="num">x <%=product.count%></div>
			</div>
		</div>
	</div>
	<%}%>
	<div class="distribution">
		<div class="box title">
			<div class="left">配送方式</div>
			<div class="right"><%=delivery[0].name%>(含运费<%=delivery[0].first_price%>元)</div>
		</div>
	</div>
	<div class="orderTotal" >
		<div class="box total">
			<div class="left">合计</div>
			<div class="right box">
				<div class="flexbox">
					<span class="text1">共<%=count%>件商品</span>
					<span class="text2">小计</span>
				</div>
				<span class="text3">¥ <%=final_sum%></span>
			</div>
		</div>
	</div>
	<div class="cardTip" style="margin-bottom:1.5rem;">
		根据海关规定，需要您上传真实身份证信息用于商品入境申报，为了不影响您的购买，请支付后前往个人中心填写你的身份证资料
	</div>
</script>
<script id="testFormTemp" type="text/html">
	<input type='hidden' name='direct_gid' value='<%=gid%>' />
	<input type='hidden' name='direct_type' value='<%=type%>' />
	<input type='hidden' name='direct_num' value='<%=num%>' />
	<input type='hidden' name='direct_promo' value='<%=promo%>' />
	<input type='hidden' name='direct_active_id' value='<%=active_id%>' />
	<input name="radio_address" type="hidden" value="<%=addressList[0].id%>"/>
	<input type="hidden" name="delivery_id" value="<%=delivery[0].id%>" />
	<input type='hidden'  name='accept_time' value='任意' />
	<%if(payment[0]){%>
	<input name="payment"  type="hidden" value="<%=payment[0].id%>" />
	<%}%>
	<div class="totalButton box">
		<div class="totalSumPrice"><span>合计：</span><span id="totalPrice_sum">¥<%=sum%></span></div>
		<input class="toPayOrder" type="submit" value="提交订单">
	</div>
</script>
<script>
	setItem("cart2url",location.search);
	var addr=true;//判断用户是否提供地址
	var Request = new Object();
	Request = GetRequest();
	template.helper('JSONsize', function(obj){
		var arr=[];
		for(var i in obj){
			var temp=i+":"+obj[i];
			arr.push(temp)
		}
		return arr;
	});
	//页面加载动画的调用
	$(window).load(function(){
		$("#loading").fadeOut(300);
		getCart2Info();
	})
	var turn=true;
	//解决tab选项卡a标签无法跳转的问题
	mui('body').on('tap','a',function(){
		document.location.href=this.href;
	});
	//	获取url传递过来的参数
	function GetRequest() {
		var url = location.search; //获取url中"?"符后的字串
//		alert(location.search);
		var theRequest = new Object();
		if (url.indexOf("?") != -1) {
			var str = url.substr(1);
			strs = str.split("&");
			for(var i = 0; i < strs.length; i ++) {
				theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
			}
		}
		return theRequest;
	}
	function getCart2Info(){
		mui.ajax('/apic/cart2',{
			data:{
				id:Request["id"],
				num:Request["num"],
				type:Request["type"]
			},
			dataType:'json',//服务器返回json格式数据
			type:'get',//HTTP请求类型
			timeout:10000,//超时时间设置为10秒；
			success:function(data){
				//服务器返回响应，根据响应结果，分析是否登录成功；
				var data=data;
				console.log(data);
				if(data.addressList.length==0){
					addr=false;
				}
				var html1 = template('test',data);
				document.getElementById("defaultAddress").innerHTML = html1;
				var html2 = template('wareList',data);
				document.getElementById("orderBox").innerHTML = html2;
				var html3 = template('testFormTemp',data);
				document.getElementById("testForm").innerHTML = html3;
//			document.getElementById("totalPrice_sum").innerHTML="￥"+data.final_sum;

			},
			error:function(xhr,type,errorThrown){
				//异常处理；
				console.log(type);
			}
		});
	}
	function setItem(key,value){
		var val=JSON.stringify(value)?JSON.stringify(value):[];
		window.localStorage.setItem(key,val);
	}
	function getItem(key){
		var getter= window.localStorage.getItem(key);
		return JSON.parse(getter);
	}
</script>
</body>
</html>