<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>身份证认证信息</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/app/credit.css" />
    <script src="/views/mobile/javascript/vue.js"></script>
</head>
<body>
<div id="credit_app">
    <div class="container card_info">
        <template v-if="message.sfz_num==null">
            <section class="nodata">
                <div class="emptyCart">
                    <img src="/views/mobile/skin/default/image/jmj/icon/cat_car.png" alt="" style="width:1.94rem;height:1.33rem;"/>
                </div>
                <div class="content">
                    <span>~</span>
                    <span>你还未填写身份证信息</span>
                    <span>~</span>
                </div>
                <div @click="addNewCard" class="addNewCard">添加身份证信息</div>
        </template>
        <div class="credit_info" v-else>
            <div class="content">
                <div class="top">
                    <div class="name" v-cloak>{{message.sfz_name}}</div>
                    <div class="cardId" v-cloak>{{message.sfz_num}}</div>
                </div>
                <div class="test box">
                    <div class="img box">
                        <div class="img_1" onclick="perview(this)">
                            <img :src="message.sfz_image1" alt=""  style="width:1.1rem;height:1.1rem" />
                            <img src="/views/mobile/skin/default/image/jmj/product/pic.png" alt="" class="pic pic_log" />
                        </div>
                        <div class="img_2" onclick="perview(this)">
                            <img :src="message.sfz_image2" alt=""  style="width:1.1rem;height:1.1rem" />
                            <img src="/views/mobile/skin/default/image/jmj/product/pic.png" alt="" class="pic pic_log" />
                        </div>
                    </div>
                    <div class="action box">
                        <div class="edit" @click="addNewCard">
                            <img src="/views/mobile/skin/default/image/jmj/product/edit.png" alt="" />
                            <span>编辑</span></div>
                        <div class="del">
                            <img src="/views/mobile/skin/default/image/jmj/product/del.png" alt="" />
                            <span>删除</span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container card_edit">
        <form action="" method="post">
            <div class="title">
                <span>身份信息</span><span>请确保身份信息真实有效，否则无法通过审核</span>
            </div>
            <input type="text" class="mui-input-clear"  placeholder="请输入姓名" id="cardName" name="sfz_name" v-model="message.sfz_name"
            />
            <input type="text" class="mui-input-clear"  placeholder="输入身份证账号" id="cardId" name="sfz_num" v-model="message.sfz_num" onchange="isCardNo()" />
            <div class="title">
                <span>身份证正反面照片</span><span>上传身份证正反面照片让通关更便捷</span>
            </div>
            <div class="editImg">
                <template v-if="message.sfz_num==null">
                    <div class="left">
                        <div class="img" onclick="uploadImg(this)">
                            <img src="/views/mobile/skin/default/image/jmj/product/add.png" alt="" class="pic pic_no" />
                        </div>
                        <input type="hidden" name="image1">
                        <div class="mark">请上传照片</div>
                    </div>
                    <div class="right">
                        <div class="img" onclick="uploadImg(this)">
                            <img src="/views/mobile/skin/default/image/jmj/product/add.png" alt="" class="pic pic_no" />
                        </div>
                        <input type="hidden" name="image2">
                        <div class="mark">请上传照片</div>
                    </div>
                </template>
                <template v-else>
                    <div class="left">
                        <div class="img" onclick="uploadImg(this)">
                            <img :src="message.sfz_image1x" alt="" class="pic pic_yes" />
                            <img src="/views/mobile/skin/default/image/jmj/product/pic.png" alt="" class="pic pic_log" />
                        </div>
                        <input type="hidden" name="image1">
                        <div class="mark">点击更换照片</div>
                    </div>
                    <div class="right">
                        <div class="img" onclick="uploadImg(this)">
                            <img :src="message.sfz_image2x" alt="" class="pic pic_yes" />
                            <img src="/views/mobile/skin/default/image/jmj/product/pic.png" alt="" class="pic pic_log" />
                        </div>
                        <input type="hidden" name="image2">
                        <div class="mark">点击更换照片</div>
                    </div>
                </template>
            </div>
            <div class="fix-bottom">
                <input type="submit" value="提交" id="submitMessage">
            </div>
        </form>
    </div>
</div>
<script src="/views/mobile/javascript/template-native.js"></script>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/mui.js"></script>
<script src="/views/mobile/javascript/jiumao/common.js"></script>
<?php if(isset($this->wechat)){ $this->wechat->config['wechat_jsApiSDK']=1; $this->wechat->jsApiSDK();?>
<script>
    wx.ready(function() {

    })
    function uploadImg(obj) {
        wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                $(obj).children().attr('src',localIds[0]);
                wx.uploadImage({
                    localId: localIds[0], // 需要上传的图片的本地ID，由chooseImage接口获得
                    isShowProgressTips: 1, // 默认为1，显示进度提示
                    success: function (res) {
                        var serverId = res.serverId; // 返回图片的服务器端ID
                        $(obj).next().attr('value',serverId)
//                        $(obj).next().attr('value','https://api.weixin.qq.com/cgi-bin/media/get?access_token='+access_token+'&media_id='+serverId)
                    }
                });
            }
        });
    }
    function perview(obj) {
        wx.previewImage({
            current: $(obj).children().eq(0).attr('src'), // 当前显示图片的http链接
            urls: [$(obj).children().eq(0).attr('src')] // 需要预览的图片http链接列表
        });
        console.log($(obj).children().eq(0).attr('src'));
    }
</script>
<?php } ?>

<script>
    var vm = new Vue({
        el: '#credit_app',
        data: {
            message:getItem('localcredit')
        },
        methods: {
            addNewCard: turnEdit,
            getData:getCreditInfo,
            uploadImg1:getImgLoad,
        }
    })
    vm.getData();

    function turnEdit(){
        document.querySelector(".card_info").addEventListener("click",function(){
            this.className="card_info_left";
            document.querySelector(".card_edit").className="card_edit card_edit_left";
        })
    }
    function getImgLoad(event){
    }
    function getCreditInfo() {
        var self=this;
        mui.ajax('index.php?controller=apic&action=user_credit_info', {
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
            success: function (data) {
//                data.sfz_image1 = 'https://api.weixin.qq.com/cgi-bin/media/get?access_token='+access_token+'&media_id='+data.sfz_image1;
//                data.sfz_image2 = 'https://api.weixin.qq.com/cgi-bin/media/get?access_token='+access_token+'&media_id='+data.sfz_image2;
                setItem("localcredit",data)
                console.log(data);
            },
            error: function (xhr, type, errorThrown) {
                //异常处理；
                console.log(type);
            }
        });
    }
    function isCardNo()
    {
        var card=$("#cardId").val();
        // 身份证号码为15位或者18位，15位时全为数字，18位前17位为数字，最后一位是校验位，可能为数字或字符X
        var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
        if(reg.test(card) === false)
        {

            $("#cardId").val("");
            return  false;
        }
    }
</script>
</body>
</html>
