<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>二维码管理</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/recommender/c.css?v=<?php echo time(); ?>">
</head>
<body>
<div id="QRcode">

</div>
<script src="/views/mobile/javascript/jquery.min.js"></script>
<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
<script>
    var vm=new Vue({
        el:'#QRcode',
        data:{
            codeList:''
        },
        mounted: function(){
            var self=this;
            //发送ajax请求
            getShopList(self);
        }
    });
    function getShopList(self){
        self.shopList=[
            {img:'',name:'小王店铺'},
            {img:'',name:'小李店铺'},
            {img:'',name:'小马店铺'},
            {img:'',name:'小王店铺'},
            {img:'',name:'小王店铺'}
        ]
    }
</script>
</body>
</html>