<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>未使用二维码</title>
    <link rel="stylesheet" href="/views/mobile/skin/default/css/mui.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/common.css?v=<?php echo time(); ?>" />
    <link rel="stylesheet" href="/views/mobile/skin/default/css/recommender/c.css?v=<?php echo time(); ?>">
</head>
<body>
<div id="code_info">
    <div class="header">
        <a href="{url:/site/recommender_shop}" class="back">返回</a>
        <a href="#" class="title">未使用的二维码</a>
    </div>
    <div class="content" v-cloak>
        <div class="item" v-for="item in code">
            <div class="text">
                {{item.type}}
            </div>
            <div class="img">
                <img :src="item.img" alt=""  />
            </div>
        </div>
    </div>

</div>
<script src="/views/mobile/javascript/vue.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/jquery.min.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/mui.js?v=<?php echo time(); ?>"></script>
<script src="/views/mobile/javascript/mui.picker.min.js"></script>
<script>
    var vm = new Vue({
        el: '#code_info',
        data: {
            code:[]
        },
        computed: {
            shopTobe: function(){
                return this.infoMessage;
            }
        },
        mounted: function(){
            var self=this;
            getInfo(self);
        },
        updated:function() {
        },
        methods: {
        }
    })
    function getInfo(self){
            var data=[
                {type:'海报店',img:'/views/mobile/skin/default/image/ceshi/jiumao.png'},
                {type:'店中店',img:'/views/mobile/skin/default/image/ceshi/jiumao.png'},
                {type:'店中店',img:'/views/mobile/skin/default/image/ceshi/jiumao.png'},
                {type:'海报店',img:'/views/mobile/skin/default/image/ceshi/jiumao.png'},
                {type:'店中店',img:'/views/mobile/skin/default/image/ceshi/jiumao.png'},
                {type:'海报店',img:'/views/mobile/skin/default/image/ceshi/jiumao.png'}
            ];
            self.code=data;

//        mui.ajax('/apic/tests',{
//            data:{
//                year:self.year,
//                month:self.month,
//            },
//            dataType:'json',//服务器返回json格式数据
//            type:'get',//HTTP请求类型
//            timeout:10000,//超时时间设置为10秒；
//            success:function(data){
//                self.showMessage=true;
//                data.map(function(item){
//                    item.show_Order=false;
//                    item.order.map(function(orderList){
//                        orderList.show_goods=false;
//                    })
//                });
//                self.infoMessage=data;
//                console.log(self.infoMessage);
//            }

    }

</script>
<script>
</script>
</body>
</html>